<div class="container">
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Configuración</b>
            <br>
            <small>Gravedad</small>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-success  btn-round " data-target="#themepicker" data-toggle="modal">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let cfgGravedad of cfgGravedades; let i = index">
                <td>{{cfgGravedad.id}}</td>
                <td>{{cfgGravedad.nombre}}</td>
                <td>
                  <button (click)="editCfgGravedad(cfgGravedad)" class="btn btn-xs btn-info" type="button">Editar
                    <i class="fa fa-edit"></i>
                  </button>
                  <button (click)="deleteCfgGravedad(cfgGravedad)" class="btn btn-xs btn-danger" type="button">Eliminar
                    <i class="fa fa-trash"></i>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->
          
        </div>
      </div>
    </div>
  </div>
  <app-edit *ngIf='formEdit' [cfgGravedad]="cfgGravedad" (ready)="ready($event)"></app-edit>
  <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>