<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Weather icons - 200+</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Weather icons </h6>
          </div>
          <div class="card-body">
                <div class="row">
                    <div class="col-sm-8 col-md-4">
                      <ul class="icons" >
                        <li><i class="wi wi-day-cloudy-high"></i>day-cloudy-high</li>
                        <li><i class="wi wi-day-light-wind"></i>day-light-wind</li>
                        <li><i class="wi wi-day-sleet"></i>day-sleet</li>
                        <li><i class="wi wi-day-haze"></i>day-haze</li>
                        <li><i class="wi wi-night-cloudy-high"></i>night-cloud-high</li>
                        <li><i class="wi wi-night-alt-partly-cloudy"></i>night-alt-partly-cloudy</li>
                        <li><i class="wi wi-sleet"></i>sleet</li>
                      </ul>
                    </div>
                    <div class="col-sm-8 col-md-4">
                      <ul class="icons" >
                        <li><i class="wi wi-moonrise"></i>moonrise</li>
                        <li><i class="wi wi-moonset"></i>moonset</li>
                        <li><i class="wi wi-night-sleet"></i>night-sleet</li>
                        <li><i class="wi wi-night-alt-sleet"></i>night-alt-sleet</li>
                        <li><i class="wi wi-raindrop"></i>raindrop</li>
                        <li><i class="wi wi-barometer"></i>barometer</li>
                        <li><i class="wi wi-humidity"></i>humidity</li>
                      </ul>
                    </div>
                    <div class="col-sm-8 col-md-4">
                      <ul class="icons" >
                        <li><i class="wi wi-na"></i>na (no report)</li>
                        <li><i class="wi wi-flood"></i>flood</li>
                        <li><i class="wi wi-sandstorm"></i>sandstorm</li>
                        <li><i class="wi wi-tsunami"></i>tsunami</li>
                        <li><i class="wi wi-earthquake"></i>earthquake</li>
                        <li><i class="wi wi-fire"></i>fire</li>
                      </ul>
                    </div>
                    <div class="col-sm-8 col-md-4">
                      <ul class="icons" >
                        <li><i class="wi wi-volcano"></i>volcano</li>
                        <li><i class="wi wi-train"></i>train</li>
                        <li><i class="wi wi-small-craft-advisory"></i>small-craft-advisory</li>
                        <li><i class="wi wi-gale-warning"></i>gale-warning</li>
                        <li><i class="wi wi-storm-warning"></i>storm-warning</li>
                        <li><i class="wi wi-hurricane-warning"></i>hurricane-warning</li>
                      </ul>
                    </div>
                  </div>  
                <div class="row">
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-sunny"></span></p>
                      <div class="icon-name">wi-day-sunny</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-cloudy"></span></p>
                      <div class="icon-name">wi-day-cloudy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-cloudy-gusts"></span></p>
                      <div class="icon-name">wi-day-cloudy-gusts</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-cloudy-windy"></span></p>
                      <div class="icon-name">wi-day-cloudy-windy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-fog"></span></p>
                      <div class="icon-name">wi-day-fog</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-hail"></span></p>
                      <div class="icon-name">wi-day-hail</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-haze"></span></p>
                      <div class="icon-name">wi-day-haze</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-lightning"></span></p>
                      <div class="icon-name">wi-day-lightning</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-rain"></span></p>
                      <div class="icon-name">wi-day-rain</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-rain-mix"></span></p>
                      <div class="icon-name">wi-day-rain-mix</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-rain-wind"></span></p>
                      <div class="icon-name">wi-day-rain-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-showers"></span></p>
                      <div class="icon-name">wi-day-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-sleet"></span></p>
                      <div class="icon-name">wi-day-sleet</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-sleet-storm"></span></p>
                      <div class="icon-name">wi-day-sleet-storm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-snow"></span></p>
                      <div class="icon-name">wi-day-snow</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-snow-thunderstorm"></span></p>
                      <div class="icon-name">wi-day-snow-thunderstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-snow-wind"></span></p>
                      <div class="icon-name">wi-day-snow-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-sprinkle"></span></p>
                      <div class="icon-name">wi-day-sprinkle</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-storm-showers"></span></p>
                      <div class="icon-name">wi-day-storm-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-sunny-overcast"></span></p>
                      <div class="icon-name">wi-day-sunny-overcast</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-thunderstorm"></span></p>
                      <div class="icon-name">wi-day-thunderstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-windy"></span></p>
                      <div class="icon-name">wi-day-windy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-solar-eclipse"></span></p>
                      <div class="icon-name">wi-solar-eclipse</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-hot"></span></p>
                      <div class="icon-name">wi-hot</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-cloudy-high"></span></p>
                      <div class="icon-name">wi-day-cloudy-high</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-day-light-wind"></span></p>
                      <div class="icon-name">wi-day-light-wind</div>
                    </div>
                </div>
              
                <div class="row">
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-clear"></span></p>
                      <div class="icon-name">wi-night-clear</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-cloudy"></span></p>
                      <div class="icon-name">wi-night-alt-cloudy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-cloudy-gusts"></span></p>
                      <div class="icon-name">wi-night-alt-cloudy-gusts</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-cloudy-windy"></span></p>
                      <div class="icon-name">wi-night-alt-cloudy-windy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-hail"></span></p>
                      <div class="icon-name">wi-night-alt-hail</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-lightning"></span></p>
                      <div class="icon-name">wi-night-alt-lightning</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-rain"></span></p>
                      <div class="icon-name">wi-night-alt-rain</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-rain-mix"></span></p>
                      <div class="icon-name">wi-night-alt-rain-mix</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-rain-wind"></span></p>
                      <div class="icon-name">wi-night-alt-rain-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-showers"></span></p>
                      <div class="icon-name">wi-night-alt-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-sleet"></span></p>
                      <div class="icon-name">wi-night-alt-sleet</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-sleet-storm"></span></p>
                      <div class="icon-name">wi-night-alt-sleet-storm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-snow"></span></p>
                      <div class="icon-name">wi-night-alt-snow</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-snow-thunderstorm"></span></p>
                      <div class="icon-name">wi-night-alt-snow-thunderstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-snow-wind"></span></p>
                      <div class="icon-name">wi-night-alt-snow-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-sprinkle"></span></p>
                      <div class="icon-name">wi-night-alt-sprinkle</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-storm-showers"></span></p>
                      <div class="icon-name">wi-night-alt-storm-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-thunderstorm"></span></p>
                      <div class="icon-name">wi-night-alt-thunderstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-cloudy"></span></p>
                      <div class="icon-name">wi-night-cloudy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-cloudy-gusts"></span></p>
                      <div class="icon-name">wi-night-cloudy-gusts</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-cloudy-windy"></span></p>
                      <div class="icon-name">wi-night-cloudy-windy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-fog"></span></p>
                      <div class="icon-name">wi-night-fog</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-hail"></span></p>
                      <div class="icon-name">wi-night-hail</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-lightning"></span></p>
                      <div class="icon-name">wi-night-lightning</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-partly-cloudy"></span></p>
                      <div class="icon-name">wi-night-partly-cloudy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-rain"></span></p>
                      <div class="icon-name">wi-night-rain</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-rain-mix"></span></p>
                      <div class="icon-name">wi-night-rain-mix</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-rain-wind"></span></p>
                      <div class="icon-name">wi-night-rain-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-showers"></span></p>
                      <div class="icon-name">wi-night-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-sleet"></span></p>
                      <div class="icon-name">wi-night-sleet</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-sleet-storm"></span></p>
                      <div class="icon-name">wi-night-sleet-storm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-snow"></span></p>
                      <div class="icon-name">wi-night-snow</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-snow-thunderstorm"></span></p>
                      <div class="icon-name">wi-night-snow-thunderstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-snow-wind"></span></p>
                      <div class="icon-name">wi-night-snow-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-sprinkle"></span></p>
                      <div class="icon-name">wi-night-sprinkle</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-storm-showers"></span></p>
                      <div class="icon-name">wi-night-storm-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-thunderstorm"></span></p>
                      <div class="icon-name">wi-night-thunderstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-lunar-eclipse"></span></p>
                      <div class="icon-name">wi-lunar-eclipse</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-stars"></span></p>
                      <div class="icon-name">wi-stars</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-storm-showers"></span></p>
                      <div class="icon-name">wi-storm-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-thunderstorm"></span></p>
                      <div class="icon-name">wi-thunderstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-cloudy-high"></span></p>
                      <div class="icon-name">wi-night-alt-cloudy-high</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-cloudy-high"></span></p>
                      <div class="icon-name">wi-night-cloudy-high</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-night-alt-partly-cloudy"></span></p>
                      <div class="icon-name">wi-night-alt-partly-cloudy</div>
                    </div>
                  </div>  
                
                <div class="row">
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-cloud"></span></p>
                      <div class="icon-name">wi-cloud</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-cloudy"></span></p>
                      <div class="icon-name">wi-cloudy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-cloudy-gusts"></span></p>
                      <div class="icon-name">wi-cloudy-gusts</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-cloudy-windy"></span></p>
                      <div class="icon-name">wi-cloudy-windy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-fog"></span></p>
                      <div class="icon-name">wi-fog</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-hail"></span></p>
                      <div class="icon-name">wi-hail</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-rain"></span></p>
                      <div class="icon-name">wi-rain</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-rain-mix"></span></p>
                      <div class="icon-name">wi-rain-mix</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-rain-wind"></span></p>
                      <div class="icon-name">wi-rain-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-showers"></span></p>
                      <div class="icon-name">wi-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-sleet"></span></p>
                      <div class="icon-name">wi-sleet</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-snow"></span></p>
                      <div class="icon-name">wi-snow</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-sprinkle"></span></p>
                      <div class="icon-name">wi-sprinkle</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-storm-showers"></span></p>
                      <div class="icon-name">wi-storm-showers</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-thunderstorm"></span></p>
                      <div class="icon-name">wi-thunderstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-snow-wind"></span></p>
                      <div class="icon-name">wi-snow-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-snow"></span></p>
                      <div class="icon-name">wi-snow</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-smog"></span></p>
                      <div class="icon-name">wi-smog</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-smoke"></span></p>
                      <div class="icon-name">wi-smoke</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-lightning"></span></p>
                      <div class="icon-name">wi-lightning</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-raindrops"></span></p>
                      <div class="icon-name">wi-raindrops</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-raindrop"></span></p>
                      <div class="icon-name">wi-raindrop</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-dust"></span></p>
                      <div class="icon-name">wi-dust</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-snowflake-cold"></span></p>
                      <div class="icon-name">wi-snowflake-cold</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-windy"></span></p>
                      <div class="icon-name">wi-windy</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-strong-wind"></span></p>
                      <div class="icon-name">wi-strong-wind</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-sandstorm"></span></p>
                      <div class="icon-name">wi-sandstorm</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-earthquake"></span></p>
                      <div class="icon-name">wi-earthquake</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-fire"></span></p>
                      <div class="icon-name">wi-fire</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-flood"></span></p>
                      <div class="icon-name">wi-flood</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-meteor"></span></p>
                      <div class="icon-name">wi-meteor</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-tsunami"></span></p>
                      <div class="icon-name">wi-tsunami</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-volcano"></span></p>
                      <div class="icon-name">wi-volcano</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-hurricane"></span></p>
                      <div class="icon-name">wi-hurricane</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-tornado"></span></p>
                      <div class="icon-name">wi-tornado</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-small-craft-advisory"></span></p>
                      <div class="icon-name">wi-small-craft-advisory</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-gale-warning"></span></p>
                      <div class="icon-name">wi-gale-warning</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-storm-warning"></span></p>
                      <div class="icon-name">wi-storm-warning</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-hurricane-warning"></span></p>
                      <div class="icon-name">wi-hurricane-warning</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-wind-direction"></span></p>
                      <div class="icon-name">wi-wind-direction</div>
                    </div>
                  </div>
              
              
                <div class="row">
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-alien"></span></p>
                      <div class="icon-name">wi-alien</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-celsius"></span></p>
                      <div class="icon-name">wi-celsius</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-fahrenheit"></span></p>
                      <div class="icon-name">wi-fahrenheit</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-degrees"></span></p>
                      <div class="icon-name">wi-degrees</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-thermometer"></span></p>
                      <div class="icon-name">wi-thermometer</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-thermometer-exterior"></span></p>
                      <div class="icon-name">wi-thermometer-exterior</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-thermometer-internal"></span></p>
                      <div class="icon-name">wi-thermometer-internal</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-cloud-down"></span></p>
                      <div class="icon-name">wi-cloud-down</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-cloud-up"></span></p>
                      <div class="icon-name">wi-cloud-up</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-cloud-refresh"></span></p>
                      <div class="icon-name">wi-cloud-refresh</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-horizon"></span></p>
                      <div class="icon-name">wi-horizon</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-horizon-alt"></span></p>
                      <div class="icon-name">wi-horizon-alt</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-sunrise"></span></p>
                      <div class="icon-name">wi-sunrise</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-sunset"></span></p>
                      <div class="icon-name">wi-sunset</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-moonrise"></span></p>
                      <div class="icon-name">wi-moonrise</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-moonset"></span></p>
                      <div class="icon-name">wi-moonset</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-refresh"></span></p>
                      <div class="icon-name">wi-refresh</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-refresh-alt"></span></p>
                      <div class="icon-name">wi-refresh-alt</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-umbrella"></span></p>
                      <div class="icon-name">wi-umbrella</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-barometer"></span></p>
                      <div class="icon-name">wi-barometer</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-humidity"></span></p>
                      <div class="icon-name">wi-humidity</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-na"></span></p>
                      <div class="icon-name">wi-na</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class=" wi wi-train"></span></p>
                      <div class="icon-name">wi-train</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-new"></span></p>
                      <div class="icon-name">wi-moon-new</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-crescent-1"></span></p>
                      <div class="icon-name">wi-moon-waxing-crescent-1</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-crescent-2"></span></p>
                      <div class="icon-name">wi-moon-waxing-crescent-2</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-crescent-3"></span></p>
                      <div class="icon-name">wi-moon-waxing-crescent-3</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-crescent-4"></span></p>
                      <div class="icon-name">wi-moon-waxing-crescent-4</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-crescent-5"></span></p>
                      <div class="icon-name">wi-moon-waxing-crescent-5</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-crescent-6"></span></p>
                      <div class="icon-name">wi-moon-waxing-crescent-6</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-first-quarter"></span></p>
                      <div class="icon-name">wi-moon-first-quarter</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-gibbous-1"></span></p>
                      <div class="icon-name">wi-moon-waxing-gibbous-1</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-gibbous-2"></span></p>
                      <div class="icon-name">wi-moon-waxing-gibbous-2</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-gibbous-3"></span></p>
                      <div class="icon-name">wi-moon-waxing-gibbous-3</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-gibbous-4"></span></p>
                      <div class="icon-name">wi-moon-waxing-gibbous-4</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-gibbous-5"></span></p>
                      <div class="icon-name">wi-moon-waxing-gibbous-5</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waxing-gibbous-6"></span></p>
                      <div class="icon-name">wi-moon-waxing-gibbous-6</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-full"></span></p>
                      <div class="icon-name">wi-moon-full</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-gibbous-1"></span></p>
                      <div class="icon-name">wi-moon-waning-gibbous-1</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-gibbous-2"></span></p>
                      <div class="icon-name">wi-moon-waning-gibbous-2</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-gibbous-3"></span></p>
                      <div class="icon-name">wi-moon-waning-gibbous-3</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-gibbous-4"></span></p>
                      <div class="icon-name">wi-moon-waning-gibbous-4</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-gibbous-5"></span></p>
                      <div class="icon-name">wi-moon-waning-gibbous-5</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-gibbous-6"></span></p>
                      <div class="icon-name">wi-moon-waning-gibbous-6</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-third-quarter"></span></p>
                      <div class="icon-name">wi-moon-third-quarter</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-crescent-1"></span></p>
                      <div class="icon-name">wi-moon-waning-crescent-1</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-crescent-2"></span></p>
                      <div class="icon-name">wi-moon-waning-crescent-2</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-crescent-3"></span></p>
                      <div class="icon-name">wi-moon-waning-crescent-3</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-crescent-4"></span></p>
                      <div class="icon-name">wi-moon-waning-crescent-4</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-crescent-5"></span></p>
                      <div class="icon-name">wi-moon-waning-crescent-5</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-waning-crescent-6"></span></p>
                      <div class="icon-name">wi-moon-waning-crescent-6</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-new"></span></p>
                      <div class="icon-name">wi-moon-alt-new</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-crescent-1"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-crescent-1</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-crescent-2"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-crescent-2</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-crescent-3"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-crescent-3</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-crescent-4"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-crescent-4</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-crescent-5"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-crescent-5</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-crescent-6"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-crescent-6</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-first-quarter"></span></p>
                      <div class="icon-name">wi-moon-alt-first-quarter</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-gibbous-1"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-gibbous-1</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-gibbous-2"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-gibbous-2</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-gibbous-3"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-gibbous-3</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-gibbous-4"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-gibbous-4</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-gibbous-5"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-gibbous-5</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waxing-gibbous-6"></span></p>
                      <div class="icon-name">wi-moon-alt-waxing-gibbous-6</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-full"></span></p>
                      <div class="icon-name">wi-moon-alt-full</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-gibbous-1"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-gibbous-1</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-gibbous-2"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-gibbous-2</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-gibbous-3"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-gibbous-3</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-gibbous-4"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-gibbous-4</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-gibbous-5"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-gibbous-5</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-gibbous-6"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-gibbous-6</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-third-quarter"></span></p>
                      <div class="icon-name">wi-moon-alt-third-quarter</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-crescent-1"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-crescent-1</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-crescent-2"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-crescent-2</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-crescent-3"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-crescent-3</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-crescent-4"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-crescent-4</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-crescent-5"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-crescent-5</div>
                    </div>
                    <div class="icons col-sm-8 col-md-4">
                      <p class="icon"><span class="wi wi-moon-alt-waning-crescent-6"></span></p>
                      <div class="icon-name">wi-moon-alt-waning-crescent-6</div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>