<hr>
<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nuevo Valor</h5>
                <small>Los campos con
                    <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Clase*</label>
                            <ng-select
                                [multiple]="false"
                                [options]="clases"
                                [(ngModel)]="claseSelected"
                                required
                                name="claseId">
                            </ng-select>
                        </div> 
                        <div class="col-xs-12 col-lg-12">
                            <label>Marca*</label>
                            <ng-select
                                [multiple]="false"
                                [options]="marcas"
                                [(ngModel)]="marcaSelected"
                                (ngModelChange)="changedMarca($event)"
                                required
                                name="marcaId">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Linea*</label>
                            <ng-select
                                [multiple]="false"
                                [options]="lineas"
                                [(ngModel)]="lineaSelected"
                                required
                                name="lineaId">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Cilindraje</label>
                            <input class="form-control" placeholder="" type="number" [(ngModel)]="vhloVehiculo.cilindraje" name="cilindraje">
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Valor</label>
                            <input class="form-control" placeholder="" type="number" [(ngModel)]="vhloVehiculo.valor" name="valor">
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Año</label>
                            <input class="form-control" placeholder="" type="number" [(ngModel)]="vhloVehiculo.anio" name="anio">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>