<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <strong class="text-uppercase">Vehiculo</strong>
              <small>Condiciones de ingreso</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let condicionIngreso of condicionesIngreso; let i = index">
                  <td >{{ condicionIngreso.id }}</td>
                  <td >{{ condicionIngreso.nombre }}</td>
                  <td>
                    <button (click)="onEdit(condicionIngreso)" class="btn btn-xs btn-info" type="button">
                      <i class="fa fa-edit"></i>
                      Editar
                    </button> 
                    <button (click)="onDelete(condicionIngreso.id)"  class="btn btn-xs btn-danger" type="button">
                      <i class="fa fa-trash"></i>
                      Eliminar
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    
    <app-edit-vhlocfgcondicioningreso *ngIf='formEdit' [condicionIngreso]="condicionIngreso" (ready)="ready($event)"></app-edit-vhlocfgcondicioningreso>
    <app-new-vhlocfgcondicioningreso *ngIf='formNew' (ready)="ready($event)"></app-new-vhlocfgcondicioningreso>
</div>