<div class="row">
    <div class="col-sm-16">
        <div class="card">
        <div class="card-body">
            <h5 class="m-0">formulario para el ingreso de un nuevo ciudadano</h5>
            <hr> 
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <div class="form-group row">
                    <div class="col-lg-4 col-md-4">
                        <label>Municipio Nacimiento*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="municipios"
                            [(ngModel)]="municipioNacimientoSelected"
                            required
                            name="departamentoId">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <label>Municipio Residencia*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="municipios"
                            [(ngModel)]="municipioResidenciaSelected"
                            required
                            name="departamentoId">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <label>Tipo Identificacion*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="tiposIdentificacion"
                            [(ngModel)]="tipoIdentificacionSelected"
                            required
                            name="departamentoId">
                        </ng-select>
                    </div>

                    <div class="col-lg-6 col-md-6">
                         <br>
                         <hr>
                        <label>Fecha Expedicion Documento</label>
                        <input class="form-control" [(ngModel)]="ciudadano.fechaExpedicionDocumento" name="fechaExpedicionDocumento" placeholder="" type="date" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <br>
                         <hr>
                        <label>Edad*</label>
                        <input class="form-control" [(ngModel)]="ciudadano.edad" name="edad" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Genero*</label>
                        <input class="form-control" [(ngModel)]="ciudadano.genero" name="genero" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Grupo Sanguineo*</label>
                        <input class="form-control" [(ngModel)]="ciudadano.grupoSanguineo" name="grupoSanguineo" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Nombres*</label>
                        <input class="form-control" [(ngModel)]="ciudadano.nombres" name="nombres" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Apellidos*</label>
                        <input class="form-control" [(ngModel)]="ciudadano.apellidos" name="apellidos" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Telefono*</label>
                        <input class="form-control" [(ngModel)]="ciudadano.telefono" name="telefono" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Identificacion*</label>
                        <input class="form-control" [(ngModel)]="ciudadano.numeroIdentificacion" name="numeroIdentificacion" placeholder="" type="number" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Direccion Residencia</label>
                        <input class="form-control" [(ngModel)]="ciudadano.direccion" name="direccion" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Direccion Trabajo</label>
                        <input class="form-control" [(ngModel)]="ciudadano.direccionTrabajo" name="direccionTrabajo" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <label>Correo</label>
                        <input class="form-control" [(ngModel)]="ciudadano.correo" name="correo" placeholder="" type="email" required>
                    </div>
                    </div>
                </div>    
        </div>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                <button (click)="onEnviar()" class="btn btn-outline-primary pull-right" type="button">Enviar</button>
            </div>    
        </div>
    </div>
</div>