<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="row"><!-- .row -->
                        <div class="col-xs-12 col-lg-12">
                            <b class="text-primary">
                                Registrar limitaciones a la propiedad
                            </b>
                            <small>Todos los campos con  <b class="text-danger">*</b> son obligatorios</small>
                        </div>

                        <div class="col-xs-12 col-lg-6">
                            <form #formSearchVehiculo="ngForm">
                                <label>Placa</label>
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" placeholder="placa" [(ngModel)]="placa" name="placa" required />
                                    <span class="input-group-btn">
                                        <button (click)="onSearchVehiculo()" [disabled]="formSearchVehiculo.invalid" class="btn btn-primary"  type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>

                        <div class="col-xs-12 col-lg-12" *ngIf="datos.vehiculos.length > 0">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr class="odd" *ngFor="let vehiculo of datos.vehiculos; let i = index">
                                        <td>
                                            <b>Placa</b>
                                            <br>
                                            {{ vehiculo.placa }}
                                        </td>
                                        <td>
                                            <b>Organismo Tránsito</b>
                                            <br>
                                            {{ vehiculo.organismoTransito }}
                                        </td>
                                        <td>
                                            <button (click)="onRemoveVehiculo(vehiculo)" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.row -->

                    <div class="row" *ngIf="datos.vehiculos.length > 0"><!-- .row -->
                        <div class="col-xs-12 col-lg-6" >
                            <b class="text-uppercase">
                                Registrar demandante
                            </b>
                            <label>Tipo de identificación
                                <span class="text-danger">*</span>
                            </label>
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="idTipoIdentificacionDemandante" name="idTipoIdentificacionDemandante" required>
                            </ng-select>

                            <label>Identificación</label>
                            <div class="input-group">
                                <input type="number" class="form-control" [(ngModel)]="identificacionDemandante" name="identificacionDemandante"
                                    required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchDemandante()" class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-6" >
                            <b class="text-uppercase">
                                Registrar demandado
                            </b>
                            <label>Tipo de identificación
                                <span class="text-danger">*</span>
                            </label>
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="idTipoIdentificacionDemandado" name="idTipoIdentificacionDemandado" required>
                            </ng-select>

                            <label>Identificación</label>
                            <div class="input-group">
                                <input type="number" class="form-control" [(ngModel)]="identificacionDemandado" name="identificacionDemandado"
                                    required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchDemandado()" class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div><!-- /.row -->

                    <div class="row"><!-- .row -->
                        <div class="col-xs-12 col-lg-6" *ngIf="datos.demandantes.length > 0">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr *ngFor="let demandante of datos.demandantes; let i = index">
                                        <td>
                                            <b>Nombre</b>
                                            <br>
                                            {{ demandante.nombre }}
                                            <br>
                                            <b>Identificación</b>
                                            {{ demandante.identificacion }}
                                        </td>
                                        <td>
                                            <button (click)="onRemoveDemandado(demandante)" class="btn btn-danger">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="col-xs-12 col-lg-6" *ngIf="datos.demandados.length > 0">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr *ngFor="let demandado of datos.demandados; let i = index">
                                        <td>
                                            <b>Nombre</b>
                                            <br>
                                            {{ demandado.nombre }}
                                            <br>
                                            <b>Identificación</b>
                                            {{ demandado.identificacion }}
                                        </td>
                                        <td>
                                            <button (click)="onRemoveDemandado(demandado)" class="btn btn-danger">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.row -->

                    <form #formNew="ngForm" *ngIf="datos.vehiculos.length > 0">
                        <div class="row"><!-- .row -->
                            <div class="col-xs-12 col-lg-6">
                                <label>Fecha Radicación <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="inscripcionLimitacion.fechaRadicacion" name="fechaRadicacion" type="date" required />
                            </div>
    
                            <div class="col-xs-12 col-lg-6">
                                <label>Departamento <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="departamentos" [(ngModel)]="inscripcionLimitacion.idDepartamento" (ngModelChange)="changedDepartamento($event)" required name="idDepartamento">
                                </ng-select>
                            </div>
    
                            <div class="col-xs-12 col-lg-6">
                                <label>Municipio <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="inscripcionLimitacion.idMunicipio" required name="idMunicipio">
                                </ng-select>
                            </div>
    
                            <div class="col-xs-12 col-lg-6">
                                <label>No. Orden Judicial <b class="text-danger">*</b></label>
                                <input class="form-control" type="text" [(ngModel)]="inscripcionLimitacion.numeroOrdenJudicial" name="valor" required>
                            </div>
    
                            <div class="col-xs-12 col-lg-6">
                                <label>Tipo Limitación <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="limitaciones" [(ngModel)]="inscripcionLimitacion.idTipoLimitacion" required name="idTipoLimitacion">
                                </ng-select>
                            </div>
    
                            <div class="col-xs-12 col-lg-6">
                                <label>Fecha Expedición <b class="text-danger">*</b></label>
                                <input type="date" class="form-control" placeholder="fecha expedición" [(ngModel)]="inscripcionLimitacion.fechaExpedicion" name="fechaExpedicion" required />
                            </div>
    
                            <div class="col-xs-12 col-lg-6">
                                <label>Causal de Limitación <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="causalesLimitacion" [(ngModel)]="inscripcionLimitacion.idCausalLimitacion" required name="idCausalLimitacion">
                                </ng-select>
                            </div>
    
                            <div class="col-xs-12 col-lg-6">
                                <label>Tipo de Proceso <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposProceso" [(ngModel)]="inscripcionLimitacion.idTipoProcesoLimitacion" required name="idTipoProcesoLimitacion">
                                </ng-select>
                            </div>
    
                            <div class="col-xs-12 col-lg-6">
                                <label>Entidad Judicial <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="entidadesJudiciales" [(ngModel)]="inscripcionLimitacion.idEntidadJudicial" required name="idEntidadJudicial">
                                </ng-select>
                            </div>
    
                            <div class="col-xs-12 col-lg-12">
                                <label>Observaciones</label>
                                <textarea class="form-control" [(ngModel)]="inscripcionLimitacion.observaciones" name="observaciones" placeholder="Aqui puede ingresar las observaciones" rows="4" required></textarea>
                            </div>
    
                            <div class="col-xs-12 col-lg-12">
                                <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary">Enviar</button>
                            </div>
                        </div><!-- /.row -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>