<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Switch</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Switch</h6>
          </div>
          <div class="card-body">
            <div class="can-toggle">
              <input id="a" type="checkbox">
              <label for="a">
              <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
              <div class="can-toggle__label-text">.can-toggle</div>
              </label>
            </div>
            <br>
            <div class="can-toggle can-toggle--size-small">
              <input id="b" type="checkbox">
              <label for="b">
              <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
              <div class="can-toggle__label-text">.can-toggle.can-toggle--size-small</div>
              </label>
            </div>
            <br>
            <div class="can-toggle can-toggle--size-large">
              <input id="c" type="checkbox" checked>
              <label for="c">
              <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
              <div class="can-toggle__label-text">.can-toggle.can-toggle--size-large</div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Switch + Red</h6>
          </div>
          <div class="card-body">
            <div class="can-toggle demo-rebrand-1">
              <input id="d" type="checkbox">
              <label for="d">
              <div class="can-toggle__switch" data-checked="Good" data-unchecked="Bad"></div>
              <div class="can-toggle__label-text">.can-toggle.demo-rebrand-1</div>
              </label>
            </div>
            <br>
            <div class="can-toggle demo-rebrand-2">
              <input id="e" type="checkbox">
              <label for="e">
              <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
              <div class="can-toggle__label-text">.can-toggle.demo-rebrand-2</div>
              </label>
            </div>
            <br>
            <div class="can-toggle demo-rebrand-2 small">
              <input id="f" type="checkbox" checked>
              <label for="f">
              <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
              <div class="can-toggle__label-text">.can-toggle.demo-rebrand-2.small</div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>