<div class="row">
  <!-- .row -->
  <div class="col-xs-12 col-lg-12">
    <!-- .col -->
    <div class="card">
      <div class="card-body">
        <form #formNew="ngForm">
          <h5 class="m-0">
            Levantar limitaciones a la propiedad
          </h5>
          <small>Todos los campos con
            <b class="text-danger">*</b> son obligatorios</small>
          <hr>
          <div class="row justify-content-center container">

            <!--placas vehiculos -->
            <div class="col-xs-12 col-lg-6">
              <label>Placas</label>
              <div class="input-group" *ngIf="limitacionVehiculoEncontrada != 2" [class.has-success]="limitacionVehiculoEncontrada === 2"
                [class.has-danger]="limitacionVehiculoEncontrada === 3">
                <input type="text" class="form-control" placeholder="placa" [(ngModel)]="placa" name="placa" required />
                <span class="input-group-btn">
                  <button (click)="onKeyPlaca()" [class.btn-default]="limitacionVehiculoEncontrada === 1" [class.btn-success]="limitacionVehiculoEncontrada === 2"
                    [class.btn-danger]="placaEncontrada === 3" class="btn" ngxclipboard="" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="has-danger" *ngIf="limitacionVehiculoEncontrada === 3">
                <div class="form-control-feedback has-danger has-error">No se encontró limitaciones inscritas para el vehiculo</div>
              </div>
              <div class="has-danger" *ngIf="limitacionVehiculoEncontrada === 5">
                <div class="form-control-feedback has-danger has-error">El vehiculo no se encuentra registrado</div>
              </div>
              <div class="col-lg-12 col-md-12" *ngIf="listaLimitacionVehiculo">
                <br>

                <!-- lista limitaciones -->
                <table class="table " id="dataTables-example">
                  <br>
                  <thead>
                    <tr>
                      <th>Tipo Medida</th>
                      <th>Proceso</th>
                      <th>Nro. Documento</th>
                      <th>Fecha Registro</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd" *ngFor="let limitacionVehiculo of limitacionesVehiculo; let i = index">

                      <td class="center">
                        <p>{{limitacionVehiculo.limitacionDatos.causalLimitacion.nombre}}
                      </td>
                      <td class="center">
                        <p>{{limitacionVehiculo.limitacionDatos.tipoProceso.nombre}}
                      </td>
                      <td class="center">
                        <p>{{limitacionVehiculo.vehiculo.placa.numero}}
                          <br>{{limitacionVehiculo.id}}</p>
                      </td>
                      <td class="center">
                        <p>{{limitacionVehiculo.limitacionDatos.fechaRadicacion}}
                      </td>
                      <td class="center" *ngIf="limitacionVehiculo.limitacionDatos.estado==true">
                        <p>Inscrita
                      </td>
                      <td class="center">
                        <button (click)="ver(limitacionVehiculo)" class="btn btn-info">Ver Limitación</button>
                      </td>
                    </tr>
                  </tbody>
                      <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                </table>
              </div>

            </div>

            <div class="col-lg-12 col-md-12" *ngIf="limitacionVehiculoM">
              <br>

              <!-- detalle limitacion -->
              <h5 class="m-0">
                Datos Básicos
              </h5>
              <table class="table " id="dataTables-example">
                <br>
                <thead>
                  <tr>
                    <th>Tipo Medida</th>
                    <td class="center">{{limitacionVehiculoMostrar.limitacionDatos.causalLimitacion.id}}</td>

                    <th>Proceso</th>
                    <td class="text-left">{{limitacionVehiculoMostrar.limitacionDatos.tipoProceso.nombre}}</td>
                  </tr>
                  <tr>
                    <th>Nro. Documento</th>
                    <td class="text-left">
                      <p>{{limitacionVehiculoMostrar.vehiculo.placa.numero}}
                        <br>{{limitacionVehiculoMostrar.id}}</p>
                    </td>

                    <th>Entidad Emisora</th>
                    <td class="text-left">{{limitacionVehiculoMostrar.limitacionDatos.entidadJudicial.nombre}}</td>
                  </tr>
                  <tr>

                    <th>Municipio</th>
                    <td class="odd center">{{limitacionVehiculoMostrar.limitacionDatos.municipio.nombre}}</td>

                    <th>Fecha Registro</th>
                    <td class="odd center">{{limitacionVehiculoMostrar.limitacionDatos.fechaRadicacion}}</td>
                  </tr>
                  <tr>

                    <th>Fecha Expedición</th>
                    <td class="odd center">{{limitacionVehiculoMostrar.limitacionDatos.fechaExpedicion}}</td>

                    <th>Fecha Levantamiento</th>
                    <td class="odd center">--</td>
                  </tr>
                  <tr>

                    <th>Demandante</th>
                    <td class="odd center">
                      <p>{{limitacionVehiculoMostrar.limitacionDatos.ciudadanoDemandante.usuario.tipoIdentificacion.nombre}}
                        <br>{{limitacionVehiculoMostrar.limitacionDatos.ciudadanoDemandante.usuario.identificacion}}</p>
                    </td>
                    <th>Demandado</th>
                    <td class="odd center">
                      <p>{{limitacionVehiculoMostrar.limitacionDatos.ciudadanoDemandado.usuario.tipoIdentificacion.nombre}}
                        <br>{{limitacionVehiculoMostrar.limitacionDatos.ciudadanoDemandado.usuario.identificacion}}</p>
                    </td>

                  </tr>
                  <tr>
                    <th>Estado</th>
                    <td class="odd center" *ngIf="limitacionVehiculoMostrar.limitacionDatos.estado==true">
                      <p>Inscrita</td>

                    <th>Descripción</th>
                    <td class="odd center">{{limitacionVehiculoMostrar.limitacionDatos.ciudadanoDemandado.observaciones}}</td>
                  </tr>
                  <tr>
                    <th>Causal Limitación</th>
                    <td class="odd center">{{limitacionVehiculoMostrar.limitacionDatos.causalLimitacion.nombre}}</td>

                    <th>Acciones</th>
                    <td class="center">
                      <button (click)="enviarTramite(limitacionVehiculoMostrar.id)" class="btn btn-primary">Levantar Limitacion</button>
                    </td>


                  </tr>

                </thead>
                <td class="center">
                  <button (click)="onCancelar()" class="btn">Aceptar</button>
                </td>
              </table>
            </div>

          </div>





        </form>
      </div>


    </div>



  </div>

  <!-- /.col -->
</div>
<!-- /.row -->