<div class="container">
  <hr>
  <div class="row" *ngIf='formSearch'><!-- .row -->
    <div class="col-xs-12 col-lg-4"><!-- .col -->
      <div class="card">
        <div class="card-header">
            <b class="text-uppercase">Búsqueda avanzada de facturas</b>
        </div>
        <div class="card-body"><!-- .card-body -->
          <form #formSearch="ngForm">
            <div class="form-group">
              <div class="row"><!-- .row -->
                <div class="col-xs-12 col-lg-12">
                  <label>Tipo de filtro</label>
                  <ng-select [multiple]="false" [options]="tiposFiltro" [(ngModel)]="search.tipoFiltro" name="tipoFiltro" required></ng-select>
                </div>
                <div class="col-xs-12 col-lg-12">
                  <label>Filtro</label>
                  <input class="form-control text-uppercase" [(ngModel)]="search.filtro" name="filtro" type="text" required>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoFiltro && search.tipoFiltro != 1">
                  <label>Fecha inicial</label>
                  <input class="form-control" [(ngModel)]="search.fechaInicial" name="fechaInicial" type="date" required>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoFiltro && search.tipoFiltro != 1">
                  <label>Fecha final</label>
                  <input class="form-control" [(ngModel)]="search.fechaFinal" name="fechaFinal" type="date" required>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoFiltro && search.tipoFiltro != 1">
                  <label>Tipo de filtro</label>
                  <ng-select (ngModelChange)="onChangedTipoRecaudo($event)" [multiple]="false" [options]="tiposRecaudo" [(ngModel)]="search.tipoRecaudo" name="tipoRecaudo" required></ng-select>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoRecaudo && search.tipoRecaudo == 'TRAMITES'">
                  <label>Tramites <b class="text-danger">*</b></label>
                  <ng-select [multiple]="false" [options]="tramites" [(ngModel)]="search.idTramite" name="idTramite" required>
                  </ng-select>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoRecaudo && search.tipoRecaudo == 'INFRACCIONES'">
                  <label>Infracciones <b class="text-danger">*</b></label>
                  <ng-select [multiple]="false" [options]="infracciones" [(ngModel)]="search.idInfraccion" name="idInfraccion" required>
                  </ng-select>
                </div>
              </div>
            </div><!-- /.row -->
          </form>
        </div><!-- /.card-body -->
        <div class="card-footer">
          <button (click)="onSearch()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
            <i class="fa fa-search"></i>
            Buscar
          </button>
        </div>
      </div>
    </div><!-- /.col -->
    
    <!-- ======================== Inventarios en Municipio seleccionado ============================== -->
    <div class="col-xs-12 col-lg-8" *ngIf="facturas && formIndex"><!-- .col -->
      <div class="card"><!-- .card -->
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Facturas encontradas</b>
          </h5>
        </div>
        <div class="card-body">
          <table class="table table-bordered" id="dataTables-example">
            <thead>
              <tr>
                <th>#</th>
                <th>Número</th>
                <th>Fecha</th>
                <th>Tipo recaudo</th>
                <th>Valor</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let factura of facturas; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ factura.numero }}</td>
                <td>{{ factura.fecha }}</td>
                <td>{{ factura.tipoRecaudo.nombre }}</td>
                <td>{{ factura.valor }}</td>
                <td>
                  <div class="btn-group">
                    <a href="{{ apiUrl }}financiero/frofactura/1/{{ factura.id }}/pdf" class="btn btn-success" target="_blank">
                      <i class="fa fa-file-pdf-o"></i>
                      Generar PDF
                  </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- /.card -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>