<div class="container">
   <hr>
   <div class="row" *ngIf='formIndex'>
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="card-title">
                  <b class="text-uppercase">Plan estratégico de seguridad vial <small>Buscar</small></b>
                  <br>
               </h5>
            </div>
            <div class="card-body">
               <div class="row">
                  <!-- .row -->
                  <div class="col-xs-12 col-lg-6">
                     <input type="text" class="form-control" placeholder="Nombre empresa" [(ngModel)]="datos.parametro"
                        name="parametro" required />
                  </div>
                  <div class="col-xs-12 col-lg-6">
                     <div class="input-group">
                        <input type="number" class="form-control" placeholder="NIT" [(ngModel)]="datos.parametro2"
                           name="parametro2" required />
                        <span class="input-group-btn">
                           <button (click)="onKeyValidateEvaluacion()" class="btn btn-default btn-primary"
                              type="button"><i class="fa fa-search"></i></button>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="btn-group pull-right" *ngIf="empresaNoEncontrada">
                  <button (click)="onNewEmpresa()" class="btn btn-info" type="button">
                     <span class="text">Agregar Empresa</span>
                     <i class="ti-save ml-2"></i>
                  </button>
               </div>
            </div>
         </div>
         <!-- tabla de detalles de la empresa -->
         <div class="card" *ngIf="empresaEncontrada">
            <div class="card-header">
               <h5 class="text-uppercase">Detalles empresa
               </h5>
            </div>
            <div class="card-body">
               <div class="form-group row">
                  <div class="col-xs-12 col-lg-12">
                     <div class="col-lg-12 col-md-12">
                        <table class="table table-bordered table-striped">
                           <tbody>
                              <tr>
                                 <td>
                                    <strong>Nombre: </strong>
                                    <br>{{ miEmpresa.nombre }}
                                 </td>
                                 <td>
                                    <strong>NIT: </strong>
                                    <br>{{ miEmpresa.nit }}
                                 </td>
                                 <td>
                                    <strong>Ciudad Sede Principal: </strong>
                                    <br>{{ miEmpresa.municipio.nombre }}
                                 </td>

                                 <td>
                                    <strong>Dirección: </strong>
                                    <br>{{ miEmpresa.direccion }}
                                 </td>
                                 <td>
                                    <strong>Teléfono: </strong>
                                    <br>{{ miEmpresa.telefono }}
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card" *ngIf="empresaEncontrada">
            <div class="card-header">
               <h5 class="text-uppercase">Lista de revisiones
                  <div class="btn-group pull-right">
                     <button (click)="onNewRevision()" class="btn btn-info" type="button"><span class="text">Agregar
                           Revisión</span> <i class="ti-save ml-2"></i></button>
                  </div>
               </h5>
            </div>
            <div class="card-body" *ngIf="miRevision">
               <div class="row">
                  <div class="col-xs-12 col-lg-12">
                     <div class="col-lg-12 col-md-12">
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th><b>Número Radicado</b></th>
                                 <th><b>Consecutivo</b></th>
                                 <th><b>Fecha de recepción</b></th>
                                 <th><b>Fecha de revisión</b></th>
                                 <th><b>Fecha de devolución</b></th>
                                 <th><b>Fecha de otorgamiento</b></th>
                                 <th><b>Funcionario que revisa</b></th>
                                 <th><b>Persona contacto</b></th>
                                 <th><b>Cargo</b></th>
                                 <th><b>Correo electrónico</b></th>
                                 <th><b>Puntaje Evaluación</b></th>
                                 <th><b>Acciones</b></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="odd" *ngFor="let revision of revisiones; let i = index">
                                 <td>
                                    {{revision.numeroRadicado}}
                                 </td>
                                 <td>
                                    {{revision.consecutivo}}
                                 </td>
                                 <td>
                                    {{revision.fechaRecepcion}}
                                 </td>
                                 <td>
                                    {{revision.fechaRevision}}
                                 </td>
                                 <td>
                                    {{revision.fechaDevolucion}}
                                 </td>
                                 <td>
                                    {{revision.fechaOtorgamiento}}
                                 </td>
                                 <td>
                                    {{revision.funcionario.ciudadano.primerNombre}}
                                    {{revision.funcionario.ciudadano?.segundoNombre}}
                                    {{revision.funcionario.ciudadano.primerApellido}}
                                 </td>
                                 <td>
                                    {{revision.personaContacto}}
                                 </td>
                                 <td>
                                    {{revision.cargo}}
                                 </td>
                                 <td>
                                    {{revision.correo}}
                                 </td>
                                 <td>
                                    <span
                                       *ngIf="revision.evaluacion">{{ revision.evaluacion?.resultadofinal | number:'1.1-2' }}%</span>
                                    <span *ngIf="!revision.evaluacion"></span>
                                 </td>
                                 <td>
                                    <div class="btn-group">
                                       <!-- <button (click)="onShow(revision)" class="btn btn-light"><i class="fa fa-eye"></i></button> -->
                                       <a href="{{ apiUrl }}/{{ revision.id }}/calificacion/pdf" class="btn btn-light" target="_blank">
                                          <i class="fa fa-eye"></i>
                                       </a>
                                       <button (click)="editRevision(revision)" class="btn btn-xs btn-primary" type="button"> <i class="fa fa-edit"></i></button>
                                       <button *ngIf="!revision.evaluacion" (click)="iniciarEvaluacion(revision)" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                       <a href="{{ apiUrl }}/{{ idUsuario }}/{{ revision.evaluacion.id }}/aval/pdf" class="btn btn-info" target="_blank" *ngIf="revision.evaluacion">
                                          <i class="fa fa-file-pdf-o"></i>
                                       </a>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="card" *ngIf="miEmpresa && mostrarTablaEvaluacion && mostrarTablaValoresAgregados">
            <div class="card-header">
               <h5 class="text-uppercase">Valores Agregados
               </h5>
            </div>
            <div class="card-body">
               <div class="form-group row">
                  <div class="col-lg-6 col-md-6">
                     <label>¿ Desea agregar valores agregados para la empresa ?</label>
                     <div class="form-group row">
                        <div class="col-xs-12 col-lg-6">
                           <div class="custom-control custom-radio">
                              <input id="radioValorAgregadoSi" name="valorAgregado"
                                 [(ngModel)]="datosTablaValorAgregado.valorAgregado" value="1" type="radio"
                                 id="customRadioValorAgregado1" name="customRadiValorAgregado"
                                 class="custom-control-input">
                              <label class="custom-control-label" for="customRadioValorAgregado1">Si</label>
                           </div>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                           <div class="custom-control custom-radio">
                              <input id="radioValorAgregadoNo" name="valorAgregado"
                                 [(ngModel)]="datosTablaValorAgregado.valorAgregado" value="0" type="radio"
                                 id="customRadioValorAgregado2" name="customRadioValorAgregado"
                                 class="custom-control-input">
                              <label class="custom-control-label" for="customRadioValorAgregado2">No</label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12 col-md-12" *ngIf="datosTablaValorAgregado.valorAgregado == 1">
                     <table class="table table-bordered">
                        <thead>
                           <tr>
                              <th><b>PARÁMETRO-DEFINICIÓN</b></th>
                              <th><b>VARIABLES</b></th>
                              <th><b>CRITERIO DEL AVAL</b></th>
                              <th><b>APLICA</b></th>
                              <th><b>EVIDENCIAS DE SU EXISTENCIA</b></th>
                              <th><b>RESPONDE A LOS REQUERIMIENTOS</b></th>
                              <th><b>VALOR DE LA VARIABLE</b></th>
                              <th><b>VALOR OBTENIDO</b></th>
                              <th><b>OBSERVACIONES</b></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td rowspan="4">
                                 <label>NUEVAS PROPUESTAS O INNOVACIONES QUE SE PRESENTAN EN EL PESV Y SE OBSERVAN COMO
                                    UN VALOR AGREGADO.</label>
                              </td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.variable1"
                                    name="variable1"></td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.criterio1"
                                    name="criterio1"></td>
                              <td><input type="checkbox" [(ngModel)]="datosTablaValorAgregado.aplica1" name="aplica1">
                              </td>
                              <td><input type="checkbox" [(ngModel)]="datosTablaValorAgregado.evidencia1"
                                    name="evidencia1"></td>
                              <td><input type="checkbox" (ngModelChange)="calcularTotal($event, msvParametro, 6)"
                                    [(ngModel)]="datosTablaValorAgregado.responde1" name="responde1"></td>
                              <td>25</td>
                              <td>
                                 <label *ngIf="datosTablaValorAgregado.responde1 == 1">25</label>
                                 <label *ngIf="datosTablaValorAgregado.responde1 == 0">0</label>
                              </td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.observacion1"
                                    name="observacion1"></td>
                           </tr>
                           <tr>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.variable2"
                                    name="variable2"></td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.criterio2"
                                    name="criterio2"></td>
                              <td><input type="checkbox" [(ngModel)]="datosTablaValorAgregado.aplica2" name="aplica2">
                              </td>
                              <td><input type="checkbox" [(ngModel)]="datosTablaValorAgregado.evidencia2"
                                    name="evidencia2"></td>
                              <td><input type="checkbox" (ngModelChange)="calcularTotal($event, msvParametro, 6)"
                                    [(ngModel)]="datosTablaValorAgregado.responde2" name="responde2"></td>
                              <td>25</td>
                              <td>
                                 <label *ngIf="datosTablaValorAgregado.responde2 == 1">25</label>
                                 <label *ngIf="datosTablaValorAgregado.responde2 == 0">0</label>
                              </td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.observacion2"
                                    name="observacion2"></td>
                           </tr>
                           <tr>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.variable3"
                                    name="variable3"></td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.criterio3"
                                    name="criterio3"></td>
                              <td><input type="checkbox" [(ngModel)]="datosTablaValorAgregado.aplica3" name="aplica3">
                              </td>
                              <td><input type="checkbox" [(ngModel)]="datosTablaValorAgregado.evidencia3"
                                    name="evidencia3"></td>
                              <td><input type="checkbox" (ngModelChange)="calcularTotal($event, msvParametro, 6)"
                                    [(ngModel)]="datosTablaValorAgregado.responde3" name="responde3"></td>
                              <td>25</td>
                              <td>
                                 <label *ngIf="datosTablaValorAgregado.responde3 == 1">25</label>
                                 <label *ngIf="datosTablaValorAgregado.responde3 == 0">0</label>
                              </td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.observacion3"
                                    name="observacion3"></td>
                           </tr>
                           <tr>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.variable4"
                                    name="variable4"></td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.criterio4"
                                    name="criterio4"></td>
                              <td><input type="checkbox" [(ngModel)]="datosTablaValorAgregado.aplica4" name="aplica4">
                              </td>
                              <td><input type="checkbox" [(ngModel)]="datosTablaValorAgregado.evidencia4"
                                    name="evidencia4"></td>
                              <td><input type="checkbox" (ngModelChange)="calcularTotal($event, msvParametro, 6)"
                                    [(ngModel)]="datosTablaValorAgregado.responde4" name="responde4"></td>
                              <td>25</td>
                              <td>
                                 <label *ngIf="datosTablaValorAgregado.responde4 == 1">25</label>
                                 <label *ngIf="datosTablaValorAgregado.responde4 == 0">0</label>
                              </td>
                              <td><input style="height: 5em;" [(ngModel)]="datosTablaValorAgregado.observacion4"
                                    name="observacion4"></td>
                           </tr>
                           <tr>
                              <td colspan="7">TOTAL</td>
                              <td colspan="2">
                                 <input class="form-control" [(ngModel)]="datos2.valorObtenidoValorAgregado"
                                    name="valorObtenidoValorAgregado" type="number" disabled>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <button (click)="onEnviar(6)" class="btn btn-primary m-2" [disabled]="botonEnviarValorAgregado">
                        <i class="fa fa-save"></i>
                        Guardar
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <div class="card" *ngIf="miEmpresa && mostrarTablaEvaluacion">
            <div class="card-header">
               <h5 class="text-uppercase">Nueva Evaluación
               </h5>
            </div>
            <div class="card-body">
               <label>Categoria <strong class="text-danger">*</strong></label>
               <ng-select [multiple]="false" [options]="msvCategorias" (ngModelChange)="changedCategoria($event)"
                  [(ngModel)]="categoriaSelected" required name="idCategoria">
               </ng-select>

               <div style="overflow-x: auto; padding: 20px;">
                  <div style="width: 1500px !important;">
                     <div *ngFor="let msvCategoria of msvCategorias; let i=index">
                        <!-- . categorias -->
                        <div class="row" *ngIf="categoriaSelected == msvCategoria.value">
                           <div class="col-xs-12 col-lg-12">
                              <!-- -->
                              <div class="row text-center text-uppercase"
                                 style="vertical-align:middle; line-height:normal;">
                                 <div class="col-lg-2" style="border:1px solid #cccccc">
                                    <b>Parámetro-Definición</b></div>
                                 <div class="col-lg-10" style="border:1px solid #cccccc;">
                                    <div class="row">
                                       <div style="width: 16.6%;">
                                          <b>Variables</b>
                                       </div>
                                       <div style="width: 20.9%; border:1px solid #cccccc;">
                                          <b>Criterio de aval</b>
                                       </div>
                                       <div style="width: 6.9%; border:1px solid #cccccc;">
                                          <b>Aplica</b>
                                       </div>
                                       <div style="width: 6.9%; border:1px solid #cccccc;">
                                          <b>Evidencias de su
                                             existencia</b>
                                       </div>
                                       <div style="width: 7%; border:1px solid #cccccc;">
                                          <b>Responde a los
                                             requisitos</b>
                                       </div>
                                       <div style="width: 7%; border:1px solid #cccccc;">
                                          <b>Valor de la variable</b>
                                       </div>
                                       <div style="width: 6.9%; border:1px solid #cccccc;">
                                          <b>Valor obtenido</b>
                                       </div>
                                       <div style="width: 27%; border:1px solid #cccccc;">
                                          <b>Observaciones</b>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row" *ngFor="let msvParametro of msvParametros; let i=index">
                                 <div class="col-lg-12" style="border:1px solid #cccccc;">
                                    <div class="row">
                                       <div class="col-lg-2" style="border:1px solid #cccccc;">
                                          {{ msvParametro.name }}</div>
                                       <div class="col-lg-10">
                                          <div class="row"
                                             *ngFor="let msvVariable of msvParametro.variables; let i=index">
                                             <div class="col-lg-2"
                                                style="border:1px solid #cccccc; text-align:justify;">
                                                {{ msvVariable.name }}</div>
                                             <div class="col-lg-10">
                                                <div class="row"
                                                   *ngFor="let msvCriterio of msvVariable.criterios; let i=index">
                                                   <div class="col-lg-3"
                                                      style="border:1px solid #cccccc; text-align:justify;">
                                                      {{ msvCriterio.name }}
                                                   </div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      <input type="checkbox" [(ngModel)]="msvCriterio.aplica"
                                                         name="aplica{{ msvCriterio.id }}"></div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      <input type="checkbox" [(ngModel)]="msvCriterio.evidencia"
                                                         name="evidencia{{ msvCriterio.id }}">
                                                   </div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      <input type="checkbox"
                                                         (ngModelChange)="calcularTotal($event, msvParametro, categoriaSelected)"
                                                         [(ngModel)]="msvCriterio.responde"
                                                         name="responde{{ msvCriterio.id }}">
                                                   </div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      {{ msvParametro.valor / msvParametro.numeroCriterios  | number:'1.1-2' }}
                                                   </div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      <label
                                                         *ngIf="msvCriterio.responde == true">{{ msvParametro.valor / msvParametro.numeroCriterios | number:'1.1-2' }}</label>
                                                      <label *ngIf="msvCriterio.responde == false"></label>
                                                   </div>
                                                   <div class="col-lg-4" style="border:1px solid #cccccc; padding:0;">
                                                      <input type="text"
                                                         style="width: 100%; padding:0; margin:0; border:0; height:100%"
                                                         [(ngModel)]="msvCriterio.observacion" />
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div style="padding-left: 1%; width: 65.2%; border:1px solid #cccccc;">TOTAL</div>
                                 <div style="padding-left: 1%; width: 5.8%; border:1px solid #cccccc;">100.0</div>
                                 <div style="width: 5.9%; border:1px solid #cccccc; padding:0;"
                                    *ngIf="categoriaSelected == 1">
                                    <span
                                       style="padding-left: 20%;">{{ datos2.valorObtenidoFortalecimiento | number:'1.1-2' }}</span>
                                 </div>
                                 <div style="width: 5.9%; border:1px solid #cccccc; padding:0;"
                                    *ngIf="categoriaSelected == 2">
                                    <span
                                       style="padding-left: 20%;">{{ datos2.valorObtenidoComportamiento | number:'1.1-2' }}</span>
                                 </div>
                                 <div style="width: 5.9%; border:1px solid #cccccc; padding:0;"
                                    *ngIf="categoriaSelected == 3">
                                    <span
                                       style="padding-left: 20%;">{{ datos2.valorObtenidoVehiculoSeguro | number:'1.1-2' }}</span>
                                 </div>
                                 <div style="width: 5.9%; border:1px solid #cccccc; padding:0;"
                                    *ngIf="categoriaSelected == 4">
                                    <span
                                       style="padding-left: 20%;">{{ datos2.valorObtenidoInfraestructuraSegura | number:'1.1-2' }}</span>
                                 </div>
                                 <div style="width: 5.9%; border:1px solid #cccccc; padding:0;"
                                    *ngIf="categoriaSelected == 5">
                                    <span
                                       style="padding-left: 20%;">{{ datos2.valorObtenidoAtencionVictima | number:'1.1-2' }}</span>
                                 </div>
                                 <div style="width: 23.1%; border: 1px solid #cccccc;"></div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-12">
                                    <button (click)="onEnviar(categoriaSelected)" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 1" [disabled]="botonEnviarFortalecimiento">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar(categoriaSelected)" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 2" [disabled]="botonEnviarComportamiento">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar(categoriaSelected)" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 3" [disabled]="botonEnviarVehiculoSeguro">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar(categoriaSelected)" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 4" [disabled]="botonEnviarInfraestructuraSegura">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar(categoriaSelected)" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 5" [disabled]="botonEnviarAtencionVictimas">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                 </div>
                                 <!-- -->
                              </div>
                           </div>
                        </div><!-- /.categorias -->
                     </div>
                  </div>
               </div>
               <div class="card-footer">
                  <div class="btn-group">
                     <button (click)="onFinalizar()" *ngIf="!evaluacion && msvCategorias == null"
                        class="btn btn-default">
                        <i class="fa fa-check"></i>
                        Finalizar y Enviar
                     </button>
                  </div>
               </div>
            </div>
            <!-- fin detalles de la empresa -->
         </div>
      </div>
   </div>
   <app-show *ngIf='formShow' [revision]= revision (ready)="ready($event)"> </app-show>
   <app-new-empresa *ngIf='formNewEmpresa' (ready)="ready($event)"> </app-new-empresa>
   <app-new-revision *ngIf="formNewRevision" [miEmpresa]="miEmpresa" (ready)="ready($event)"> </app-new-revision>
   <app-edit-revision *ngIf='formEditRevision' [miEmpresa]="miEmpresa" [msvRevision]="revision" (ready)="ready($event)"></app-edit-revision>
</div>