
<div class="row ">
    <div class="col-xs-16 col-lg-16 ">
        <div class="card">
            <div class="card-body ">
                <h5 class="m-0">Nueva sucursal</h5>
                <hr>
                <form #formNewSucursal="ngForm">
                    <div class="row justify-content-center container">
                        <div class="form-group row">
                            <!-- informacion  especifica de la nueva sucursal-->
                            <div class="col-xs-16 col-lg-5">
                                <label>Sucursal
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" [(ngModel)]="sucursal.nombre" name="nombre" placeholder="" type="text" required>
                            </div>
                            <div class="col-xs-16 col-lg-6">
                                <label>Sigla</label>
                                <input class="form-control" [(ngModel)]="sucursal.sigla" name="sigla" placeholder="" type="text">
                            </div>
                            <!-- seleccion ubicacion geografica -->
                            <div class="col-xs-8 col-lg-5">
                                <label>Municipioo
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="municipioSelected" required name="municipioId">
                                </ng-select>
                            </div>
                            <!-- fin ubicacion -->
                            <!-- DATOS DE DIRECCION -->
                            <hr>
                            <h5 class="col-xs-16 col-lg-16">Datos dirección </h5>
                            <!-- datos dirección -->
                            <div class="col-xs-16 col-lg-6">
                                <label>Dirección*</label>
                                <input class="form-control" [(ngModel)]="sucursal.direccion" name="direccion" placeholder="" type="text" required>
                            </div>
                            <div class="col-xs-16 col-lg-5">
                                <label>Telefono</label>
                                <input class="form-control" [(ngModel)]="sucursal.telefono" name="telefono" placeholder="" type="number" min="0" required>
                            </div>
                            <div class="col-xs-16 col-lg-4">
                                <label>Celular</label>
                                <input class="form-control" [(ngModel)]="sucursal.celular" name="celular" placeholder="" type="number" min="0" required>
                            </div>
                            <div class="col-xs-16 col-lg-6">
                                <label>Fax</label>
                                <input class="form-control" [(ngModel)]="sucursal.fax" name="fax" placeholder="" type="email" required>
                            </div>
                            <div class="col-xs-16 col-lg-10">
                                <label>Correo electrónico</label>
                                <input class="form-control" [(ngModel)]="sucursal.correo" name="correo" placeholder="" type="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group pull-right">
                        <button (click)="onCancelar()" class="btn btn-secondary">
                            <i class="fa fa-times"></i>
                           Cancelar
                        </button>
                        <button (click)="onEnviar(sucursal)" [disabled]="formNewSucursal.invalid" class="btn btn-outline-primary" type="button">
                            <i class="fa fa-floppy-o"></i>
                            Guardar
                        </button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div> 
