<div class="container">
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <strong class="text-uppercase">Configuración</strong>
            <small>Nivel de servicio</small>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Id</th>
                <th>Servicio</th>
                <th>Nombre</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let nivelServicio of nivelesServicio; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ nivelServicio.servicio.nombre }}</td>
                <td>{{ nivelServicio.nombre }}</td>
                <td>
                  <div class="btn-group">
                    <button (click)="onEdit(nivelServicio)" class="btn btn-primary" type="button">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button (click)="onDelete(nivelServicio.id)" class="btn btn-danger" type="button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-edit *ngIf='formEdit' [nivelServicio]="nivelServicio" (ready)="ready($event)"></app-edit>
  <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>