<figure class="background"><img src="assets/img/banner2.png" alt=""></figure>
  <div class="container">
    <div class="row flex-column align-items-center text-center">
      <div class="col-16 page-title ">
        <h3 class="text-white">Contact Us</h3>
        <p class="description text-white">Adminux 1.0 drop your queries, questions or request</p>
      </div>
      <div class="col-16  "><a href="mailto:info@maxartkiller.in" class="btn btn-outline-white btn-round btn-lg" target="_blank">Say hello <i class="fa fa-envelope ml-1"></i></a></div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-14 m-auto"> <br>
        <br>
        <div class="row">
          <div class="col-md-8  text-white wrapper-content-sign-in-left">
            <div class="wrapper-content-sign-in"> <br>
              <h2>Hello,<br>
                Welcome</h2>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elit dolor, tempor quis leo venenatis, malesuada mollis arcu. Cras nec commodo sapien, in congue est. Curabitur tincidunt tortor nec purus elementum gravida. Nunc auctor non nunc ut ullamcorper. Proin nec sagitti.</p>
              <br>
              <dl class="row full-width">
                <dt class="col-16">Address</dt>
                <dd class="col-16"><strong>Maxartkiller Inc.</strong><br>
                  Bhuvaladi baug<br>
                  Raipur Gujarat <br>
                  382430-India</dd>
              </dl>
            </div>
          </div>
          <form class="form-signin1 white text-center side col-md-8 mt-0">
            <br>
            <h3 class="display-4">Say Hello!</h3>
            <br>
            <label  class="sr-only">Name</label>
            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
              <input type="text" class="form-control" placeholder="Your name">
            </div>
            <br>
            <label class="sr-only">Inquiry for</label>
            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-question-circle"></i></span>
              <select class="form-control">
                <option>Template</option>
                <option>Customization</option>
                <option>Project</option>
                <option>Support</option>
              </select>
            </div>
            <br>
            <label class="sr-only">Email address</label>
            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="text" class="form-control" placeholder="Email address">
            </div>
            <br>
            <label class="sr-only">Message</label>
            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-comment"></i></span>
              <textarea rows="3" class="form-control" placeholder="Message"></textarea>
            </div>
            <br>
            <a href="" class="btn btn-lg btn-primary btn-round">Send</a><br>
          </form>
        </div>
      </div>
    </div>
  </div>