<div class="container-fluid">
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <b class="text-uppercase">Tipos de infractor</b>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span>Nuevo</span>
                </button>
              </div>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Observación</th>
                    <th>fecha Creación</th>
                    <th>Hora vencimiento</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let clave of claves; let i = index">
                  <td >{{ clave.codigo }}</td>
                  <td >{{ clave.observacion }}</td>
                  <td >{{ clave.fechaCreacion }}</td>
                  <td >{{ clave.horaVencimiento }}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="onEdit(clave)" class="btn btn-xs btn-primary" type="button" tooltip="Editar" [tooltipDisabled]="false" [tooltipAnimation]="true"
                        tooltipPlacement="top">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button (click)="onDelete(clave.id)" class="btn btn-xs btn-danger" type="button" tooltip="Eliminar" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [clave]="clave" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>