<div class="container-fluid" >
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <b class="text-uppercase">Configuración Infracciones</b>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-default">
                <i class="fa fa-plus"></i>
                Nuevo
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let infraccion of infracciones; let i = index">
                  <td >{{ i + 1 }}</td>
                  <td >{{ infraccion.codigo }}</td>
                  <td >{{ infraccion.nombre }}</td>
                  <td >{{ infraccion.categoria.nombre }}</td>
                  <td >{{ infraccion.descripcion }}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="onEdit(infraccion)" class="btn btn-xs btn-info" type="button">
                        <i class="fa fa-pencil"></i>
                      </button> 
                      <button (click)="onDelete(infraccion.id)"  class="btn btn-xs btn-danger" type="button">
                        <i class="fa fa-trash"></i>
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit-froinfraccion *ngIf='formEdit' [infraccion]="infraccion" (ready)="ready($event)"></app-edit-froinfraccion>
    <app-new-froinfraccion *ngIf='formNew' (ready)="ready($event)"></app-new-froinfraccion>
</div>