<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Checkout Product</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-10 col-lg-12">
            <div class="card">
                <div class="card-header align-items-start justify-content-between flex">
                        <h5 class="card-title  pull-left">My Cart <small> (3 Items) </small></h5>
                        <ul class="nav nav-pills card-header-pills pull-right">
                          <li class="nav-item">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-map-marker"></i> </div>
                                <input type="text" class="form-control" placeholder="Location..." id="example-city" value="Delhi">
                                <button class="input-group-addon ">Change</button>
                            </div>
                          </li>
                        </ul>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered m-0 table-hover">
                                <thead>
                                	<tr>
                                    	<th width="180">Item</th>
                                    	<th width="50%">Name</th>
                                    	<th>Delivery</th>
                                    </tr>
                                </thead>
                                  <tbody>
                                    <tr>
                                        <td>
                                            <figure class="cart_img"><img src="assets/img/product1.jpg"></figure>
                                            <div class="input-group">
                                                <button class="input-group-addon bg-primary">-</button>
                                                <input type="text" class="form-control text-center" placeholder="Location..." value="1">
                                                <button class="input-group-addon bg-primary">+</button>
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="card-title ">Product one </h4>
                                            <h4 >$ 204 <small class="text-danger"><s>$ 250</s></small></h4>
                                            <h5 class="text-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
                                            <p class="card-text">Seller : Maxartkiller</p>
                                            <a href="" class="btn btn-outline-primary"><i class="fa fa-heart"></i> Add to favorite</a>
                                            <a href="" class="btn btn-danger ml-2"><i class="fa fa-trash"></i> Remove</a>
                                        </td>
                                        <td>
                                            <strong>Free delivery by Sat, May 13</strong><br>10 Days Replacement Policy
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <figure class="cart_img"><img src="assets/img/product2.jpg"></figure>
                                            <div class="input-group">
                                                <button class="input-group-addon bg-primary">-</button>
                                                <input type="text" class="form-control text-center" placeholder="Location..." value="1">
                                                <button class="input-group-addon bg-primary">+</button>
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="card-title ">Product one </h4>
                                            <h4>$ 204 <small class="text-danger"><s>$ 250</s></small></h4>
                                            <h5 class="text-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
                                            <p class="card-text">Seller : Maxartkiller</p>
                                            <a href="" class="btn btn-outline-primary"><i class="fa fa-heart"></i> Add to favorite</a>
                                            <a href="" class="btn btn-danger ml-2"><i class="fa fa-trash"></i> Remove</a>
                                        </td>
                                        <td>
                                            <strong>Free delivery by Sat, May 13</strong><br>10 Days Replacement Policy
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <figure class="cart_img"><img src="assets/img/product3.jpg"></figure>
                                            <div class="input-group">
                                                <button class="input-group-addon bg-primary">-</button>
                                                <input type="text" class="form-control text-center" placeholder="Location..." value="1">
                                                <button class="input-group-addon bg-primary">+</button>
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="card-title ">Product one </h4>
                                            <h4>$ 204 <small class="text-danger"><s>$ 250</s></small></h4>
                                            <h5 class="text-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
                                            <p class="card-text">Seller : Maxartkiller</p>
                                            <a href="" class="btn btn-outline-primary"><i class="fa fa-heart"></i> Add to favorite</a>
                                            <a href="" class="btn btn-danger ml-2"><i class="fa fa-trash"></i> Remove</a>
                                        </td>
                                        <td>
                                            <strong>Free delivery by Sat, May 13</strong><br>10 Days Replacement Policy
                                        </td>

                                    </tr>
                                  </tbody>
                            </table>
                    <div class="card-footer ">
                        <a href="#" class="card-link btn-lg btn"><i class="fa fa-chevron-left"></i>Continue Shopping</a>
                        <a href="#" class="card-link btn btn-success btn-lg pull-right">Checkout</a>
                    </div>         
                </div>
                
            </div>  
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header align-items-start justify-content-between flex">
                    <h5 class="card-title  pull-left">Price Details</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th class="text-right">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td class="text-right">245</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td class="text-right">245</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td class="text-right">245</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td><b>Total:</b></td>
                            <td class="text-right">735</td>
                          </tr>
                        </tfoot>
                     </table>
                    <hr>
                    <div class="page_subtitles">Have coupan code? Apply here!</div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Coupan Code" >
                        <button class="input-group-addon ">Apply</button>
                    </div>
                    <br><hr>
                    <div class="page_subtitles">Grand Total</div>
                    <h2 class="text-info">735 rs</h2>
                </div>
            </div>
        </div> 
      </div>
  </div>