<div class="container">
    <hr>
    <div class="row" *ngIf='formIndex'>
        <div class="col-xs-12 col-lg-12">
            <div class=" card">
                <div class="card-header">
                    <h5 class="card-title">
                        <small>REPORTE ACCIDENTALIDAD</small>
                    </h5>
                </div>
                <div class="card-body">
                    <form #formNew="ngForm">
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Adjuntar Reporte Policial <strong class="text-danger">*</strong></label>
                        <button (click)="onUploadFile()" class="btn btn-default">archivo</button>
                    </div>
                    <div class="col-lg-6 col-md-6"></div>
                    <div class="col-lg-6 col-md-6">
                        <label>Tipo Gravedad</label>
                        <ng-select [multiple]="true" [options]="gravedades" [(ngModel)]="exportIpat.arrayGravedadAccidente"
                            required name="gravedad">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Tipo Victima</label>
                        <ng-select [multiple]="true" [options]="tiposVictima" [(ngModel)]="exportIpat.arrayTipoVictima"
                            required name="tipoVictima">
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Hora (Desde) <strong class="text-danger">*</strong></label>
                        <input type="time" class="form-control" [(ngModel)]="exportIpat.horaInicio" name="horaInicio" />
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Hora (Hasta) <strong class="text-danger">*</strong></label>
                        <input type="time" class="form-control" [(ngModel)]="exportIpat.horaFin" name="horaFin" />
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Fecha (Desde) <strong class="text-danger">*</strong></label>
                        <input type="date" class="form-control" [(ngModel)]="exportIpat.fechaInicio" name="fechaInicio" />
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Fecha (Hasta) <strong class="text-danger">*</strong></label>
                        <input type="date" class="form-control" [(ngModel)]="exportIpat.fechaFin" name="fechaFin" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Grupo de Edad</label>
                        <ng-select [multiple]="true" [options]="gruposEdad" [(ngModel)]="exportIpat.arrayGrupoEdad"
                            required name="grupoEdad">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Municipio</label>
                        <ng-select [multiple]="true" [options]="municipios" [(ngModel)]="exportIpat.arrayMunicipio"
                            required name="municipio">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Dias Semana</label>
                        <ng-select [multiple]="true" [options]="diasSemana" [(ngModel)]="exportIpat.arrayDiaSemana"
                            required name="diaSemana">
                            
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Genero</label>
                        <ng-select [multiple]="true" [options]="generos" [(ngModel)]="exportIpat.arrayGenero" required
                            name="genero">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Medio Transporte (Clase Vehiculo)</label>
                        <ng-select [multiple]="true" [options]="clases" [(ngModel)]="exportIpat.arrayClase" required
                            name="clase">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Clase Accidente</label>
                        <ng-select [multiple]="true" [options]="clasesAccidente" [(ngModel)]="exportIpat.arrayClaseAccidente"
                            required name="claseAccidente">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Choque Con</label>
                        <ng-select [multiple]="true" [options]="choquesCon" [(ngModel)]="exportIpat.arrayChoqueCon"
                            required name="choqueCon">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Objeto Fijo</label>
                        <ng-select [multiple]="true" [options]="objetosFijos" [(ngModel)]="exportIpat.arrayObjetoFijo"
                            required name="objetoFijo">
                        </ng-select>
                    </div>
                </div>
                </form>
                <div class="card-footer">
                    <button (click)="onEnviar()" class="btn btn-primary">Enviar</button>
                    <button (click)="onCancelar()" class="btn btn-default">Cancelar</button>
                    <!-- <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary">Enviar</button> -->
                </div>
                <div class="btn-group pull-right"><button (click)="onExportarTotal()" class="btn btn-success">Exportar Total</button></div>
                </div>

                <div class="card-body" style="overflow-x: auto">
                    <table class="table" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>GRAVEDAD ACCIDENTE</th>
                                <th>HORA ACCIDENTE</th>
                                <th>FECHA ACCIDENTE</th>
                                <th>DIA DE SEMANA</th>
                                <th>CONDUCTORES</th>
                                <th>VICTIMAS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let ipat of ipats; let i = index">
                                <td>{{ ipat.gravedadAccidente.nombre }}</td>
                                <td>{{ ipat.horaAccidente }}</td>
                                <td>{{ ipat.fechaAccidente }}</td>
                                <td>{{ ipat.diaAccidente }}</td>
                                <td>{{ ipat?.conductores }}</td>
                                <td>{{ ipat?.victimas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>