<hr>
<div class="row">
    <div class="col-xs-12 col-lg-3"><!-- .col -->
        <div class="card"><!-- .card -->
            <div class="card-header"><!-- .card-header -->
                <h5 class="card-title"><!-- .card-title -->
                    <b class="text-uppercase">Registrar comparendo</b> 
                    <small class="pull-right">Los campos con <b class="text-danger">*</b> son obligatorios</small>
                </h5><!-- /.card-title -->
            </div><!-- /.card-header -->
            <div class="card-body"><!-- .card-body -->
                <div class="row">
                    <form #comparendoForm="ngForm">
                            <div class="form-group">   
                                <div class="row"><!-- .row -->
                                    <div class="col-xs-12 col-lg-12">
                                        <label>Agente de transito <b class="text-danger">*</b></label>
                                        <ng-select [multiple]="false" [options]="agentesTransito" [(ngModel)]="agenteTransitoSelected" (ngModelChange)="onChangedMpersonalFuncionario($event)"
                                            required name="idFuncionario">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-12" *ngIf='consecutivo'>
                                        <table class="table table-bordered table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>Organismo de Transito: </strong>
                                                        <br>{{ funcionario.sedeOperativa.nombre }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Nro. consecutivo: </strong>
                                                        <br>{{ consecutivo?.consecutivo }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Estado: </strong>
                                                        <br>{{ consecutivo?.estado }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- /.row -->                
                            </div>
                    </form>     
                </div>
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div><!-- /.col -->


    <div class="col-xs-12 col-lg-9" *ngIf='consecutivo'>
        <div class="card"><!-- .card -->
            <div class="card-header"><!-- .card-header -->
                <h5 class="card-title"><!-- .card-title -->
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <small>
                                <b class="text-uppercase">Agente de transito:</b> 
                                {{ funcionario.ciudadano.usuario.primerNombre }} {{ funcionario.ciudadano.usuario.primerApellido }}
                            </small>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <small>
                                <b class="text-uppercase">Sede operativa:</b>
                                {{ funcionario.sedeOperativa.nombre }}
                            </small>
                        </div>
                    </div>
                </h5><!-- /.card-title -->
            </div><!-- /.card-header -->
            <div class="card-body"><!-- .card-body -->
                <form #formNew="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <h6 class="text-uppercase text-center gradient">
                                <b>1. fecha y hora</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <label>Fecha:</label>
                                    <input class="form-control" [(ngModel)]="comparendo.fecha" name="fecha" type="date" required>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <label>Hora:</label>
                                    <select class="form-control" name="hora" [(ngModel)]="comparendo.hora" required>
                                        <option *ngFor="let hora of horas" [value]="hora"> {{ hora }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <label>Minutos:</label>
                                    <select class="form-control" name="minutos" [(ngModel)]="comparendo.minutos" required>
                                        <option *ngFor="let minuto of minutos" [value]="minuto"> {{ minuto }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-8">
                            <h6 class="text-uppercase text-center gradient">
                                <b>2. lugar de la infracción</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <label>Dirección
                                        <b class="text-danger">*</b>
                                    </label>
                                    <input class="form-control" [(ngModel)]="comparendo.direccion" name="direccion" type="text" required>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <label>Municipio
                                        <b class="text-danger">*</b>
                                    </label>
                                    <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="municipioSelected" required name="municipios">
                                    </ng-select>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <label>Localidad
                                        <b class="text-danger">*</b>
                                    </label>
                                    <input class="form-control" [(ngModel)]="comparendo.localidad" name="localidad" type="text" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-8">
                            <h6 class="text-uppercase text-center gradient">
                                <b>3. Placa</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-8">
                                    <label>Número <b class="text-danger">*</b></label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" [(ngModel)]="placa.placa" id="placa" name="placa" required>
                                        <span class="input-group-btn">
                                            <button (click)="onKeyPlaca()" class="btn btn-default btn-primary" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-lg-4">
                                    <label>Matriculado en</label>
                                    <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="municipioMatriculadoSelected" name="municipioMatriculado"
                                        required>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <h6 class="text-uppercase text-center gradient">
                                <b>4. Código de infracción</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">
                                    <label>Código <b class="text-danger">*</b></label>
                                    <ng-select (ngModelChange)="onChangedInfraccion($event)" [multiple]="false" [options]="infracciones" [(ngModel)]="infraccionSelected"
                                        name="infracciones" required></ng-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>5. Datos de vehiculo</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Tipo Vehículo</label>
                            <input class="form-control" [(ngModel)]="vehiculo.clase.nombre" name="clase" type="text" disabled="disabled">
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <label>Clase Servicio</label>
                            <input class="form-control" [(ngModel)]="vehiculo.servicio.nombre" name="servicio.nombre" type="text" disabled="disabled">
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <label>Radio Acción</label>
                            <input class="form-control" [(ngModel)]="vehiculo.radioAccion.nombre" name="radioAccion" type="text" disabled="disabled">
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <label>Modalidad Transporte</label>
                            <input class="form-control" [(ngModel)]="vehiculo.modalidadTransporte.nombre" name="modalidadTransporte" type="text" disabled="disabled">
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <label>Transporte Pasajeros</label>
                            <input class="form-control" [(ngModel)]="vehiculo.numeroPasajeros" name="numeroPasajeros" type="text" disabled="disabled">
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <label>Transporte Especial</label>
                            <input class="form-control" [(ngModel)]="vehiculo.numeroPasajeros" name="numeroPasajeros" type="text" disabled="disabled">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <h6 class="text-uppercase text-center gradient">
                                <b>6. Tipo de infractor</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">
                                    <label>Tipo <b class="text-danger">*</b></label>
                                    <ng-select [multiple]="false" [options]="infractorTipos" [(ngModel)]="infractorTipoSelected" name="infractorTipos" required></ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-8">
                            <h6 class="text-uppercase text-center gradient">
                                <b>7. Licencia de tránsito</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-4">
                                    <label>Org.de T.</label>
                                    <input class="form-control" [(ngModel)]="licenciaTransitoDivipoExpide" name="divipoExpideLicencia" type="text" required>
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                    <label>No. del documento</label>
                                    <input class="form-control" [(ngModel)]="licenciaTransito" name="licenciaTransito" type="text" required>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>8. Datos de infractor</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Tipo Identificación</label>
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected" name="tiposIdentificacion"
                            required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-8">
                            <label>Número documento identidad</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        
                        <div class="col-xs-12 col-lg-5">
                            <label>No. Licencia conducción</label>
                            <input class="form-control" [(ngModel)]="licenciaConduccion" name="licenciaConduccion" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Categoria
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" [options]="categorias" [(ngModel)]="categoriaSelected" name="categorias" required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <label>EXP</label>
                            <input class="form-control" [(ngModel)]="fechaVencimiento" name="fechaVencimiento" type="date">
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <label>VEN</label>
                            <input class="form-control" [(ngModel)]="fechaVencimiento" name="fechaVencimiento" type="date">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <label>Nombres y apellidos completos</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Dirección</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <label>Edad</label>
                            <input class="form-control" [(ngModel)]="edad" name="edad" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Telefono fijo/celular</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="ciudadano">
                            <label>Municipio</label>
                            <input class="form-control" [(ngModel)]="licenciaConduccionDivipoExpide" name="divipoExpide" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Correo</label>
                            <input class="form-control" [(ngModel)]="ciudadano.correo" name="correo" type="text">
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>9. Datos del propietario</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Tipo Identificación</label>
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected" name="tiposIdentificacion"
                                required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Número documento identidad</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-5">
                            <label>Nombres y apellidos completos</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>10. Datos de la empresa</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Nombre</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>NIT</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Tarjeta de operación</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>11. Datos del agente de tránsito</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Apellidos y Nombres completos</label>
                            <input class="form-control" type="text" name="agente" value="{{ funcionario.ciudadano.usuario.primerNombre }} {{ funcionario.ciudadano.usuario.primerApellido }}" readonly>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Entidad</label>
                            <input type="text" class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" value="{{ funcionario.sedeOperativa.nombre }}" readonly>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Placa</label>
                            <input type="text" class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" value="{{ funcionario.numeroPlaca }}"
                                readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>12. Datos de la inmovilización</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Patio</label>
                            <ng-select [multiple]="false" [options]="patios" [(ngModel)]="patioSelected" name="patios" required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="form-group">
                                <label>Grúa</label>
                                <ng-select [multiple]="false" [options]="gruas" [(ngModel)]="gruaSelected" name="gruas" required></ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>13. Observaciones del agente de tránsito</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <textarea class="form-control" [(ngModel)]="comparendo.observacionesAgente" id="cedula" name="observacionesAgente" type="textArea"
                                rows="3"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>14. Datos del testigo</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Nombres y apellidos completos</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>CC. No.</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Dirección</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <label>Teléfono</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text">
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <h6 class="text-uppercase text-center gradient">
                                    <b>15. Otros datos</b>
                                </h6>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="comparendo.accidente" class="custom-control-input" id="accidente" name="accidente">
                                    <label class="custom-control-label" for="accidente">Accidente</label>
                                </div>
                            </div>
                    
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="comparendo.fuga" class="custom-control-input" id="fuga" name="fuga">
                                    <label class="custom-control-label" for="fuga">Fuga</label>
                                </div>
                            </div>
                    
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="comparendo.retencionLicencia" class="custom-control-input" id="retencionLicencia" name="retencionLicencia">
                                    <label class="custom-control-label" for="retencionLicencia">Retención de licencia</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="card-footer col-lg-12">
                            <button (click)="onCancelar()" class="btn btn-default">Cancelar</button>
                            <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">Enviar</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div>
</div>