<hr>
<div class="row">
    <div class="col-xs-12 col-lg-4" *ngIf="formSearch">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Factura de parqueadero</b>
                <br>
                <small>Buscar inmovilización</small>
            </div>
            <div class="card-body">
                <form #formIndex="ngForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de filtro</label>
                                <ng-select [multiple]="false" [options]="tiposFiltro" [(ngModel)]="search.tipoFiltro"
                                    name="tipoFiltro" required></ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Filtro</label>
                                <input class="form-control text-uppercase" [(ngModel)]="search.filtro" name="filtro"
                                    type="text" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onSearchInmovilizacion()" [disabled]="formIndex.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-12" *ngIf='formIndex'>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Inmovilizaciones</b>
                </div>
                <div class="card-body">
                    <table class="table" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Placa</th>
                                <th>No. Comparendo</th>
                                <th>Fecha ingreso</th>
                                <th>Estado</th>
                                <th>Salida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let inmovilizacion of inmovilizaciones; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ inmovilizacion.placa }}</td>
                            <td>{{ inmovilizacion.numeroComparendo }}</td>
                            <td>{{ (inmovilizacion.fechaIngreso.timestamp * 1000) | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                {{ inmovilizacion.estado }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button *ngIf="inmovilizacion.estado == 'AUTORIZADO'" (click)="onSelected(inmovilizacion)" class="btn btn-xs btn-success" type="button">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive --> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-12" >
        <div class="col-xs-12 col-lg-12" *ngIf='inmovilizacion && formSolicitante'>
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Buscar solicitante</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected" name="idTipoIdentificacion" required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Identificacion" [(ngModel)]="identificacion" name="identificacion" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchCiudadano()" class="btn btn-default btn-success"
                                        type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf='ciudadano'>
                        <div class="col-xs-12 col-lg-12">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr class="odd">
                                        <td>
                                            <b>Tipo de identificación</b>
                                            <br> {{ ciudadano.tipoIdentificacion.nombre }}
                                        </td>
                                        <td>
                                            <b>Numero de identificación</b>
                                            <br> {{ ciudadano.identificacion }}
                                        </td>
                                        <td>
                                            <b>Ciudadano</b>
                                            <br> {{ ciudadano.primerNombre }} {{ ciudadano.segundoNombre }} {{ ciudadano.primerApellido
                                            }} {{ ciudadano.segundoApellido }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                    </div>

                    <div class="row" *ngIf='ciudadano && inmovilizacion'>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <a href="{{ apiUrl }}/{{ comparendo.id }}/pdf" class="btn btn-primary" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                    Visualizar comparendo
                                </a>
                                <a *ngIf="inmovilizacion.salida" href="{{ apiUrl }}/{{ inmovilizacion.id }}/exit/pdf"
                                    class="btn btn-primary" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                    Autorización
                                </a>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-xs-12 col-lg-8">
                                <form #facturaForm="ngForm">
                                    <div class="card">
                                        <div class="card-header">
                                            <b class="text-uppercase">Nueva factura de parqueadero</b>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12 col-lg-6">
                                                        <label>Fecha de salida</label>
                                                        <input class="form-control text-uppercase" [(ngModel)]="factura.fechaSalida"
                                                            name="fechaSalida" type="date" required>
                                                    </div>
                                                    <div class="col-xs-12 col-lg-6">
                                                        <label>Hora de salida</label>
                                                        <input class="form-control text-uppercase" [(ngModel)]="factura.horaSalida"
                                                            name="horaSalida" type="time" required>
                                                    </div>
                                                    <div class="col-xs-12 col-lg-12">
                                                        <label>Valor parqueadero</label>
                                                        <input (blur)="onCalcularTotal()" class="form-control text-uppercase" [(ngModel)]="factura.valorParqueadero"
                                                            name="valorParqueadero" type="number" required>
                                                    </div>
                                                    <div class="col-xs-12 col-lg-12">
                                                        <label>Valor grúa</label>
                                                        <input (blur)="onCalcularTotal()" class="form-control text-uppercase" [(ngModel)]="factura.valorGrua"
                                                            name="valorGrua" type="number" required>
                                                    </div>
                                                    <div class="col-xs-12 col-lg-12">
                                                        <label>Valor total</label>
                                                        <input class="form-control text-uppercase" [(ngModel)]="factura.valor"
                                                            name="valor" type="number" disabled required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="btn-group">
                                                <button (click)="onEnviar()" class="btn btn-primary" type="button">
                                                    <i class="fa fa-save"></i>
                                                    Enviar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
            <app-new-ciudadano *ngIf='formCiudadano' [tipoIdentificacion]="tipoIdentificacionSelected" [identificacion]="identificacion"></app-new-ciudadano>
        -->
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="factura.id">
        <div class="card"><!-- .card -->
            <div class="card-header">
                <b class="text-uppercase">Detalles de factura</b>
            </div>
            <div class="card-body">
                <table style="border:none;">
                    <tr>
                        <td>
                            <img src="{{ apiUrl }}img/logo-entidad.png" height="40px" />
                        </td>
                        <td>
                            <img src="{{ apiUrl }}img/logo-banco.png" height="40px" />
                        </td>
                        <td style="text-align:right;">
                            <span style="border:1px solid #000;text-align:center;background-color: #ccc;padding:5px;font-size:20px">
                                <b>{{ factura.numero }}</b>
                            </span>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered table-striped" width="50%">
                    <tr>
                        <td><b>Ciudad:</b><br>  {{ municipio }}</td> 
                        <td><b>Fec. Creación:</b><br> {{ fechaCreacion }}</td>
                        <td><b>Fec. Vencimiento:</b><br> {{ fechaVencimiento }}</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <a href="{{ apiUrl }}financiero/froFactura/4/{{ factura.id }}/pdf" class="btn btn-success" target="_blank">
                    <i class="fa fa-file-pdf-o"></i>
                    Generar PDF
                </a>
            </div>
        </div><!-- /.card -->
    </div>
</div>