<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Forum</h3>
        <p>Start Discusion and find the perfact solution</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
          <div class="card ">
              <div class="card-header "> 
                    <h4 class="forum_title">All about template and details</h4>
                    <p class="">We have provided many different components along with the different CSS stylesheet.</p>
                    <a href="" class="btn btn-outline-danger btn-sm ml-0">Bootstrap</a> <a href="" class="btn btn-outline-info btn-sm">AdminUX</a> <a href="" class="btn btn-outline-primary btn-sm">Creativity</a>
                    <hr>
                    <div class="list-unstyled comment-list">
                        <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                            <div class="media-body">
                            <h6 class="mt-0 mb-1"><a href="#">Rahul Akshay</a></h6>
                            2:00 pm, 20 May, 2017 </div>
                        </div>
                    </div>
              </div>
                <div class="card-body">
                    <h5 class="text-white">Responsive HTML admin template</h5>
                    <p>We have provided many different components along with the different CSS stylesheet which provides customization to main frontend and you can use for different plateform and projects. However we have also included SCSS files so you can easily change color scheme as per your brand color or choices. We have used bootstrap 4 the new generation framework.</p>
                    <p>We have created many components like User cards, notes, Messages windowa, mailbox, invoices also we have customized many third party plugin like Flexisliders, Maps, Charts, Tables, Wizards, Range Sliders, Clipboards, Context menus and many more...</p>
                    <p>With AdminUX we provide 100+ pages and 100+ customized third party widget, Components and elements. We created many usefull pages like Products, Login, Registers, Mailbox, User profiles, 6 Dashbaords, 5+ themes, 6+ layout options and many more..</p>
                    <p>We have provided many different components along with the different CSS stylesheet which provides customization to main frontend and you can use for different plateform and projects. However we have also included SCSS files so you can easily change color scheme as per your brand color or choices. We have used bootstrap 4 the new generation framework.</p>
                    <div class="col ">
                      <button class="btn btn-link text-primary mr-2"><i class="fa fa-heart-o text-danger"></i> <span class="text">Like</span> <span class="text-white">(35)</span></button>
                      <button class="btn btn-link text-primary mr-2"><i class="fa fa-comments text-warning"></i> <span class="text">Comment</span> <span class="text-white">(6)</span></button>
                      <button class="btn btn-link text-primary mr-2"><i class="fa fa-share text-success"></i><span class="text"> Share</span> <span class="text-white">(10)</span></button>
                    </div>
                    <br><hr><br>
                    
                    <div class="notes notes-warning ">
                        <strong>Login Required!</strong><br>We have noticed you have enjoyed discussion and you're interested, Please login to add comment!
                    </div>
                    <div class="list-unstyled comment-list">
                      <div class="media comment"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <input type="text" class="form-control" placeholder="Write comment">
                        </div>
                        <button class="btn btn-primary">Comment</button>
                      </div>
                      <hr>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                          <p class="description">This is awesome product and, I am very happy with delivery andamp; product packaging. Overall experience is good andamp; I prefer to buy it again from this portals and like more orders.</p>
                          <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                          <p class="description">This is awesome product and, I am very happy with delivery andamp; product packaging. Overall experience is good andamp; I prefer to buy it again from this portals and like more orders.</p>
                          <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                          <p class="description">This is awesome product and, I am very happy with delivery andamp; product packaging. Overall experience is good andamp; I prefer to buy it again from this portals and like more orders.</p>
                          <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                          <button class="btn btn-outline-primary btn-round mr-2">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="card-footer text-center"> <a href="#">View all 10+ comments</a> </div>
          </div>              
      </div>
    </div>
  </div>