<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Editar un servicio</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <label>Nombre <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="servicio.nombre" name="nombre" type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Codigo <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="servicio.codigo" name="codigo" type="number" required>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="onEnviar()" class="btn btn-primary" type="button">Enviar</button>
                <button (click)="onCancelar()" class="btn btn-default"><i class="fa fa-times"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>