<div class="row">
    <div class="col-sm-16">
        <div class="card">
        <div class="card-body">
            <h5 class="m-0">formulario para editar una persona natural</h5>
            <hr> 
            <div class="row justify-content-center">
                <form #ciudadanoForm="ngForm">
                </form>
                <div class="col-md-10 ">
                    <div class="form-group row">
                        <div class="col-xs-16 col-lg-8">
                            <label>Tipo Identificacion*</label>
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected" required name="departamentoId">
                            </ng-select>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Identificacion*</label>
                            <input class="form-control" [(ngModel)]="ciudadano.numeroIdentificacionUsuario" name="numeroIdentificacionUsuario" placeholder="" type="number"
                                required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Fecha Expedición Documento</label>
                            <input class="form-control" [(ngModel)]="ciudadano.fechaExpedicionDocumento" name="fechaExpedicionDocumento" placeholder=""
                                type="date" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Genero*</label>
                            <ng-select [multiple]="false" [options]="generos" [(ngModel)]="generoSelected" required name="generoId">
                            </ng-select>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Primer Nombre*</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerNombreUsuario" name="primerNombreUsuario" placeholder="" type="text" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Segundo Nombre*</label>
                            <input class="form-control" [(ngModel)]="ciudadano.segundoNombreUsuario" name="segundoNombreUsuario" placeholder="" type="text" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Primer Apellido*</label>
                            <input class="form-control" [(ngModel)]="ciudadano.primerApellidoUsuario" name="primerApellidoUsuario" placeholder="" type="text" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Segundo Apellido*</label>
                            <input class="form-control" [(ngModel)]="ciudadano.segundoApellidoUsuario" name="segundoApellido" placeholder="" type="text" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Grupo Sanguineo*</label>
                            <ng-select [multiple]="false" [options]="gruposSanguineos" [(ngModel)]="grupoSanguineoSelected" required name="grupoSanguineoId">
                            </ng-select>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Municipio Nacimiento*</label>
                            <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="municipioNacimientoSelected" required name="departamentoId">
                            </ng-select>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Municipio Residencia*</label>
                            <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="municipioResidenciaSelected" required name="departamentoId">
                            </ng-select>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Edad*</label>
                            <input class="form-control" [(ngModel)]="ciudadano.edad" name="edad" placeholder="" type="text" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Telefono*</label>
                            <input class="form-control" [(ngModel)]="ciudadano.telefonoUsuario" name="telefonoUsuario" placeholder="" type="text" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Direccion Residencia</label>
                            <input class="form-control" [(ngModel)]="ciudadano.direccion" name="direccion" placeholder="" type="text" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Direccion Trabajo</label>
                            <input class="form-control" [(ngModel)]="ciudadano.direccionTrabajo" name="direccionTrabajo" placeholder="" type="text" required>
                        </div>
                        <div class="col-xs-16 col-lg-8">
                            <label>Correo</label>
                            <input class="form-control" [(ngModel)]="ciudadano.correoUsuario" name="correoUsuario" placeholder="" type="email" required>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-secondary">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
                <button (click)="onEnviar()" [disabled]="ciudadanoForm.invalid" class="btn btn-outline-primary pull-right" type="button">
                    <i class="fa fa-floppy-o"></i>
                    Enviar
                </button>
            </div>    
        </div>
    </div>
</div>