<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Editar tipo de correspondencia</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formEdit="ngForm"> 
                    <div class="form-group row">
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Código <strong class="text-danger">*</strong></label>
                                <input class="form-control" [(ngModel)]="clave.codigo" name="codigo" type="text" required />
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Observación <strong class="text-danger">*</strong></label>
                                <textarea class="form-control" [(ngModel)]="clave.observacion" name="observacion" id="summernote" required></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                    <button (click)="onEnviar()" [disabled]="formEdit.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>