<div class="row ">
    <div class="col-xs-16 col-lg-10 ">
        <div class="card">
            <div class="card-body ">
                <h5 class="m-0">Nueva persona jurídica</h5>
                <hr>
                <form #formNew="ngForm">
                    <div class="row justify-content-center container">
                        <div class="form-group row">
                            <!-- informacion  especifica de la nueva empresa-->
                            <div class="col-xs-16 col-lg-10">
                                <label>Razon social
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" [(ngModel)]="empresa.nombre" name="nombre" placeholder="" type="text" required>
                            </div>
                            <div class="col-xs-16 col-lg-6">
                                <label>Sigla</label>
                                <input class="form-control" [(ngModel)]="empresa.sigla" name="sigla" placeholder="" type="text">
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Nro. NIT</label>
                                <input class="form-control" [(ngModel)]="empresa.nit" name="nit" placeholder="" type="text">
                            </div>
                            <div class="col-xs-16 col-lg-4">
                                <label>DV</label>
                                <input class="form-control" [(ngModel)]="empresa.dv" name="dv" placeholder="" type="text">
                            </div>
                            <div class="col-xs-16 col-lg-4">
                                <label>Tipo identificación
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected" required name="tipoIdentificacionId">
                                </ng-select>
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Capital pagado</label>
                                <input class="form-control" [(ngModel)]="empresa.capitalPagado" name="capitalPagado" placeholder="" type="text">
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Patrimonio liquido</label>
                                <input class="form-control" [(ngModel)]="empresa.patrimonioLiquido" name="patrimonioLiquido" placeholder="" type="text">
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Empresa prestadora
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" [(ngModel)]="empresa.empresaPrestadora" name="empresaPrestadoraSelected" placeholder="elija una opción"
                                    required>
                                    <option value="1">si</option>
                                    <option value="0">no</option>
                                </select>
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Certificado existencial</label>
                                <input class="form-control" [(ngModel)]="empresa.certificadoExistencial" name="certificadoExistencial" placeholder="" type="text">
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Tipo sociedad
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="tiposSociedad" [(ngModel)]="tipoSociedadSelected" required name="tipoSociedadId">
                                </ng-select>
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Tipo entidad
                                </label>
                                <select class="form-control" name="tipoEntidadSelected" [(ngModel)]="empresa.tipoEntidad">
                                    <option value="Empresa del estado">Empresa del estado</option>
                                    <option value="Empresa privada">Empresa privada</option>
                                    <option value="Empresa publica">Empresa publica</option>
                                    <option value="Empresa sin ánimo de lucro">Empresa sin ánimo de lucro</option>
                                </select>
                            </div>
                            <!-- fin informacion  especifica -->
                            <!-- seleccion ubicacion geografica -->
                            <div class="col-xs-16 col-lg-8">
                                <label>Municipio
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="municipioSelected" required name="municipioId">
                                </ng-select>
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Nro. Registro mercantil
                                </label>
                                <input class="form-control" [(ngModel)]="empresa.nroRegistro" name="nroRegistro" placeholder="" type="text" required>
                            </div>
                            <!-- fin ubicacion -->
                            <!-- fecha VENCE -->
                            <div class="col-xs-16 col-lg-8">
                                <label> Fecha de vencimiento de registro mercantil
                                </label>
                                <input class="form-control" [(ngModel)]="empresa.fechaDeVencimiento" name="fechaDeVencimiento" type="date" min="0" />
                                <br>
                            </div>
                            <!--  -->
                            <!-- DATOS DE DIRECCION -->
                            <hr>
                            <h5 class="col-xs-16 col-lg-16">Datos dirección </h5>
                            <!-- datos dirección -->
                            <div class="col-xs-16 col-lg-8">
                                <label>Dirección*</label>
                                <input class="form-control" [(ngModel)]="empresa.direccion" name="direccion" placeholder="" type="text" required>
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Telefono</label>
                                <input class="form-control" [(ngModel)]="empresa.telefono" name="telefono" placeholder="" type="number" min="0" required>
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Celular</label>
                                <input class="form-control" [(ngModel)]="empresa.celular" name="celular" placeholder="" type="number" min="0" required>
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Correo electrónico</label>
                                <input class="form-control" [(ngModel)]="empresa.correo" name="correo" placeholder="" type="email" required>
                            </div>
                            <div class="col-xs-16 col-lg-8">
                                <label>Fax</label>
                                <input class="form-control" [(ngModel)]="empresa.fax" name="fax" placeholder="" type="email" required>
                            </div>
                            <br>
                            <!-- fin DATOS DIRECCION -->
                            <!-- DATOS REPRESENTANTE  -->
                            <h5 class="col-xs-16 col-lg-16">Datos representante</h5>
                            <div class="col-xs-16 col-lg-8">
                                <label>Ciudadano
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="ciudadanos" [(ngModel)]="ciudadanoSelected" required name="ciudadanoId">
                                </ng-select>
                            </div>
                            <!-- FIN REPRESENTANTE -->
                            <!-- SUCURSAL  -->
                            <h5 class="col-xs-16 col-lg-16">Agregar sucursal</h5>
                            <button>Sucursal</button>
                            <!-- FIN SUCURSAL -->
                        </div>
                    </div>
                    <div class="card-footer">
                        <button (click)="onCancelar()" class="btn btn-secondary">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-outline-primary" type="button">
                            <i class="fa fa-floppy-o"></i>
                            Enviar
                        </button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>