<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="m-0">Editar Genero</h5>
                <hr> 
                <div class="row justify-content-center">
                    <form #infraccionForm="ngForm">
                        <div class="form-group row">                  
                            <div class="col-xs-12 col-lg-12">
                                <label>Codigo*</label>
                                <input class="form-control" [(ngModel)]="infraccion.codigo" name="codigo" placeholder="Codigo" type="text" required />
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Descripcion*</label>
                                <textarea class="form-control" [(ngModel)]="infraccion.descripcion" name="descripcion" placeholder="Descripción" required></textarea>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Valor
                                    <small>(SMLV)</small>*</label>
                                <input class="form-control" [(ngModel)]="infraccion.valor" name="valor" placeholder="Valor" type="number" required />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Inmovilización*</label>
                                <input class="form-control" [(ngModel)]="infraccion.inmovilizacion" name="inmovilizacion" type="checkbox"  />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Suspensión de licencia*</label>
                                <input class="form-control" [(ngModel)]="infraccion.suspensionLicencia" name="suspensionLicencia" type="checkbox" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="onCancelar()" class="btn btn-secondary">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                    <button (click)="onEnviar()" [disabled]="infraccionForm.invalid" class="btn btn-outline-primary" type="button">
                        <i class="fa fa-floppy-o"></i>
                        Enviar
                    </button>
                </div>    
            </div>
        </div>
    </div>
</div>