<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="activity-block">
          <div class="media">
            <div class="media-body">
              <h5>$ <span class="spincreament">72548</span></h5>
              <p>Total Profit</p>
            </div>
            <i class="fa fa-cubes"></i> </div>
          <br>
          <div class="media">
            <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
            <span><span class="dynamicsparkline">Loading..</span> </span> </div>
          <div class="row">
            <div class="progress ">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="trackerball"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="activity-block">
          <div class="media">
            <div class="media-body">
              <h5><span class="spincreament">72548</span><span class="badge badge-danger ml-2 "><i class="fa fa-caret-down"></i></span></h5>
              <p>Active Users</p>
            </div>
            <i class="fa fa-users"></i> </div>
          <br>
          <div class="media">
            <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
            <span><span class="dynamicsparkline">Loading..</span> </span> </div>
          <div class="row">
            <div class="progress ">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="trackerball"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="activity-block">
          <div class="media">
            <div class="media-body">
              <h5><span class="spincreament">2548</span><span class="badge badge-success ml-2 "><i class="fa fa-caret-up"></i></span></h5>
              <p>New Orders</p>
            </div>
            <i class="fa fa-cart-arrow-down"></i> </div>
          <br>
          <div class="media">
            <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
            <span><span class="dynamicsparkline">Loading..</span> </span> </div>
          <div class="row">
            <div class="progress ">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"><span class="trackerball"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title pull-left">Estadisticas <small>gestión documental</small></h5>
          </div>
          <div class="card-body">
            <div style="display: block">
              <canvas baseChart height="125" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
          <div class="card-footer"> </div>
        </div>
      </div>
    
      <div class="col-md-12 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title pull-left">Audiencias programadas</h5>
          </div>
          <div class="card-body">
            <div id='calendar'></div>
          </div>
          <div class="card-footer"> </div>
        </div>
      </div>
    </div>
  </div>