<div class="container">
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <b class="text-uppercase">Configuración de Tipos de maquinaria</b>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let tipoMaquinaria of tiposMaquinaria; let i = index">
                  <td >{{ i + 1 }}</td>
                  <td >{{ tipoMaquinaria.nombre }}</td>
                  <td >{{ tipoMaquinaria.codigo }}</td>
                  <td>
                    <button (click)="onEdit(tipoMaquinaria)" class="btn btn-xs btn-info" type="button">
                      <i class="fa fa-edit"></i>
                      Editar
                    </button> 
                    <button (click)="onDelete(tipoMaquinaria.id)"  class="btn btn-xs btn-danger" type="button">
                      <i class="fa fa-trash"></i>
                      Eliminar
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    
    <app-edit-vhlocfgtipomaquinaria *ngIf='formEdit' [tipoMaquinaria]="tipoMaquinaria" (ready)="ready($event)"></app-edit-vhlocfgtipomaquinaria>
    <app-new-vhlocfgtipomaquinaria *ngIf='formNew' (ready)="ready($event)"></app-new-vhlocfgtipomaquinaria>
</div>