<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Products</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product">
          <label class="ribbon top-left danger mt-2"><span class="fa fa-star"></span></label>
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product1.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title ">Product name/title <i class="fa fa-heart-o text-danger pull-right"></i></h5>
            </a>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1 active">S</button>
              <button class=" btn-outline-primary mr-1">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product">
          <label class="ribbon top-left danger mt-2"><span class="fa fa-star"></span></label>
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product6.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title ">Product name/title <i class="fa fa-heart text-danger pull-right"></i></h5>
            </a>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1">S</button>
              <button class=" btn-outline-primary mr-1 active">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product">
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product5.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title ">Product name/title <i class="fa fa-heart text-danger pull-right"></i></h5>
            </a>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1">S</button>
              <button class=" btn-outline-primary mr-1">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product">
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product4.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title ">Product name/title <i class="fa fa-heart-o text-danger pull-right"></i></h5>
            </a>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1">S</button>
              <button class=" btn-outline-primary mr-1">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product">
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product2.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart-o text-danger pull-right"></i></h5>
            </a>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1">S</button>
              <button class=" btn-outline-primary mr-1">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product">
          <label class="ribbon top-left danger mt-2"><span class="fa fa-star"></span></label>
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product3.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart text-danger pull-right"></i></h5>
            </a>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-warning mr-1">S</button>
              <button class=" btn-outline-warning mr-1">M</button>
              <button class=" btn-outline-warning mr-1">L</button>
              <button class=" btn-outline-warning mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product">
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product1.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart-o text-danger pull-right"></i></h5>
            </a>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-danger mr-1">S</button>
              <button class=" btn-outline-danger mr-1">M</button>
              <button class=" btn-outline-danger mr-1">L</button>
              <button class=" btn-outline-danger mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product">
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product6.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart text-danger pull-right"></i></h5>
            </a>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-success mr-1">S</button>
              <button class=" btn-outline-success mr-1">M</button>
              <button class=" btn-outline-success mr-1">L</button>
              <button class=" btn-outline-success mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product bg-primary text-white">
          <label class="ribbon top-left danger mt-0"><span class="fa fa-star"></span></label>
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product5.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart-o pull-right"></i></h5>
            </a>
            <h3 class="text-white">$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-white mr-1">S</button>
              <button class=" btn-outline-white mr-1">M</button>
              <button class=" btn-outline-white mr-1">L</button>
              <button class=" btn-outline-white mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-success">Add to cart</a> <a href="#" class="btn btn-link  text-white">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product bg-warning text-white">
          <label class="ribbon top-left danger mt-0"><span class="fa fa-star"></span></label>
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product4.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart pull-right"></i></h5>
            </a>
            <h3 class="text-white">$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-white mr-1">S</button>
              <button class=" btn-outline-white mr-1">M</button>
              <button class=" btn-outline-white mr-1">L</button>
              <button class=" btn-outline-white mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link  text-white">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product bg-danger text-white">
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product3.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart pull-right"></i></h5>
            </a>
            <h3 class="text-white">$ 204 <small class=""><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-white mr-1">S</button>
              <button class=" btn-outline-white mr-1">M</button>
              <button class=" btn-outline-white mr-1">L</button>
              <button class=" btn-outline-white mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link  text-white">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-16 col-lg-8 col-xl-4">
        <div class="card product bg-success text-white">
          <figure class="product_img  align-items-center justify-content-between d-flex"><a href="product_details.html"><img class="" src="assets/img/product2.jpg" alt=""></a></figure>
          <div class="card-body"> <a href="product_details.html">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart-o pull-right"></i></h5>
            </a>
            <h3 class="text-white">$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-white mr-1">S</button>
              <button class=" btn-outline-white mr-1">M</button>
              <button class=" btn-outline-white mr-1">L</button>
              <button class=" btn-outline-white mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link text-white">View More</a> </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>