<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngIf="formIndex">
      <div class="card">
        <div class="card-header">
          <b class="text-uppercase">Ordenes de comparendo</b>
        </div>
        <div class="card-body">
          <div class="btn-group pull-right">
            <button (click)="onFormUpload()" class="btn btn-default">
              <i class="fa fa-upload"></i>
              Cargar archivo
            </button>
            <button (click)="onNew()" class="btn btn-primary">
              <i class="fa fa-plus"></i>
              Nuevo
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-4" *ngIf="formUpload">
      <form #formNew="ngForm">
        <div class="card">
          <div class="card-header">
            <b class="text-uppercase">Cargar archivo</b>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-lg-12">
                  <label>Organismo transito</label>
                  <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="datos.idOrganismoTransito" name="idOrganismoTransito" required>
                  </ng-select>
                </div>
                <div class="col-xs-12 col-lg-12">
                  <label>Fuente del archivo</label>
                  <ng-select [multiple]="false" [options]="tiposFuente" [(ngModel)]="datos.tipoFuente" name="tipoFuente" required>
                  </ng-select>
                </div>
                <div class="col-xs-12 col-lg-12">
                  <label>Adjuntar documento <b class="text-danger">*</b> <small>(.txt)</small></label>
                  <input class="form-control" type="file" (change)="onFileChange($event)" required>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group">
              <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                <i class="fa fa-save"></i>
                Enviar
              </button>
              <button (click)="onCancelar()" class="btn btn-default">
                <i class="fa fa-times"></i>
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-8" *ngIf="formDetails">
      <table class="table " id="dataTables-example">
        <thead>
          <tr>
            <th>#</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd" *ngFor="let detalle of detalles; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <ng-container *ngFor="let registro of detalle.registros; let j = index">
                <span class="badge badge-success" *ngIf="registro.code == 200">{{ registro.message }}</span>
                <span class="badge badge-danger" *ngIf="registro.code == 400">{{ registro.message }}</span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row" *ngIf='formNew'>
    <div class="col-xs-12 col-lg-12">
      <app-new-cvcdocomparendo></app-new-cvcdocomparendo>
    </div>
  </div>


<!-- <app-edit *ngIf='formEdit' [cuenta]="cuenta" (ready)="ready($event)"></app-edit>
    > --> 
</div>

<!-- <app-edit *ngIf='formEdit' [cuenta]="cuenta" (ready)="ready($event)"></app-edit>
    > --> 