<div class="container">
   <hr>
   <div class="row" *ngIf='formIndex'>
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="card-title">
                  <b class="text-uppercase">Plan estratégico de seguridad vial <small>Buscar</small></b>
                  <br>
               </h5>
            </div>
            <div class="card-body">
               <div class="row">
                  <!-- .row -->
                  <div class="col-xs-12 col-lg-6">
                     <input type="text" class="form-control" placeholder="Nombre empresa" [(ngModel)]="datos.parametro"
                        name="parametro" required />
                  </div>
                  <div class="col-xs-12 col-lg-6">
                     <div class="input-group">
                        <input type="number" class="form-control" placeholder="NIT" [(ngModel)]="datos.parametro2"
                           name="parametro2" required />
                        <span class="input-group-btn">
                           <button (click)="onKeyValidateEvaluacion()" class="btn btn-default btn-success"
                              type="button"><i class="fa fa-search"></i></button>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="btn-group pull-right" *ngIf="empresaNoEncontrada">
            <button (click)="onNewEmpresa()" class="btn btn-info" type="button"><span class="text">Agregar
                  Empresa</span> <i class="ti-save ml-2"></i></button>
         </div>
         <!-- tabla de detalles de la empresa -->
         <div class="card" *ngIf="empresaEncontrada">
            <div class="card-header">
               <h5 class="text-uppercase">Detalles empresa</h5>
            </div>
            <div class="card-body">
               <div class="form-group row">
                  <div class="col-xs-12 col-lg-12">
                     <div class="col-lg-12 col-md-12">
                        <table class="table table-bordered table-striped">
                           <tbody>
                              <tr>
                                 <td>
                                    <strong>Nombre: </strong>
                                    <br>{{ miEmpresa.nombre }}
                                 </td>
                                 <td>
                                    <strong>NIT: </strong>
                                    <br>{{ miEmpresa.nit }}
                                 </td>
                                 <td>
                                    <strong>Ciudad Sede Principal: </strong>
                                    <br>{{ miEmpresa.municipio.nombre }}
                                 </td>

                                 <td>
                                    <strong>Dirección: </strong>
                                    <br>{{ miEmpresa.direccion }}
                                 </td>
                                 <td>
                                    <strong>Teléfono: </strong>
                                    <br>{{ miEmpresa.telefono }}
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card" *ngIf="empresaEncontrada">
            <div class="card-header">
               <h5 class="text-uppercase">Lista de revisiones
                  <div class="btn-group pull-right">
                     <button (click)="onNewRevision()" class="btn btn-info" type="button"><span class="text">Agregar
                           Revisión</span> <i class="ti-save ml-2"></i></button>
                  </div>
               </h5>
            </div>
            <div class="card-body" *ngIf="miRevision">
               <div class="row">
                  <div class="col-xs-12 col-lg-12">
                     <div class="col-lg-12 col-md-12">
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th><b>Número Radicado</b></th>
                                 <th><b>Consecutivo</b></th>
                                 <th><b>Fecha de recepción</b></th>
                                 <th><b>Fecha de revisión</b></th>
                                 <th><b>Fecha de devolución</b></th>
                                 <th><b>Fecha de otorgamiento</b></th>
                                 <th><b>Funcionario que revisa</b></th>
                                 <th><b>Persona contacto</b></th>
                                 <th><b>Cargo</b></th>
                                 <th><b>Correo electrónico</b></th>
                                 <th><b>Puntaje Evaluación</b></th>
                                 <th><b>Acciones</b></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="odd" *ngFor="let revision of revisiones; let i = index">
                                 <td>
                                    {{revision.numeroRadicado}}
                                 </td>
                                 <td>
                                    {{revision.consecutivo}}
                                 </td>
                                 <td>
                                    {{revision.fechaRecepcion}}
                                 </td>
                                 <td>
                                    {{revision.fechaRevision}}
                                 </td>
                                 <td>
                                    {{revision.fechaDevolucion}}
                                 </td>
                                 <td>
                                    {{revision.fechaOtorgamiento}}
                                 </td>
                                 <td>
                                    {{revision.funcionario.ciudadano.primerNombre}}
                                    {{revision.funcionario.ciudadano?.segundoNombre}}
                                    {{revision.funcionario.ciudadano.primerApellido}}
                                 </td>
                                 <td>
                                    {{revision.personaContacto}}
                                 </td>
                                 <td>
                                    {{revision.cargo}}
                                 </td>
                                 <td>
                                    {{revision.correo}}
                                 </td>
                                 <td>
                                    <span *ngIf="revision.evaluacion">{{ revision.evaluacion?.resultadofinal }}%</span>
                                    <span *ngIf="!revision.evaluacion"></span>
                                 </td>
                                 <td>
                                    <div class="btn-group">
                                       <button (click)="editRevision(revision)" class="btn btn-xs btn-primary"
                                          type="button">
                                          <i class="fa fa-edit"></i>
                                       </button>
                                       <button *ngIf="!revision.evaluacion" (click)="iniciarEvaluacion(revision)"
                                          class="btn btn-success">
                                          <i class="fa fa-plus"></i>
                                          Nueva Evaluacion
                                       </button>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="card" *ngIf="miEmpresa">
            <div class="card-header">
               <h5 class="text-uppercase">Valores Agregados
               </h5>
            </div>
            <div class="card-body">
               <div class="form-group row">
                  <div class="col-lg-6 col-md-6">
                     <label>¿Dese agregar valores agregados para la empresa?</label>
                     <div class="form-group row">
                        <div class="col-xs-12 col-lg-6">
                           <div class="custom-control custom-radio">
                              <input id="radioValorAgregadoSi" name="valorAgregado" [(ngModel)]="valorAgregado"
                                 value="1" type="radio" id="customRadioValorAgregado1" name="customRadiValorAgregado"
                                 class="custom-control-input">
                              <label class="custom-control-label" for="customRadioValorAgregado1">Si</label>
                           </div>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                           <div class="custom-control custom-radio">
                              <input id="radioPlacaNo" name="portaPlaca" [(ngModel)]="ValorAgregado" value="0"
                                 type="radio" id="customRadioValorAgregado2" name="customRadioValorAgregado"
                                 class="custom-control-input">
                              <label class="custom-control-label" for="customRadioValorAgregado2">No</label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th><b>PARÁMETRO-DEFINICIÓN</b></th>
                           <!--<th><b>VARIABLES</b></th>
                           <th><b>CRITERIO DEL AVAL</b></th>
                           <th><b>APLICA</b></th>
                           <th><b>EVIDENCIAS DE SU EXISTENCIA</b></th>
                           <th><b>RESPONDE A LOS REQUERIMIENTOS</b></th>
                           <th><b>VALOR DE LA VARIABLE</b></th>
                           <th><b>VALOR OBTENIDO</b></th>
                           <th><b>OBSERVACIONES</b></th>-->
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <input class="form-control" type="text" name="parametro" required>
                           </td>
                           <!--<td>
                              <input>
                           </td>
                           <td>
                              <input>
                           </td>
                           <td>
                              <input>
                           </td>-->
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="card" *ngIf="miEmpresa && mostrarTablaEvaluacion">
            <div class="card-header">
               <h5 class="text-uppercase">Nueva Evaluación
               </h5>
            </div>
            <div class="card-body">
               <label>Categoria <strong class="text-danger">*</strong></label>
               <ng-select [multiple]="false" [options]="msvCategorias" (ngModelChange)="changedCategoria($event)"
                  [(ngModel)]="categoriaSelected" required name="idCategoria">
               </ng-select>
               <div *ngFor="let msvCategoria of msvCategorias; let i=index">
                  <!--<div class="row" *ngIf="categoriaSelected  == msvCategoria.id">-->
                  <div class="row" *ngIf="categoriaSelected == i+1">
                     <!-- <div class="row" *ngIf="categoriaSelected == i+1 && showT">-->
                     <div class="col-xs-12 col-lg-12">
                        <div class="card">
                           <div class="card-body" style="width:1200 px; overflow-x: auto;">
                              <div class="row text-center text-uppercase"
                                 style="vertical-align:middle; line-height:normal;">
                                 <div class="col-lg-2" style="border:1px solid #cccccc;">
                                    <b>Parámetro-Definición</b></div>
                                 <div class="col-lg-10" style="border:1px solid #cccccc;">
                                    <div class="row">
                                       <div class="col-lg-3"><b>Variables</b></div>
                                       <div class="col-lg-9">
                                          <div class="row">
                                             <div class="col-lg-2" style="border:1px solid #cccccc;">
                                                <b>Criterio de aval</b></div>
                                             <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                <b>Aplica</b></div>
                                             <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                <b>Evidencias de su
                                                   existencia</b></div>
                                             <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                <b>Responde a los
                                                   requerimientos</b></div>
                                             <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                <b>Valor de la variable</b></div>
                                             <div class="col-lg-2" style="border:1px solid #cccccc;">
                                                <b>Valor obtenido</b></div>
                                             <div class="col-lg-4" style="border:1px solid #cccccc;">
                                                <b>Observaciones</b></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row" *ngFor="let msvParametro of msvParametros; let i=index">
                                 <div class="col-lg-12" style="border:1px solid #cccccc;">
                                    <div class="row">
                                       <div class="col-lg-2"
                                          style="border:1px solid #cccccc; overflow-y:auto; text-align:center; vertical-align:middle;">{{
                                                               msvParametro.name }}</div>
                                       <div class="col-lg-10" style="border:1px solid #cccccc;">
                                          <div class="row"
                                             *ngFor="let msvVariable of msvParametro.variables; let i=index">
                                             <div class="col-lg-3" style="border:1px solid #cccccc;">
                                                {{ msvVariable.name }}</div>
                                             <div class="col-lg-9" style="border:1px solid #cccccc;">
                                                <div class="row"
                                                   *ngFor="let msvCriterio of msvVariable.criterios; let i=index">
                                                   <div class="col-lg-2" style="border:1px solid #cccccc;">
                                                      {{ msvCriterio.name }}
                                                   </div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      <input type="checkbox" [(ngModel)]="msvCriterio.aplica"
                                                         name="aplica{{ msvCriterio.id }}"></div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      <input type="checkbox" [(ngModel)]="msvCriterio.evidencia"
                                                         name="evidencia{{ msvCriterio.id }}"></div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      <input type="checkbox"
                                                         (ngModelChange)="calcularTotal($event, msvParametro, categoriaSelected)"
                                                         [(ngModel)]="msvCriterio.responde"
                                                         name="responde{{ msvCriterio.id }}"></div>
                                                   <div class="col-lg-1" style="border:1px solid #cccccc;">
                                                      {{ msvParametro.valor
                                                                                 /msvParametro.numeroVariables | number:'1.1-2' }}</div>
                                                   <div class="col-lg-2" style="border:1px solid #cccccc;">
                                                      <label
                                                         *ngIf="msvCriterio.responde == true">{{ msvParametro.valor
                                                                                    /msvParametro.numeroVariables | number:'1.1-2' }}</label>
                                                      <label *ngIf="msvCriterio.responde == false">0</label>
                                                   </div>
                                                   <div class="col-lg-4"
                                                      style="border:1px solid #cccccc; overflow: inherit;">
                                                      <input type="text" style="width: 100%;"
                                                         [(ngModel)]="msvCriterio.observacion" />
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-8" style="border:1px solid #cccccc;">TOTAL</div>
                                 <div class="col-lg-4" style="border:1px solid #cccccc;" *ngIf="categoriaSelected == 1">
                                    <input class="form-control" [(ngModel)]="datos2.valorObtenidoFortalecimiento"
                                       name="valorObtenidoFortalecimiento" type="number" disabled>
                                 </div>
                                 <div class="col-lg-4" style="border:1px solid #cccccc;" *ngIf="categoriaSelected == 2">
                                    <input class="form-control" [(ngModel)]="datos2.valorObtenidoComportamiento"
                                       name="valorObtenidoComportamiento" type="number" disabled>
                                 </div>
                                 <div class="col-lg-4" style="border:1px solid #cccccc;" *ngIf="categoriaSelected == 3">
                                    <input class="form-control" [(ngModel)]="datos2.valorObtenidoVehiculoSeguro"
                                       name="valorObtenidoVehiculoSeguro" type="number" disabled>
                                 </div>
                                 <div class="col-lg-4" style="border:1px solid #cccccc;" *ngIf="categoriaSelected == 4">
                                    <input class="form-control" [(ngModel)]="datos2.valorObtenidoInfraestructuraSegura"
                                       name="valorObtenidoInfraestructuraSegura" type="number" disabled>
                                 </div>
                                 <div class="col-lg-4" style="border:1px solid #cccccc;" *ngIf="categoriaSelected == 5">
                                    <input class="form-control" [(ngModel)]="datos2.valorObtenidoAtencionVictima"
                                       name="valorObtenidoAtencionVictima" type="number" disabled>
                                 </div>
                                 <div class="col-lg-4" style="border:1px solid #cccccc;" *ngIf="categoriaSelected == 6">
                                    <input class="form-control" [(ngModel)]="datos2.valorObtenidoValorAgregado"
                                       name="valorObtenidoValorAgregado" type="number" disabled>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-12">
                                    <button (click)="onEnviar()" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 1" [disabled]="botonEnviarFortalecimiento">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar()" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 2" [disabled]="botonEnviarComportamiento">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar()" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 3" [disabled]="botonEnviarVehiculoSeguro">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar()" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 4" [disabled]="botonEnviarInfraestructuraSegura">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar()" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 5" [disabled]="botonEnviarAtencionVictimas">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                    <button (click)="onEnviar()" class="btn btn-primary m-2"
                                       *ngIf="categoriaSelected == 6" [disabled]="botonEnviarValorAgregado">
                                       <i class="fa fa-save"></i>
                                       Guardar
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="card-footer">
               <div class="btn-group">
                  <!--<<button (click)="onFinalizar()" *ngIf="!evaluacion && datosFortalecimiento != null && datosComportamiento != null && datosVehiculoSeguro != null && datosInfraestructuraSegura != null && datosAtencionVictimas != null && datosValorAgregado != null" class="btn btn-default">-->
                  <button (click)="onFinalizar()"
                     *ngIf="!evaluacion && datos2.valorObtenidoFortalecimiento != null && datos2.valorObtenidoVehiculoSeguro != null&& datos2.valorObtenidoInfraestructuraSegura != null&& datos2.valorObtenidoAtencionVictimas != null&& datos2.valorObtenidoValorAgregado != null"
                     class="btn btn-default">
                     <i class="fa fa-check"></i>
                     Finalizar y Enviar
                  </button>
               </div>
            </div>
            <a href="{{ apiUrl }}/{{ idUsuario }}/{{ evaluacion.id }}/aval/pdf" class="btn btn-success" target="_blank"
               *ngIf="evaluacion"><i class="fa fa-file-pdf-o"></i>Imprimir</a>
         </div>
         <!-- fin detalles de la empresa -->
      </div>
   </div>
   <app-new-empresa *ngIf='formNewEmpresa' (ready)="ready($event)"></app-new-empresa>
   <app-edit-revision *ngIf='formEditRevision' [miEmpresa]="miEmpresa" [msvRevision]="revision" (ready)="ready($event)">
   </app-edit-revision>
   <app-newRevision *ngIf="formNewRevision" [miEmpresa]="miEmpresa" (ready)="ready($event)"> </app-newRevision>
</div>