<div class="row">
        <div class="col-xs-12 col-lg-8">
            <form #formNew="ngForm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-uppercase">Reparto de documento</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-3">
                                <label>No. de Radicado <b>{{ trazabilidad.documento.numeroRadicado }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3" *ngIf="trazabilidad.documento.folios">
                                <label>No. de folios <b>{{ trazabilidad.documento.folios }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Fecha <b>{{ date|date:('dd/MM/yyyy') }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Hora <b>{{ date|date:('HH:mm:ss a') }}</b></label>
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-4">
                                <span *ngIf="trazabilidad.documento.peticionarioNombres">
                                    {{ trazabilidad.documento.peticionarioNombres }} {{ trazabilidad.documento.peticionarioApellidos }}
                                    <br>
                                </span>
                                <span *ngIf="trazabilidad.documento.identificacion">
                                    {{ trazabilidad.documento.identificacion }}
                                    <br>
                                </span>
                                <span *ngIf="trazabilidad.documento.entidadNombre">
                                    {{ trazabilidad.documento.entidadNombre }}
                                </span>
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de Correspondencia: <b>{{ trazabilidad.documento.tipoCorrespondencia.nombre }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Asunto y Concepto:</label>
                                <p class="text-justify"><b>{{ trazabilidad.documento.descripcion }}</b></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-radio">
                                    <input name="correoCertificadoLlegada" [(ngModel)]="datos.aceptada" value="true" type="radio" id="radio-tramite1" name="radio-tramite" class="custom-control-input">
                                    <label class="custom-control-label" for="radio-tramite1">Aceptar</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-radio">
                                    <input name="correoCertificadoLlegada" [(ngModel)]="datos.aceptada" value="false" type="radio" id="radio-tramite2" name="radio-tramite" class="custom-control-input" >
                                    <label class="custom-control-label" for="radio-tramite2">Rechazar</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="datos.aceptada == 'false'">
                            <div class="col-xs-12 col-lg-12">
                                <label>Observaciones</label>
                                <textarea class="form-control" [(ngModel)]="datos.observaciones" name="observaciones" rows="6" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div  class="col-xs-12 col-lg-12">
                        <button (click)="onRegister()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    