<div class="container" >
   <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <b class="text-uppercase">RNA</b>
              <small>Asignacion insumos</small>
              <div class="col text-right ">
                <div class="btn-group pull-right">
                  <button (click)="onNew()" class="btn btn-success  btn-round " data-target="#themepicker" data-toggle="modal">
                    <i class="fa fa-plus"></i>
                    <span class="text">Nuevo</span>
                  </button>
                </div>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"> 
                    <a class="nav-link active" data-toggle="tab" href="#sustrato" role="tab">Sustrato</a> 
                    <!-- <a class="nav-link " data-toggle="tab" href="#realizado"  role="tab">{{tramiteFactura.tramitePrecio.nombre}} <i class="fa fa-dot-circle-o text-success"></i></a>  -->
                </li>  
                <li class="nav-item"> 
                    <a class="nav-link" data-toggle="tab" href="#insumo" role="tab">Insumo</a> 
                    <!-- <a class="nav-link " data-toggle="tab" href="#realizado"  role="tab">{{tramiteFactura.tramitePrecio.nombre}} <i class="fa fa-dot-circle-o text-success"></i></a>  -->
                </li>  
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="sustrato" role="tabpanel">
                  <table class="table " id="dataTables-example-Sustratos">
                    <thead>
                      <tr>
                        <th>Sede Operativa</th>
                        <th>Insumo</th>
                        <th>Numero</th>
                        <th>Fecha</th>
                        <!-- <th>Acciones</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="odd" *ngFor="let insumoSustrato of insumoSustratos; let i = index">
                        <td >{{insumoSustrato.sedeOperativa.nombre}}</td>
                        <td >{{insumoSustrato.casoInsumo.nombre}}</td>
                        <td >{{insumoSustrato.numero}}</td>
                        <td >{{insumoSustrato.fecha}}</td>
                        <!-- <td>
                          <button (click)="editRnaInsumoSustrato(loteInsumoSustrato)" class="btn btn-outline-info" type="button">Editar</button> 
                          <button (click)="deleteRnaInsumo(loteInsumoSustrato.id)"  class="btn btn-outline-danger" type="button">Eliminar</button> 
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="insumo" role="tabpanel">
                    <table class="table " id="dataTables-example-Insumos">
                      <thead>
                        <tr>
                          <th>Sede Operativa</th>
                          <th>Insumo</th>
                          <th>numero</th>
                          <th>Fecha</th>
                          <!-- <th>Acciones</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd" *ngFor="let InsumoInsumo of InsumoInsumos; let i = index">
                          <td >{{InsumoInsumo.casoInsumo.nombre}}</td>
                          <td >{{InsumoInsumo.sedeOperativa.nombre}}</td>
                          <td >{{InsumoInsumo.numero}}</td>
                          <td >{{InsumoInsumo.fecha}}</td>
                          <!-- <td>
                            <button (click)="editRnaInsumoInsumo(InsumoInsumo)" class="btn btn-outline-info" type="button">Editar</button>  
                            <button (click)="deleteRnaInsumo(loteInsumoInsumo.id)"  class="btn btn-outline-danger" type="button">Eliminar</button> 
                          </td> -->
                        </tr>
                      </tbody> 
                    </table>
                </div>
            </div>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
    <app-edit *ngIf='formEdit' [loteInsumoInsumo]="loteInsumoInsumo" [tipoInsumo]="tipoInsumo" (ready)="ready($event)"></app-edit>
</div>