<div class="container">

    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Detalles persona natural</b>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td colspan="3">
                                            <b class="text-uppercase">Nombres y apellidos</b>
                                            <br>
                                            {{ ciudadano.primerNombre }} {{ ciudadano.segundoNombre }} {{ ciudadano.primerApellido }} {{ ciudadano.segundoApellido }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="text-uppercase">Tipo Identificacion</b>
                                            <br>
                                            {{ ciudadano.tipoIdentificacion.nombre }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Identificacion</b>
                                            <br>
                                            {{ ciudadano.identificacion }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Fecha Expedición Documento</b>
                                            <br>
                                            {{ (ciudadano.fechaExpedicionDocumento.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="text-uppercase">Genero</b>
                                            <br>
                                            {{ ciudadano.genero.nombre }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Grupo Sanguineo</b>
                                            <br>
                                            {{ ciudadano.grupoSanguineo.sigla }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Fecha Nacimiento</b>
                                            <br>
                                            {{ (ciudadano.fechaNacimiento.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="text-uppercase">Pais Nacimiento</b>
                                            <br>
                                            {{ ciudadano.municipioNacimiento.departamento.pais?.nombre }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Departamento Nacimiento</b>
                                            <br>
                                            {{ ciudadano.municipioNacimiento.departamento.nombre }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Municipio Nacimiento</b>
                                            <br>
                                            {{ ciudadano.municipioNacimiento.nombre }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="text-uppercase">Pais Residencia</b>
                                            <br>
                                            {{ ciudadano.municipioResidencia.departamento.pais?.nombre }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Departamento Residencia</b>
                                            <br>
                                            {{ ciudadano.municipioResidencia.departamento.nombre }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Municipio Residencia</b>
                                            <br>
                                            {{ ciudadano.municipioResidencia.nombre }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="text-uppercase">Telefono celular</b>
                                            <br>
                                            {{ ciudadano.telefonoCelular }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Direccion Residencia</b>
                                            <br>
                                            <br>
                                            {{ ciudadano.direccionPersonal }}
                                            <br>
                                            <b class="text-uppercase">Direccion Trabajo</b>
                                            <br>
                                            <br>
                                            {{ ciudadano.direccionTrabajo }}
                                        </td>
                                        <td>
                                            <b class="text-uppercase">Correo</b>
                                            <br>
                                            {{ ciudadano.correo }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="card-footer">
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>