<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Editar persona natural</h5>
                <small>Los campos con <b class="text-danger"> <b class="text-danger">*</b></b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #editForm="ngForm">
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-4">
                                <label>Tipo Identificacion
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="ciudadano.idTipoIdentificacion" name="idTipoIdentificacion" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Identificacion <b class="text-danger">*</b></label>
                                <div class="input-group">
                                    <input class="form-control" (blur)="onSearchCiudadano()" [(ngModel)]="ciudadano.identificacion" [disabled]="!ciudadano.idTipoIdentificacion"
                                        name="identificacion" type="number" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha Expedición Documento <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ciudadano.fechaExpedicionDocumento" name="fechaExpedicionDocumento" type="date"
                                    required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Primer Nombre <b class="text-danger">*</b></label>
                                <input class="form-control text-uppercase" [(ngModel)]="ciudadano.primerNombre" name="primerNombre" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Segundo Nombre</label>
                                <input class="form-control text-uppercase" [(ngModel)]="ciudadano.segundoNombre" name="segundoNombre" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Primer Apellido
                                    <b class="text-danger">*</b>
                                </label>
                                <input class="form-control text-uppercase" [(ngModel)]="ciudadano.primerApellido" name="primerApellido" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Segundo Apellido</label>
                                <input class="form-control text-uppercase" [(ngModel)]="ciudadano.segundoApellido" name="segundoApellido" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Genero
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select [multiple]="false" [options]="generos" [(ngModel)]="ciudadano.idGenero" required name="idGenero">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Grupo Sanguineo
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select [multiple]="false" [options]="gruposSanguineos" [(ngModel)]="ciudadano.idGrupoSanguineo" required name="idGrupoSanguineo"
                                    required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha Nacimiento
                                    <b class="text-danger">*</b>
                                </label>
                                <input class="form-control" [(ngModel)]="ciudadano.fechaNacimiento" name="fechaNacimiento" type="date" required>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Pais Nacimiento
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select (ngModelChange)="onChangedPaisNacimiento($event)" [multiple]="false" [options]="paises" [(ngModel)]="idPaisNacimiento"
                                    name="idPaisNacimiento" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Departamento Nacimiento
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select (ngModelChange)="onChangedDepartamentoNacimiento($event)" [multiple]="false" [options]="departamentosNacimiento"
                                    [(ngModel)]="idDepartamentoNacimiento" name="idDepartamentoNacimiento" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Municipio Nacimiento
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select [multiple]="false" [options]="municipiosNacimiento" [(ngModel)]="ciudadano.idMunicipioNacimiento" required name="idMunicipioNacimiento">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Pais Residencia
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select (ngModelChange)="onChangedPaisResidencia($event)" [multiple]="false" [options]="paises" [(ngModel)]="idPaisResidencia"
                                    name="idPaisResidencia" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Departamento Residencia
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select (ngModelChange)="onChangedDepartamentoResidencia($event)" [multiple]="false" [options]="departamentosResidencia"
                                    [(ngModel)]="idDepartamentoResidencia" name="idDepartamentoResidencia" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Municipio Residencia
                                    <b class="text-danger">*</b>
                                </label>
                                <ng-select [multiple]="false" [options]="municipiosResidencia" [(ngModel)]="ciudadano.idMunicipioResidencia" name="idMunicipioResidencia"
                                    required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Telefono
                                    <span class="text-danger">
                                        <b class="text-danger">*</b>
                                    </span>
                                </label>
                                <input class="form-control" [(ngModel)]="ciudadano.telefono" name="telefono" type="number" required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Direccion Residencia
                                    <span class="text-danger">
                                        <b class="text-danger">*</b>
                                    </span>
                                </label>
                                <input class="form-control" [(ngModel)]="ciudadano.direccionPersonal" name="direccionPersonal" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Direccion Trabajo</label>
                                <input class="form-control" [(ngModel)]="ciudadano.direccionTrabajo" name="direccionTrabajo" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Correo</label>
                                <input class="form-control" [(ngModel)]="correo" name="correo" type="email">
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
            <div class="card-footer">
                <button (click)="onEnviar()" [disabled]="editForm.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-floppy-o"></i>
                    Enviar
                </button>
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>