<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Grid</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Grid layout columns 16 Col</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-lg-1 bg-primary text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-success text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-primary text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-success text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-primary text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-success text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-primary text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-success text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-primary text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-success text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-primary text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-success text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-primary text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-success text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-primary text-white">col-md-2 col-lg-1</div>
              <div class="col-md-2 col-lg-1 bg-success text-white">col-md-2 col-lg-1</div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-2 col-lg-2 text-white bg-danger ">col-md-2 col-lg-2</div>
              <div class="col-md-2 col-lg-2 text-white bg-warning">col-md-2 col-lg-2</div>
              <div class="col-md-2 col-lg-2 text-white bg-danger ">col-md-2 col-lg-2</div>
              <div class="col-md-2 col-lg-2 text-white bg-warning">col-md-2 col-lg-2</div>
              <div class="col-md-2 col-lg-2 text-white bg-danger ">col-md-2 col-lg-2</div>
              <div class="col-md-2 col-lg-2 text-white bg-warning">col-md-2 col-lg-2</div>
              <div class="col-md-2 col-lg-2 text-white bg-danger ">col-md-2 col-lg-2</div>
              <div class="col-md-2 col-lg-2 text-white bg-warning">col-md-2 col-lg-2</div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 col-lg-4 bg-primary text-white">col-md-4 col-lg-4</div>
              <div class="col-md-4 col-lg-4 bg-success text-white">col-md-4 col-lg-4</div>
              <div class="col-md-4 col-lg-4 bg-primary text-white">col-md-4 col-lg-4</div>
              <div class="col-md-4 col-lg-4 bg-success text-white">col-md-4 col-lg-4</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Grid layout columns with offset</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-primary text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-success text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-primary text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-success text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-primary text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-success text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-primary text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-success text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-primary text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-success text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-primary text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-success text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-primary text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-success text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-primary text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
              <div class="col-md-2 col-lg-1 offset-md-2 offset-lg-1 bg-success text-white">col-md-2 col-lg-1 offset-md-2 offset-lg-1</div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-2 col-lg-2 offset-lg-2 offset-md-2 text-white bg-danger ">col-md-2 col-lg-2  offset-lg-2 offset-md-2</div>
              <div class="col-md-2 col-lg-2 offset-lg-2 offset-md-2 text-white bg-warning">col-md-2 col-lg-2  offset-lg-2 offset-md-2</div>
              <div class="col-md-2 col-lg-2 offset-lg-2 offset-md-2 text-white bg-danger ">col-md-2 col-lg-2  offset-lg-2 offset-md-2</div>
              <div class="col-md-2 col-lg-2 offset-lg-2 offset-md-2 text-white bg-warning">col-md-2 col-lg-2  offset-lg-2 offset-md-2</div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-2 col-lg-2 offset-lg-2 offset-md-2 text-white bg-danger ">col-md-2 col-lg-2 offset-lg-2 offset-md-2</div>
              <div class="col-md-2 col-lg-2 offset-lg-2 offset-md-2 text-white bg-warning">col-md-2 col-lg-2 offset-lg-2 offset-md-2</div>
              <div class="col-md-2 col-lg-2 offset-lg-2 offset-md-2 text-white bg-danger ">col-md-2 col-lg-2 offset-lg-2 offset-md-2</div>
              <div class="col-md-2 col-lg-2 offset-lg-2 offset-md-2 text-white bg-warning">col-md-2 col-lg-2 offset-lg-2 offset-md-2</div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 col-lg-4 offset-md-4 offset-lg-4 bg-primary text-white">col-md-4 col-lg-4 offset-md-4 offset-lg-4</div>
              <div class="col-md-4 col-lg-4 offset-md-4 offset-lg-4 bg-success text-white">col-md-4 col-lg-4 offset-md-4 offset-lg-4</div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 col-lg-4 offset-md-4 offset-lg-4 bg-primary text-white">col-md-4 col-lg-4 offset-md-4 offset-lg-4</div>
              <div class="col-md-4 col-lg-4 offset-md-4 offset-lg-4 bg-success text-white">col-md-4 col-lg-4 offset-md-4 offset-lg-4</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Grid layout columns with align items</h6>
          </div>
          <div class="card-body">
            <div class="row align-items-start bg-danger" style="min-height:100px; ">
              <div class="col-md-4 col-lg-4 bg-primary text-white">col-md-4 col-lg-4 align-start</div>
              <div class="col-md-4 col-lg-4 bg-success text-white">col-md-4 col-lg-4 align-start</div>
              <div class="col-md-4 col-lg-4 bg-primary text-white">col-md-4 col-lg-4 align-start</div>
              <div class="col-md-4 col-lg-4 bg-success text-white">col-md-4 col-lg-4 align-start</div>
            </div>
            <br>
            <div class="row align-items-center bg-danger" style="min-height:100px; ">
              <div class="col-md-4 col-lg-4 bg-primary text-white">col-md-4 col-lg-4 align-center</div>
              <div class="col-md-4 col-lg-4 bg-success text-white">col-md-4 col-lg-4 align-center</div>
              <div class="col-md-4 col-lg-4 bg-primary text-white">col-md-4 col-lg-4 align-center</div>
              <div class="col-md-4 col-lg-4 bg-success text-white">col-md-4 col-lg-4 align-center</div>
            </div>
            <br>
            <div class="row align-items-end bg-danger" style="min-height:100px; ">
              <div class="col-md-4 col-lg-4 bg-primary text-white">col-md-4 col-lg-4 align-ends</div>
              <div class="col-md-4 col-lg-4 bg-success text-white">col-md-4 col-lg-4 align-ends</div>
              <div class="col-md-4 col-lg-4 bg-primary text-white">col-md-4 col-lg-4 align-ends</div>
              <div class="col-md-4 col-lg-4 bg-success text-white">col-md-4 col-lg-4 align-ends</div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Grid layout columns with self aligns</h6>
          </div>
          <div class="card-body">
            <div class="row bg-danger" style="min-height:100px; ">
              <div class="col bg-primary text-white align-self-start">col-md-4 col-lg-4 align-start</div>
              <div class="col bg-primary text-white align-self-center">col-md-4 col-lg-4 align-center</div>
              <div class="col bg-success text-white align-self-end">col-md-4 col-lg-4 align-ends</div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>