<div class="col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <b class="text-uppercase">Nuevo vehiculo RNRS <span
                    *ngIf="funcionario">({{ funcionario.organismoTransito.nombre }})</span></b>
            <br>
            <small>Los campos con <b class="text-danger"> <b class="text-danger">*</b></b> son obligatorios</small>
        </div>
        <div class="card-body">
            <form #newForm="ngForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Tipo de registro <span class="text-danger"> <b
                                        class="text-danger">*</b></span></label>
                            <ng-select [multiple]="false" [options]="tiposMatricula"
                                [(ngModel)]="remolque.tipoMatricula" required name="tipoMatricula">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-lg-4" *ngIf="remolque.tipoMatricula && remolque.tipoMatricula != 'RADICADO'">
                            <label>Valor</label>
                            <input class="form-control" [(ngModel)]="remolque.valor" type="text" name="valor">
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>No Factura de compra <b class="text-danger"></b></label>
                            <input class="form-control" [(ngModel)]="remolque.numeroFactura" name="numeroFactura"
                                type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Fecha Factura</label>
                            <input class="form-control" [(ngModel)]="remolque.fechaFactura" name="fechaFactura"
                                type="date">
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="remolque.tipoMatricula != 'MATRICULA'">
                            <label>Placa
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control text-uppercase" [(ngModel)]="remolque.placa" name="placa"
                                type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Nro. serie
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.serie" name="serie" type="number" required>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Nro. VIN
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.vin" name="vin" type="number" required>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Modelo <small>(Año)</small>
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.modelo" name="modelo" type="number"
                                required>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Carroceria
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" [options]="carrocerias" [(ngModel)]="remolque.idCarroceria"
                                required name="carroceria">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Campo fabricante
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" [options]="marcas" [(ngModel)]="remolque.idMarca"
                                (ngModelChange)="onChangedMarca($event)" required name="marca">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Linea
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select *ngIf="lineas" [multiple]="false" [options]="lineas"
                                [(ngModel)]="remolque.idLinea" name="linea" required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Alto
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.alto" name="alto" type="number" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Largo
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.largo" name="Largo" type="number" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Ancho
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.ancho" name="ancho" type="number" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Nro. ejes
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.numeroEjes" name="numeroEjes" type="number"
                                required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Carga util
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.cargaUtil" name="cargaUtil" type="number"
                                required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Peso vació
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.pesoVacio" name="pesoVacio" type="number"
                                required>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Referencia
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.referencia" name="referencia" type="number"
                                required>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Nro. FTH
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="remolque.numeroFth" name="numeroFth" type="number"
                                required>
                        </div>

                        <div class="col-xs-12 col-lg-6">
                            <label>Clase de vehiculo
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" [options]="clases" [(ngModel)]="remolque.idClase" required
                                name="clase">
                            </ng-select>
                        </div>
                        <!-- <div class="col-xs-12 col-lg-6">
                            <label>Origen de registro
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" [options]="origenRegistros"
                                [(ngModel)]="remolque.idOrigenRegistro" required name="origenRegistro">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Condición de ingreso
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" [options]="condicionIngresos"
                                [(ngModel)]="remolque.idCondicionIngreso" required name="condicionIngreso">
                            </ng-select>
                        </div> -->
                    </div>
                    <div class="row"
                        *ngIf="remolque.tipoMatricula == 'RADICADO' || remolque.tipoMatricula == 'IMPORTACION' || remolque.tipoMatricula == 'MATRICULA'">
                        <!--Cuando es de tipo propio -->
                        <div class="col-xs-12 col-lg-12">
                            <br>
                            <div class="custom-control custom-checkbox">
                                <input [(ngModel)]="datos.solidario" name="solidario" type="checkbox" class="custom-control-input"
                                    id="solidario" checked="">
                                <label class="custom-control-label" for="solidario">¿Tiene permisos para hacer
                                    tramites?</label>
                            </div>
                        </div>
                    
                        <div class="col-xs-8 col-lg-6">
                            <label>Tipo de identificación <b class="text-danger">*</b></label>
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected"
                                name="idTipoIdentificacion" required>
                            </ng-select>
                        </div>
                    
                        <!--tipo identificacion ciudadano -->
                        <div class="col-xs-8 col-lg-6" *ngIf="tipoIdentificacionSelected != 4">
                            <label>Identificación</label>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Identificacion" [(ngModel)]="identificacion"
                                    name="identificacion" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchCiudadano()" class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    
                        <!--tipo identificacion nit -->
                        <div class="col-xs-8 col-lg-6" *ngIf="tipoIdentificacionSelected == 4">
                            <label>NIT</label>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="NIT" [(ngModel)]="nit" name="nit" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchEmpresa()" class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    
                        <div class="col-xs-12 col-lg-12" *ngIf="ciudadano">
                            <div class="row">
                                <table class="table table-bordered table-striped" id="dataTables-example">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Tipo de identificación: </b>
                                                <br> {{ ciudadano.tipoIdentificacion.nombre }}
                                                <br>
                                                <b>Numero de identificación: </b>
                                                <br> {{ ciudadano.identificacion }}
                                            </td>
                                            <td>
                                                <b>Nombres y apellidos: </b>
                                                <br> {{ ciudadano.primerNombre }} {{ ciudadano.segundoNombre }}
                                                {{ ciudadano.primerApellido }} {{ ciudadano.segundoApellido
                                                                        }}
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-justified">
                                                    <div class="btn-group">
                                                        <button (click)="onAddCiudadano()" class="btn btn-primary">
                                                            <i class="fa fa-plus"></i>
                                                            Agregar
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                        <div class="col-xs-12 col-lg-12" *ngIf="empresa">
                            <!-- Empresa -->
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">
                                    <div class="custom-control custom-checkbox">
                                        <input [(ngModel)]="datos.solidario" name="solidario" type="checkbox" class="custom-control-input"
                                            id="solidario" checked="">
                                        <label class="custom-control-label" for="solidario">¿Tiene permisos para hacer
                                            tramites?</label>
                                    </div>
                                </div>
                                <table class="table table-bordered table-striped" id="dataTables-example">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>NIT: </b>
                                                <br> {{ empresa.nit }}
                                                <br>
                                                <b>Nombre: </b>
                                                <br> {{ empresa.nombre }}
                                                <br>
                                                <b>Representante legal: </b>
                                                <br> {{ empresa.ciudadano.primerNombre }}
                                                {{ empresa.ciudadano.primerApellido }}
                                            </td>
                                            <td>
                                                <b>Tipo empresa: </b>
                                                <br> {{ empresa.nombre }}
                                                <br>
                                                <b>Municipio: </b>
                                                <br> {{ empresa.municipio.nombre }}
                                                <b>Dirección: </b>
                                                <br> {{ empresa.direccion }}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button (click)="onAddEmpresa()" class="btn btn-primary">
                                                        <i class="fa fa-plus"></i>
                                                        Agregar
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                        <div class="col-xs-12 col-lg-12" *ngIf="datos.propietarios && datos.propietarios.length > 0">
                            <table class="table table-bordered table-striped" id="dataTables-example">
                                <br>
                                <thead>
                                    <tr>
                                        <th colspan="3" class="text-center">
                                            <b class="text-uppercase">Propietarios a registrar</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let propietario of datos.propietarios; let i = index">
                                        <td>
                                            <b>Solicitante: </b>
                                            <br> {{ propietario.identificacion }}
                                            <br> {{ propietario.nombre }}
                                            <br>
                                            <span *ngIf="propietario.permiso" class="text-success">
                                                <b>Autorizado</b> para realizar trámites.
                                            </span>
                                            <span *ngIf="!propietario.permiso" class="text-danger">
                                                <b>No autorizado</b> para realizar trámites.
                                            </span>
                                        </td>
                                        <td>
                                            <button (click)="onDeletePropietario(propietario)"
                                                class="btn btn-xs btn-danger">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <button (click)="onEnviar()" class="btn btn-primary" [disabled]="newForm.invalid">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>