<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-body">
            <h5 class="m-0">Resgistro de maquinaria</h5>
            <hr> 
            <div class="row justify-content-center">
                <div class="container">
                    <div class="form-group row">
                    <div class="col-lg-3 col-md-3">
                        <label>Placa*</label> 
                        <input class="form-control" [(ngModel)]="vehiculo.placa" name="palca" placeholder="" type="text" required>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Nro. serie*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="numeroSerie" name="numeroSerie" type="text" required>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Nro. VIN*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="numeroVin" name="numeroVin" type="text" required>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Nro. chasis*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="numeroChasis" name="numeroChasis" type="text" required>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Nro. motor*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="numeroMotor" name="numeroMotor" type="text" required>
                    </div>
                    <!-- <div class="col-md-3">
                        <label>Condición de ingreso*</label>
                        <select class="form-control" name="condicionIngreso" [(ngModel)]="condicionIngreso">
                            <option value="numeroVin">Nuevo</option>
                            <option value="Sin registro antes de inicio RNMA">Sin registro antes de inicio RNMA</option>
                        </select>
                    </div> -->
                    <div class=" col-md-3">
                        <label>Condición de ingreso*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="condiciones"
                            [(ngModel)]="condicionesSelected"
                            required
                            name="condiciones">
                        </ng-select>
                    </div>
                    <div class=" col-md-3">
                        <label>Fecha de ingreso*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="fechaIngreso" name="fechaIngreso" type="date" required>
                    </div>
                    <div class=" col-md-3">
                        <label>Color*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="colores"
                            [(ngModel)]="colorSelected"
                            (ngModelChange)="changedDepartamento($event)"
                            required
                            name="colorId">
                        </ng-select>
                    </div>
                    <div class="col-md-3">
                        <label>Tipo maquinaria*</label>
                        <ng-select
                        [multiple]="false"
                        [options]="tiposVehiculo"
                        [(ngModel)]="tipoVehiculoSelected"
                        (ngModelChange)="changedDepartamento($event)"
                        required
                        name="tipoVehiculoId">
                    </ng-select>
                </div>
                <div class="col-lg-3">
                    <label>Clase de maquinaria*</label>
                    <ng-select
                        [multiple]="false"
                        [options]="clases"
                        [(ngModel)]="claseSelected"
                        (ngModelChange)="changedDepartamento($event)"
                        required
                        name="claseId">
                    </ng-select>
                </div>
                <div class="col-lg-3">
                    <label>Marca*</label>
                    <ng-select
                        [multiple]="false"
                        [options]="marcas"
                        [(ngModel)]="marcaSelected"
                        (ngModelChange)="changedDepartamento($event)"
                        required
                        name="marcaId">
                    </ng-select>
                </div>
                <div class="col-lg-3">
                        <label>linea de vehiculo*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="lineas"
                            [(ngModel)]="lineaSelected"
                            (ngModelChange)="changedDepartamento($event)"
                            required
                            name="lineaId">
                        </ng-select>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Año de modelo*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="pesoBruto" name="pesoBruto" type="text" required>
                    </div>
                    <!-- <div class="col-lg-3">
                        <label>Tipo maq XXXXXXX*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="marcas"
                            [(ngModel)]="marcaSelected"
                            (ngModelChange)="changedDepartamento($event)"
                            required
                            name="marcaId">
                        </ng-select>
                    </div> -->
                    <div class="col-lg-3">
                        <label>Carrocería*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="carrocerias"
                            [(ngModel)]="carroceriaSelected"
                            (ngModelChange)="changedDepartamento($event)"
                            required
                            name="carroceriaId">
                        </ng-select>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Peso bruto vehiculo*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="pesoBruto" name="pesoBruto" type="text" required>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Carga util maxima*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="cargaUtil" name="cargaUtil" type="text" required>
                    </div>
                    <div class="col-md-3">
                        <label>Rodaje*</label>
                        <select class="form-control" name="rodaje" [(ngModel)]="rodaje" required>
                            <option value="cilindros">Cilindros</option>
                            <option value="neumaticos">Neumaticos</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Nro. ejes*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="numeroEjes" name="numeroEjes" type="text" required>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Nro. llantas*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="numeroLlantas" name="numeroLlantas" type="text" required>
                    </div>
                    <div class="col-md-3">
                        <label>Tipo cabina*</label>
                        <select class="form-control" name="tipoCabina" [(ngModel)]="tipoCabina" required>
                            <option value="cilindros">No aplica</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Alto total*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="altoTotal" name="altoTotal" type="text" required>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Largo total*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="largoTotal" name="LargoTotal" type="text" required>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Ancho total*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="anchoTotal" name="anchoTotal" type="text" required>
                    </div>
                    <div class="col-lg-3">
                        <label>Combustible*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="combustibles"
                            [(ngModel)]="combustibleSelected"
                            (ngModelChange)="changedDepartamento($event)"
                            required
                            name="combustibleId">
                        </ng-select>
                    </div>
                    <div class="col-md-3">
                        <label>Origen vehiculo*</label>
                        <select class="form-control" name="origenVehiculo" [(ngModel)]="origenVehiculo" required>
                            <option value="importado temporal">Importado temporal</option>
                            <option value="internacional temporal">Internacional temporal</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <label>Subpartida arancelaria*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="subpartidaArancelaria" name="subpartidaArancelaria" type="text" required>
                    </div>
                    </div> 
                </div>
            </div>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-default">Cancelar</button>
                <button (click)="onEnviar()" class="btn btn-primary">Enviar</button>
            </div>    
        </div>
        </div>
    </div>
</div>