<hr>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nuevo vehiculo RNA</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
        <div class="card-body">
            <form #formNew="ngForm">
                <div class="col-xs-12 col-lg-12">
                    <label>Tipo de registro <span class="text-danger">*</span></label>
                    <ng-select [multiple]="false" [options]="tipoMatricula" [(ngModel)]="tipoMatriculaSelect" required name="tipoPropiedadId">
                    </ng-select>
                </div> 
                <br>
                <br>
                <div class="form-group row" *ngIf="tipoMatriculaSelect == 'RADICADO'">
                    <div class="col-lg-6">
                        <label>Placa*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="vehiculo.placa" name="placa" type="text" required>
                    </div> 
                    <div class="col-lg-6">
                        <label>Valor</label>
                        <input class="form-control" placeholder="" [(ngModel)]="vehiculo.valor" type="text"  name="valor" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>No Factura de compra*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="vehiculo.numeroFactura" name="numeroFactura" type="text" required>
                    </div> 
                    <div class="col-lg-3">
                        <label>Fecha Factura*</label>
                        <input class="form-control" placeholder="" [(ngModel)]="vehiculo.fechaFactura" name="fechaFactura" type="date" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>Marca*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="marcas"
                            [(ngModel)]="marcaSelected"
                            (ngModelChange)="onChangedMarca($event)"
                            required
                            name="marcaId">
                        </ng-select>
                    </div>
                    <div class="col-lg-3">
                        <label>Linea*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="lineas"
                            [(ngModel)]="lineaSelected"
                            required
                            name="lineaId">
                        </ng-select>
                    </div>
                    <div class="col-lg-3">
                        <label>Clase*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="clases"
                            [(ngModel)]="claseSelected"
                            required
                            name="claseId">
                        </ng-select>
                    </div>
                    <div class="col-lg-3">
                        <label>Carrocería*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="carrocerias"
                            [(ngModel)]="carroceriaSelected"
                            required
                            name="carroceriaId">
                        </ng-select>
                    </div>
                    <div class="col-lg-3">
                        <label>Servicio*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="servicios"
                            [(ngModel)]="servicioSelected"
                            required
                            name="servicioId">
                        </ng-select> 
                    </div>
                    <div class="col-lg-3"> 
                        <label>Color*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="colores"
                            [(ngModel)]="colorSelected"
                            required
                            name="colorId">
                        </ng-select>
                    </div>

                    <div class="col-lg-3">
                        <label>Combustible*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="combustibles"
                            [(ngModel)]="combustibleSelected"
                            required
                            name="combustibleId">
                        </ng-select>
                    </div>
                    <div class="col-lg-3">
                        <label>Sede Operativa*</label>
                        <ng-select
                            [multiple]="false"
                            [disabled]="persona == 'funcionario'"
                            [options]="sedesOperativas"
                            [(ngModel)]="sedeOperativaSelected"
                            required
                            name="sedeOperativaId">
                        </ng-select>
                    </div> 
                    <div class="col-lg-3">
                        <label>Numero Manifiesto*</label> 
                        <input class="form-control" placeholder="" rows="4" [(ngModel)]="vehiculo.numeroManifiesto" name="numeroManifiesto">
                    </div>
                    <!-- <div class="col-lg-3">
                        <label>Municipio*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="municipios"
                            [(ngModel)]="municipioSelected"
                            required
                            name="municipioId">
                        </ng-select>
                    </div> -->
                    <div class="col-lg-3">
                        <label>Fecha Manifiesto*</label>
                        <input class="form-control" placeholder="" type="date"  [(ngModel)]="vehiculo.fechaManifiesto" name="fechaManifiesto">
                    </div>
                    <div class="col-lg-3">
                        <label>Cilindraje</label>
                        <input class="form-control" placeholder="" type="text" [(ngModel)]="vehiculo.cilindraje" name="cilindraje">
                    </div>
                    <div class="col-lg-3">
                        <label>Modelo</label>
                        <input class="form-control" placeholder="" type="text" [(ngModel)]="vehiculo.modelo" name="modelo">
                    </div>
                    <div class="col-lg-3">
                        <label>Motor</label>
                        <input class="form-control" placeholder="" type="text" type="text" [(ngModel)]="vehiculo.motor" name="motor">
                    </div>
                    <div class="col-lg-3">
                        <label>Chasis</label>
                        <input class="form-control" placeholder="" type="text" [(ngModel)]="vehiculo.chasis" name="chasis">
                    </div>
                    <div class="col-lg-3">
                        <label>Serie</label>
                        <input class="form-control" placeholder="" type="text" type="text" [(ngModel)]="vehiculo.serie" name="serie">
                    </div>

                    <div class="col-lg-3">
                        <label>Vin</label>
                        <input class="form-control" placeholder="" type="text" [(ngModel)]="vehiculo.vin" name="vin">
                    </div>
                
                    <div class="col-lg-3" *ngIf='servicioSelected == 4'>
                        <label>Radio Acción*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="radiosAccion"
                            [(ngModel)]="radioAccionSelected"
                            required
                            name="radiosAccion">
                        </ng-select>
                    </div>
                
                    <div class="col-lg-3">
                        <label>Modalidad Transporte*</label>
                        <ng-select
                            [multiple]="false"
                            [options]="modalidadesTransporte"
                            [(ngModel)]="modalidadTransporteSelected"
                            required
                            name="modalidadesTransporte">
                        </ng-select>
                    </div>

                    <div class="col-lg-3" *ngIf='modalidadTransporteSelected == 1 || modalidadTransporteSelected == 2'>
                        <label>Numero pasajeros</label>
                        <input class="form-control" placeholder="" type="text" type="text" [(ngModel)]="vehiculo.numeroPasajeros" name="capacidadCarga">
                    </div>

                    <div class="col-lg-3" *ngIf='modalidadTransporteSelected == 2 || modalidadTransporteSelected == 3'>
                        <label>Capcaidad carga</label>
                        <input class="form-control" placeholder="" type="text" type="text" [(ngModel)]="vehiculo.capacidadCarga" name="capacidadCarga">
                    </div>

                    <div *ngIf="tipoMatriculaSelect == 'RADICADO'">
                        <div class="col-xs-12 col-lg-12">
                            <label>Tipo de propiedad <span class="text-danger">*</span></label>
                            <ng-select [multiple]="false" [options]="tipoPropiedades" [(ngModel)]="tipoPropiedadSelected" required name="tipoPropiedadId">
                            </ng-select>
                        </div> 
                    </div> 

                    <div class="col-lg-3" *ngIf="tipoMatriculaSelect == 'RADICADO'">
                        <label>Numero licencia transito </label>
                        <input class="form-control" placeholder="" type="text" type="text" [(ngModel)]="licenciaTransito" name="serie">
                    </div>

                    <!-- tipo prioridad propio -->
                    <div  class="container" *ngIf="tipoPropiedadSelected == 2 || tipoPropiedadSelected == 1 && apoderado == 'false' && tipoMatriculaSelect == 'RADICADO'">
                        <!--Buscardor Identificador/Nit -->
                        <div class="col-xs-12 col-lg-12 row" >
                            <!--Cuando es de tipo propio -->
                            <div class="col-xs-12 col-lg-12" >
                                <br> 
                                <div class="custom-control custom-checkbox"  >
                                    <input  [(ngModel)]="datos.solidario" name="solidario" type="checkbox" class="custom-control-input" id="solidario" checked="">
                                    <label class="custom-control-label" for="solidario">¿Tiene permisos para hacer tramites?</label>
                                </div>
                            </div>
                            <!-- cuando es de tipo leasing -->
                            <div class="col-xs-12 col-lg-12" *ngIf="tipoPropiedadSelected == 1 && propietario">
                                <h6>Propietario</h6>
                            </div>
                            <div class="col-xs-12 col-lg-12" *ngIf="tipoPropiedadSelected == 1 && propietario == false">
                                <h6>Locatario</h6>
                            </div>
    
                            <div class="col-xs-8 col-lg-6">
                                <label>Tipo de identificación <span class="text-danger">*</span></label>
                                <ng-select [multiple]="false" (ngModelChange)="changedtipoIdentificacion($event)" [options]="tipoIdentificaciones" [(ngModel)]="tipoIdentificacionSelected" required name="tipoIdentificacionId">
                                </ng-select>
                            </div>

                            <!--tipo identificacion ciudadano -->
                            <div class="col-xs-8 col-lg-6" *ngIf="tipoIdentificacionSelected != 4">
                                <label>Identificación</label>
                                <div  class="input-group" [class.has-success]="ciudadanoEncontrado === 2" [class.has-danger]="ciudadanoEncontrado === 3">
                                    <input type="number" class="form-control" placeholder="identificacion" [(ngModel)]="identificacion" name="identificacion" required />
                                    <span class="input-group-btn">
                                        <button (click)="onKeyCiudadano()" [class.btn-default]="ciudadanoEncontrado === 1" [class.btn-success]="ciudadanoEncontrado === 2" [class.btn-danger]="ciudadanoEncontrado === 3" class="btn" ngxclipboard="" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                                <div class="has-danger" *ngIf="ciudadanoEncontrado === 3">
                                    <div class="form-control-feedback has-danger has-error">No se encontró la persona</div>
                                </div>
                            </div>

                            <!--tipo identificacion nit -->
                            <div class="col-xs-8 col-lg-6" *ngIf="tipoIdentificacionSelected == 4">
                                <label>NIT</label>
                                <div  class="input-group" [class.has-success]="empresaEncontrada === 2" [class.has-danger]="empresaEncontrada === 3">
                                    <input type="number" class="form-control" placeholder="NIT" [(ngModel)]="nit" name="nit" required />
                                    <span class="input-group-btn">
                                        <button (click)="onKeyEmpresa()" [class.btn-default]="empresaEncontrada === 1" [class.btn-success]="empresaEncontrada === 2" [class.btn-danger]="empresaEncontrada === 3" class="btn" ngxclipboard="" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                                <div class="has-danger" *ngIf="empresaEncontrada === 3">
                                    <div class="form-control-feedback has-danger has-error">No se encontró la empresa</div>
                                </div>
                            </div>
                            
                            <!--propietarios ciudadanos -->
                            <div class="container"  *ngIf="listaPropietariosCiudadanos">
                                <br>
                                <table class="table " id="dataTables-example">
                                    <br>
                                    <thead>
                                        <tr>
                                            <th>Permiso tramite</th>
                                            <th>Solicitante Ciudadano</th>
                                            <th>Apoderado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd" *ngFor="let ciudadano of datos.propietariosCiudadanos; let i = index">

                                            <td class="center" *ngIf="ciudadano.permisoTramite && tipoPropiedadSelected ==2"><p >Si</p></td>
                                            <td class="center" *ngIf="!ciudadano.permisoTramite && tipoPropiedadSelected ==2"><p >No</p></td>
                                           
                                            <td class="center" *ngIf="ciudadano.permisoTramite && tipoPropiedadSelected ==1"><p >Propietario</p></td>
                                            <td class="center" *ngIf="!ciudadano.permisoTramite && tipoPropiedadSelected ==1"><p >Locatario</p></td>

                                            <td class="center"><p>{{ciudadano.identificacion}}<br>{{ciudadano.nombre}}</p></td>
                                            <td class="center" *ngIf="ciudadano.identificacionApoderado">
                                                <p>{{ciudadano.identificacionApoderado}}<br>{{ciudadano.nombreApoderado}}</p>
                                            </td>
                                            <td class="center" *ngIf="!ciudadano.identificacionApoderado">
                                                <button (click)="agregarApoderadoCiudadano(ciudadano)" class="btn btn-primary pull-right">Agregar</button>
                                            </td>
                                            <td class="center"><button (click)="delete(ciudadano)" class="btn btn-danger">Eliminar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--propietarios empresas -->
                            <div class="container"  *ngIf="listaPropietariosEmpresas">
                                <br>
                                <table class="table " id="dataTables-example">
                                    <br>
                                    <thead>
                                        <tr>
                                            <th>Permiso tramite</th>
                                            <th>Solicitante Empresa</th>
                                            <th>Apoderado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd" *ngFor="let empresa of datos.propietariosEmpresas; let i = index">
                                            <td class="center" *ngIf="empresa.permisoTramite && tipoPropiedadSelected ==2"><p >Si</p></td>
                                            <td class="center" *ngIf="!empresa.permisoTramite && tipoPropiedadSelected ==2"><p >No</p></td>

                                            <td class="center" *ngIf="empresa.permisoTramite && tipoPropiedadSelected ==1"><p >Propietario</p></td>
                                            <td class="center" *ngIf="!empresa.permisoTramite && tipoPropiedadSelected ==1"><p >Locatario</p></td>
                                            <td class="center"><p>{{empresa.nit}}<br>{{empresa.nombre}}</p></td>
                                            <td class="center" *ngIf="empresa.identificacionApoderado">
                                                <p>{{empresa.identificacionApoderado}}<br>{{empresa.nombreApoderado}}</p>
                                            </td>
                                            <td class="center" *ngIf="!empresa.identificacionApoderado">
                                                <button (click)="agregarApoderadoEmpresa(empresa)" class="btn btn-primary pull-right">Agregar</button>
                                            </td>
                                            <td class="center"><button (click)="deleteEmpresa(empresa)" class="btn btn-danger">Eliminar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                        </div>

                        <!--si existe una empresa -->
                        <div class="container row" *ngIf="empresaEncontrada === 2">
                            <table class="table " id="dataTables-example">
                                <tbody>
                                    <tr class="odd">
                                        <td>NIT: {{empresa.nit}}</td>
                                        <td>Nombre: {{empresa.nombre}}</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Tipo empresa: {{empresa.nombre}}</td>
                                        <td>Municipio: {{empresa.municipio.nombre}}</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Dirección: {{empresa.direccion}}</td>
                                        <td>Persona: {{empresa.ciudadano.usuario.primerNombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="container">
                                <button (click)="btnNewEmpresa()" class="btn btn-primary pull-right">Agregar</button>
                                <button (click)="btnCancelarEmpresa()" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>
                        
                        <!--si existe un ciudadano -->
                        <div class="container row" *ngIf="ciudadanoEncontrado === 2">
                            <table class="table " id="dataTables-example">
                                <tbody>
                                    <tr class="odd">
                                        <td>Tipo de identificación: {{ciudadano.tipoIdentificacion.nombre}}</td>
                                        <td>Numero de identificación: {{ciudadano.identificacion}}</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Nombres: {{ciudadano.primerNombre}} {{ciudadano.segundoNombre}}</td>
                                        <td>Apellidos: {{ciudadano.primerApellido}} {{ciudadano.segundoApellido}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-xs-12 col-lg-12">
                                <br>
                                <div class="custom-control custom-checkbox" for="propietarioPresente">
                                    <input type="checkbox" [(ngModel)]="propietarioPresente" class="custom-control-input" id="propietarioPresente" name="propietarioPresente" checked="">
                                    <label class="custom-control-label" for="propietarioPresente">Propietario presente</label>
                                </div>
                            </div>   
                            <div class="container">
                                <br>
                                <button (click)="btnNewCiudadano()" class="btn btn-primary pull-right">Agregar</button>
                                <button (click)="btnCancelarCiudadano()" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>

                        <!--si no existe un ciudadano -->
                        <!-- <app-new-rna-ciudadano *ngIf="ciudadanoNew" [tipoIdentificacion]="tipoIdentificacionSelected" [identificacion]="identificacion" (ready)="ready($event)"></app-new-rna-ciudadano> -->
                    </div>

                    <!-- agregar apoderado -->
                    <div  class="container" *ngIf="apoderado == 'ciudadano' || apoderado == 'empresa' && tipoMatriculaSelect == 'RADICADO'">
                        <div class="col-xs-12 col-lg-12 form-group" >
                            <h5 class="m-0">
                                Apoderado
                            </h5>
                            <small *ngIf="apoderado == 'ciudadano'">{{ciudadanoSelected[0]['nombre']}}</small>
                            <small *ngIf="apoderado == 'empresa'">{{empresaSelected[0]['nombre']}}</small>
                        </div>
                        <div class="col-xs-12 col-lg-12 form-group" >
                            <label>Identificación</label>
                            <div  class="input-group" [class.has-success]="apoderadoEncontrado === 2" [class.has-danger]="apoderadoEncontrado === 3">
                                <input type="number" class="form-control" placeholder="Identificacion apoderado" [(ngModel)]="identificacionApoderado" name="identificacionApoderado" required />
                                <span class="input-group-btn">
                                    <button (click)="onKeyApoderado()" [class.btn-default]="apoderadoEncontrado === 1" [class.btn-success]="apoderadoEncontrado === 2" [class.btn-danger]="apoderadoEncontrado === 3" class="btn" ngxclipboard="" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <div class="has-danger" *ngIf="apoderadoEncontrado === 3">
                                <div class="form-control-feedback has-danger has-error">No se encontró el apoderado</div>
                            </div>
                            
                        </div>

                        <!--si existe el apoderado -->
                        <div class="container form-group" *ngIf="apoderadoEncontrado === 2">
                            <table class="table " id="dataTables-example">
                                <tbody>
                                    <tr class="odd">
                                        <td>Tipo de identificación</td>
                                        <td class="center"><p>{{apoderadoSelected.tipoIdentificacion.nombre}}</p></td>
                                        <td>Numero de identificación</td>
                                        <td class="center"><p>{{apoderadoSelected.identificacion}}</p></td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Primer nombre</td>
                                        <td class="center"><p>{{apoderadoSelected.primerNombre}}</p></td>
                                        <td>Segundo nombre</td>
                                        <td class="center"><p>{{apoderadoSelected.segundoNombre}}</p></td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Primer apellido</td>
                                        <td class="center"><p>{{apoderadoSelected.primerApellido}}</p></td>
                                        <td>Segundo apellido</td>
                                        <td class="center"><p>{{apoderadoSelected.segundoApellido}}</p></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        
                        <div class="card-footer">
                            <button class="btn btn-default" (click)="onCancelarApoderado()">Atrás</button>
                            <button (click)="btnNewApoderado()" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>

                </div> 
            </form>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
                <button (click)="onEnviar()" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
            </div>
        </div>    
        </div>
    </div>
</div>