<div class="row">
  <div class="col-xs-12 col-lg-9" *ngIf="formShow">
    <div class="card">
      <div class="card-header">
        <b class="text-uppercase">
          Detalles de medida cautelar
        </b>
        <br>
        <small>Todos los campos con <b class="text-danger">*</b> son obligatorios</small>
      </div>
      <div class="card-body">
        <div class="row">
          <!--placas vehiculos -->
          <div class="col-xs-12 col-lg-12">
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <td>
                    <b>No. radicado:</b> {{ medidaCautelar.numeroRadicado }}
                  </td>
                  <td>
                    <b>No. oficio:</b> {{ medidaCautelar.numeroOficio }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Fecha de registro:</b> {{ (medidaCautelar.fechaRegistro.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                  </td>
                  <td>
                    <b>Entidad judicial: </b>
                    {{ medidaCautelar.entidadJudicial?.nombre }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Departamento:</b>
                    {{ medidaCautelar.municipio?.departamento.nombre }}
                  </td>
                  <td>
                    <b>Municipio:</b>
                    {{ medidaCautelar.municipio?.nombre }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Fecha inicio:</b>
                    {{ (medidaCautelar.fechaInicio.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                  </td>
                  <td>
                    <b>Fecha expiración</b>
                    {{ (medidaCautelar.fechaExpiracion.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                  </td>
                  <td>
                    <b>Observaciones</b>
                    {{ medidaCautelar.observaciones }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group">
          <button (click)="onDelete(limitacion)" class="btn btn-primary">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            Levantar
          </button>
          <button (click)="onCancelar()" class="btn btn-default">
            <i class="fa fa-times"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>