<div class="container" >
  <div  class="row">
    <div class="col-xs-12 col-lg-12">
      <h3>Comparendo</h3>
      <p>aquí podrás cargar el archivo de comparendos</p> 
    </div>
    <div class="col text-right ">
      <div class="btn-group pull-right">
        <button (click)="ngOnInit()" class="btn btn-outline-success  btn-round " data-target="#themepicker" data-toggle="modal"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
      </div>
    </div>
  </div>
  <!-- <div class="row" >
      <h1>comparendo</h1>
  </div> -->
    <!-- <app-edit *ngIf='formEdit' [cuenta]="cuenta" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new> -->
</div>