<div class="container" >
  <div  class="row align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Cuentas</h3>
      <p>aquí podrás visualizar las cuentas inscritas e inscribir nuevas</p> 
    </div>
    <div class="col text-right ">
      <div class="btn-group pull-right">
        <button (click)="ngOnInit()" class="btn btn-outline-success  btn-round " data-target="#themepicker" data-toggle="modal"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
      </div>
    </div>
    
  </div>
  <div class="row" >
      <h1>comparendo</h1>
  </div>
    <!-- <app-edit *ngIf='formEdit' [cuenta]="cuenta" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new> -->
</div>