<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Clipboard</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Input Copy to clipboard</h6>
          </div>
          <div class="card-body">
            <div class="input-group">
		      <input type="text" class="form-control" #inputTarget placeholder="content will be copy after click the copy button">
		      <span class="input-group-btn">
		        <button class="btn btn-default" [class.btn-success]= "isCopied1" type="button" ngxClipboard  (cbOnSuccess)="isCopied1 = true " [ngxClipboard]="inputTarget" >copy</button>
		      </span>
		    </div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Peragraph Copy to clipboard</h6>
          </div>
          <div class="card-body">
				<div class="input-group">
			      <textarea rows="1" class="form-control"  #paraTarget></textarea>
			      <span class="input-group-btn">
			        <button class="btn btn-default" [class.btn-success]= "isCopied2" type="button" [ngxClipboard]="paraTarget" (cbOnSuccess)="isCopied2 = true">copy</button>
			      </span>
			    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
 