
    
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3"><!-- .col -->
        <div class="card"><!-- .card -->
            <div class="card-header"><!-- .col -->
                <h5 class="text-uppercase">
                    <strong>Ordenes de comparendo</strong> <small>búsquedas</small>
                </h5>
            </div><!-- .col -->
            <div class="card-body">
                <form #formSearch="ngForm">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Estado <strong class="text-danger">*</strong></label>
                            <ng-select [multiple]="false" [options]="estados" [(ngModel)]="estadoSelected" name="estados" required></ng-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onSearch()" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </div>
        </div><!-- /.card -->
    </div><!-- /.col -->

    <div id="summernote"></div>

    <div class="col-xs-12 col-lg-12" *ngIf='comparendos'>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h6 class="text-uppercase text-center">
                        <b>Comparendos encontrados</b>
                    </h6>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Consecutivo</th>
                                        <th>Fecha</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Nip</th>
                                        <th>Infracción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd" *ngFor="let comparendo of comparendos; let i = index">
                                        <td>{{ i }}</td>
                                        <td>{{ comparendo.consecutivo.consecutivo }}</td>
                                        <td>{{ comparendo.fecha }}</td>
                                        <td>{{ comparendo.ciudadanoInfractor?.usuario.primerNombre }}</td>
                                        <td>{{ comparendo.ciudadanoInfractor?.usuario.primerApellido }}</td>
                                        <td>{{ comparendo.ciudadanoInfractor?.usuario.identificacion }}</td>
                                        <td>{{ comparendo.infraccion.codigo }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


