<hr>
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nuevo talonario</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm">
                    <div class="form-group row">
                        <div  class="col-xs-12 col-lg-4">
                            <label>Sede operativa</label>
                            <ng-select [multiple]="false" [options]="sedesOperativas" [(ngModel)]="sedeOperativaSelected" name="sedesOperativas">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div  class="col-xs-12 col-lg-4">
                            <label>Desde</label>
                            <input class="form-control" [(ngModel)]="talonario.desde" name="desde" type="numeric" required>
                        </div>
                        <div  class="col-xs-12 col-lg-4">
                            <label>Hasta</label>
                            <input class="form-control" [(ngModel)]="talonario.hasta" name="hasta" type="numeric" required>
                        </div>
                        <div  class="col-xs-12 col-lg-4">
                            <label>Rangos</label>
                            <input class="form-control" [(ngModel)]="rangos" name="rangos" type="numeric" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div  class="col-xs-12 col-lg-4">
                            <label>Fecha asignación</label>
                            <input class="form-control" [(ngModel)]="talonario.fechaAsignacion" name="fechaAsignacion" type="date" required>
                        </div>
                        <div  class="col-xs-12 col-lg-8">
                            <label>No. de resolución / No. ticket</label>
                            <input class="form-control" [(ngModel)]="talonario.numeroResolucion" name="numeroResolucion" type="text" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
                <button (click)="onEnviar()" (ready)="ready($event)" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>