<hr>
<div class="container" >
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <strong class="text-uppercase">Módulo de Configuración</strong> 
              <small>Tipos de Identificación</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-success btn-round " data-target="#themepicker" data-toggle="modal">
                  <i class="fa fa-plus"></i>
                  Nuevo
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Sigla</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let tipoIdentificacion of tiposIdentificacion; let i = index">
                  <td >{{tipoIdentificacion.id}}</td>
                  <td >{{tipoIdentificacion.nombre}}</td>
                  <td >{{tipoIdentificacion.sigla}}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="editTipoIdentificacion(tipoIdentificacion)" class="btn btn-info" type="button">Editar</button> 
                      <button (click)="deleteTipoIdentificacion(tipoIdentificacion.id)"  class="btn btn-danger" type="button">Eliminar  </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [tipoIdentificacion]="tipoIdentificacion" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>