<div class="row"><!-- .row -->
    <div class="col-xs-12 col-lg-4"><!-- .col -->
        <div class="card"><!-- .card -->
            <div class="card-header">
                <b class="text-uppercase">Buscar Automotor</b> 
                <br>
                <small>Filtros</small>
            </div><!-- /.card-header -->
            <div class="card-body"><!-- .card-body -->
                <div class="row"><!-- .row -->
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label >Número Placa o Registro</label>
                            <input class="form-control text-uppercase" [(ngModel)]="datos.numeroPlaca" name="numeroPlaca" type="text" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Número VIN</label>
                            <input class="form-control" [(ngModel)]="datos.numeroVin" name="numeroVin" type="text" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Número Serie</label>
                            <input class="form-control" [(ngModel)]="datos.numeroSerie" name="numeroSerie" type="text" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Número Motor</label>
                            <input class="form-control" [(ngModel)]="datos.numeroMotor" name="numeroMotor" type="text" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Número Chasis</label>
                            <input class="form-control" [(ngModel)]="datos.numeroChasis" name="numeroChasis" type="text" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Identificación Propietario</label>
                            <input class="form-control" [(ngModel)]="datos.propietario" name="propietario" type="text" />
                        </div>
                    </div>
                </div><!-- /.row -->
                <div class="row"><!-- .row -->
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button (click)="onSearchVehiculo()" class="btn btn-default btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                        Buscar
                                    </button>
                                    <button (click)="onClose()" class="btn btn-default" type="button">
                                        <i class="fa fa-times"></i>
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div><!-- /.col -->

    <div class="col-xs-12 col-lg-8" *ngIf='vehiculos && formIndex'>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><strong>Vehículo(s)</strong> <small>Encontrados(s)</small></h5>
            </div>
            <div class="card-body">
                <table class="table" id="dataTables-vehiculos">
                    <thead>
                    <tr>
                        <th>Número Placa o Registro</th>
                        <th>Chasis</th>
                        <th>Número VIN</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd" *ngFor="let vehiculo of vehiculos; let i=index">
                        <td >{{ vehiculo.placa?.numero }}</td>
                        <td >{{ vehiculo.chasis }}</td>
                        <td >{{ vehiculo.vin }}</td>
                        <td><button (click)="onShow(vehiculo)" class="btn btn-primary" type="button">Detalles</button> 
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive --> 
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf='vehiculos'>
        <app-show-vhlobuscar *ngIf='formShow' [vehiculo]="vehiculo" (onClose)="onClose($event)"></app-show-vhlobuscar>
    </div>
</div><!-- /.row -->