<div class="col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <strong class="text-uppercase">Modalidad Transporte</strong>
            </h5>
        </div>
        <div class="card-body">
            <form #formNew="ngForm">
                <div class="form-group row">
                    <div class="col-xs-6 col-lg-6">
                        <label>Radio Acción <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="radiosAccion" [(ngModel)]="empresaTransporte.idRadioAccion" required name="idRadioAccion">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Modalidad Transporte <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="modalidadesTransporte" [(ngModel)]="empresaTransporte.idModalidadTransporte" required name="idModalidadTransporte">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Servicio <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="servicios" [(ngModel)]="empresaTransporte.idServicio" required name="idServicio">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Clase <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="clases" [(ngModel)]="empresaTransporte.idClase" required name="idClase">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Nro. de Acto Administrativo <strong class="text-danger">*</strong></label>
                        <input class="form-control" [(ngModel)]="empresaTransporte.numeroActo" name="numeroActo" type="number" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Fecha Expedición Acto Administrativo <strong class="text-danger">*</strong></label>
                        <input class="form-control" [(ngModel)]="empresaTransporte.fechaExpedicionActo" name="fechaExpedicionActo" type="date" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Nro. de Ejecutoria Acto Administrativo <strong class="text-danger">*</strong></label>
                        <input class="form-control" [(ngModel)]="empresaTransporte.numeroEjecutoriaActo" name="numeroEjecutoriaActo" type="number" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Fecha Ejecutoria Acto Administrativo <strong class="text-danger">*</strong></label>
                        <input class="form-control" [(ngModel)]="empresaTransporte.fechaEjecutoriaActo" name="fechaEjecutoriaActo" type="date" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Color<strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="true" [options]="colores" [(ngModel)]="empresaTransporte.arrayColores" required
                            name="colores">
                        </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Municipio<strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="true" [options]="municipios" [(ngModel)]="empresaTransporte.arrayMunicipios" required
                            name="municipios">
                        </ng-select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card" *ngIf="empresaTransporte.idRadioAccion && empresaTransporte.idModalidadTransporte">
        <div class="card-header">
            <h5 class="card-title">
                <strong class="text-uppercase">Datos de la Capacidad Transportadora</strong>
            </h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-lg-6 col-md-6" *ngIf="empresaTransporte.idModalidadTransporte == 3">
                    <label>Tipo Carroceria <strong class="text-danger">*</strong></label>
                    <ng-select [multiple]="false" [options]="carrocerias" [(ngModel)]="empresaTransporte.idCarroceria"
                        required name="idCarroceria">
                    </ng-select>
                </div>
                <div class="col-lg-6 col-md-6" *ngIf="empresaTransporte.idServicio == 4">
                    <label>Capacidad <strong class="text-danger">*</strong></label>
                    <input class="form-control" [(ngModel)]="empresaTransporte.capacidad" name="capacidad" type="number">
                </div>
                <div class="col-lg-6 col-md-6" *ngIf="empresaTransporte.idModalidadTransporte">
                    <label>Capacidad mínima <strong class="text-danger">*</strong></label>
                    <input class="form-control" [(ngModel)]="empresaTransporte.capacidadMinima" name="capacidadMinima" type="number">
                </div>
                <div class="col-lg-6 col-md-6" *ngIf="empresaTransporte.idModalidadTransporte">
                    <label>Capacidad máxima <strong class="text-danger">*</strong></label>
                    <input class="form-control" [(ngModel)]="empresaTransporte.capacidadMaxima" name="capacidadMaxima" type="number">
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="empresaTransporte.idServicio == 4 && empresaTransporte.idClase == 5">
                    <div class="custom-control custom-checkbox">
                        <input [(ngModel)]="empresaTransporte.dobleCabina" name="dobleCabina" type="checkbox" class="custom-control-input"
                            id="checkbox-dobleCabina" checked="">
                        <label class="custom-control-label" for="checkbox-dobleCabina">Doble Cabina</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
            <i class="fa fa-floppy-o"></i>
            Enviar
        </button>
        <button (click)="onCancelar()" class="btn btn-default">
            <i class="fa fa-times"></i>
            Cancelar
        </button>
    </div>
</div>