<div class="container-fluid">
  <div class="row" *ngIf='formIndex'>
    <div class="col-xs-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <b class="text-uppercase">Clases de vehículo</b>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-default">
                <i class="fa fa-plus"></i>Nuevo
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Tipo Vehiculo</th>
                  <th>Codigo Mt</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let clase of clases; let i = index">
                  <td >{{ i + 1 }}</td>
                  <td >{{ clase.nombre }}</td>
                  <td>
                    {{ clase.tipoVehiculo?.nombre }}
                    <span *ngIf="clase.tipoMaquinaria">
                      <br>
                      <b>Tipo maquinaria: </b>
                      {{ clase.tipoMaquinaria.nombre }}
                    </span>
                  </td>
                  <td >{{ clase.codigo }}</td>
                  <td>
                    <div class="btn-group">  
                      <button (click)="edit(clase)" class="btn btn-xs btn-primary" type="button" tooltip="Editar" [tooltipDisabled]="false"
                            [tooltipAnimation]="true" tooltipPlacement="top">
                            <i class="fa fa-pencil"></i>
                      </button> 
                      <button (click)="delete(clase.id)"  class="btn btn-xs btn-danger" type="button" tooltip="Eliminar" [tooltipDisabled]="false"
                            [tooltipAnimation]="true" tooltipPlacement="top">
                            <i class="fa fa-trash"></i>
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit-vhlocfgclase *ngIf='formEdit' [clase]="clase" (ready)="ready($event)"></app-edit-vhlocfgclase>
    <app-new-vhlocfgclase *ngIf='formNew' (ready)="ready($event)"></app-new-vhlocfgclase>
</div>