<div class="row ">
    <div class="col-xs-12 col-lg-10 ">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nueva persona natural</h5>
                <small>Los campos con <b class="text-danger"> <b class="text-danger">*</b></b> son obligatorios</small>
            </div>

            <div class="card-body">
                <!--. card-body -->
                <form #newForm="ngForm" class="container">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-4">
                                <label>Tipo Identificacion <b class="text-danger">*</b></label>
                                <ng-select (ngModelChange)="changedTipoId($event)" [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected"
                                    required name="tiposIdentificacionId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Identificacion <b class="text-danger">*</b></label>
                                <div class="input-group" [ngClass]="{'has-danger' : isError,'has-success': isExist}">
                                    <input class="form-control" (blur)="searchByIdentificacion()" [(ngModel)]="ciudadano.numeroIdentificacionUsuario" name="numeroIdentificacion"
                                        type="number" [disabled]="tipoId" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha Expedición Documento <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ciudadano.fechaExpedicionDocumento" name="fechaExpedicionDocumento" type="date"
                                    required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Primer Nombre <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ciudadano.primerNombreUsuario" name="primerNombre" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Segundo Nombre</label>
                                <input class="form-control" [(ngModel)]="ciudadano.segundoNombreUsuario" name="segundoNombre" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Primer Apellido <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ciudadano.primerApellidoUsuario" name="primerApellido" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Segundo Apellido</label>
                                <input class="form-control" [(ngModel)]="ciudadano.segundoApellidoUsuario" name="segundoApellido" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Genero <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="generos" [(ngModel)]="generoSelected" required name="generoId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Grupo Sanguineo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="gruposSanguineos" [(ngModel)]="grupoSanguineoSelected" required name="idGrupoSanguineo"
                                    required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha Nacimiento <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ciudadano.fechaNacimiento" name="fechaNacimiento" type="date" required>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Pais Nacimiento <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="paises" [(ngModel)]="paisNacimientoSelected" (ngModelChange)="changedPaisNacimiento($event)"
                                    required name="paisId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Departamento Nacimiento <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="departamentosNacimiento" [(ngModel)]="departamentoNacimientoSelected" (ngModelChange)="changedDepartamentoNacimiento($event)"
                                    required name="departamentoId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Municipio Nacimiento <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="municipiosNacimiento" [(ngModel)]="municipioNacimientoSelected" required name="municipioId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Pais Residencia <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="paises" [(ngModel)]="paisResidenciaSelected" (ngModelChange)="changedPaisResidencia($event)"
                                    required name="paisId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Departamento Residencia <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="departamentosResidencia" [(ngModel)]="departamentoResidenciaSelected" (ngModelChange)="changedDepartamentoResidencia($event)"
                                    required name="departamentoId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Municipio Residencia <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="municipiosResidencia" [(ngModel)]="municipioResidenciaSelected" required name="departamentoId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Telefono
                                    <span class="text-danger"> <b class="text-danger">*</b></span>
                                </label>
                                <input class="form-control" [(ngModel)]="ciudadano.telefonoUsuario" name="telefono" type="number" required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Direccion Residencia
                                    <span class="text-danger"> <b class="text-danger">*</b></span>
                                </label>
                                <input class="form-control" [(ngModel)]="ciudadano.direccion" name="direccion" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Direccion Trabajo</label>
                                <input class="form-control" [(ngModel)]="ciudadano.direccionTrabajo" name="direccionTrabajo" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Correo</label>
                                <input class="form-control" [(ngModel)]="ciudadano.correoUsuario" name="correo" type="email">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--. /card-body -->
            <div class="card-footer">
                <button (click)="onEnviar()" class="btn btn-primary" type="button" [disabled]="newForm.invalid">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>