<div class="row"><!-- .row -->
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Nueva Solicitud de trámite</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row"><!-- .row -->
                        <div class="col-xs-12 col-lg-12">
                            <label>Buscar por placa</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-uppercase" [(ngModel)]="placa" name="placa" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchVehiculo()" class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>

                <div class="row" *ngIf="vehiculo"><!-- .row -->
                    <div class="col-xs-12 col-lg-12" *ngIf="vehiculo.cancelado">
                        <div class="notes notes-success" role="alert"> 
                            <strong>Atención!</strong> este vehiculo se encuentra con la matricula cancelada solo podrá realizar certificado de tradición y rematricula.
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-lg-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-center">
                                        <b>Resumen de vehiculo</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="vehiculo.placa">
                                    <td>
                                        <b>Placa</b>
                                        {{ vehiculo.placa?.numero }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Motor</b>
                                        {{ vehiculo.motor }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Servicio</b>
                                        {{ vehiculo.servicio.nombre }}
                                    </td>
                                </tr>
                                <tr *ngIf="vehiculo.clase">
                                    <td>
                                        <b>Tipo</b>
                                        {{ vehiculo.clase?.nombre }}
                                    </td>
                                </tr>
                                <tr *ngIf="vehiculo.organismoTransito">
                                    <td>
                                        <b>Organismo transito</b>
                                        <br>
                                        {{ vehiculo.organismoTransito?.nombre }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8"><!-- .col -->
        <div class="row"  *ngIf="propietarios"><!-- .row -->
            <div class="col-xs-12 col-lg-12">
                <div class="card"><!-- .card -->
                    <div class="card-body"><!-- .card-body -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-uppercase text-center">
                                        <b>Propietarios</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let propietario of propietarios; let i = index">
                                    <td *ngIf="propietario.ciudadano">
                                        <strong>Nombre: </strong>
                                        {{ propietario.ciudadano?.primerNombre }} {{ propietario.ciudadano?.primerApellido }}
                                        <br>
                                        <strong>Identificación: </strong>
                                        {{ propietario.ciudadano?.identificacion }}
                                    </td>
                                    <td *ngIf="propietario.empresa">
                                        <strong>Nombre: </strong>
                                        {{ propietario.empresa?.nombre }}
                                        <br>
                                        <strong>Identificación (NIT): </strong>
                                        {{ propietario.empresa?.nit }}
                                    </td>
                                    <td>
                                        <div class="custom-control custom-radio">
                                            <input [disabled]='confirmarSolicitante' [(ngModel)]="tramiteSolicitud.idPropietario" value="{{ propietario.id }}" type="radio" id="radio{{ i }}" name="radio" class="custom-control-input">
                                            <label class="custom-control-label" for="radio{{ i }}">Solicitante</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="!confirmarSolicitante">
                                <tr>
                                    <td colspan="3">
                                        <button *ngIf='!fromApoderado && !apoderado' (click)="onFormApoderado()" class="btn btn-primary">
                                            <i class="fa fa-save"></i>
                                            Agregar apoderado
                                        </button>
                                        <button *ngIf='tramiteSolicitud.idPropietario' (click)="onConfirmarSolicitante()" class="btn btn-success">
                                            <i class="fa fa-save"></i>
                                            Confirmar solicitante
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                        <div *ngIf='fromApoderado && !apoderado' class="col-xs-12 col-lg-12 form-group">
                            <div class="input-group" [class.has-danger]="apoderado">
                                <input type="number" class="form-control" placeholder="Identificacion apoderado" [(ngModel)]="identificacionApoderado" name="identificacionApoderado" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchApoderado()" class="btn" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button (click)="onCloseApoderado()" class="btn btn-danger" type="button">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <!--si existe el apoderado -->
                        <div class="container form-group" *ngIf="apoderado">
                            <h5 class="container">
                                Datos de apoderado
                            </h5>
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Tipo de identificación</b>
                                            <br> {{apoderado.tipoIdentificacion.nombre}}
                                            <br>
                                            <b>Numero de identificación</b>
                                            {{apoderado.identificacion}}
                                        </td>
                                        <td>
                                            <b>Nombres</b>
                                            <br> {{apoderado.primerNombre}} {{apoderado.segundoNombre}}
                                            <br>
                                            <b>Apellidos</b>
                                            {{apoderado.primerApellido}} {{apoderado.segundoApellido}}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button (click)="onAddApoderado()" class="btn btn-primary">
                                                    <i class="fa fa-save"></i>
                                                    Agregar
                                                </button>
                                                <button *ngIf='!confirmarSolicitante' class="btn btn-default" (click)="onCloseApoderado()">
                                                    <i class="fa fa-times"></i>
                                                    Cancelar
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.card-body -->
                </div><!-- /.card -->
            </div>
        </div><!-- /.row -->

        <div class="row"><!-- .row -->
            <div class="col-xs-12 col-lg-12" *ngIf='vehiculo && (confirmarSolicitante || !propietarios)'>
                <div class="card">
                    <div class="card-header">
                        <b class="text-uppercase">Factura</b>
                    </div>
                    <div class="card-body">
                        <div class="col-xs-12 col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Número de facura" [(ngModel)]="numeroFactura" name="numeroFactura" required
                                />
                                <span class="input-group-btn">
                                    <button type="button" (click)="onSearchFactura()" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

        <div class="row"><!-- .row -->
            <div class="col-xs-12 col-lg-12" *ngIf="factura && tramitesFactura?.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [(ngModel)]="tramiteSolicitud.documentacion" class="custom-control-input" id="documentacion" name="documentacion">
                                                <label class="custom-control-label" for="documentacion">¿Presenta documentación completa?</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="!tramiteSolicitud.documentacion">
                                        <div class="col-xs-12 col-lg-12">
                                            <label>Registre que documentación esta pendiente
                                                <b class="text-danger">*</b>
                                            </label>
                                            <textarea class="form-control" [(ngModel)]="tramiteSolicitud.observacion" rows="4" name="observacion" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="tramiteSolicitud.documentacion && tramitesFactura">
                            <div class="col-xs-12 col-lg-12">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link " data-toggle="tab" href="#tab-tramites" role="tab">
                                            Realizar trámites
                                        </a>
                                    </li>
                                    <li class="nav-item" *ngIf='sustrato'>
                                        <a class="nav-link " data-toggle="tab" href="#tab-sustrato" role="tab">
                                            Registrar sustrato
                                        </a>
                                    </li>
                                </ul>
                                <hr>
                                <div class="tab-content">
                                    <div class="tab-pane" id="tab-tramites" role="tabpanel">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12"><!-- .col -->
                                                <b class="text-uppercase">Trámite a realizar</b>
                                                <ng-select (ngModelChange)="onChangedTramiteFactura($event)" [(ngModel)]="tramiteFacturaSelected" [multiple]="false" [options]="tramitesFactura" name="idTramiteFactura" required></ng-select>
                                            </div><!-- /.col -->
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12" *ngIf="tramiteFactura">                                                
                                                <appRnrs-matricula-inicial *ngIf="tramiteFactura.precio.tramite.id == 1" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)"  (cancelarTramite)="cancelarTramite($event)"></appRnrs-matricula-inicial>
                                            
                                                <appRnrs-traspaso *ngIf="tramiteFactura.precio.tramite.id == 2" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-traspaso>
                                                
                                                <app-new-traslado-cuenta *ngIf="tramiteFactura.precio.tramite.id == 3" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></app-new-traslado-cuenta>
                                            
                                                <appRnrs-radicado-cuenta *ngIf="tramiteFactura.precio.tramite.id == 4" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-radicado-cuenta>
                                            
                                                <appRnrs-cambio-color *ngIf="tramiteFactura.precio.tramite.id == 5" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-cambio-color>
                                            
                                                <appRnrs-cambio-servicio *ngIf="tramiteFactura.precio.tramite.id == 6" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-cambio-servicio>
                                            
                                                <appRnrs-regrabar-motor *ngIf="tramiteFactura.precio.tramite.id == 7" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-regrabar-motor>
                                                
                                                <appRnrs-regrabar-chasis *ngIf="tramiteFactura.precio.tramite.id == 8" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-regrabar-chasis>
                                                
                                                <appRnrs-transformacion *ngIf="tramiteFactura.precio.tramite.id == 9" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-transformacion>
                                                
                                                <appRnrs-duplicado-licencia *ngIf="tramiteFactura.precio.tramite.id == 10" [idPropietario]='tramiteSolicitud.idPropietario' [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-duplicado-licencia>
                                            
                                                <appRnrs-inscripcion-alerta-prenda *ngIf="tramiteFactura.precio.tramite.id == 11" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" [idPropietario]='tramiteSolicitud.idPropietario' (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-inscripcion-alerta-prenda>
                                                
                                                <appRnrs-levantamiento-alerta-prenda *ngIf="tramiteFactura.precio.tramite.id == 12" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-levantamiento-alerta-prenda>
                                                
                                                <appRnrs-cancelacion-matricula *ngIf="tramiteFactura.precio.tramite.id == 13" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-cancelacion-matricula>
                                                    
                                                <appRnrs-cambio-placa *ngIf="tramiteFactura.precio.tramite.id == 14" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-cambio-placa>
                                                
                                                <appRnrs-duplicado-placa *ngIf="tramiteFactura.precio.tramite.id == 15" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-duplicado-placa>
                                                
                                                <appRnrs-blindaje *ngIf="tramiteFactura.precio.tramite.id == 16" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-blindaje>
                                                
                                                <appRnrs-cambio-motor *ngIf="tramiteFactura.precio.tramite.id == 17" [vehiculo]="vehiculo" (readyTramite)="readyTramite($event)" [tramiteFactura]="tramiteFactura" (cancelarTramite)="cancelarTramite($event)"></appRnrs-cambio-motor>
                                                
                                                <appRnrs-rematricula *ngIf="tramiteFactura.precio.tramite.id == 18" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-rematricula>
                                                
                                                <appRnrs-regrabar-serie *ngIf="tramiteFactura.precio.tramite.id == 19" [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-regrabar-serie>
                                                
                                                <!-- tramites sin id -->
                                                <appRnrs-importacion-temporal *ngIf="tramiteFactura.precio.tramite.id == 22"  [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-importacion-temporal>
                                                
                                                <appRnrs-prorroga-importacion-temporal *ngIf="tramiteFactura.precio.tramite.id == 23"  [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-prorroga-importacion-temporal>
                                                
                                                <appRnrs-cambio-acreedor-prendario-propietario *ngIf="tramiteFactura.precio.tramite.id == 24"  [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-cambio-acreedor-prendario-propietario>
                                                
                                                <appRnrs-cambio-acreedor-prendario *ngIf="tramiteFactura.precio.tramite.id == 25"  [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-cambio-acreedor-prendario>
                                                
                                                <appRnrs-cambio-gas *ngIf="tramiteFactura.precio.tramite.id == 26"  [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-cambio-gas>
                                                
                                                <appRnrs-regrabar-vin *ngIf="tramiteFactura.precio.tramite.id == 28"  [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-regrabar-vin>
                                                
                                                <appRnrs-traspaso-indeterminada *ngIf="tramiteFactura.precio.tramite.id == 29"  [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" [idPropietario]='tramiteSolicitud.idPropietario' (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-traspaso-indeterminada>
                                            
                                                <appRnrs-certificado-tradicion *ngIf="tramiteFactura.precio.tramite.id == 30"  [vehiculo]="vehiculo" [tramiteFactura]="tramiteFactura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-certificado-tradicion>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-sustrato" role="tabpanel">
                                        <appRnrs-sustrato *ngIf="sustrato" [factura]="factura" [vehiculo]="vehiculo" [ciudadanoPropietario]="ciudadano" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRnrs-sustrato>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" *ngIf="!tramiteSolicitud.documentacion">
                        <div class="btn-group">
                            <button (click)="onEnviar()" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.col -->
</div><!-- /.row -->