<div class="container-fluid">
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-xs-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5>
              <b class="text-uppercase">Audiencia</b>
              <small>Configuración de atenciones</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Día</th>
                    <th>Mañana</th>
                    <th>Tarde</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let atencion of atenciones; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <span *ngIf="atencion.dia == 1">LUNES</span>
                    <span *ngIf="atencion.dia == 2">MARTES</span>
                    <span *ngIf="atencion.dia == 3">MIÉRCOLES</span>
                    <span *ngIf="atencion.dia == 4">JUEVES</span>
                    <span *ngIf="atencion.dia == 5">VIERNES</span>
                  </td>
                  <td>
                    <b>Hora inicial:</b> {{ (atencion.horaManianaInicial.timestamp * 1000) | date: 'h:mm:ss a' }}
                    <br>
                    <b>Hora final:</b> {{ (atencion.horaManianaFinal.timestamp * 1000) | date: 'h:mm:ss a' }}
                  </td>
                  <td>
                    <b>Hora inicial:</b> {{ (atencion.horaTardeInicial.timestamp * 1000) | date: 'h:mm:ss a' }}
                    <br>
                    <b>Hora final:</b> {{ (atencion.horaTardeFinal.timestamp * 1000) | date: 'h:mm:ss a' }}
                  </td>
                  <td>
                    <div class="btn-group">
                      <button (click)="onEdit(atencion)" class="btn btn-xs btn-primary" type="button" tooltip="Editar" [tooltipDisabled]="false" [tooltipAnimation]="true"
                        tooltipPlacement="top">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button (click)="onDelete(atencion.id)" class="btn btn-xs btn-danger" type="button" tooltip="Eliminar" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <app-edit-cvaucfgatencion *ngIf='formEdit' [atencion]="atencion" (ready)="ready($event)"></app-edit-cvaucfgatencion>
      <app-new-cvaucfgatencion *ngIf='formNew' (ready)="ready($event)"></app-new-cvaucfgatencion>
    </div>
</div>