<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-3" *ngIf='formSearch'>
      <!-- .col -->
      <div class="card">
        <div class="card-header">
          <b class="text-uppercase">Medidas cautelares</b>
          <br>
          <small>Buscar</small>
        </div>
        <div class="card-body">
          <!-- .card-body -->
          <form #formSearch="ngForm">
            <div class="form-group">
              <div class="row">
                <!-- .row -->
                <div class="col-xs-12 col-lg-12">
                  <label>No. de identificación</label>
                  <input class="form-control text-uppercase" [(ngModel)]="search.numero" name="numero" type="text" required>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="btn-group">
            <button (click)="onSearch()" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-9" *ngIf='formIndex'>
      <div class="card">
        <div class="card-header">
          <b class="text-uppercase">Medidas cautelares registradas</b>
          <div class="btn-group pull-right">
            <button (click)="onNew()" class="btn btn-default">
              <i class="fa fa-plus"></i>
              <span class="text">Nuevo</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table" id="dataTables-example">
            <thead>
              <tr>
                <th>#</th>
                <th>Ciudadano</th>
                <th>Detalles</th>
                <th>Fechas</th>
                <th>Acciones</th>
                <!-- <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let medidaCautelar of medidasCautelares; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  {{ medidaCautelar.ciudadano.primerNombre }} {{ medidaCautelar.ciudadano.primerApellido }}
                  <br>
                  {{ medidaCautelar.ciudadano.identificacion }}
                </td>
                <td>
                  <b>No. oficio</b>
                  {{ medidaCautelar.numeroOficio }}
                  <br>
                  <b>Entidad judicial</b>
                  {{ medidaCautelar.entidadJudicial?.nombre }}
                </td>
                <td>
                  <b>Fecha registro</b>
                  {{ (medidaCautelar.fechaRegistro.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                  <br>
                  <b>Fecha inicio</b>
                  {{ (medidaCautelar.fechaInicio.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                  <br>
                  <b>Fecha expiración</b>
                  {{ (medidaCautelar.fechaExpiracion.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                </td>
                <td>
                  <div class="btn-group">
                    <button (click)="onDelete(medidaCautelar)" class="btn btn-xs btn-primary">
                      <i class="fa fa-check"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-8 col-lg-12" *ngIf='formNew'>
      <app-new-user-medida-cautelar (onReady)="onReady($event)"></app-new-user-medida-cautelar> 
    </div>

    <div class="col-xs-12 col-md-8 col-lg-12" *ngIf='formDelete'>
      <app-delete-user-medida-cautelar [medidaCautelar]="medidaCautelar" (onReady)="onReady($event)"></app-delete-user-medida-cautelar> 
    </div>
  </div>
</div>