<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-body">
            <h5 class="m-0">formulario para el ingreso de insumos</h5>
            <hr>
            <form #newForm="ngForm">
               
            </form>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                <button (click)="onEnviar()" [disabled]="newForm.invalid" class="btn btn-outline-primary pull-right" type="button">Enviar</button>
            </div>    
        </div>
    </div>
</div>