
<div class="container">
    <div class="row align-items-center justify-content-between">
         <div class="col-11 col-sm-12 page-title">
            <!-- <h5>
                <b>Módulo RNC.</b>
                <small>Inscripción de sucursal</small>
            </h5> 
         </div> -->
         <!-- <div class="col text-left ">
             <div class="btn-group pull-left"><br>
                   
             </div>
         </div> -->
     </div>
     
<div class="container row">
    <div class="col-md-4 col-lg-4">
        <div class="card">
            <div class="card-header align-items-start justify-content-between flex">
                <h5 class=" pull-left">Empresa</h5>
            </div>
            <div class="card-body">
                <!-- tabla donde se muestra la empresa agregar sucursal -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th class="text-right">{{empresa.nombre}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Nr. NIT</td>
                        <th class="text-right">{{empresa.nit}}</th>
                      </tr>
                      <tr>
                        <td>Dirección</td>
                        <td class="text-right">{{empresa.direccion}}</td>
                      </tr>
                      <tr>
                        <td>Tipo entidad</td>                        
                        <td class="text-right">{{empresa.tipoEntidad}}</td>
                      </tr> 
                      <tr>
                        <td>Tipo sociedad</td>
                        <td class="text-right">{{ empresa.tipoSociedad.nombre }}</td>                        
                      </tr> 
                      <tr>
                        <td>Empresa prestadora</td>
                        <td class="text-right">{{ empresa.empresaPrestadora }}</td>                        
                      </tr> 
                      <tr>
                        <td>Municipio</td>
                        <td class="text-right">{{empresa.municipio.nombre}}</td>
                      </tr>
                      <tr>
                        <td>Telefono</td>
                        <td class="text-right">{{empresa.telefono}}</td>
                      </tr>
                      
                    </tbody>
                    
                 </table> 
                 <!-- fin de la tablar de empresa -->
                <hr>                
                <div class="card-footer">
                    <button (click)="onCancelar()" class="btn btn-outline-secondary" type="button">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-11 col-lg-8">
        <div class="table-responsive">
            <div class="card" *ngIf='formListaSucursales'>
                <div class="card-header">
                    <h5 >
                        <b class="text-center">Sucursales</b>
                        <div class="btn-group pull-right">
                            <button (click)="onNewSucursal()" class="btn btn-outline-success  btn-round pull-left "  data-target="#themepicker" data-toggle="modal"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
                        </div>
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table " id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Sigla</th>
                                <th>Dirección</th>
                                <th>Municipio</th>
                                <th>Acción</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let sucursal of sucursales; let i = index">
                               
                                <td>{{sucursal.nombre}}</td>
                                <td>{{sucursal.sigla}}</td>
                                <td>{{sucursal.direccion}}</td>
                                <td>{{sucursal.municipio.nombre}}</td>
                                <td>
                                    <!-- <button (click)="editSucursal(sucursal)"       class="btn btn-outline-info btn-xs" type="button">Editar</button>  -->
                                    <button (click)="deleteSucursal(sucursal.id)"  class="btn btn-outline-danger btn-xs" type="button">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>               
            </div>          
        </div>
        <!-- fin de lista de sucursales -->
        <!--formulario de nueva sucursal-->
        <app-new-sucursal *ngIf='formNewSucursal' [empresa]="empresa" (readySucursal)="readySucursal($event)"></app-new-sucursal>
 
        <!-- fin formulario -->
     </div> 
     
</div>
</div>



