<br>
<div class="row">
   <!-- .row -->
   <div class="row justify-content-center container">
    <div class="col-xs-6 col-lg-6">
        <label>Número Placa</label>
        <input class="form-control" [(ngModel)]="datos.numeroPlaca" name="numeroPlaca" type="text" required />
    </div>
    <div class="col-xs-6 col-lg-6">
        <label>Número VIN</label>
        <input class="form-control" [(ngModel)]="datos.numeroVIN" name="numeroVIN" type="text" required />
    </div>
    <div class="col-xs-6 col-lg-6">
        <label>Número Serie</label>
        <input class="form-control" [(ngModel)]="datos.numeroSerie" name="numeroSerie" type="text" required />
    </div>
    <div class="col-xs-6 col-lg-6">
        <label>Número Motor</label>
        <input class="form-control" [(ngModel)]="datos.numeroMotor" name="numeroMotor" type="text" required />
    </div>
    <div class="col-xs-6 col-lg-6">
        <label>Número Chasis</label>
        <input class="form-control" [(ngModel)]="datos.numeroChasis" name="numeroChasis" type="text" required />
    </div>
    <div class="col-xs-6 col-lg-6">
        <label>Identificación Propietario</label>
        <input class="form-control" [(ngModel)]="datos.propietario" name="propietario" type="text" required />
    </div>
    <div class="col-xs-6 col-lg-6">
        <label></label>
        <button (click)="onKeyValidateVehiculo()" [ngClass]="{'btn-danger' : isError}" class="btn btn-default btn-success" ngxclipboard="" type="button"><i class="fa fa-search"></i></button>
    </div>
 </div> 
</div>
<!-- .row -->
<div class="row" *ngIf='vehiculoSuccess'>
   <div class="col-md-12">
      <div class="card">
         <div class="card-header">
            <h5 class="card-title">Vehículo(s) <small>Registrado(s)</small></h5>
         </div>
         <div class="card-body">
            <table class="table " id="dataTables-example">
               <thead>
                  <tr>
                     <th>Placa</th>
                     <th>Chasis</th>
                     <th>Número VIN</th>
                     <th>Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="odd" *ngFor="let vehiculo of vehiculos; let i=index">
                     <td >{{vehiculo.placa.numero}}</td>
                     <td >{{vehiculo.chasis}}</td>
                     <td >{{vehiculo.vin}}</td>
                     <td><button (click)="showVehiculo(vehiculo)" class="btn btn-outline-info" type="button">Detalles</button> 
                     </td>
                  </tr>
               </tbody>
            </table>
            <!-- /.table-responsive --> 
         </div>
      </div>
   </div>
   <app-vehiculo-show *ngIf='showV' [vehiculo]="vehiculo" (cerrarForm)="cerrarForm($event)"></app-vehiculo-show>
</div>