<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <strong class="text-uppercase">Gestión Documental</strong>
              <small>Medio Correspondencia</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-success">
                  <i class="fa fa-plus"></i>
                  Nuevo
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let vhloCfgTipoAlerta of vhloCfgTipoAlertas; let i = index">
                  <td >{{ i + 1 }}</td>
                  <td >{{ vhloCfgTipoAlerta.nombre }}</td>
                  <td>
                    <div class="btn-group" *ngIf="vhloCfgTipoAlerta.gestionable">
                      <button (click)="onEdit(vhloCfgTipoAlerta)" class="btn btn-xs btn-info" type="button">
                        <i class="fa fa-edit"></i>
                        Editar
                      </button> 
                      <button (click)="onDelete(vhloCfgTipoAlerta.id)"  class="btn btn-xs btn-danger" type="button">
                        <i class="fa fa-trash"></i>
                        Eliminar
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table><!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [vhloCfgTipoAlerta]="vhloCfgTipoAlerta" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>