<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="m-0">Editar Tramite</h5>
                <hr> 
                <div class="row justify-content-center">
                    <form #tramiteForm="ngForm">
                        <div class="form-group row">                  
                            <div class="col-xs-12 col-lg-12">
                                <label>Modulo*</label>
                                <ng-select [multiple]="false" [options]="modulos" [(ngModel)]="moduloSelected" required name="moduloId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Nombre*</label>
                                <input class="form-control" [(ngModel)]="tramite.nombre" name="nombre" placeholder="Nombre" type="text" required />
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Valor*</label>
                                <input class="form-control" [(ngModel)]="tramite.valor" name="valor" placeholder="Valor" type="text" required />
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Unidad*</label>
                                <input class="form-control" [(ngModel)]="tramite.unidad" name="unidad" placeholder="Unidad" type="number" required />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Redondeo*</label>
                                <input class="form-control" [(ngModel)]="tramite.redondeo" name="redondeo" type="checkbox" />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Afectación*</label>
                                <input class="form-control" [(ngModel)]="tramite.afectacion" name="afectacion" type="checkbox" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="onCancelar()" class="btn btn-secondary">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                    <button (click)="onEnviar()" [disabled]="tramiteForm.invalid" class="btn btn-outline-primary" type="button">
                        <i class="fa fa-floppy-o"></i>
                        Enviar
                    </button>
                </div>    
            </div>
        </div>
    </div>
</div>