<hr>
<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card"><!-- .card -->
            <div class="card-header">
                <h5 class="text-uppercase">Registro de prorroga</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formProrroga="ngForm">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Fecha inicio <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="prorroga.fechaInicio" name="fechaInicio" type="date" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Fecha fin <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="prorroga.fechaFin" name="fechaFin" type="date" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Numero modificatoria <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="prorroga.numeroModificatorio" name="numeroModificatorio" type="number" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="btn-group">
                            <button (click)="onCancelar()" (ready)="ready($event)" class="btn btn-default">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </button>
                            <button (click)="onEnviar()" (ready)="ready($event)" [disabled]="formProrroga.invalid" class="btn btn-primary" type="button">
                                <i class="fa fa-save"></i>
                                Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.card -->
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="prorrogas && prorrogas.length > 0">
        <div class="card">
            <!-- .card -->
            <div class="card-header">
                <h5 class="text-uppercase">Prorrogas Actuales</h5>
            </div>
            <div class="card-body">
                <table class="table " id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th>Numero modificatoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let prorroga of prorrogas; let i = index">
                            <td>{{ prorroga.id }}</td>
                            <td>{{ prorroga.fechaInicial }}</td>
                            <td>{{ prorroga.fechaFinal }}</td>
                            <td>{{ prorroga.numeroModificatorio }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>