<div class="container" >
  <div class="row" *ngIf='formIndex'>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Vehículos <small>Registrados</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-success btn-round"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>Placa </th>
                  <th>Motor</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>linea</th> 
                  <th>valor</th>
                  <th>chasis</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let vehiculo of vehiculos; let i = index">
                  <td>{{vehiculo.placa}}</td>
                  <td>{{vehiculo.motor}}</td>
                  <td>{{vehiculo.modelo}}</td>
                  <td>{{vehiculo.linea.marca.nombre}}</td>
                  <td>{{vehiculo.linea.nombre}}</td>
                  <td>{{vehiculo.valor}}</td>
                  <td>{{vehiculo.chasis}}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="editVehiculo(vehiculo)" class="btn btn-info" type="button">
                        <i class="fa fa-pencil"></i>
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table> 
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [vehiculo]="vehiculo" (ready)="ready($event)"></app-edit>
    <app-new-vehiculo *ngIf='formNew' (ready)="ready($event)"></app-new-vehiculo>

</div>