<div class="container">
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Informe Policial de Accidentes de Transito (IPAT)</b>
            <br>
            <small>Listado de Ipats</small>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-success  btn-round " data-target="#themepicker" data-toggle="modal">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Id</th>
                <th>Numero Consecutivo</th>
                <th>Estado</th>
                <!-- <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let consecutivo of consecutivos; let i = index">
                <td>{{consecutivo.id}}</td>
                <td>{{consecutivo.consecutivo}}</td>
                <td>{{consecutivo.estado}}</td>
              </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->
          
        </div>
      </div>
    </div>
  </div>
  <app-new *ngIf='formNew' (ready)="ready($event)"></app-new> 
</div>