<div class="container">
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Seguridad Vial</b>
            <small>Listado de IPAT</small>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-default">
                <i class="fa fa-plus"></i>
                Nuevo
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Id</th>
                <th>No. Consecutivo</th>
                <th>Organismo Transito</th>
                <th>Estado</th>
                <!--<th>Acciones</th>-->
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let consecutivo of consecutivos; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ consecutivo.consecutivo }}</td>
                <td>{{ consecutivo.organismoTransito?.nombre }}</td>
                <td>{{ consecutivo.estado }}</td>
                <!--<td><div class="btn-group">
                  <button (click)="onShow(consecutivo)" (ready)="ready($event)" class="btn btn-xs btn-default" type="button">
                    <i class="fa fa-eye"></i>
                  </button>
                </div></td>-->
              </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->
          
        </div>
      </div>
    </div>
  </div>
  <app-new *ngIf='formNew' (ready)="ready($event)"></app-new> 
</div>