<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Registrar registro de compromiso</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <form #formSearch="ngForm">
                            <label>Buscar solicitud de registro de compromiso</label>
                            <div class="input-group">
                                <input type="numeric" class="form-control" placeholder="Número de solicitud"
                                    [(ngModel)]="numeroSolicitud" name="numeroSolicitud" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchSolicitud()" [disabled]="formSearch.invalid"
                                        class="btn btn-default btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="row" *ngIf="solicitud">
                    <div class="col-xs-12 col-lg-12">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Número: </b>
                                        {{ solicitud.cdp.actividad.cuenta.proyecto.numero }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Nombre: </b>
                                        {{ solicitud.cdp.actividad.cuenta.proyecto.nombre }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Fecha: </b>
                                        {{ (solicitud.cdp.actividad.cuenta.proyecto.fecha.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Costo total: </b>
                                        {{ solicitud.cdp.actividad.cuenta.proyecto.costoTotal | currency: 'COP' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b class="text-ceneter text-uppercase">Tercero</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Nombre: </b>
                                        <ng-container *ngIf="solicitud.ciudadano">
                                            {{ solicitud.ciudadano.primerNombre }}
                                            {{ solicitud.ciudadano.primerApellido }}
                                        </ng-container>
                                        <ng-container *ngIf="solicitud.empresa">
                                            {{ solicitud.empresa.nombre }}
                                        </ng-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Identificación: </b>
                                        <ng-container *ngIf="solicitud.ciudadano">
                                            {{ solicitud.ciudadano.identificacion }}
                                        </ng-container>
                                        <ng-container *ngIf="solicitud.empresa">
                                            {{ solicitud.empresa.nit }}
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="solicitud">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Crear registro de compromiso</b>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="text-justify">
                            <td colspan="2">
                                <b>Concepto:</b> {{ solicitud.cdp.concepto }}
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td><b class="text-uppercase">Cuenta</b></td>
                            <td><b class="text-uppercase">Actividad</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Número</b><br>
                                {{ solicitud.cdp.actividad.cuenta.numero }}
                                <br>
                                <b>Nombre</b><br>
                                {{ solicitud.cdp.actividad.cuenta.nombre }}
                            </td>
                            <td>
                                <b>Número</b><br>
                                {{ solicitud.cdp.actividad.numero }}
                                <br><b>Nombre</b><br>
                                {{ solicitud.cdp.actividad.nombre }}
                                <br><b>Valor CDP</b><br>
                                $ {{ solicitud.cdp.valor | currency: 'COP' }}
                                <br><b>Valor Solicitud de compromiso</b><br>
                                $ {{ solicitud.valor | currency: 'COP' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
        
                <form #formNew="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <label>Fecha expedición</label>
                            <input class="form-control" [(ngModel)]="registro.fechaExpedicion" name="fechaExpedicion" type="date" required>
                        </div>
                        <div class="col-xs-12 col-lg-8">
                            <label>Número</label>
                            <input class="form-control" [(ngModel)]="registro.numero" name="numero" type="text" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <label>No. contrato</label>
                            <input class="form-control text-uppercase" [(ngModel)]="registro.contratoNumero" name="contratoNumero" type="text" required>
                        </div>
        
                        <div class="col-xs-12 col-lg-6">
                            <label>Tipo contrato</label>
                            <ng-select [multiple]="false" [options]="tiposContrato" [(ngModel)]="registro.contratoTipo" name="contratoTipo" required></ng-select>
                        </div>

                        <div class="col-xs-12 col-lg-6">
                            <label>Estado contrato</label>
                            <ng-select [multiple]="false" [options]="estadosContrato" [(ngModel)]="registro.contratoEstado" name="contratoEstado" required></ng-select>
                        </div>

                        <div class="col-xs-12 col-lg-6">
                            <label>Valor apropiado</label>
                            <input class="form-control text-uppercase" [(ngModel)]="registro.valorApropiado" name="valorApropiado" type="text" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>