<div class="container" >
  <div class="row" *ngIf='formIndex'>
      <div class="col-md-8 ">
        <div class="card">
          <div class="card-header">
          <h5 class="card-title">Reportes<small> de ingresos</small></h5>
          </div>
          <div class="card-body">
            <div class="row justify-content-center container">
              <div class="col-xs-8 col-lg-8">
                <label>Seleccione tipo de reportes</label>
                <ng-select
                    [multiple]="false"
                    [options]="tipoReportes"
                    [(ngModel)]="tipoReporteSelected"
                    name="tipoReportes">
                </ng-select>
              </div>
            </div> 
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-lg-8" *ngIf="tipoReporteSelected=='tramite'">
          <app-tramite  (ready)="ready($event)"></app-tramite>
        </div>
        <div class="col-xs-12 col-lg-8" *ngIf="tipoReporteSelected=='multa'">
          <app-multa  (ready)="ready($event)"></app-multa>
        </div>
        <div class="col-xs-12 col-lg-8" *ngIf="tipoReporteSelected=='retefuente'">
          <app-retefuente  (ready)="ready($event)"></app-retefuente>
        </div>
    </div>
</div>
