<div class="row">
        <div class="col-xs-12 col-lg-8">
            <form #formReparto="ngForm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-uppercase">Reparto de documento</h5>
                        <small>Los campos con <b>*</b> son obligatorios</small>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-3">
                                <label>No. de Radicado <b>{{ documento.numeroRadicado }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>No. de folios <b>{{ documento.folios }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Fecha <b>{{ date|date:('dd/MM/yyyy') }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Hora <b>{{ date|date:('HH:mm:ss a') }}</b></label>
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-4">
                                <label>Peticionario: <b>{{ documento.peticionario.primerNombre }} {{ documento.peticionario.primerApellido }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Cedula o Nit: <b>{{ documento.peticionario.identificacion }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Entidad: <b>{{ documento.peticionario.entidadNombre }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Dirección: <b>{{ documento.peticionario.direccion }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Teléfono: <b>{{ documento.peticionario.telefono }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Correo: <b>{{ documento.peticionario.correoElectronico }}</b></label>
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de Correspondencia: <b>{{ documento.tipoCorrespondencia.nombre }}</b></label>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Asunto y Concepto:</label>
                                <p class="text-justify"><b>{{ documento.descripcion }}</b></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-radio">
                                    <input name="correoCertificadoLlegada" [(ngModel)]="aceptada" value="true" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Aceptar</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-radio">
                                    <input name="correoCertificadoLlegada" [(ngModel)]="aceptada" value="false" type="radio" id="customRadio2" name="customRadio" class="custom-control-input" >
                                    <label class="custom-control-label" for="customRadio2">Rechazar</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Observaciones</label>
                                <textarea class="form-control" [(ngModel)]="observaciones" name="observaciones" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div  class="col-xs-12 col-lg-12">
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                        <button (click)="onCrearReparto()" [disabled]="formReparto.invalid" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    