<div class="container" >
  <div class="row">
    <div class="col-xs-12 col-lg-4" *ngIf="formSearch">
      <div class="card">
        <div class="card-header">
          <b class="text-uppercase">Buscar Reducciones</b>
        </div>
        <div class="card-body">
          <!-- .card-body -->
          <form #formSearch="ngForm">
            <div class="form-group">
              <div class="row">
                <!-- .row -->
                <div class="col-xs-12 col-lg-12">
                  <label>Tipo de reducción</label>
                  <ng-select [multiple]="false" [options]="tiposReduccion" [(ngModel)]="search.tipoReduccion" name="tipoReduccion"
                    required></ng-select>
                </div>
                <div class="col-xs-12 col-lg-12">
                  <label>Tipo de filtro</label>
                  <ng-select [multiple]="false" [options]="tiposFiltro" [(ngModel)]="search.tipoFiltro" name="tipoFiltro" required></ng-select>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoFiltro == 1">
                  <label *ngIf="search.tipoReduccion == 1">No. CDP <b class="text-danger">*</b></label>
                  <label *ngIf="search.tipoReduccion == 2">No. Registro compromiso <b class="text-danger">*</b></label>
                  <input class="form-control text-uppercase" [(ngModel)]="search.filtro" name="filtro" type="text" required>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoFiltro == 2">
                  <label>Fecha de reducción<b class="text-danger">*</b></label>
                  <input class="form-control" [(ngModel)]="search.filtro" name="filtro" type="date" required>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="btn-group">
            <button (click)="onSearch()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary"
              type="button">
              <i class="fa fa-search"></i>
              Buscar
            </button>
            <button (click)="onNew()" class="btn btn-default">
              <i class="fa fa-plus"></i>
              <span class="text">Nuevo</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="formIndex">
        <div class="card">
          <div class="card-header">
            <h5>
              <b class="text-uppercase">Reducciones</b>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table" id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let reduccion of reducciones; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ (reduccion.fecha.timestamp * 1000) | date: 'dd/MM/yyyy' }}</td>
                  <td>$ {{ reduccion.valor | currency: 'COP' }}</td>
                  <td>
                    <ng-container *ngIf="reduccion.tipo == 'RC'">
                      <b>Registro de compromiso No:</b>
                      {{ reduccion.registroCompromiso.numero }}
                    </ng-container>
                    <ng-container *ngIf="reduccion.tipo == 'CDP'">
                      <b>CDP No:</b>
                      {{ reduccion.cdp.numero }}
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
  </div>

  <app-new-reduccion *ngIf='formNew' (ready)="ready($event)"></app-new-reduccion>
</div>