<div class="container-fluid">
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <b class="text-uppercase">Seguridad Vial</b>
            <small>Listado de IPAT</small>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Id</th>
                <th>No. Consecutivo</th>
                <th>Organismo Transito</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let consecutivo of consecutivos; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ consecutivo.numero }}</td>
                <td>{{ consecutivo.talonario.organismoTransito?.nombre }}</td>
                <td>{{ consecutivo.estado }}</td>
                <td>
                  <button (click)="onShow(consecutivo)" *ngIf="consecutivo.estado == 'UTILIZADO'" (ready)="ready($event)" class="btn btn-xs btn-primary" type="button">
                    Ver
                  </button>
                  <button (click)="onNew(consecutivo)" *ngIf="consecutivo.estado == 'ASIGNADO'" (ready)="ready($event)" class="btn btn-xs btn-success" type="button">
                    Nuevo Ipat
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->   
        </div>
      </div>
    </div>
  </div>
  <app-new-svipat *ngIf='formNew' [consecutivo]="consecutivo" (ready)="ready($event)"></app-new-svipat> 
  <app-show-svipat *ngIf='formShow' [ipat]="ipat" [conductores]="conductores" [vehiculos]="vehiculos" [victimas]="victimas" (ready)="ready($event)"></app-show-svipat>
  <!-- <app-show *ngIf='formShow' [ipat]="ipat" (ready)="ready($event)"></app-show> -->
</div>