<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Editar tipo de insumo</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formEdit="ngForm">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Módulo
                                <strong class="text-danger">*</strong>
                            </label>
                            <ng-select [multiple]="false" [options]="modulos" [(ngModel)]="moduloSelected" required name="idModulo">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Nombre
                                <strong class="text-danger">*</strong>
                            </label>
                            <input class="form-control" [(ngModel)]=" tipoInsumo.nombre" name="nombre" type="text" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Referencia
                            </label>
                            <input class="form-control" [(ngModel)]=" tipoInsumo.referencia" name="referencia" type="text" />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Categoria
                                <strong class="text-danger">*</strong>
                            </label>
                            <ng-select [multiple]="false" [options]="categorias" [(ngModel)]="tipoInsumo.categoria" required
                                name="idTipoInsumo">
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formEdit.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card" *ngIf='!formNewValor'>
            <div class="card-header">
            <h5 class="card-title">
                <b class="text-uppercase">Configuración</b>
                <br>
                <small>Valores para {{ tipoInsumo.nombre }}</small>
                <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    <span class="text">Nuevo</span>
                </button>
                </div>
            </h5>
            </div>
            <div class="card-body">
            <table class="table " id="dataTables-example-valor">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Valor Unitario</th>
                    <th>Fecha</th>
                    <th>estado</th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd" *ngFor="let valor of valores; let i = index">
                    <td>{{ valor.id }}</td>
                    <td>{{ valor.valor }}</td>
                    <td>{{ valor.fecha }}</td>
                    <td *ngIf='valor.activo'>Activo</td>
                    <td *ngIf='!valor.activo'>Inactivo</td>
                </tr>
                </tbody>
            </table>
            <!-- /.table-responsive -->
            </div>
        </div>
        
        <app-value *ngIf='formNewValor' [tipoInsumo]=" tipoInsumo" (readyValor)="readyValor($event)"></app-value>
    </div>
</div>