<div class="container" >
    <div class="row" *ngIf='formIndex'>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Asignación de rangos a organismo de tránsito</b>
                    <div class="btn-group pull-right">
                        <button (click)="onNew()" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Nuevo
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Sede operativa</th>
                            <th>Rangos</th>
                            <th>Inventario</th>
                            <th>No. acta</th>
                            <!-- <th>Acciones</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd" *ngFor="let asignacion of asignaciones; let i = index">
                            <td >{{ i + 1 }}</td>
                            <td >{{ asignacion.organismoTransito.nombre }}</td>
                            <td >
                                <b>Desde</b>
                                <br>
                                {{ asignacion.desde }}
                                <br>
                                <b>Hasta</b>
                                <br>
                                {{ asignacion.hasta }}
                            </td>
                            <td >
                                <b>Cant. Disponible</b>
                                <br>
                                {{ asignacion.cantidadDisponible }}
                                <br>
                                <b>Cant. recibida</b>
                                <br>
                                {{ asignacion.cantidadRecibida }}
                            </td>
                            <td >
                                <a href="{{ apiUrl }}/acta/{{ asignacion.id }}/pdf" class="btn btn-success" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                    {{ asignacion.numeroActa}}
                                </a>
                            </td>
                            <!--
                                <td>
                                    <button (click)="edit(asignacion)" class="btn btn-xs btn-info" type="button">
                                        <i class="fa fa-edit"></i>
                                        Editar
                                    </button> 
                                    <button (click)="delete(asignacion.id)"  class="btn btn-xs btn-danger" type="button">
                                        <i class="fa fa-trash"></i>
                                        Eliminar
                                    </button> 
                                </td>
                            -->
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive --> 
                </div>
            </div>
        </div>
    </div>

    <!--
        <app-edit *ngIf='formEdit' [asignacion]="asignacion" (ready)="ready($event)"></app-edit>
    -->
    <app-new-pnalasignacion *ngIf='formNew' (ready)="ready($event)"></app-new-pnalasignacion>
</div>