<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-8" *ngIf="formSearch">
      <div class="card">
        <div class="card-header">
          <b class="text-uppercase">Reducciones</b>
          <small>Buscar</small>
        </div>
        <div class="card-body">
          <!-- .card-body -->
          <form #formSearch="ngForm">
            <div class="form-group">
              <div class="row">
                <!-- .row -->
                <div class="col-xs-12 col-lg-12">
                  <label>Tipo de filtro</label>
                  <ng-select [multiple]="false" [options]="tiposBusqueda" [(ngModel)]="search.tipoBusqueda" name="tipoBusqueda" required></ng-select>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="btn-group">
            <button (click)="onSearch()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary"
              type="button">
              <i class="fa fa-search"></i>
              Buscar
            </button>
            <button (click)="onNew()" class="btn btn-default">
              <i class="fa fa-plus"></i>
              <span class="text">Nuevo</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf='formIndex'>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Configuración Placas</b>
            <br>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>#</th>
                <th>Numero</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Oragnismo Transito</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let placa of placas; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ placa.numero }}</td>
                <td>{{ placa.estado }}</td>
                <td>{{ placa.tipoVehiculo?.nombre }}</td>
                <td>{{ placa.organismoTransito?.nombre }}</td>
                <td>
                  <div class="btn-group">
                    <button (click)="onLiberate(placa.id)" class="btn btn-xs btn-primary" type="button">
                      <i class="fa fa-unlock"></i>
                      Liberar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
      </div>
    </div>
  </div>
  <app-edit *ngIf='formEdit' [placa]="placa" (ready)="ready($event)"></app-edit>
  <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>