<div class="container" >
  <div class="row" *ngIf='formIndex'>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Vehículos <small>Registrados</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-success btn-round"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>Placa </th>
                  <th>Tipo de vehiculo</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>linea</th> 
                  <th>Motor</th>
                  <th>chasis</th>
                  <th>Combustible</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let registroMaquinaria of registrosMaquinaria; let i = index">
                  <td>{{ registroMaquinaria.vehiculo.placa.numero }}</td>
                  <td>{{ registroMaquinaria.tipoVehiculo.nombre }}</td>
                  <td>{{ registroMaquinaria.vehiculo.modelo }}</td>
                  <td>{{ registroMaquinaria.vehiculo.linea.marca.nombre}}</td>
                  <td>{{ registroMaquinaria.vehiculo.linea.nombre }}</td>
                  <td>{{ registroMaquinaria.vehiculo.motor }}</td>
                  <td>{{ registroMaquinaria.vehiculo.chasis }}</td>
                  <td>{{ registroMaquinaria.vehiculo.combustible.nombre }}</td>
                  <!-- <td>{{ registroMaquinaria.id }}</td> -->
                  <td>
                    <button (click)="editVehiculo(vehiculo)" class="btn btn-outline-info" type="button">Editar</button> 
                    <button (click)="deleteVehiculo(vehiculo.id)"  class="btn btn-outline-danger" type="button">Eliminar</button> 
                  </td>
                </tr>
              </tbody>
            </table> 
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <!-- <app-edit *ngIf='formEdit' [vehiculo]="vehiculo" (ready)="ready($event)"></app-edit> -->
    <app-new-rnmaRegistroMaquinaria *ngIf='formNew' (ready)="ready($event)"></app-new-rnmaRegistroMaquinaria>

</div>