<div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>
                    <b class="text-uppercase">Solicitudes de CDP</b>
                    <div class="btn-group pull-right">
                        <button (click)="onNew()" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            <span class="text">Nuevo</span>
                        </button>
                    </div>
                </h5>
            </div>
            <div class="card-body">
                <table class="table " id="dataTables-example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>No. solicitud</th>
                            <th>No. proyecto</th>
                            <th>Valor total</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let solicitud of solicitudes; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ solicitud.solicitudNumero }}</td>
                            <td>{{ solicitud.actividad.proyecto.numero }}</td>
                            <td>{{ solicitud.valor | currency: 'COP' }}</td>
                            <td>{{ solicitud.solicitudFecha }}</td>
                            <td>
                                <div class="btn-group">
                                    <!--
                                        <button (click)="onEdit(solicitud)" class="btn btn-xs btn-primary" type="button">
                                            <i class="fa fa-file-pdf"></i>
                                        </button>
                                        <button (click)="onDelete(solicitud.id)" class="btn btn-xs btn-danger" type="button">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="formSearch">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">
                    <b>Solicitud de disponibilidad presupuestal</b>
                </h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formSearch="ngForm">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="input-group">
                                <input type="numeric" class="form-control" placeholder="Número de proyecto" [(ngModel)]="numeroProyecto" name="numeroProyecto" required />
                                <span class="input-group-btn">
                                    <button (click)="searchProyecto()" [disabled]="formSearch.invalid" class="btn btn-default btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-lg-4" *ngIf="proyecto">
                <div class="card">
                    <div class="card-header">
                        <b class="text-uppercase">Resumen de proyecto</b>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Número: </b>
                                        {{ proyecto.numero }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Nombre: </b>
                                        {{ proyecto.nombre }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Fecha: </b>
                                        {{ proyecto.fecha }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Cuenta número: </b>
                                        {{ proyecto.cuentaNumero }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Cuenta nombre: </b>
                                        {{ proyecto.cuentaNombre }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Costo total: </b>
                                        {{ proyecto.costoTotal | currency: 'COP' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>      
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-lg-6" *ngIf="actividades">
                <div class="card">
                    <div class="card-header">
                        <b class="text-uppercase">Registrar solicitud</b>
                    </div>
                    <div class="card-body">
                        <form #formNew="ngForm">
                            <div class="form-group row">
                                <div class="col-xs-12 col-lg-12">
                                    <label>Actividades</label>
                                    <ng-select [multiple]="false" [options]="actividades" [(ngModel)]="datos.idActividad" name="idActividad"></ng-select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                                <i class="fa fa-save"></i>
                                Enviar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>