<div class="row"  *ngIf="formIndex">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Solicitudes de CDP</b>
                <div class="btn-group pull-right">
                    <button (click)="onNew()" class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        <span class="text">Nuevo</span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table " id="dataTables-example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>No. solicitud</th>
                            <th>No. proyecto</th>
                            <th>Valor total</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let solicitud of solicitudes; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ solicitud.solicitudNumero }}</td>
                            <td>{{ solicitud.actividad.cuenta.proyecto.numero }}</td>
                            <td>{{ solicitud.valor | currency: 'COP' }}</td>
                            <td>{{ solicitud.solicitudFecha }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ apiUrl }}bancoproyecto/bpcdp/request/{{ solicitud.id }}/pdf" class="btn btn-success" target="_blank">
                                        <i class="fa fa-file-pdf-o"></i>
                                        Generar PDF
                                    </a>
                                    <!--
                                            <button (click)="onEdit(solicitud)" class="btn btn-xs btn-primary" type="button">
                                                <i class="fa fa-file-pdf"></i>
                                            </button>
                                            <button (click)="onDelete(solicitud.id)" class="btn btn-xs btn-danger" type="button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-4" *ngIf="formSearch">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">
                    Solicitud de disponibilidad presupuestal
                </b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <form #formSearch="ngForm">
                            <div class="input-group">
                                <input type="numeric" class="form-control" placeholder="Número de proyecto" [(ngModel)]="numeroProyecto" name="numeroProyecto" required />
                                <span class="input-group-btn">
                                    <button (click)="searchProyecto()" [disabled]="formSearch.invalid" class="btn btn-default btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div> 
                        </form>
                    </div>
                </div>

                <div class="row" *ngIf="proyecto">
                    <div class="col-xs-12 col-lg-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><b class="text-uppercase">Resumen del proyecto</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Número: </b>
                                        {{ proyecto.numero }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Nombre: </b>
                                        {{ proyecto.nombre }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Fecha: </b>
                                        {{ proyecto.fecha }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Costo total: </b>
                                        {{ proyecto.costoTotal | currency: 'COP' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="actividades && formNew">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <b class="text-uppercase">Registrar solicitud</b>
                    </div>
                    <div class="card-body">
                        <form #formNew="ngForm">
                            <div class="form-group row">
                                <div class="col-xs-12 col-lg-12">
                                    <label>Actividades</label>
                                    <ng-select [multiple]="false" [options]="actividades" [(ngModel)]="datos.idActividad" name="idActividad"></ng-select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                                <i class="fa fa-save"></i>
                                Enviar
                            </button>
                            <button (click)="onCancelar()" [disabled]="formNew.invalid" class="btn btn-default" type="button">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>