<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Vehículos Registrados <small>remolques </small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-save"></i>
                  Nuevo
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>Placa</th>
                  <th>Marca</th>
                  <th>Clase</th>
                  <th>Serie</th>
                  <th>Vin</th>
                  <th>Numero de ejes</th>
                  <th>Origen del destino</th>
                  <th>Numero Fth</th>
                  <th>Condicion Ingreso</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let registroRemolque of registrosRemolque; let i = index">
                  <td>{{ registroRemolque.vehiculo.placa.numero }}</td>
                  <td>{{ registroRemolque.vehiculo.linea.marca.nombre }}</td>
                  <td>{{ registroRemolque.vehiculo.clase.nombre }}</td>
                  <td>{{ registroRemolque.vehiculo.serie}}</td>
                  <td>{{ registroRemolque.vehiculo.vin}}</td>
                  <td>{{ registroRemolque.numeroEjes }}</td>
                  <td>{{ registroRemolque.origenRegistro.nombre }}</td>
                  <td>{{ registroRemolque.numeroFth }}</td>
                  <td>{{ registroRemolque.condicionIngreso.nombre }}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="editRemolque(registroRemolque)" class="btn btn-primary" type="button" >
                        <i class="fa fa-pencil"></i>
                      </button> 
                      <button (click)="deleteRemolque(registroRemolque.id)"  class="btn btn-danger" type="button">
                        <i class="fa fa-trash"></i>
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table> 
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [registroRemolque]="registroRemolque" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new> 

</div>