<div class="row" *ngIf="comparendo">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><!-- .col -->
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Nuevo acuerdo de pago</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm"> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Valor comparendo <strong class="text-danger">*</strong></label>
                                <input type="numeric" class="form-control" [(ngModel)]="acuerdoPago.valorBruto" name="valorBruto" required />
                            </div>

                            <div class="col-xs-12 col-lg-12">
                                <label>Fecha comparendo <strong class="text-danger">*</strong></label>
                                <input type="date" class="form-control" [(ngModel)]="acuerdoPago.fechaComparendo" name="fechaComparendo" disabled required />
                            </div>

                            <div class="col-xs-12 col-lg-12">
                                <label>No. de cuotas <strong class="text-danger">*</strong></label>
                                <input type="numeric" class="form-control" [(ngModel)]="acuerdoPago.numeroCuotas" name="numeroCuotas" required />
                            </div>

                            <div class="col-xs-12 col-lg-12">
                                <label>% Interes <strong class="text-danger">*</strong></label>
                                <input type="numeric" class="form-control" [(ngModel)]="interesInicial" name="interesInicial" disabled required />
                            </div>

                            <div class="col-xs-12 col-lg-12">
                                <label>% cuota inicial <strong class="text-danger">*</strong></label>
                                <input type="numeric" class="form-control" [(ngModel)]="acuerdoPago.porcentajeInicial" name="porcentajeInicial" required />
                            </div>

                            <div class="col-xs-12 col-lg-12">
                                <label>% descuento <strong class="text-danger">*</strong></label>
                                <input type="numeric" class="form-control" [(ngModel)]="acuerdoPago.porcentajeDescuento" name="porcentajeDescuento" required />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onPreliquidar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-calculator"></i>
                        Preliquidación
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.col -->

    <div class="col-xs-12 col-lg-8" *ngIf="formPreliquidacion"><!-- .col -->
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Preliquidacion</b>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr class="odd text-uppercase">
                            <td>
                                <b>Capital total</b>
                                <br>
                                {{ acuerdoPago.valorBruto | currency: 'COP' }}
                            </td>
                                
                            <td>
                                <b>Total interes</b>
                                <br>
                                {{ acuerdoPago.valorMora | currency: 'COP' }}
                            </td>

                            <td>
                                <b>Descuento {{ acuerdoPago.porcentajeDescuento }} %</b>
                                <br>
                                {{ acuerdoPago.valorDescuento | currency: 'COP' }}
                            </td>

                            <td>
                                <b>Saldo interes</b>
                                <br>
                                {{ (acuerdoPago.valorMora - acuerdoPago.valorDescuento) | currency: 'COP' }}
                            </td>

                            <td>
                                <b>Total pagar</b>
                                <br> {{ acuerdoPago.valorNeto | currency: 'COP' }}
                            </td>
                        </tr>
                        <tr  class="odd text-uppercase">
                            <td>
                                <b>Fecha Inicial</b>
                                <br>
                                {{ (acuerdoPago.fechaInicial.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                            </td>
                            <td>
                                <b>Fecha Final</b>
                                <br>
                                {{ acuerdoPago.fechaFinal }}
                            </td>
                            <td>
                                <b>Valor cuota inicial (0)</b>
                                <br>
                                {{ acuerdoPago.valorCuotaInicial | currency: 'COP' }}
                            </td>
                            <td>
                                <b>25% Interes</b>
                                <br> {{ valorPorcentajeInteres | currency: 'COP' }}
                            </td>
                            <td>
                                <b>75% Capital</b>
                                <br> {{ valorPorcentajeCapital | currency: 'COP' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-striped" *ngIf="cuotas">
                    <thead>
                        <tr>
                            <th class="text-uppercase"><b>No. Cuota</b></th>
                            <th class="text-uppercase"><b>Valor capital</b></th>
                            <th class="text-uppercase"><b>Valor mora</b></th>
                            <th class="text-uppercase"><b>Total pagar</b></th>
                            <th class="text-uppercase"><b>Fecha Limite</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let cuota of cuotas; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ cuota.valorCapital }}</td>
                            <td>{{ cuota.valorInteres }}</td>
                            <td>{{ cuota.valorCuota }}</td>
                            <td>{{ cuota.fechaMensual }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-right">
                                <h3 class="text-uppercase">
                                    <b>Total Pagar:</b>
                                </h3>
                            </th>
                            <th colspan="4">
                                <h3>
                                    {{ totalPagar }}
                                </h3>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Liquidar
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.col -->

    <div class="col-xs-12 col-lg-8" *ngIf="formLiquidacion"><!-- .col -->
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase"><b>Acuerdo de pago No. {{ acuerdoPagoNew.numero }}</b></h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr class="odd text-uppercase">
                            <td>
                                <b>Capital total</b>
                                <br>
                                {{ acuerdoPagoNew.valorBruto | currency: 'COP' }}
                            </td>
                                
                            <td>
                                <b>Interes total</b>
                                <br>
                                {{ acuerdoPagoNew.valorMora | currency: 'COP' }}
                            </td>
                            <td>
                                <b>Valor total</b>
                                <br>
                                {{ acuerdoPagoNew.valorNeto | currency: 'COP' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-striped" *ngIf="amortizaciones">
                    <thead>
                        <tr>
                            <th class="text-uppercase"><b>No. Cuota</b></th>
                            <th class="text-uppercase"><b>Valor Cuota</b></th>
                            <th class="text-uppercase"><b>Fecha Limite</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let amortizacion of amortizaciones; let i = index">
                            <td>{{ amortizacion.numeroCuota }}</td>
                            <td>{{ amortizacion.valorNeto | currency: 'COP' }}</td>
                            <td>{{ (amortizacion.fechaLimite.timestamp * 1000) | date: 'dd/MM/yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <a href="{{ apiUrl }}/cfgadmactoadministrativo/{{ trazabilidad.id }}/pdf" class="btn btn-success" target="_blank">
                        <i class="fa fa-file-pdf-o"></i>
                        {{ trazabilidad.actoAdministrativo.numero }}
                    </a>
                    <!-- 
                        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Imprimir 
                        </button>
                    -->
                </div>
            </div>
        </div>
    </div><!-- /.col -->
