<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Nueva persona natural</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body ">
                <form #formNew="ngForm">
                    <div class="row">
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-4">
                                <label>Tipo Identificacion <strong class="text-danger">*</strong></label>
                                <ng-select (ngModelChange)="changedTipoId($event)" [multiple]="false" [options]="tiposIdentificacion"
                                    [disabled]="propietario" [(ngModel)]="tipoIdentificacionSelected" required name="tiposIdentificacionId">
                                </ng-select>
                            </div>
                            <div class="input-group" class="col-xs-12 col-lg-4">
                                <input type="text" class="form-control" placeholder="número de identificación" [(ngModel)]="ciudadano.numeroIdentificacionUsuario"
                                    required name="numeroIdentificacionUsuario" />
                                <span class="input-group-btn">
                                    <button (click)="onBuscarCiudadano()" class="col-lg-9 col-md-9" class="btn btn-default btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha Expedición Documento*</label>
                                <input class="form-control" [(ngModel)]="ciudadano.fechaExpedicionDocumento" name="fechaExpedicionDocumento" type="date"
                                    required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Primer Nombre <strong class="text-danger">*</strong></label>
                                <input class="form-control" [disabled]="propietario" [(ngModel)]="ciudadano.primerNombreUsuario" name="primerNombre"
                                    type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Segundo Nombre</label>
                                <input class="form-control" [disabled]="propietario" [(ngModel)]="ciudadano.segundoNombreUsuario" name="segundoNombre"
                                    type="text">
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Primer Apellido <strong class="text-danger">*</strong></label>
                                <input class="form-control" [disabled]="propietario" [(ngModel)]="ciudadano.primerApellidoUsuario" name="primerApellido"
                                    type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Segundo Apellido</label>
                                <input class="form-control" [disabled]="propietario" [(ngModel)]="ciudadano.segundoApellidoUsuario" name="segundoApellido"
                                    type="text">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Genero <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [disabled]="propietario" [options]="generos" [(ngModel)]="generoSelected" required
                                    name="generoId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha Nacimiento <strong class="text-danger">*</strong></label>
                                <input class="form-control" [disabled]="propietario" [(ngModel)]="ciudadano.fechaNacimiento" name="fechaNacimiento"
                                    type="date" required>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Pais Nacimiento <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [disabled]="propietario" [options]="paises" [(ngModel)]="paisNacimientoSelected"
                                    (ngModelChange)="changedPaisNacimiento($event)" required name="paisId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Municipio Nacimiento <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [disabled]="propietario" [options]="municipiosNacimiento" [(ngModel)]="municipioNacimientoSelected"
                                    required name="municipioId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Pais Residencia <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [disabled]="propietario" [options]="paises" [(ngModel)]="paisResidenciaSelected"
                                    (ngModelChange)="changedPaisResidencia($event)" required name="paisId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Municipio Residencia <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [disabled]="propietario" [options]="municipiosResidencia" [(ngModel)]="municipioResidenciaSelected"
                                    required name="departamentoId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Telefono <strong class="text-danger">*</strong></label>
                                <input class="form-control" [disabled]="propietario" [(ngModel)]="ciudadano.telefonoUsuario" name="telefono"
                                    type="number" required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Direccion Residencia <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="ciudadano.direccion" name="direccion" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Correo <strong class="text-danger">*</strong></label>
                                <input class="form-control" [disabled]="propietario" [(ngModel)]="ciudadano.correoUsuario" name="correo" type="email"
                                    required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Password</label>
                                <input class="form-control" [(ngModel)]="ciudadano.password" name="password" type="text"
                                    required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Rol <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [options]="roles" [(ngModel)]="rolSelected" name="roleId"
                                    required>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-default">Cancelar</button>
                <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>