<div class="container" >
  <div  *ngIf='!formShow' class="row align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Módulo RNC</h3>
      <p>Inscripción de persona jurídica</p> 
    </div>
    <div class="col text-right ">
      <div class="btn-group pull-right">
        <button (click)="onNew()" class="btn btn-outline-success  btn-round " data-target="#themepicker" data-toggle="modal"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf='formIndex'>
    <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Personas jurídica <small></small></h5>
          </div>
          <div class="card-body responsive">
          	<div class="table-responsive">
            <table class="table" id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Tipo de sociedad</th>
                    <th>Municipio</th>                    
                    <th>NIT</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Correo</th>                    
                    <th>Acciones</th>                    
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let empresa of empresas; let i = index">
                  <td>{{ empresa.id }}</td>
                  <td>
                    {{ empresa.nombre }}
                  </td>
                  <td>  
                    {{ empresa.tipoSociedad.nombre }}                  
                  </td>
                  <td>
                    {{ empresa.municipio.nombre }}
                  </td>
                  <td>
                      {{ empresa.nit }}
                  </td>
                  <td>
                      {{ empresa.telefono }}
                  </td>
                  <td>
                      {{ empresa.direccion }}
                  </td>
                  <td>
                      {{ empresa.correo }}
                  </td>
                  <td>
                    <button (click)="editEmpresa(empresa)"       class="btn btn-outline-info btn-xs" type="button">Editar</button> 
                    <button (click)="deleteEmpresa(empresa.id)"  class="btn btn-outline-danger btn-xs" type="button">Eliminar</button>
                    <button (click)="getSucursal(empresa)" class="btn btn-outline-info" type="button" title="Tramites">Sucursal</button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            <!-- /.table-responsive  -->
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [empresa]="empresa" (ready)="ready($event)"></app-edit>
    <app-new-empresa *ngIf='formNew' (ready)="ready($event)"></app-new-empresa>
    <sucursal-show *ngIf='formShow' [empresa]="empresa" (ready)="ready($event)"></sucursal-show>
</div>