<br>
<br>
<div class="container-fluid" >
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><small>Solicitudes de tramite</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-success btn-round">
                  <span class="text">Nuevo</span>
                  <i class="ti-save ml-2"></i>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Factura</th>
                    <th>Tramite</th>
                    <th>Detalles</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let tramiteSolicitud of tramitesSolicitud; let i = index">
                  <td >{{ tramiteSolicitud.id }}</td>
                  <td ></td>
                  <td ></td>
                  <td >
                    <li *ngFor="let datos of tramiteSolicitud.datos">
                      {{ datos }}
                    </li>
                  </td>
                  <td>
                    <button (click)="editTramiteSolicitud(tramiteSolicitud)" class="btn btn-info" type="button">
                      <i class="fa fa-pencil"></i>
                      Editar
                    </button> 
                    <button (click)="deleteTramiteSolicitud(tramiteSolicitud.id)"  class="btn btn-danger" type="button">
                      <i class="fa fa-trash"></i>
                      Eliminar
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [tramiteSolicitud]="tramiteSolicitud" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>