<div class="background"><img src="assets/img/comingsoon.png" alt=""></div>
<div class="container"> <br>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-10 col-md-12 m-auto mt-4 text-center">
      <h2 class="display-4">Coming Soon</h2>
      <form class="form-signin1 light_bg text-center p-3">
        <h3 class="text-success"> <span id="timer"></span>&nbsp;</h3>
        <br>
        <br>
        <h2 class="text-primary">We will live soon...</h2>
        <br>
        <p class="text-white">Stay connected, Subscribe us</p>
        <div class="input-group subscribe justify-content-center">
          <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
          <button class="input-group-addon btn btn-outline-primary" id="basic-addon2">Subscribe</button>
        </div>
        <br>
        <br>
        <div class="align-content-center  justify-content-center d-flex">
          <ul class="nav ">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>