<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Nueva clase</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Nombre <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="clase.nombre" name="nombre" type="text" required>
                        </div>

                        <div class="col-xs-12 col-lg-12">
                            <label>Codigo MT <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="clase.codigo" name="codigo" type="text" required>
                        </div>

                        <div class="col-xs-12 col-lg-12">
                            <label>Tipo Vehiculo <b class="text-danger">*</b></label>
                            <ng-select [multiple]="false" [options]="tiposVehiculo" [(ngModel)]="clase.idTipoVehiculo" required  name="idTipoVehiculo">
                            </ng-select>
                        </div>

                        <div class="col-xs-12 col-lg-12" *ngIf="clase.idTipoVehiculo && clase.idTipoVehiculo == 5">
                            <label>Tipo maquinaria <b class="text-danger">*</b></label>
                            <ng-select [multiple]="false" [options]="tiposMaquinaria" [(ngModel)]="clase.idTipoMaquinaria" required  name="idTipoMaquinaria">
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>