<div class="container">
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Configuración</b>
            <br>
            <small>Trámites Limitación</small>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Id</th>
                <th>Limitacion Datos</th>
                <th>Vehiculo</th>
                <!-- <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let tramiteInscripcion of tramitesInscripcion; let i = index">
                <td>{{tramiteInscripcion.id}}</td>
                <td>{{tramiteInscripcion.limitacionDatos.nOrdenJudicial}}</td>
                <td>{{tramiteInscripcion.vehiculo?.placa?.numero}}</td>
              </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->
          
        </div>
      </div>
    </div>
  </div>
  <app-new *ngIf='formNew' (ready)="ready($event)"></app-new> 
</div>