<div class="container-fluid" >
  <div  class="row align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Limitacion</h3>
      <p>aquí podrás visualizar los tipos de proceso inscritas e inscribir nuevas</p>
    </div>
    <div class="col text-right ">
      <div class="btn-group pull-right">
        <button (click)="onNew()" class="btn btn-outline-success  btn-round " data-target="#themepicker" data-toggle="modal"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
      </div>
    </div>
    
  </div>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Tipos de Proceso <small>Registrados</small></h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let cfgTipoProceso of cfgTipoProcesos; let i = index">
                  <td >{{cfgTipoProceso.id}}</td>
                  <td >{{cfgTipoProceso.nombre}}</td>
                  <td><button (click)="editTipoProceso(cfgTipoProceso)" class="btn btn-outline-info" type="button">Editar</button> 
                    <button (click)="deleteTipoProceso(cfgTipoProceso.id)"  class="btn btn-outline-danger" type="button">Eliminar  </button> </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>

    <app-edit-vhlocfglimitaciontipoproceso *ngIf='formEdit' [cfgTipoProceso]="cfgTipoProceso" (ready)="ready($event)"></app-edit-vhlocfglimitaciontipoproceso>
    
    <app-new-vhlocfglimitaciontipoproceso *ngIf='formNew' (ready)="ready($event)"></app-new-vhlocfglimitaciontipoproceso>
</div>