<figure class="background"> <img src="assets/img/login_bg.jpg" alt="Adminux- sign in "> </figure>

<div class="wrapper-content-sign-in ">
  <div class="container text-center">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='login'>
      <button (click)="onClose()" class="close" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <strong>Error!</strong> usuario o contraseña no son correctos.
    </div>
    <h2 class="text-dark mb-4">
      <img src="assets/img/logo-white.png" alt="Logo">
    </h2>
    <form class="form-signin1 white" #loginForm="ngForm">
      <label class="sr-only">Correo</label>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-user"></i>
        </span>
        <input type="text" class="form-control" placeholder="Correo" [(ngModel)]="user.correo" name="correo" email reqired>
      </div>
      <br>
      <label class="sr-only">Contraseña</label>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-key"></i>
        </span>
        <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password" name="password" required
          minlength="6">
      </div>
      <button (click)="onSubmit()" [disabled]="loginForm.invalid" class="btn btn-lg btn-primary">
        Ingresar
      </button>
    </form>
    <br>
  </div>
  <footer class="footer-content row  justify-content-between align-items-center">
    <div class="col-sm-6">Secretaría de Transito y Transporte de Nariño
      <a href="http://www.narino.gov.co" target="_blank" class="">www.narino.gov.co</a>
    </div>
    <div class="col-sm-6 text-right">
      <a routerLink="" target="_blank" class="">Politicas de privacidad</a> |
      <a routerLink="" class="">Terminos de uso</a>
    </div>
  </footer>
</div>




