<div class="container">
    <hr>
    <div class="row" *ngIf='formIndex'>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <strong class="text-uppercase">Grupo Étnico</strong>
                        <small>Lista grupos étnicos</small>
                        <div class="btn-group pull-right">
                            <button (click)="onNew()" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                                <span class="text">Nuevo</span>
                            </button>
                        </div>
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table " id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let grupoEtnico of gruposEtnicos; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ grupoEtnico.nombre }}</td>
                                <td>
                                    <div class="tbn-group">
                                        <button (click)="onEdit(grupoEtnico)" class="btn btn-xs btn-primary"
                                            type="button">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button (click)="onDelete(grupoEtnico.id)" class="btn btn-xs btn-danger"
                                            type="button">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div>
    </div>

    <app-edit-usercfggrupoetnico *ngIf='formEdit' [grupoEtnico]="grupoEtnico" (ready)="ready($event)"></app-edit-usercfggrupoetnico>
    <app-new-usercfggrupoetnico *ngIf='formNew' (ready)="ready($event)"></app-new-usercfggrupoetnico>
</div>