<hr>
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Datos de personal</h5>
            </div>
            <div class="card-body">
                <form #formDisabled="ngForm">
                    <div *ngIf='!formConfirm'>
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-6">
                                <label>Motivo de Inhabilidad: <strong class="text-danger">*</strong></label>
                                <textarea class="form-control" [(ngModel)]="datos.motivoInhabilidad" name="motivoInhabilidad" id="restriccion"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="btn-group">
                                <button (click)="onEnviar()" [disabled]="formDisabled.invalid" class="btn btn-primary" type="button">
                                    <i class="fa fa-floppy-o"></i>
                                    Enviar
                                </button>
                                <button (click)="onCancelar()" class="btn btn-default">
                                    <i class="fa fa-times"></i>
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>