<div class="container" >
  <div class="row" *ngIf="formIndex">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5>
              <b class="text-uppercase">CDP</b>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table" id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Detalles</th>
                    <th>Proyecto</th>
                    <th>Cuenta</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let cdp of cdps; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <b>No. Solicitud</b><br>
                    {{ cdp.solicitudNumero }}
                    <br><b>No. CDP</b><br>
                    {{ cdp.numero }}
                    <ng-container *ngIf="cdp.valorAprobado">
                      <br><b>Valor aprobado</b><br>
                      {{ cdp.valorAprobado }}
                    </ng-container>
                  </td>
                  <td>
                    <b>Nombre</b><br>
                    {{ cdp.actividad.cuenta.proyecto.nombre }}
                    <br><b>Costo total</b><br>
                    {{ cdp.actividad.cuenta.proyecto.costoTotal }}
                    <br><b>Saldo total</b><br>
                    {{ cdp.actividad.cuenta.proyecto.saldoTotal }}
                  </td>
                  <td>
                    <b>Número</b><br>
                    {{ cdp.actividad.cuenta.numero }}
                    <br><b>Nombre</b><br>
                    {{ cdp.actividad.cuenta.nombre }}
                    <br><b>Costo total</b><br>
                    {{ cdp.actividad.cuenta.costoTotal }}
                  </td>
                  <td>
                    <div class="btn-group">
                      <!--
                        <button (click)="onEdit(cdp)" class="btn btn-xs btn-primary" type="button">
                          <i class="fa fa-pencil"></i>
                        </button> 
                        <button (click)="onDelete(cdp.id)"  class="btn btn-xs btn-danger" type="button">
                          <i class="fa fa-trash"></i>
                        </button> 
                      -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
  </div>

  <app-new-cdp *ngIf='formNew'></app-new-cdp>
</div>