<hr>
<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Editar tipo de correspondencia</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formEdit="ngForm"> 
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Valor hora <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="tarifa.valorHora" name="valorHora" type="numeric" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>No. acto administrativo</label>
                            <input class="form-control" [(ngModel)]="tarifa.numeroActoAdministrativo" name="numeroActoAdministrativo"
                                type="text" />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Fecha <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="tarifa.fecha" name="fecha" type="date" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Patio <strong class="text-danger">*</strong></label>
                            <ng-select [multiple]="false" [options]="patios" [(ngModel)]="tarifa.idPatio" name="idPatio" required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Tipo vehiculo <strong class="text-danger">*</strong></label>
                            <ng-select [multiple]="false" [options]="tiposVehiculo" [(ngModel)]="tarifa.idTipoVehiculo"
                                name="idTipoVehiculo" required>
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                    <button (click)="onEnviar()" [disabled]="formEdit.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>