<div class="container">
  <hr>
  <div class="row" *ngIf='formSearch'>
    <div class="col-xs-12 col-lg-4"><!-- .col -->
      <div class="card">
        <div class="card-header">
            <h5 class="text-uppercase">
              <b>Señalización</b>
              <small>Buscar</small>
            </h5>
        </div>
        <div class="card-body">
          <form #formSearch="ngForm">
            <div class="row"><!-- .row -->
              <div class="col-xs-12 col-lg-12">
                <div class="form-group">
                  <label>Destino:</label>
                  <ng-select (ngModelChange)="getDestino($event)" [multiple]="false" [options]="destinos" [(ngModel)]="datos.tipoDestino" name="destino" required></ng-select>
                </div>
              </div>

              <div class="col-xs-12 col-lg-12" *ngIf="municipios && datos.tipoDestino == 'MUNICIPIO'">
                <div class="form-group">
                  <label>Municipio:</label><br>
                  <ng-select (ngModelChange)="onChangedMunicipio($event)"  [multiple]="false" [options]="municipios" [(ngModel)]="datos.idMunicipio" name="municipio" required>
                  </ng-select>
                </div>
              </div>

              <div class="col-xs-12 col-lg-12">
                <div class="form-group">
                  <label>Tipo de señal:</label><br>
                  <ng-select [multiple]="false" [options]="tiposSenial" [(ngModel)]="datos.idTipoSenial" name="tipoSenial" required>
                  </ng-select>
                </div>
              </div>
            </div><!-- /.row -->
          </form>
        </div>

        <div class="card-footer">
          <div class="btn-group">
            <button (click)="onSearch()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div><!-- /.col -->
    
    <!-- ======================== Inventarios en Bodega Principal ============================== -->
    <div class="col-xs-12 col-lg-8" *ngIf="datos.tipoDestino == 'BODEGA' && formIndex"><!-- .col -->
      <div class="card"><!-- .card -->
        <div class="card-header">
          <h5>
            <b class="text-uppercase">Inventario</b> <small>bodega principal</small>
            <div class="btn-group pull-right">
              <button (click)="onNewSenialBodega()" class="btn btn-success">
                <i class="fa fa-plus"></i>
                Agregar señales
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table" id="dataTables-example" *ngIf="inventarios">
            <thead>
              <tr>
                <th>#</th>
                <th>Número</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let inventario of inventarios; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ inventario.consecutivo }}</td>
                <td>
                  <button (click)="onLocation(inventario, datos.tipoDestino)" class="btn btn-xs btn-primary">
                    {{ inventario.fecha }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-striped table-hover" id="dataTables-example" *ngIf="seniales">
            <thead>
              <tr>
                <th>#</th>
                <th>Cant. entregada proveedor</th>
                <th>Señal</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let senial of seniales; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ senial.cantidad }}</td>
                <td>
                  <button (click)="onRecord(senial, datos)" class="btn btn-xs btn-primary">
                     {{ senial.codigo }} - {{ senial.nombre }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- /.card -->
    </div><!-- /.col -->
    
    <!-- ======================== Inventarios en Municipio seleccionado ============================== -->
    <div class="col-xs-12 col-lg-8" *ngIf="datos.tipoDestino == 'MUNICIPIO' && formIndex"><!-- .col -->
      <div class="card"><!-- .card -->
        <div class="card-header">
          <h5>
            <b class="text-uppercase">Inventario</b> <small>municipio {{ municipio?.nombre }}</small>
            <div class="btn-group pull-right">
              <button (click)="onNewSenialMunicipio()" class="btn btn-success">
                <i class="fa fa-plus"></i>
                <span class="text">Agregar señales</span>
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table" id="dataTables-example" *ngIf="inventarios">
            <thead>
              <tr>
                <th>#</th>
                <th>Número</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let inventario of inventarios; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ inventario.consecutivo }}</td>
                <td>
                  <button (click)="onLocation(inventario, datos.tipoDestino)" class="btn btn-xs btn-primary">
                    {{ inventario.fecha }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-striped table-hover" id="dataTables-example" *ngIf="seniales">
            <thead>
              <tr>
                <th>#</th>
                <th>Cantidad instalada</th>
                <th>Señal</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let senial of seniales; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ senial.cantidad }}</td>
                <td>
                  <button (click)="onRecord(senial, datos)" class="btn btn-xs btn-primary">
                    {{ senial.codigo }} - {{ senial.nombre }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- /.card -->
    </div><!-- /.col -->

    <div class="col-xs-12 col-lg-8" *ngIf='formRecord'><!-- .col -->
      <app-record [senial]="senial" [datos]="datos" (ready)="ready($event)"></app-record>
    </div><!-- /.col -->

    <div class="col-xs-12 col-lg-8" *ngIf='formNewMunicipio'><!-- .col -->
      <app-new-senial-municipio [datos]="datos" (ready)="ready($event)"></app-new-senial-municipio>
    </div><!-- /.col -->

    <div class="col-xs-12 col-lg-8" *ngIf='formNewBodega'><!-- .col -->
      <app-new-senial-bodega [idTipoSenial]="datos.idTipoSenial" (ready)="ready($event)"></app-new-senial-bodega>
    </div><!-- /.col -->
  </div>

</div>