<div class="container" >
  <div  class="row align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Vehiculos</h3>
      <p>Visualización vehículos inscritos</p>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Gestion de Vehiculos <small>Servicio Publico</small></h5>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <div class="form-group row">
                      <div class="col-lg-5 col-md-5">
                        <label>Estado*</label>
                            <select [(ngModel)]="gestionTransportePublico.estado" name="estado" class="form-control">
                              <option value=0>Ninguno</option>
                              <option value=1>Pignorado</option>
                              <option value=2>Cancelado</option>
                            </select>
                      </div>
                      <div class="col-lg-5 col-md-5">
                        <label>Sede*</label>
                          <ng-select
                                [multiple]="false"
                                [options]="sedesOperativas"
                                [(ngModel)]="gestionTransportePublico.sedeOperativaId"
                                required
                                name="claseId">
                          </ng-select>
                      </div>
                      <div class="col-lg-5 col-md-5">
                        <label>Clase*</label>
                          <ng-select
                              [multiple]="false"
                              [options]="clases"
                              [(ngModel)]="gestionTransportePublico.claseId"
                              required
                              name="claseId">
                          </ng-select>
                      </div>
                    </div>
                </div>    
            </div>
            <div class="card-footer">
                <button (click)="onEnviar()" class="btn btn-outline-primary pull-right" type="button">Enviar</button>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Vehículos <small>Registrados</small></h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>Placa </th>
                  <th>Servicio</th>
                  <th>Clase</th>
                  <th>Color</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let vehiculo of vehiculos; let i = index">
                  <td>{{vehiculo.placa}}</td>
                  <td>{{vehiculo.servicio.nombre}}</td>
                  <td>{{vehiculo.clase.nombre}}</td>
                  <td>{{vehiculo.color.nombre}}</td>
                </tr>
              </tbody>
            </table> 
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
</div>