<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Inventario de existencias</b>
            </div>
            <div class="card-body">
                <form #newForm="ngForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12"> 
                                <label>Tipo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposInsumo" [(ngModel)]="tipoInsumo" name="tipoInsumo"></ng-select>
                            </div>
                        </div>

                        <div class="row" *ngIf="tipoInsumo && tipoInsumo == 1">
                            <div class="col-lg-4 col-md-4">
                                <label>No.Acta <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ImoLote.numeroActa" name="numeroActa" type="text" required>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Empresa <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="empresas" [(ngModel)]="empresaSelected" name="idEmpresa" required>
                                </ng-select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Organismo de transito <small>(Sedes)</small> <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="sedes" [(ngModel)]="sedeSelected" name="idOrganismoTransito">
                                </ng-select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Insumo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="sustratos" [(ngModel)]="insumoSelected" name="idInsumo" required>
                                </ng-select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Rango Inicio <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ImoLote.rangoInicio" name="rangoInicio" type="text">
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label>Rango Fin <b class="text-danger">*</b></label>
                                <input class="form-control" (blur)="isFin()" [(ngModel)]="ImoLote.rangoFin" name="rangoFin" type="text">
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label>Cantidad <b class="text-danger">*</b></label>
                                <input class="form-control" [disabled]="true" [(ngModel)]="ImoLote.cantidad" name="cantidad" type="text" required>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label>No.caja</label>
                                <input class="form-control" [(ngModel)]="ImoLote.referencia" name="referencia" type="text">
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label>Fecha <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ImoLote.fecha" name="fecha" type="date" required>
                            </div>
                        </div>

                        <div class="row" *ngIf="tipoInsumo && tipoInsumo == 2">
                            <div class="col-lg-4 col-md-4">
                                <label>No.Acta <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ImoLote.numeroActa" name="numeroActa" type="text" required>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Empresa <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="empresas" [(ngModel)]="empresaInsumoSelected" name="idEmpresa" required>
                                </ng-select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Insumo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="insumos" [(ngModel)]="insumoInsumoSelected" name="idInsumo" required>
                                </ng-select>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label>Cantidad <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ImoLote.cantidad" name="cantidad" type="text" required>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label>No.caja</label>
                                <input class="form-control" [(ngModel)]="ImoLote.referencia" name="referencia" type="text" required>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label>Fecha <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="ImoLote.fecha" name="fecha" type="date" required>
                            </div>
                        </div>
                    </div>

                    <!-- Nav tabs 
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"> 
                                <a (click)="onSustrato()" class="nav-link active" data-toggle="tab" href="#sustrato" role="tab">Sustrato</a> 
                                
                            </li>  
                            <li class="nav-item"> 
                                <a (click)="onInsumo()" class="nav-link" data-toggle="tab" href="#insumo" role="tab">Insumo</a> 
                                
                            </li>  
                        </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="sustrato" role="tabpanel"> 
                            <div class="form-group row">
                                
                            </div>
                        </div>

                        <div class="tab-pane" id="insumo" role="tabpanel">
                            
                        </div>    
                    </div> 
                    -->
                </form>
                <div class="card-footer" *ngIf="tipoInsumo">
                    <div class="btn-group">
                        <button (click)="onEnviar()" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>