<div class="container">
    <hr>
    <div class="row" *ngIf='formIndex'>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <strong class="text-uppercase">Unidad Receptora</strong>
                        <small>Lista de UnidadesReceptoras</small>
                        <div class="btn-group pull-right">
                            <button (click)="onNew()" class="btn btn-success  btn-round " data-target="#themepicker"
                                data-toggle="modal">
                                <i class="fa fa-plus"></i>
                                <span class="text">Nuevo</span>
                            </button>
                        </div>
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table " id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Entidad Acidente</th>
                                <th>Municipio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let unidadReceptora of unidadesReceptoras; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ unidadReceptora.codigo }}</td>
                                <td>{{ unidadReceptora.nombre }}</td>
                                <td>{{ unidadReceptora.entidadAccidente.nombre }}</td>
                                <td>{{ unidadReceptora.municipio.nombre }}</td>
                                <td>
                                    <button (click)="onEdit(unidadReceptora)" class="btn btn-xs btn-info" type="button">
                                        <i class="fa fa-edit"></i>
                                        Editar
                                    </button>
                                    <button (click)="onDelete(unidadReceptora.id)" class="btn btn-xs btn-danger" type="button">
                                        <i class="fa fa-trash"></i>
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div>
    </div>

    <app-edit *ngIf='formEdit' [unidadReceptora]="unidadReceptora" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>