<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Chat app</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card full-screen-container">
          <div class="card-header">
            <h6 class="card-title pull-left">John Smith</h6>
            <ul class="nav nav-pills card-header-pills pull-right">
              <li class="nav-item">
                  <a href="#" class="nav-link text-white" >Unread <span class="badge badge-danger ml-1">1</span></a>
              </li>
              <li class="nav-item">
                <button class="btn btn-sm btn-outline-primary btn-round"><i class="fa fa-paperclip"></i> <span class="text">Attach</span></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-menu"> 
                    <a class="dropdown-item" href="#">Share</a> 
                    <a class="dropdown-item" href="#">Move</a> 
                    <a class="dropdown-item" href="#">Block</a> 
                </div>
              </li>
            </ul>
          </div>
          <div class="card-body p-0">
              <div class="row m-0">
                <div class="col-md-6 col-lg-4 border-right p-0">
                  <div class="list-unstyled media-list" style="max-height:600px">
                      <div class="media active new"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Adminux Welcome </h6>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                      <div class="media new"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Anchal Sharma<small class="text-danger pull-right"><i class="fa fa-check"></i></small></h6>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                      <div class="media new"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Maxartkiller <small class="text-success pull-right"><i class="fa fa-check"></i></small></h6>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                      <div class="media new"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Adminux Welcome <small class="text-warning pull-right"><i class="fa fa-check"></i></small></h6>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Anchal Sharma <small class="text-primary pull-right"><i class="fa fa-check"></i></small></h6>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Maxartkiller <small class="text-danger pull-right"><i class="fa fa-check"></i></small></h6>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Adminux Welcome </h6>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Anchal Sharma</h6>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body"> <span class="mt-0 mb-1">Maxartkiller</span>
                          <p class=" m-0">"Today's status is Awesome~ by Myself"</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-12 chat_wrapper"  >
                    <ul class="chat" style="max-height:540px;">
                      <li class="left clearfix"> <span class="chat-img pull-left"> <img src="assets/img/team.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="right clearfix"> <span class="chat-img pull-right"> <img src="assets/img/user-header.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <small class=" text-muted"> <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small> <strong class="pull-right primary-font">You</strong> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="left clearfix"> <span class="chat-img pull-left"> <img src="assets/img/team.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="right clearfix"> <span class="chat-img pull-right"> <img src="assets/img/user-header.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <small class=" text-muted"> <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small> <strong class="pull-right primary-font">You</strong> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="left clearfix"> <span class="chat-img pull-left"> <img src="assets/img/team.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="right clearfix"> <span class="chat-img pull-right"> <img src="assets/img/user-header.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <small class=" text-muted"> <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small> <strong class="pull-right primary-font">You</strong> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="left clearfix"> <span class="chat-img pull-left"> <img src="assets/img/team.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="right clearfix"> <span class="chat-img pull-right"> <img src="assets/img/user-header.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <small class=" text-muted"> <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small> <strong class="pull-right primary-font">You</strong> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                    </ul>    
                    <div class="chat_msgpost">
                        <div class="input-group">
                            <button class="input-group-addon "><i class="fa fa-smile-o"></i></button>
                            <input type="text" class="form-control" placeholder="Your message">                            
                            <button class="input-group-addon bg-primary">Send</button>
                        </div>
                    </div>
                </div>
              </div>
                
          </div>
        </div>
      </div>
    </div>
  </div>