<div class="col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="text-uppercase">Habilitar Empresa</h5>
            <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
        </div>
        <div class="card-body">
            <form #formRange="ngForm">
                <div class="col-lg-6 col-md-6">
                    <label>Modalidad Transporte <strong class="text-danger">*</strong></label>
                    <ng-select [multiple]="false" [options]="modalidadesTransporte"
                        [(ngModel)]="datos.idModalidadTransporte" required name="idModalidadTransporte">
                    </ng-select>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label>Clase <strong class="text-danger">*</strong></label>
                    <ng-select [multiple]="false" [options]="clases" [(ngModel)]="datos.idClase" required name="idClase">
                    </ng-select>
                </div>
                <div class="col-xs-16 col-lg-6">
                    <label>Número Identificación <strong class="text-danger">*</strong></label>
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="datos.nit" required name="nit" />
                        <span class="input-group-btn">
                            <button (click)="onSearchEmpresa()" class="btn btn-default btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-16 col-lg-6">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12" *ngIf='empresa'>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th><b>Tipo de identificación</b></th>
                                    <th><b>Numero de identificación</b></th>
                                    <td><b>Razón social</b></td>
                                </tr>
                                <tr>
                                    <td>{{ empresa.tipoIdentificacion?.nombre }}</td>
                                    <td>{{ empresa.nit }}</td>
                                    <td>N</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <strong class="text-uppercase">Registrar rangos de cupos</strong>
            </h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-lg-6 col-md-6">
                    <label>Rango Inicio<strong class="text-danger">*</strong></label>
                    <input class="form-control" [(ngModel)]="datos.rangoInicio" name="rangoInicio"
                        type="number">
                </div>
                <div class="col-lg-6 col-md-6">
                    <label>Rango Fin<strong class="text-danger">*</strong></label>
                    <input class="form-control" [(ngModel)]="datos.rangoFin" name="rangoFin"
                        type="number">
                </div>
                <div class="col-lg-6 col-md-6">
                    <label>Nro. de Resolución <strong class="text-danger">*</strong></label>
                    <input class="form-control" [(ngModel)]="datos.numeroResolucion"
                        name="numeroResolucion" type="number">
                </div>
                <div class="col-lg-6 col-md-6">
                    <label>Fecha Resolución <strong class="text-danger">*</strong></label>
                    <input class="form-control" [(ngModel)]="datos.fechaResolucion"
                        name="fechaResolucion" type="date">
                </div>
                <div class="form-group row" class="col-lg-6 col-md-6">
                    <label>Observaciones <strong class="text-danger">*</strong></label>
                    <textarea class="form-control" [(ngModel)]="datos.observaciones" name="observacion"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button (click)="onEnviar()" [disabled]="formRange.invalid" class="btn btn-primary" type="button">
            <i class="fa fa-floppy-o"></i>
            Enviar
        </button>
        <button (click)="onCancelar()" class="btn btn-default">
            <i class="fa fa-times"></i>
            Cancelar
        </button>
    </div>
</div>