<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nueva modalidad</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="form-group">
                                <label>Nombre*</label>
                                <input class="form-control" [(ngModel)]="modalidad.nombre" name="nombre" type="text" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <div class="form-group">
                                <label>Codigo MT*</label>
                                <input class="form-control" [(ngModel)]="modalidad.codigoMt" name="codigoMt" type="text" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button (click)="onCancelar()" class="btn btn-default">Cancelar</button>
                        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>