<div class="container" >
  <div class="row">
    <div class="col-xs-12 col-lg-3" *ngIf='formSearch'>
      <!-- .col -->
      <div class="card">
        <div class="card-header">
          <b class="text-uppercase">Proyectos</b>
          <small>Buscar</small>
        </div>
        <div class="card-body">
          <!-- .card-body -->
          <form #formSearch="ngForm">
            <div class="form-group">
              <div class="row">
                <!-- .row -->
                <div class="col-xs-12 col-lg-12">
                  <label>Tipo de filtro</label>
                  <ng-select [multiple]="false" [options]="tiposFiltro" [(ngModel)]="search.tipoFiltro" name="tipoFiltro" required></ng-select>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoFiltro == 1">
                  <label>Número <b class="text-danger">*</b></label>
                  <input class="form-control text-uppercase" [(ngModel)]="search.filtro" name="filtro" type="text" required>
                </div>
                <div class="col-xs-12 col-lg-12" *ngIf="search.tipoFiltro == 2">
                  <label>Fecha <b class="text-danger">*</b></label>
                  <input class="form-control" [(ngModel)]="search.filtro" name="filtro" type="date" required>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="btn-group">
            <button (click)="onSearch()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
              Buscar
            </button>
            <button (click)="onNew()" class="btn btn-default">
              <i class="fa fa-plus"></i>
              <span class="text">Nuevo</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-9" *ngIf='formIndex'><!-- .col -->
        <div class="card">
          <div class="card-header">
            <b class="text-uppercase">Proyectos registrados</b>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table" id="dataTables-example" *ngIf='proyectos.length > 0'>
              <thead>
                <tr>
                    <th>#</th>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Costo valor</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let proyecto of proyectos; let i = index">
                  <td >{{ i + 1 }}</td>
                  <td >{{ proyecto.numero }}</td>
                  <td >{{ proyecto.nombre }}</td>
                  <td >{{ proyecto.fecha }}</td>
                  <td >{{ proyecto.costoTotal | currency: 'COP' }}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="onShow(proyecto)" class="btn btn-xs btn-default" type="button">
                        <i class="fa fa-eye"></i>
                      </button>
                      <button (click)="onEdit(proyecto)" class="btn btn-xs btn-primary" type="button">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button (click)="onDelete(proyecto.id)"  class="btn btn-xs btn-danger" type="button">
                        <i class="fa fa-trash"></i>
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div><!-- /.col -->
    </div>

    <app-new-proyecto *ngIf='formNew' (ready)="ready($event)" (onShow)="onShow($event)"></app-new-proyecto>
    
    <app-edit-proyecto *ngIf='formEdit' [proyecto]="proyecto" (ready)="ready($event)"></app-edit-proyecto>
    
    <app-show *ngIf='formShow' [proyecto]="proyecto" (ready)="ready($event)"></app-show>
</div>