<div class="col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <strong class="text-uppercase">Registrar rangos de cupos</strong>
            </h5>
        </div>
        <div class="card-body">
            <form #formNew="ngForm">
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Número de Convenio <b class="text-danger">*</b></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="rango.numeroConvenio" required
                                name="numeroConvenio" />
                            <span class="input-group-btn">
                                <button (click)="onSearchConvenio()" [disabled]="!rango.numeroConvenio" class="btn btn-default btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-16 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12" *ngIf='convenio'>
                                <strong class="text-uppercase">Datos del convenio</strong>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th><b>Nit Alcaldia</b></th>
                                        <td><b>Fecha Convenio</b></td>
                                    </tr>
                                    <tr>
                                        <td>{{ convenio.alcaldia.nit }}</td>
                                        <td>{{ convenio.fechaConvenio }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Fecha Inicio Convenio</b></td>
                                        <td><b>Fecha Fin Convenio</b></td>
                                    </tr>
                                    <tr>
                                        <td>{{ convenio.fechaActaInicio }}</td>
                                        <td>{{ convenio.fechaActaFin }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Rango Inicio<b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="rango.rangoInicio" name="rangoInicio" type="number" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Rango Fin<b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="rango.rangoFin" name="rangoFin" type="number" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Nro. de Resolución <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="rango.numeroResolucion" name="numeroResolucion"
                            type="number" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Fecha Resolución <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="rango.fechaResolucion" name="fechaResolucion"
                            type="date" required>
                    </div>
                    <div class="form-group row" class="col-lg-6 col-md-6">
                        <label>Observaciones</label>
                        <textarea class="form-control" [(ngModel)]="rango.observaciones" name="observacion"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button (click)="onEnviar()" [disabled]="formNew.invalid || !convenio" class="btn btn-primary" type="button">
                <i class="fa fa-floppy-o"></i>
                Enviar
            </button>
            <button (click)="onCancelar()" class="btn btn-default">
                <i class="fa fa-times"></i>
                Cancelar
            </button>
        </div>
    </div>
</div>