<div class="container-fluid">
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <b class="text-uppercase">Grúas</b>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-xs btn-default">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th> 
                    <th>Placa</th>
                    <th>Número interno</th>
                    <th>Acciones</th> 
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let grua of gruas; let i = index">
                  <td >{{ i + 1 }}</td>
                  <td >{{ grua.placa }}</td>
                  <td >{{ grua.codigo }}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="onEdit(grua)" class="btn btn-xs btn-info" type="button">
                        <i class="fa fa-pencil"></i>
                      </button> 
                      <!-- 
                        <button (click)="delete(grua.id)"  class="btn btn-xs btn-danger" type="button">
                          <i class="fa fa-trash"></i>
                        </button>
                      -->
                      <button (click)="onCiudadanos(grua)" class="btn btn-xs btn-primary">
                        <i class="fa fa-list-alt"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit-pqocfggrua *ngIf='formEdit' [grua]="grua" (ready)="ready($event)"></app-edit-pqocfggrua>
    <app-new-pqocfggrua *ngIf='formNew' (ready)="ready($event)"></app-new-pqocfggrua>
    <app-show-pqocfggrua *ngIf='formShow' [grua]="grua" (ready)="ready($event)"></app-show-pqocfggrua>
</div>