<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nuevo talonario</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Organismo Transito <b class="text-danger">*</b></label>
                            <ng-select placeholder="Seleccione un organismo de transito" [multiple]="false" [options]="organismosTransito" [(ngModel)]="organismoTransitoSelected"
                                (ngModelChange)="changedOrganismoTransito($event)" required name="idOrganismoTransito">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12 alert alert-info" *ngIf='sedeOperativa?.asignacionRango'>
                            <strong>El codigo DIVIPO: {{ sedeOperativa.codigoDivipo }} se concatena al rango</strong>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Desde <b class="text-danger">*</b></label>
                            <input class="form-control" (blur)="onCalcularTotal()" [(ngModel)]="msvTalonario.rangoini" name="rangoini"  type="number" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Hasta <b class="text-danger">*</b></label>
                            <input class="form-control" (blur)="onCalcularTotal()" [(ngModel)]="msvTalonario.rangofin" name="rangofin" type="number" required>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Unidades entregadas <b class="text-danger">*</b></label>
                            <input class="form-control" [readonly]="true" [(ngModel)]="msvTalonario.total" name="total" type="number" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-4">
                            <label>Fecha asignación MT <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="msvTalonario.fechaAsignacion" name="fechaAsignacion" type="date" required>
                        </div>
                        <div class="col-xs-12 col-lg-8">
                            <label>Asignación de MT</label>
                            <input class="form-control" [(ngModel)]="msvTalonario.nResolucion" name="nResolucion" type="text" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>