<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <b class="text-uppercase">Editar solicitud de tramite</h5>
                <hr> 
                <div class="row">
                    <form #tramiteSolicitudForm="ngForm">
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Observación</label>
                                <textarea class="form-control" [(ngModel)]="tramiteSolicitud.observacion" name="observacion" placeholder="Observación" required></textarea>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Documentación</label>
                                <input class="form-control" [(ngModel)]="tramiteSolicitud.documentacion" name="documentacion" type="checkbox" required />
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label>Tramite <span class="text-danger">*</span></label>
                                <ng-select [multiple]="false" [options]="tramitesFactura" [(ngModel)]="tramiteFacturaSelected" required name="tramiteFacturaId">
                                </ng-select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                    <button (click)="onEnviar()" [disabled]="tramiteSolicitudForm.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-floppy-o"></i>
                        Enviar
                    </button>
                </div>    
            </div>
        </div>
    </div>
</div>