<div class="row">
        <div class="col-xs-16 col-lg-16">
            <div class="card">
                <div class="card-body">
                    <h5 class="m-0">Conceptos </h5>
                    <hr>
                    <form #formNewSmlmv="ngForm" *ngIf="listado">
                        <div class="col-lg-16 col-md-16">
                            <label>Conceptos*</label>
                            <ng-select
                                [multiple]="false"
                                [options]="conceptos"
                                [(ngModel)]="conceptoSelected"
                                required
                                name="conceptoId">
                            </ng-select>
                        </div>
                        <div class="row" id="multi">
                            <div class="col-sm-8 tile">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title">Tramites</h6>
                                    </div>
                                    <div class="card-body">  
                                        <div class="list-group">
                                            <bs-sortable
                                                [(ngModel)]="itemStringsLeft"
                                                itemClass="sortable-item list-group-item"
                                                itemActiveClass="sortable-item-active"
                                                placeholderItem="tramites vigentes"
                                                placeholderClass="placeholderStyle"
                                                wrapperClass="sortable-wrapper"
                                                name="tramites"
                                            ></bs-sortable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 tile">
                                <div class="card">
                                    <div class="card-header">
                                            <h6 class="card-title">Agregar</h6>
                                    </div>
                                    <div class="card-body">  
                                        <div class="list-group">
                                            <bs-sortable
                                                [(ngModel)]="itemStringsRight"
                                                itemClass="sortable-item list-group-item"
                                                itemActiveClass="sortable-item-active"
                                                placeholderItem="Arrastre sus tramites"
                                                placeholderClass="sortable-item"
                                                wrapperClass="sortable-wrapper"
                                                name="tramitesAgregados"
                                            ></bs-sortable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </form> 
                    <div class=" load-wrapper2" *ngIf="!listado">
                        <div class="sk-wave">
                            <div class="sk-rect sk-rect1"></div>
                            <div class="sk-rect sk-rect2"></div>
                            <div class="sk-rect sk-rect3"></div>
                            <div class="sk-rect sk-rect4"></div>
                            <div class="sk-rect sk-rect5"></div>
                        </div>
                    </div>    
                   
                </div>
                <div class="card-footer">
                    <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                    <button (click)="onEnviar()" class="btn btn-outline-primary pull-right" type="button">Enviar</button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="m-0">Conceptos </h5>
                    <br>
                    <table class="table " id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Valor</th>
                                <th>Tramite nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let conceptoParametroTramite of conceptoParametroTramites; let i = index">
                                <td>{{conceptoParametroTramite.conceptoParametro.nombre}}</td>
                                <td>{{conceptoParametroTramite.conceptoParametro.valor}}</td>
                                <td>{{conceptoParametroTramite.tramitePrecio.nombre}}</td>
                                <td>
                                    <button (click)="delete(conceptoParametroTramite.id)"  class="btn btn-outline-danger" type="button">Eliminar  </button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="card-footer">
                    <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                    <button (click)="onEnviar()" class="btn btn-outline-primary pull-right" type="button">Enviar</button>
                </div> -->
            </div>
        </div>
    </div>