<br>
<br>
    <div class="row"><!-- .row -->
        <div class="col-xs-12 col-lg-8">
            <div class="input-group" [ngClass]="{'has-danger' : isError}">
                <!-- <input type="text" class="form-control" placeholder="Número de factura" [(ngModel)]="numeroFactura.numeroFactura" name="numeroFactura" required /> -->
                <input type="text" class="form-control" placeholder="Vin,Chasis,Placa,Motor,Serie" [(ngModel)]="tramiteSolicitud.vehiculoId" name="placaVehiculo" required />
                <span class="input-group-btn">
                    <button (click)="onKeyValidateVehiculo()" [ngClass]="{'btn-danger' : isError}" class="btn btn-default btn-success" ngxclipboard="" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div> 

            <div class="has-danger" *ngIf="error" >
                <div class="form-control-feedback has-danger has-error">{{msj}}</div>
            </div>
            <div class="has-success" *ngIf="vehiculoSuccess" >
                <div class="form-control-feedback has-danger has-success">{{msj}}</div>
                <br>
            </div>

            <div class="has-danger" *ngIf="isError" >
                <div class="form-control-feedback has-danger has-error">{{mensaje}}</div>
            </div>
        </div>
    </div><!-- .row -->
    <div class="row"><!-- .row -->
             
             
        <div class="container col-xs-16 col-lg-8" *ngIf="vehiculoSuccess">
            <div class="row">
                <div class="col-sm-16">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Vehiculo <small>Encontrado</small></h5>
                        </div>
                        <div class="card-body">
                            <div class="col-xs-16 col-lg-16" >
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Placa</th>
                                            <th>Motor</th>
                                            <th>Servicio</th>
                                            <th>Tipo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ciudadanoVehiculo of ciudadanosVehiculo; let i = index">
                                            <td>
                                            {{vehiculo.placa}}
                                            </td>
                                            <td> 
                                                {{vehiculo.motor}}
                                            </td>
                                            <td> 
                                                {{vehiculo.servicio.nombre}}
                                            </td>
                                            <td> 
                                                {{vehiculo.tipoVehiculo}}
                                            </td>
                                        </tr>
                                    </tbody> 
                                </table> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <button (click)="onCancelar()" class="btn btn-secondary">
                                <i class="fa fa-times"></i>
                                Cancel
                            </button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 form-group" *ngIf="vehiculoSuccess">
            <div class="container col-xs-16 col-lg-8" *ngIf="vehiculoSuccess">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Propietario <small>Vehiculo</small></h5>
                            </div>
                            <div class="card-body">
                                <div class="col-xs-16 col-lg-16" >
                                    <table class="table table-bordered" *ngIf="ciudadano">
                                        <tbody>
                                            <tr *ngFor="let ciudadanoVehiculo of ciudadanosVehiculo; let i = index">
                                                <td>
                                                    <strong>Nombre: </strong>
                                                    {{ciudadanoVehiculo.ciudadano?.usuario.primerNombre}} {{ciudadanoVehiculo.ciudadano?.usuario.primerApellido}}
                                                </td>
                                                <td>
                                                     <strong>Identificación: </strong>
                                                    {{ciudadanoVehiculo.ciudadano?.usuario.identificacion}}
                                                </td>
                                                <td> 
                                                    <label class="custom-control custom-radio" for="3option3">
                                                        <input [(ngModel)]="tramiteSolicitud.solicitanteId" value="{{ciudadanoVehiculo.id}}" type="radio" class="custom-control-input"  name="radio3" id="3option3" required >
                                                        <span class="custom-control-indicator"></span> 
                                                        <span class="custom-control-description">Solicitante</span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody> 
                                    </table> 
                                    <table class="table table-bordered" *ngIf="!ciudadano">
                                        <thead>
                                            <tr>
                                                <th>Solicitante Empresa</th>
                                                <th>Check</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ciudadanoVehiculo of ciudadanosVehiculo; let i = index">
                                                <td>
                                                    <strong>Nit: </strong>
                                                    {{ciudadanoVehiculo.empresa?.nit}}
                                                    <br>
                                                    <strong>Nombre: </strong>
                                                    {{ciudadanoVehiculo.empresa?.nombre}}
                                                </td>
                                                <td> 
                                                    <label class="custom-control custom-radio" for="3option3">
                                                        <input [(ngModel)]="tramiteSolicitud.solicitanteId" value="{{ciudadanoVehiculo.id}}" type="radio" class="custom-control-input"  name="radio3" id="3option3" required >
                                                        <span class="custom-control-indicator"></span> 
                                                        <span class="custom-control-description">Solicitante</span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody> 
                                    </table> 
                                    <div class="container" *ngIf="tramiteSolicitud.solicitanteId">
                                        <label>Facturas
                                            <span class="text-danger">*</span>
                                        </label>
                                        <ng-select 
                                        [multiple]="false" 
                                        [options]="facturas" 
                                        (ngModelChange)="changedFactura($event)"
                                        [(ngModel)]="facturaSelected" 
                                        name="facturaId" 
                                        required>
                                        </ng-select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" *ngIf="factura">
            <div class="card col-sm-16 col-md-16">
                <div class="card-header">
                    <h6 class="card-title">Tramites</h6>
                </div>
                <div class="card-body"> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" *ngFor="let tramiteFactura of tramitesFactura; let i = index"> 
                            <a class="nav-link" data-toggle="tab" href="#{{tramiteFactura.tramite.id}}" *ngIf='!tramiteFactura.realizado' role="tab">{{tramiteFactura.tramite.nombre}}</a> 
                            <a class="nav-link" data-toggle="tab" href="#realizado" *ngIf='tramiteFactura.realizado' role="tab">{{tramiteFactura.tramite.nombre}}</a> 
                        </li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane" id="realizado" role="tabpanel"> 
                            <h4 class="card-title text-white" style="text-align: center;">Tramite realizado</h4>
                        </div>
                        <div class="tab-pane" id="2" role="tabpanel"> 
                            <appRna-traspaso [vehiculo] = "vehiculo" [factura] = "factura" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-traspaso>
                        </div>
                        <div class="tab-pane" id="21" role="tabpanel"> 
                            <appRna-duplicado-placa  (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-duplicado-placa>
                        </div>

                        <div class="tab-pane" id="12" role="tabpanel"> 
                            <appRna-duplicado-licencia (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-duplicado-licencia>
                        </div>

                        <div class="tab-pane" id="16" role="tabpanel"> 
                            <appRna-cambio-placa (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-cambio-placa>
                        </div>

                        <div class="tab-pane" id="5" role="tabpanel"> 
                            <appRna-cambio-color [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-cambio-color>
                        </div>

                        <div class="tab-pane" id="24" role="tabpanel"> 
                            <appRna-cambio-motor *ngIf="tramiteSelected == 24" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-cambio-motor>
                        </div>

                        <div class="tab-pane" id="7" role="tabpanel"> 
                            <appRna-regrabar-motor [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-regrabar-motor>
                        </div>

                        <div class="tab-pane" id="8" role="tabpanel"> 
                            <appRna-regrabar-chasis [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna- bar-chasis>
                        </div>

                        <div class="tab-pane" id="9" role="tabpanel"> 
                            <appRna-regrabar-serie [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-regrabar-serie>
                        </div>

                        <div class="tab-pane" id="57" role="tabpanel"> 
                            <appRna-regrabar-vin [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-regrabar-vin>
                        </div>

                        <div class="tab-pane" id="1" role="tabpanel"> 
                            <appRna-rematricula  (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-rematricula>
                        </div>

                        <div class="tab-pane" id="31" role="tabpanel"> 
                            <appRna-cambio-combustible [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-cambio-combustible>
                        </div>

                        <div class="tab-pane" id="32" role="tabpanel"> 
                            <appRna-cambio-carroceria [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-cambio-carroceria>
                        </div>

                        <div class="tab-pane" id="6" role="tabpanel"> 
                            <appRna-cambio-servicio [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-cambio-servicio>
                        </div>

                        <div class="tab-pane" id="26" role="tabpanel"> 
                            <appRna-blindaje [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-blindaje>
                            <appRna-blindaje [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-blindaje>
                        </div>

                        <div class="tab-pane" id="3" role="tabpanel"> 
                           <appRna-cambio-sedeOperativa [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-cambio-sedeOperativa>
                        </div>

                        <div class="tab-pane" id="15" role="tabpanel"> 
                            <appRna-cancelacionMatricula  [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-cancelacionMatricula>
                        </div>

                        <div class="tab-pane" id="58" role="tabpanel"> 
                             <appRna-certificadoTradicion [vehiculo] = "vehiculo" (readyTramite)="readyTramite($event)" (cancelarTramite)="cancelarTramite($event)"></appRna-certificadoTradicion>
                        </div>

                    </div>
                </div>
            </div>
        </div>

  
</div><!-- /.row -->
