<hr>
<div class="row" >
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nueva Revision</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNewRevision="ngForm"> 
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>No. de Radicado <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="msvRevision.numeroRadicado" name="numeroRadicado" type="number" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Fecha recepción <strong class="text-danger">*</strong></label>
                            <input class="form-control" (blur)="onCalcularDevolucion()" [(ngModel)]="msvRevision.fechaRecepcion" name="fechar" type="date" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Fecha revisión <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="msvRevision.fechaRevision" name="fechaRevision" type="date" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Fecha devolución</label>
                            <input class="form-control" [(ngModel)]="msvRevision.fechaDevolucion" name="fechad" type="date" disabled required />
                        </div>
                        <!-- <div class="col-xs-12 col-lg-12">
                            <label>Fecha otorgamiento del aval</label>
                            <input class="form-control" [(ngModel)]="msvRevision.fechaOtorgamiento" name="fechao" type="date" />
                        </div>
                        <div class="col-xs-12 col-lg-12" *ngIf="msvRevision.fechaOtorgamiento">
                            <label>Fecha visita de control 1</label>
                            <input class="form-control" [(ngModel)]="msvRevision.fechaVisitaControl1" name="fechaVisitaControl1" type="date" />
                        </div>
                        <div class="col-xs-12 col-lg-12" *ngIf="msvRevision.fechaVisitaControl1">
                            <label>Observaciones visita de control 1</label>
                            <textarea class="form-control" [(ngModel)]="msvRevision.observacionVisita1" name="observacionVisita1"></textarea>
                        </div>
                        <div class="col-xs-12 col-lg-12" *ngIf="msvRevision.fechaOtorgamiento">
                            <label>Fecha visita de control 2</label>
                            <input class="form-control" [(ngModel)]="msvRevision.fechaVisitaControl2" name="fechaVisitaControl2" type="date" />
                        </div>
                        <div class="col-xs-12 col-lg-12" *ngIf="msvRevision.fechaVisitaControl2">
                            <label>Observaciones visita de control 2</label>
                            <textarea class="form-control" [(ngModel)]="msvRevision.observacionVisita2" name="observacionVisita2"></textarea>
                        </div> -->
                        <div class="col-xs-12 col-lg-12">
                            <label>Funcionario que revisa <strong class="text-danger">*</strong></label>
                            <ng-select [multiple]="false" [options]="contratistas" [(ngModel)]="contratistaSelected" name="contratistaId" required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Persona Contacto <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="msvRevision.personaContacto" name="personac" type="text" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Cargo del contacto <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="msvRevision.cargo" name="cargo" type="text" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Correo del contacto <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="msvRevision.correo" name="correo" type="text" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formNewRevision.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>