<div class="card">
    <div class="card-header">
        <h5>
            <b class="text-uppercase">Georeferenciación</b> 
            <small>Mapa general</small>
        </h5>
    </div>
    <div class="card-body">
        <div class="row"><!-- .row -->
            <div class="col-xs-12 col-lg-3" *ngIf="formSearch"><!-- .col -->
                <form #formSearch="ngForm">
                    <div class="form-group">
                        <div class="row"><!-- .row -->
                            <div class="col-xs-12 col-lg-12">
                                <label>Fecha inicial:</label>
                                <input type="date" class="form-control" [(ngModel)]="filtros.fechaInicial" name="fechaInicial" required />
                            </div>
                                        
                            <div class="col-xs-12 col-lg-12">
                                <label>Fecha final:</label><br>
                                <input type="date" class="form-control" [(ngModel)]="filtros.fechaFinal" name="fechaFinal" required />
                            </div>

                            <div class="col-xs-12 col-lg-12">
                                <label>Municipio:</label>
                                <ng-select (ngModelChange)="onChangedMunicipio($event)" [multiple]="false" [options]="municipios" [(ngModel)]="filtros.idMunicipio" name="idMunicipio" required>
                                </ng-select>
                            </div>
                            
                            
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de señal:</label><br>
                                <ng-select [multiple]="false" [options]="tiposSenial" [(ngModel)]="filtros.idTipoSenial" name="idTipoSenial" required>
                                </ng-select>
                            </div>
                           

                            <div class="col-xs-12 col-lg-12">
                                <div class="btn-group">
                                    <button (click)="onSearch()" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
                                      <i class="fa fa-search"></i>
                                      Buscar
                                    </button>
                                  </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </form>
            </div>

            <div class="col-xs-12 col-lg-9" *ngIf="formGeo"><!-- .col -->
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [usePanning] = "true">
                            
                    <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]="false">                            
                    
                        <agm-info-window>
                            <strong>{{ marker.label }}</strong>
                        </agm-info-window>
                    </agm-marker>
                
                </agm-map>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div>