<div class="row">
    <div class="col-xs-12 col-lg-12">
        <form #formReparto="ngForm">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-uppercase">Registro de información</h5>
                    <small>Los campos con <b>*</b> son obligatorios</small>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-3">
                            <label>No. de Radicado {{ documento.numeroRadicado }}</label>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>No. de folios <b>{{ documento.folios }}</b></label>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Fecha <b>{{ date|date:('dd/MM/yyyy') }}</b></label>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Hora <b>{{ date|date:('HH:mm:ss a') }}</b></label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-4" *ngIf="documento.peticionarioNombres">
                            <label>Peticionario:
                                <b>{{ documento.peticionarioNombres }} {{ documento.peticionarioApellidos }}</b>
                            </label>
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="documento.identificacion">
                            <label>Identificación:
                                <b>{{ documento.identificacion }}</b>
                            </label>
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="documento.entidadCargo">
                            <label>Cargo:
                                <b>{{ documento.entidadCargo }}</b>
                            </label>
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="documento.entidadNombre">
                            <label>Entidad:
                                <b>{{ documento.entidadNombre }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Dirección</label>
                            <input class="form-control" [(ngModel)]="documento.direccion" name="direccion" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Telefono</label>
                            <input class="form-control" [(ngModel)]="documento.telefono" name="telefono" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Correo</label>
                            <input class="form-control" [(ngModel)]="documento.correo" name="correo" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Departamento</label>
                            <ng-select [multiple]="false" [options]="departamentos" [(ngModel)]="departamentoSelected" (ngModelChange)="onChangedDepartamento($event)"
                                name="departamento">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Municipio</label>
                            <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="documento.municipio" name="municipio"></ng-select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-6">
                            <label>Tipo Correspondencia
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" (ngModelChange)="onChangedTipoCorrespondencia($event)" [options]="tiposCorrespondencia" [(ngModel)]="documento.idTipoCorrespondencia"
                                name="tipoCorrespondencia" required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-2" *ngIf='editable'>
                            <label>Vigencia (Días)
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="documento.vigencia" name="vigencia" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <label>No. Oficio </label>
                            <input class="form-control" [(ngModel)]="documento.numeroOficio" name="numeroOficio" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Asunto y Concepto
                                <b class="text-danger">*</b>
                            </label>
                            <textarea class="form-control" [(ngModel)]="documento.descripcion" name="descripcion" rows="6" required></textarea>
                        </div>
                        <div class="container">
                            <br>
                            <div class="col-xs-12 col-lg-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="contravencional" class="custom-control-input" id="contravencional" name="contravencional">
                                    <label class="custom-control-label" for="contravencional">Proceso contravencional</label>
                                </div>
                            </div>

                            <div class="row" *ngIf="contravencional">
                                <div class="col-xs-12 col-lg-12">
                                    <form #formSearch="ngForm">
                                        <label>Digite el No. de comparendo</label>
                                        <div class="input-group">
                                            <input class="form-control" [(ngModel)]="numeroComparendo" name="numeroComparendo" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="onSearchComparendo()" [disabled]="formSearch.invalid"
                                                    class="btn btn-default btn-primary" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-12 col-lg-12" *ngIf="comparendo">
                                    <b>Fecha: </b>{{ comparendo.fecha }} | <b>Estado: </b>{{ comparendo.estado.nombre }}
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Adjuntar documento
                                <b class="text-danger">*</b>
                            </label>
                            <b *ngIf="documento.url">
                                <a href="{{ docsUrl }}{{ documento.url }}" target="_blank">
                                    Vista previa
                                </a>
                            </b>
                            <input *ngIf="!documento.url" class="form-control" type="file" (change)="onFileChange($event)" required>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <h5>Medio de llegada</h5>
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-6">
                            <label>Medio Correspondencia
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" [options]="mediosCorrespondencia" [(ngModel)]="documento.idMedioCorrespondenciaLlegada" name="medioCorrespondenciaLlegada"
                                required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Fecha llegada
                                <b class="text-danger">*</b>
                            </label>
                            <input class="form-control" [(ngModel)]="documento.fechaLlegada" name="fechaLlegada" type="date" value="{{ date|date:('dd/MM/yyyy') }}"
                                required>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Detalle de llegada</label>
                            <textarea class="form-control" [(ngModel)]="documento.detalleLlegada" name="nombreTransportadoraLlegada" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Observaciones</label>
                            <textarea class="form-control" [(ngModel)]="datos.observaciones" name="observaciones" rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div  class="col-xs-12 col-lg-12">
                    <button (click)="onRegister()" [disabled]="formReparto.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>