<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <b class="text-uppercase">Modulo parqueadero</b>
              <small>Inmovilizaciones</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-xs btn-primary">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Placa</th>
                    <th>No. Comparendo</th>
                    <th>Fecha ingreso</th>
                    <th>Estado</th>
                    <th>Salida</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let inmovilizacion of inmovilizaciones; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ inmovilizacion.placa }}</td>
                  <td>{{ inmovilizacion.numeroComparendo }}</td>
                  <td>{{ inmovilizacion.fechaIngreso }}</td>
                  <td>
                    {{ inmovilizacion.estado }}
                  </td>
                  <td>
                    <div class="btn-group">
                        <button (click)="onExit(inmovilizacion)" class="btn btn-xs btn-success" type="button">
                          <i class="fa fa-check"></i>
                        </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>