<div class="container-fluid">
  <div class="col-xs-12 col-lg-4" *ngIf='formSearch'>
    <div class="card">
        <div class="card-header">
            <b class="text-uppercase">Buscar</b>
        </div>
        <div class="card-body">
            <form #formIndex="ngForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Tipo de filtro</label>
                            <ng-select [multiple]="false" [options]="tiposFiltro" [(ngModel)]="search.tipoFiltro" name="tipoFiltro" required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Filtro</label>
                            <input class="form-control text-uppercase" [(ngModel)]="search.filtro" name="filtro" type="text" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <button (click)="onSearch()" [disabled]="formIndex.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                    Buscar
                </button>
                <button (click)="onNew()" class="btn btn-xs btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
            </div>
        </div>
    </div>
  </div>

  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <b class="text-uppercase">Inmovilizaciones</b>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-xs btn-primary">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Placa</th>
                    <th>No. Comparendo</th>
                    <th>Fecha ingreso</th>
                    <th>Estado</th>
                    <th>Salida</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let inmovilizacion of inmovilizaciones; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ inmovilizacion.placa }}</td>
                  <td>{{ inmovilizacion.numeroComparendo }}</td>
                  <td>{{ (inmovilizacion.fechaIngreso.timestamp * 1000) | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    {{ inmovilizacion.estado }}
                  </td>
                  <td>
                    <div class="btn-group">
                        <button *ngIf="inmovilizacion.estado == 'AUTORIZADO'" (click)="onExit(inmovilizacion)" class="btn btn-xs btn-success" type="button">
                          <i class="fa fa-file-text-o"></i>
                        </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
    <app-exit *ngIf='formExit' [inmovilizacion]="inmovilizacion" (ready)="ready($event)"></app-exit>
</div>