<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Editar tipo de proceso</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Nombre <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="cfgTipoProceso.nombre" name="nombre" type="text" required>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-default"><i class="fa fa-times"></i>Cancelar</button>
                <button (click)="onEnviar()" class="btn btn-primary" type="button">Enviar</button>
            </div>
        </div>
    </div>
</div>