<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-xs-12 col-lg-4" *ngIf='formSearch'>
            <!-- .col -->
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">
                        Buscar empresas de transporte público
                    </b>
                </div>
                <div class="card-body">
                    <form #formSearch="ngForm">
                        <div class="col-xs-12 col-lg-12">
                            <label>Nro. de Acto Administrativo <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="numeroActo" name="numeroActo" type="number" required>
                        </div>
                        <div class="col-xs-16 col-lg-12">
                            <label>NIT <b class="text-danger">*</b></label>
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="nit" required name="nit" />
                                <span class="input-group-btn">
                                    <button (click)="onSearchEmpresa()" class="btn btn-default btn-primary"
                                        type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="col-xs-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-lg-12" *ngIf='empresaHabilitadaRango'>
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <th><b>Tipo de identificación</b></th>
                                            <th><b>Número de identificación</b></th>
                                        </tr>
                                        <tr>
                                            <td>{{ empresaHabilitadaRango.empresa.tipoIdentificacion?.nombre }}</td>
                                            <td>{{ empresaHabilitadaRango.empresa.nit }}</td>
                                        </tr>
                                        <tr>
                                            <th><b>Razón Social</b></th>
                                            <th><b>Ciudad</b></th>
                                        </tr>
                                        <tr>
                                            <td>{{ empresaHabilitadaRango.empresa.nombre }}</td>
                                            <td>{{ empresaHabilitadaRango.empresa.municipio.nombre }}</td>
                                        </tr>
                                        <tr>
                                            <th><b>Dirección Principal</b></th>
                                            <th><b>Teléfono</b></th>
                                        </tr>
                                        <tr>
                                            <td>{{ empresaHabilitadaRango.empresa.direccion }}</td>
                                            <td>{{ empresaHabilitadaRango.empresa.telefono }}</td>
                                        </tr>
                                        <tr>
                                            <th><b>Tipo Vehículo</b></th>
                                            <th><b>Capacidad Transportadora (Mínima - Máxima)</b></th>
                                        </tr>
                                        <tr>
                                            <td>{{ empresaHabilitadaRango.clase.nombre }}</td>
                                            <td><b style="color: #3700B3">{{ empresaHabilitadaRango.capacidadMinima }} - {{ empresaHabilitadaRango.capacidadMaxima }}</b></td>
                                        </tr>
                                        <tr>
                                            <th><b>Capacidad Transportadora Disponible</b></th>
                                            <th><b>Capacidad Transportadora Utilizada</b></th>
                                        </tr>
                                        <tr>
                                            <td><b style="color: #B00020">{{ empresaHabilitadaRango.capacidadDisponible }}</b></td>
                                            <td><b style="color: #B00020">{{ empresaHabilitadaRango.capacidadUtilizada }}</b></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-8" *ngIf='formIndex'>
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Asignaciones de Cupo para {{ empresaHabilitadaRango.empresa.nombre }}</b>
                    <div class="btn-group pull-right">
                        <button (click)="onNew(empresaHabilitadaRango)" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Nuevo
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table" id="dataTables-example">
                        <thead>
                            <tr>
                                <th><b>#</b></th>
                                <th><b>Acciones</b></th>
                                <th><b>Placa Vehículo</b></th>
                                <th><b>Nro. Cupo</b></th>
                                <th><b>Nro. Pasajeros</b></th>
                                <th><b>Marca</b></th>
                                <th><b>Línea</b></th>
                                <th><b>Clase</b></th>
                                <th><b>Carrocería</b></th>
                                <th><b>Color</b></th>
                                <th><b>Combustible</b></th>
                                <th><b>Cilindraje</b></th>
                                <th><b>Modelo</b></th>
                                <th><b>Motor</b></th>
                                <th><b>Chasis</b></th>
                                <th><b>Serie</b></th>
                                <th><b>Vin</b></th>
                                <th><b>Mod. Transporte</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let asignacion of asignaciones; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button (click)="onEdit(asignacion)" class="btn btn-xs btn-info" type="button">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button (click)="onDelete(asignacion.id)" class="btn btn-xs btn-danger" type="button">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>{{ asignacion.vehiculo.placa.numero }}</td>
                                <td>{{ asignacion.cupo.numero }}</td>
                                <td>{{ asignacion.vehiculo.numeroPasajeros }}</td>
                                <td>{{ asignacion.vehiculo.linea.marca.nombre }}</td>
                                <td>{{ asignacion.vehiculo.linea.nombre }}</td>
                                <td>{{ asignacion.vehiculo.clase.nombre }}</td>
                                <td>{{ asignacion.vehiculo.carroceria.nombre }}</td>
                                <td>{{ asignacion.vehiculo.color.nombre }}</td>
                                <td>{{ asignacion.vehiculo.combustible.nombre }}</td>
                                <td>{{ asignacion.vehiculo.cilindraje }}</td>
                                <td>{{ asignacion.vehiculo.modelo }}</td>
                                <td>{{ asignacion.vehiculo.motor }}</td>
                                <td>{{ asignacion.vehiculo.chasis }}</td>
                                <td>{{ asignacion.vehiculo.serie }}</td>
                                <td>{{ asignacion.vehiculo.vin }}</td>
                                <td>{{ asignacion.vehiculo.modalidadTransporte.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-8" *ngIf='formNew'>
            <app-new-vhlotpasignacion [empresaHabilitadaRango]="empresaHabilitadaRango" (ready)="ready($event)"></app-new-vhlotpasignacion>
        </div>
        <div class="col-xs-12 col-lg-8" *ngIf='formEdit'>
            <app-edit-vhlotpasignacion [asignacion]="asignacion" [empresaHabilitadaRango]="empresaHabilitadaRango" (ready)="ready($event)"></app-edit-vhlotpasignacion>
        </div>
    </div>
</div>