<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="m-0">formulario para el ingreso de una nueva municipio</h5>
                <hr>
                <form #formNew="ngForm">
                    <div class="row justify-content-center">
                        <div class="col-md-10 ">
                            <div class="form-group row">
                            <div class="col-lg-4 col-md-4">
                                <label>Nombre*</label>
                                <input class="form-control" [(ngModel)]="municipio.nombre" name="nombre" placeholder="" type="text" required>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Codigo DANE*</label>
                                <input class="form-control" [(ngModel)]="municipio.codigoDian" name='codigoDian' placeholder="" type="text" required>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                        <label>Departamento*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="departamentos"
                                            [(ngModel)]="departamentoSelected"
                                            required
                                            name="departamentoId">
                                        </ng-select>
                                    </div>
                            </div>
                        </div>    
                    </div>
                    <div class="card-footer">
                        <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-outline-primary pull-right" type="button">Enviar</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>