<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Editar inventario de existencia</b>
            </div>
            <div class="card-body">
                <form #newForm="ngForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposInsumo" [(ngModel)]="insumoSelected" name="tipoInsumo"></ng-select>
                            </div>
                        </div>

                        <div class="row" *ngIf="tipoInsumo && tipoInsumo == 1">
                            <div class="col-lg-4">
                                <label>No.Acta <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="loteInsumo.numeroActa" name="numeroActa"
                                    type="text" required>
                            </div>

                            <div class="col-lg-4">
                                <label>Proveedor-Empresa <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="empresas" [(ngModel)]="empresaSelected" name="idEmpresa" required>
                                </ng-select>
                            </div>

                            <div class="col-lg-4">
                                <label>Organismo de transito <small>(Sedes)</small> <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="organismoTransitoSelect"
                                    name="idOrganismoTransito" required>
                                </ng-select>
                            </div>
                        
                            <div class="col-lg-4">
                                <label>Insumo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="sustratos" [(ngModel)]="insumoSelected"
                                    name="idInsumo" required>
                                </ng-select>
                            </div>
                            <div class="col-lg-4">
                                <label>Rango Inicio <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="loteInsumo.rangoInicio" name="rangoInicio"
                                    type="text" required>
                            </div>

                            <div class="col-lg-4">
                                <label>Rango Fin <b class="text-danger">*</b></label>
                                <input class="form-control" (blur)="isFin()" [(ngModel)]="loteInsumo.rangoFin"
                                    name="rangoFin" type="text" required>
                            </div>

                            <div class="col-lg-4">
                                <label>Cantidad <b class="text-danger">*</b></label>
                                <input class="form-control" [disabled]="true" [(ngModel)]="loteInsumo.cantidad"
                                    name="cantidad" type="text" required>
                            </div>

                            <div class="col-lg-4">
                                <label>No.caja</label>
                                <input class="form-control" [(ngModel)]="loteInsumo.referencia" name="referencia"
                                    type="text">
                            </div>

                            <div class="col-lg-4">
                                <label>Fecha <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="loteInsumo.fecha" name="fecha" type="date"
                                    required>
                            </div>
                        </div>

                        <div class="row" *ngIf="tipoInsumo && tipoInsumo == 2">
                            <div class="col-lg-4">
                                <label>No.Acta <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="loteInsumo.numeroActa" name="numeroActa"
                                    type="text" required>
                            </div>

                            <div class="col-lg-4">
                                <label>Proveedor-Empresa <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="empresas" [(ngModel)]="empresaInsumoSelected" name="idEmpresa" required>
                                </ng-select>
                            </div>

                            <div class="col-lg-4">
                                <label>Insumo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="insumos" [(ngModel)]="insumoInsumoSelected" name="idInsumo" required>
                                </ng-select>
                            </div>

                            <div class="col-lg-4">
                                <label>Cantidad <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="loteInsumo.cantidad" name="cantidad" type="text"
                                    required>
                            </div>

                            <div class="col-lg-4">
                                <label>No.caja</label>
                                <input class="form-control" [(ngModel)]="loteInsumo.referencia" name="referencia"
                                    type="text" required>
                            </div>

                            <div class="col-lg-4">
                                <label>Fecha <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="loteInsumo.fecha" name="fecha" type="date" required>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-footer" *ngIf="tipoInsumo">
                    <div class="btn-group">
                        <button (click)="onEnviar()" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>