<div class="row">
    <!-- .row -->
    <div class="col-xs-12 col-lg-12">
        <!-- .col -->
        <div class="card">
            <div class="card-body">
                <form #formNew="ngForm">
                    <h5 class="m-0">
                        Registrar limitaciones a la propiedad
                    </h5>
                    <small>Todos los campos con
                        <b class="text-danger">*</b> son obligatorios</small>
                    <hr>
                    <div class="row justify-content-center container">

                        <!-- Nro. IPAT -->
                        <div class="col-xs-8 col-lg-6">
                            <label>Nro IPAT</label>
                            <div class="input-group" [class.has-success]="ipatEncontrado === 2" [class.has-danger]="ipatEncontrado === 3">
                                <input type="text" class="form-control" placeholder="nroIpat" [(ngModel)]="nroIpat" name="nroIpat" required />
                                <span class="input-group-btn">
                                    <button (click)="onKeyIpat()" [class.btn-default]="ipatEncontrado === 1" [class.btn-success]="ipatEncontrado === 2" [class.btn-danger]="ipatEncontrado === 3"
                                        class="btn" ngxclipboard="" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="has-danger" *ngIf="ipatEncontrado === 3">
                                <div class="form-control-feedback has-danger has-error">No se encontró el consecutivo</div>
                            </div>
                            <div class="col-lg-12 col-md-12" *ngIf="ipatEncontrado === 2">
                                <br>

                                <label>Datos Básicos
                                </label>
                                <table class="table table-bordered">
                                    <tbody>
                                            <td>
                                                <strong>Orgnismo de Transito: </strong>
                                                {{sedeOperativa?.nombre}}
                                            </td>
                                            <td>
                                                <strong>Nro. IPAT: </strong>
                                                {{consecutivo?.consecutivo}}
                                            </td>
                                            <td>
                                                <strong>Estado IPAT: </strong>
                                                {{consecutivo?.estado}}
                                            </td>
                                            
                                      
                                    </tbody>
                                </table>
                                <button (click)="btnRegistrar()" class="btn btn-primary pull-right">Registrar</button>
                            </div>
                            
                        </div>


                    </div>

                    <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>



                </form>
            </div>


        </div>



    </div>

    <div class="card-footer" *ngIf="listaVehiculosPlacas">
        <!-- <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button> -->
        <button (click)="enviarTramite()" [disabled]="formNew.invalid" class="btn btn-success pull-right">Enviar</button>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->