<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <b class="text-uppercase">Modulo parqueadero</b>
              <br>
              <small>Entradas</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Ingreso</th>
                    <th>No. Comparendo</th>
                    <th>Placa</th>
                    <th>Salida</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let entrada of entradas; let i = index">
                  <td>{{ entrada.id }}</td>
                  <td>{{ entrada.fechaIngreso }}</td>
                  <td>{{ entrada.comparendo.numeroOrden }}</td>
                  <td>{{ entrada.comparendo.vehiculo.placa }}</td>
                  <td>
                    <span *ngIf="!entrada.salida" class="alert alert-dismissible alert-danger">
                      Pendiente autorización
                    </span>
                    <span *ngIf="entrada.fechaSalida">
                      {{ entrada.fechaSalida}}
                    </span>
                  </td>
                  <td>
                    <button (click)="edit(entrada)" class="btn btn-xs btn-info" type="button">
                      <i class="fa fa-edit"></i>
                      Editar
                    </button> 
                    <button (click)="delete(entrada.id)"  class="btn btn-xs btn-danger" type="button">
                      <i class="fa fa-trash"></i>
                      Eliminar
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [entrada]="entrada" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>