<div class="row ">
    <div class="col-xs-12 col-lg-10 ">
        <div class="card">
            <div class="card-body ">
                <h5 class="m-0">Cancelacion</h5>
                <hr>
                <div class='row'>
                    <div class="col-xs-12 col-lg-6">
                        <label><b>Numero licencia:</b> {{licenciaConduccion.numero}}
                        </label> 
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label><b>Categoria:</b> {{ licenciaConduccion.categoria.nombre }}
                        </label>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label><b>Documento:</b> {{licenciaConduccion.ciudadano.identificacion}}
                        </label>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label><b>Tipo documento:</b> {{licenciaConduccion.ciudadano.tipoIdentificacion.nombre}}
                        </label>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label><b>Primer nombre:</b> {{licenciaConduccion.ciudadano.primerNombre}}
                        </label>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label><b>Segundo nombre:</b> {{licenciaConduccion.ciudadano.segundoNombre}}
                        </label>
                    </div> 
                    <div class="col-xs-12 col-lg-6">
                        <label><b>Primer apellido:</b> {{licenciaConduccion.ciudadano.primerApellido}}
                        </label>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label><b>Segundo apellido:</b> {{licenciaConduccion.ciudadano.segundoApellido}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body ">
                <h5 class="m-0">Cancelar Licencia de Conducción</h5>
                <hr>
                <form #formNew="ngForm">
                    <div class="row container">
                        <div class="form-group row">
                                <div class="col-xs-12 col-lg-6">
                                    <label>Fecha Cancelación
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control" [(ngModel)]="formCancelacion.fechaCancelacion"
                                        name="fechaCancelacion" type="date" required>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <label>Fecha Resolución acto o providencia
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control" [(ngModel)]="formCancelacion.fechaResolucion"
                                        name="fechaResolucion" type="date" required>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <label>Tipo de acto
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control" [(ngModel)]="formCancelacion.tipoActo"
                                        name="tipoActo" type="text" required>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <label>Nro. Resolución acto o providencia
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control" [(ngModel)]="formCancelacion.numResolucion"
                                        name="numResolucion" type="text" required>
                                </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                            <i class="fa fa-floppy-o"></i>
                            Enviar
                        </button>
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>