<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Editar línea</b>
            </div>
            <div class="card-body">
                <form #formEdit="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Nombre <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="linea.nombre" name="nombre" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Codigo Mt</label>
                            <input class="form-control" [(ngModel)]="linea.codigo" name='codigo' type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Marca <b class="text-danger">*</b></label>
                            <ng-select [multiple]="false" [options]="marcas" [(ngModel)]="marcaSelected" required
                                name="idMarca">
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button (click)="onEnviar()" [disabled]="formEdit.invalid" class="btn btn-primary" type="button">Enviar</button>
                <button (click)="onCancelar()" class="btn btn-default"><i class="fa fa-times"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>