<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>HighCharts</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title  pull-left">Region <small>Highchart js Chart </small></h5>
          </div>
          <div class="card-body">
            <div id="container"	style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title  pull-left">Area <small>Highchart js Chart </small></h5>
          </div>
          <div class="card-body">
            <div id="area-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title  pull-left">Group <small>Highchart js Chart </small></h5>
          </div>
          <div class="card-body">
            <div id="total-fruit" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title  pull-left">All <small>Chart js Chart </small></h5>
          </div>
          <div class="card-body">
            <div id="snow-depth" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>