<div class="row">
    <div class="col-xs-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Asignar sustratos e insumos a sede operativa</b>
            </div>
            <div class="card-body">
                <form #newForm="ngForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Organismo de tránsito <small>(sedes)</small> <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="sedeSelected" (ngModelChange)="onChangedOrganismoTransito($event)" name="idSedeOperativa"></ng-select>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-6"> 
                                <label>Tipo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposInsumo" [(ngModel)]="tipoInsumo" name="tipoInsumo"></ng-select>
                            </div>
                            <div class="col-xs-12 col-md-8 col-lg-6">
                                <label>Funcionario</label>
                                <ng-select [multiple]="false" [options]="funcionarios" [(ngModel)]="funcionarioSelected" name="idFuncionario">
                                </ng-select>
                            </div>
                        </div>
                        
                        <div class="row" *ngIf="tipoInsumo && tipoInsumo == 1">
                            <div class="col-xs-12 col-lg-6">                         
                                <label>Insumo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="sustratos" [(ngModel)]="insumoSelected" name="idInsumoSustrato" required></ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <label>Fecha registro <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="asignacion.fecha" name="fecha" type="date" required>
                            </div>
                            
                            <div class="col-xs-12 col-lg-12">
                                <button (click)="onSearchLote()" class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i> 
                                    Buscar
                                </button>
                            </div>

                            <div class="col-xs-12 col-lg-12" role="tabpanel" *ngIf='lotes && lotes.length > 0'>
                                <table class="table" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Detalles</th>
                                        <th>Acciones</th> 
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd" *ngFor="let lote of lotes; let i = index">
                                        <td >
                                            <b>Proveedor</b>
                                            {{ lote.empresa.nombre }}
                                            <br>
                                            <b>Organismo de transito</b>
                                            {{ lote.sedeOperativa.nombre }}
                                            <br>
                                            <b>Tipo</b>
                                            {{ lote.tipoInsumo.nombre }}
                                            <br> 
                                            <b>Inicio</b>
                                            {{ lote.rangoInicio }} 
                                            <b>Fin</b>
                                            {{ lote.rangoFin }}
                                            <br>
                                            <b>Cantidad</b>
                                            {{ lote.cantidad }}
                                            <br>
                                            <b>Referencia</b>
                                            {{ lote.referencia }}
                                            <br>
                                            <b>Fecha</b>
                                            {{ (lote.fecha.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                        </td>
                                        <td>
                                            <button (click)="onAsignarLote(lote)" class="btn btn-success" type="button">Asignar</button> 
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>        
        
                        <div class="row" *ngIf="tipoInsumo && tipoInsumo == 2">
                            <div class="col-xs-12 col-lg-4">
                                <label>Insumo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="insumos" [(ngModel)]="insumoSelectedInsumo" (ngModelChange)="onChangedInsumoInsumo($event)"
                                    required name="idInsumoInsumo">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-4">
                                <label>Cantidad <b class="text-danger">*</b></label> 
                                <input class="form-control" [(ngModel)]="numero" name="numeroInsumo" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="asignacion.fecha" name="fecha" type="date" required>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <button (click)="onAsignarLoteInsumo()" class="btn btn-primary" type="button">Asignar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-4" *ngIf="lotesSeleccionados && lotesSeleccionados.length > 0">
        <div class="card">
            <div class="card-body">
                <h5 class="m-0">Generar acta</h5>
                <br>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Tipo</th> 
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let loteSelecionado of lotesSeleccionados; let i = index">
                            <td >{{ loteSelecionado.tipo }}</td>
                            <td >{{ loteSelecionado.cantidad }}</td>
                            <td>
                                <button (click)="onEliminarLoteSelecionado(loteSelecionado)" class="btn btn-danger" type="button">Eliminar</button> 
                            </td>
                        </tr>
                    </tbody> 
                </table>
            </div>  
            <div class="card-footer">
                <div class="btn-group"> 
                    <!-- <button  (click)="onEnviarArray()" class="btn btn-primary" type="button">Enviar</button> -->
                    <button *ngIf="!numeroActa" (click)="onEnviarArray()" class="btn btn-primary" type="button">Enviar</button>
        
                    <a href="{{ apiUrl }}/{{numeroActa}}/{{sedeSelected}}/pdf/acta/asignacion" (click)="onPrintActa()" *ngIf='numeroActa' class="btn btn-success" target="_blank">
                        <i class="fa fa-file-pdf-o"></i>
                        Imprimir Acta
                    </a>
                </div>
            </div>  
        </div>        
    </div> 
</div>