<hr>
<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase"><b>Nueva audiencia</b></h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm"> 
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-6">
                            <label>Fecha <strong class="text-danger">*</strong></label>
                            <input type="date" class="form-control" [(ngModel)]="audiencia.fecha" name="fecha" required />
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Hora <strong class="text-danger">*</strong></label>
                            <input type="time" class="form-control" [(ngModel)]="audiencia.hora" name="hora" required />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>No. comparendo <strong class="text-danger">*</strong></label>
                            <div class="input-group">
                                <input type="numeric" class="form-control" [(ngModel)]="numeroComparendo" name="numeroComparendo" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchComparendo()" class="btn btn-default btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                    <button *ngIf="comparendo" (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>