<hr>
<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card"><!-- .card -->
            <div class="card-header">
                <h5 class="text-uppercase">Registro de personal - Asignación de horarios</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formTime="ngForm">

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <input type="date" [(ngModel)]="horario.fecha" class="form-control" id="fecha" name="fecha" checked="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="horario.manana" class="custom-control-input" id="manana" name="manana" checked="">
                                <label class="custom-control-label" for="manana">Mañana</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Hora inicio <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.horaInicioManana" name="horaInicioManana" type="time" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Hora fin <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.horaFinManana" name="horaFinManana" type="time" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Lugar <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.lugarManana" name="lugarManana" type="text" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="horario.tarde" class="custom-control-input" id="tarde" name="tarde" checked="">
                                <label class="custom-control-label" for="tarde">Tarde</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Hora inicio <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.horaInicioTarde" name="horaInicioTarde" type="time" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Hora fin <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.horaFinTarde" name="horaFinTarde" type="time" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Lugar <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.lugarTarde" name="lugarTarde" type="text" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="horario.noche" class="custom-control-input" id="noche" name="noche" checked="">
                                <label class="custom-control-label" for="noche">Noche</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Hora inicio <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.horaInicioNoche" name="horaInicioNoche" type="time" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Hora fin <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.horaFinNoche" name="horaFinNoche" type="time" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <label>Lugar <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="horario.lugarNoche" name="lugarNoche" type="text" /> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <div class="custom-control custom-radio">
                                <input [(ngModel)]="agregar" value="true" type="radio" id="customRadio1" name="agregar" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Si</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <div class="custom-control custom-radio">
                                <input [(ngModel)]="agregar" value="false" type="radio" id="customRadio2" name="agregar" class="custom-control-input" checked>
                                <label class="custom-control-label" for="customRadio2">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="btn-group">
                            <button (click)="onCancelar()" (ready)="ready($event)" class="btn btn-default">
                                <i class="fa fa-times"></i>
                                Cancel
                            </button>
                            <button (click)="onEnviar()" (ready)="ready($event)" [disabled]="formTime.invalid" class="btn btn-primary" type="button">
                                <i class="fa fa-save"></i>
                                Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.card -->
    </div>
</div>

<div class="row" *ngIf="horarios && horarios.length > 0">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <!-- .card -->
            <div class="card-header">
                <h5 class="text-uppercase">Horarios actuales</h5>
            </div>
            <div class="card-body">
                <table class="table " id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Jornada</th>
                            <th>Fecha</th>
                            <th>Hora Inicial</th>
                            <th>Hora Final</th>
                            <th>Lugar</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let horario of horarios; let i = index">
                            <td>{{ horario.id }}</td>
                            <td>{{ horario.jornada }}</td>
                            <td>{{ horario.fecha }}</td>
                            <td>{{ horario.horaInicio }}</td> 
                            <td>{{ horario.horaFin }}</td>
                            <td>{{ horario.lugar }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>