<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-xs-12 col-lg-4" *ngIf='formSearch'>
            <!-- .col -->
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">
                        Buscar empresas de transporte público
                    </b>
                </div>
                <div class="card-body">
                    <form #formSearch="ngForm">
                        <div class="col-xs-12 col-lg-12">
                            <label>Nro. de Acto Administrativo <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="numeroActo" name="numeroActo" type="number" required>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>NIT <strong class="text-danger">*</strong></label>
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="nit" required name="nit" />
                                <span class="input-group-btn">
                                    <button (click)="onSearchEmpresa()" [disabled]="!numeroActo || !nit" class="btn btn-default btn-primary"
                                        type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="col-xs-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-lg-12" *ngIf='empresaHabilitada'>
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <th><b>Tipo de identificación</b></th>
                                            <th><b>Numero de identificación</b></th>
                                        </tr>
                                        <tr>
                                            <td>{{ empresaHabilitada.empresa.tipoIdentificacion?.nombre }}</td>
                                            <td>{{ empresaHabilitada.empresa.nit }}</td>
                                        </tr>
                                        <tr>
                                            <th><b>Razón Social</b></th>
                                            <th><b>Ciudad</b></th>
                                        </tr>
                                        <tr>
                                            <td>{{ empresaHabilitada.empresa.nombre }}</td>
                                            <td>{{ empresaHabilitada.empresa.municipio.nombre }}</td>
                                        </tr>
                                        <tr>
                                            <th><b>Dirección Principal</b></th>
                                            <th><b>Teléfono</b></th>
                                        </tr>
                                        <tr>
                                            <td>{{ empresaHabilitada.empresa.direccion }}</td>
                                            <td>{{ empresaHabilitada.empresa.telefono }}</td>
                                        </tr>
                                        <tr>
                                            <th><b>Tipo Vehiculo</b></th>
                                            <th><b>Capacidad Transportadora (Mínima - Máxima)</b></th>
                                        </tr>
                                        <tr>
                                            <td>{{ empresaHabilitada.clase.nombre }}</td>
                                            <td><b style="color: #3700B3">{{ empresaHabilitada.capacidadMinima }} - {{ empresaHabilitada.capacidadMaxima }}</b></td>
                                        </tr>
                                        <tr>
                                            <th><b>Capacidad Transportadora Disponible</b></th>
                                            <th><b>Capacidad Transportadora Utilizada</b></th>
                                        </tr>
                                        <tr>
                                            <td><b style="color: #B00020">{{ empresaHabilitada.capacidadDisponible }}</b></td>
                                            <td><b style="color: #B00020">{{ empresaHabilitada.capacidadUtilizada }}</b></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-8" *ngIf='formIndex'>
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Rangos</b>
                    <div class="btn-group pull-right">
                        <button (click)="onNew(empresaHabilitada)" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Nuevo
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table " id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Modalidad Transporte</th>
                                <th>Clase</th>
                                <th>Fecha Resolucion</th>
                                <th>Rango Inicio</th>
                                <th>Rango Fin</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let rango of rangos; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ rango.habilitacion.modalidadTransporte.nombre }}</td>
                                <td>{{ rango.habilitacion.clase.nombre }}</td>
                                <td>{{ (rango.fechaResolucionCupo.timestamp * 1000) | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ rango.rangoInicio }}</td>
                                <td>{{ rango.rangoFin }}</td>
                                <td>
                                    <!-- <button (click)="onEdit(habilitacion)" class="btn btn-xs btn-info" type="button">
                                        <i class="fa fa-pencil"></i>
                                    </button> -->
                                    <button (click)="onDelete(rango.id)" class="btn btn-xs btn-danger"
                                        type="button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-8" *ngIf='formNew'>
            <app-new-vhlotprango [empresaHabilitada]="empresaHabilitada" (ready)="ready($event)"></app-new-vhlotprango>
        </div>
        <!-- <div class="col-xs-12 col-lg-8" *ngIf='formEdit'>
            <app-edit [habilitacion]="habilitacion" (ready)="ready($event)"></app-edit>
        </div> -->
    </div>
</div>