<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Resumen de proyecto</b>
            </div>
            <div class="card-body" *ngIf="proyecto">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <b>Número: </b>
                                {{ proyecto.numero }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Nombre: </b>
                                {{ proyecto.nombre }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Fecha: </b>
                                {{ proyecto.fecha }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Costo total: </b>
                                {{ proyecto.costoTotal | currency: 'COP' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-4" *ngIf="formNewCuenta">
            <form #formCuenta="ngForm">
                <div class="card">
                    <div class="card-header">
                        <b class="text-uppercase">Crear Cuenta</b>
                        <br>
                        <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-8">
                                <label>Número <b class="text-danger">*</b></label>
                                <input class="form-control text-uppercase" [(ngModel)]="datosCuenta.numero" name="numero" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Nombre <b class="text-danger">*</b></label>
                                <input class="form-control text-uppercase" [(ngModel)]="datosCuenta.nombre" name="nombre" type="text" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-12">
                        <button (click)="onRegisterCuenta()" [disabled]="formCuenta.invalid" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                        <button (click)="onCancelarCuenta()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    
        <div class="col-xs-12 col-lg-8" *ngIf="formIndexCuenta">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Cuentas registradas</b>
                    <div class="btn-group pull-right">
                        <button (click)="onNewCuenta()" class="btn btn-xs btn-primary">
                            <i class="fa fa-plus"></i>
                            <span class="text">Nueva</span>
                        </button>
                    </div>
                </div>
                <div class="card-body" *ngIf="cuentas && cuentas.length > 0">
                    <table class="table" id="dataTables-cuentas">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Costo total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let cuenta of cuentas; let i = index">
                                <td>{{ i +1 }}</td>
                                <td>{{ cuenta.nombre }}</td>
                                <td>{{ cuenta.costoTotal | currency: 'COP' }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button (click)="onSearchActividades(cuenta)" class="btn btn-xs btn-default" type="button">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button (click)="onDeleteActividad(cuenta.id)" class="btn btn-xs btn-danger" type="button">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <div class="col-xs-12 col-lg-4" *ngIf="formNewActividad">
        <form #formActividad="ngForm">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Crear Actividad</b>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-8">
                            <label>Nombre <b class="text-danger">*</b></label>
                            <input class="form-control text-uppercase" [(ngModel)]="datosActividad.nombre" name="nombre" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-lg-12">
                    <button (click)="onRegisterActividad()" [disabled]="formActividad.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelarActividad()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="formIndexActividad">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Actividades registradas</b>
                <div class="btn-group pull-right">
                    <button (click)="onNewActividad()" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i>
                        <span class="text">Nueva</span>
                    </button>
                </div>
            </div>
            <div class="card-body" *ngIf="actividades && actividades.length > 0">
                <table class="table" id="dataTables-actividades">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Costo total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let actividad of actividades; let i = index">
                            <td>{{ i +1 }}</td>
                            <td>{{ actividad.nombre }}</td>
                            <td>{{ actividad.costoTotal | currency: 'COP' }}</td>
                            <td>
                                <div class="btn-group">
                                    <button (click)="onSearchInsumo(actividad)" class="btn btn-xs btn-default" type="button">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button (click)="onDeleteActividad(actividad.id)" class="btn btn-xs btn-danger" type="button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="formIndexInsumo">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Insumos registrados <small *ngIf="actividad">{{ actividad.nombre }}</small></b>
                <div class="btn-group pull-right">
                    <button (click)="onNewInsumo(actividad)" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i>
                        <span class="text">Nueva</span>
                    </button>
                </div>
            </div>
            <div class="card-body" *ngIf="insumos && insumos.length > 0">
                <table class="table" id="dataTables-insumos">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Und. Medida</th>
                            <th>Cantidad</th>
                            <th>Valor unitario</th>
                            <th>Valor total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let insumo of insumos; let i = index">
                            <td>{{ i +1 }}</td>
                            <td>{{ insumo.nombre }}</td>
                            <td>{{ insumo.unidadMedida }}</td>
                            <td>{{ insumo.cantidad }}</td>
                            <td>{{ insumo.valorUnitario | currency: 'COP' }}</td>
                            <td>{{ insumo.valorTotal | currency: 'COP' }}</td>
                            <td>
                                <div class="btn-group">
                                    <button (click)="onDeleteInsumo(insumo.id)" class="btn btn-xs btn-danger" type="button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="formNewInsumo">
        <form #formInsumo="ngForm">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Crear Insumo</b></div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-6">
                            <label>Tipo insumo <b class="text-danger">*</b></label>
                            <ng-select [multiple]="false" [options]="tiposInsumo" [(ngModel)]="datosInsumo.idTipoInsumo" name="tipoInsumo"></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Nombre <b class="text-danger">*</b></label>
                            <input class="form-control text-uppercase" [(ngModel)]="datosInsumo.nombre" name="nombre" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Und. de medida <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="datosInsumo.unidadMedida" name="unidadMedida" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Cantidad <b class="text-danger">*</b></label>
                            <input class="form-control" (blur)="onCalcularTotalInsumo()" [(ngModel)]="datosInsumo.cantidad" name="cantidad" type="numeric" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Valor Unitario <b class="text-danger">*</b></label>
                            <input class="form-control" (blur)="onCalcularTotalInsumo()" [(ngModel)]="datosInsumo.valorUnitario" name="valorUnitario" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Valor total <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="datosInsumo.valorTotal" name="valorTotal" type="text" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-lg-12">
                    <button (click)="onRegisterInsumo()" [disabled]="formInsumo.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelarInsumo()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>