<div class="col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <b class="text-uppercase">Datos del comparendo</b>
            <br>
            <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
        </div>
        <div class="card-body">
            <div class="row">
                <div *ngIf="comparendo" class="col-xs-12 col-lg-12">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th><b>Numero</b></th>
                                <th><b>Estado</b></th>
                                <th><b>Fecha y hora</b></th>
                            </tr>
                            <tr>
                                <td>{{ comparendo.consecutivo.numero }}</td>
                                <td>{{ comparendo.estado.nombre }}</td>
                                <td>{{ (comparendo.fecha.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                    {{ (comparendo.hora.timestamp * 1000) | date: 'hh:mm:ss a' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <button *ngIf='!formApoderado && !apoderado' (click)="onAddApoderado()" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Agregar apoderado
                    </button>
                </div>

                <div class="col-xs-12 col-lg-12" *ngIf='formApoderado && !apoderado'>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Identificacion apoderado"
                            [(ngModel)]="datosApoderado.identificacion" name="datosApoderado.identificacion" required />
                        <span class="input-group-btn">
                            <button (click)="onSearchApoderado()" class="btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                            <button (click)="onCloseApoderado()" class="btn btn-danger" type="button">
                                <i class="fa fa-close"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-12" *ngIf="apoderado">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th class="text-center text-uppercase">
                                <b>Datos de apoderado</b>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Tipo de identificación</b>
                                    {{ apoderado.tipoIdentificacion.nombre }}
                                    <br>
                                    <b>Numero de identificación</b>
                                    {{ apoderado.identificacion }}
                                    <br>
                                    <b>Nombres</b>
                                    {{ apoderado.primerNombre }} {{ apoderado.segundoNombre }}
                                    <br>
                                    <b>Apellidos</b>
                                    {{ apoderado.primerApellido }} {{apoderado.segundoApellido }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <form #formNew="ngForm">
            <div class="card-header">
                <b class="text-uppercase">Nueva audiencia</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-12" *ngIf="audiencia">
                        <h5 class="text-success">Fecha programada última audiencia: {{ fechaUltimaAudiencia }}</h5>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Próxima fecha disponible <strong class="text-danger">*</strong></label>
                        <input type="date" class="form-control" [(ngModel)]="audiencia.fecha" name="fecha" required />
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Hora <strong class="text-danger">*</strong></label>
                        <input type="time" class="form-control" [(ngModel)]="audiencia.hora" name="hora" required />
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Tipo Audiencia <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="tipos" [(ngModel)]="audiencia.idTipo" name="idTipo" required>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button *ngIf="comparendo" (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary"
                        type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>