<div class="row">
    <div class="col-sm-16">
        <div class="card">
        <div class="card-body">
            <h5 class="m-0">Nuevo precio por tramite</h5>
            <hr> 
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <form  #precioForm="ngForm">
                        <div class="form-group row">
                            <div class="col-lg-8 col-md-8">
                                <label>Año*</label>
                                <input class="form-control" [(ngModel)]="tramitePrecio.anio" name="anio" placeholder="" type="number" required>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <label>Modulo*</label>
                                <ng-select
                                    [multiple]="false"
                                    [options]="modulos"
                                    [(ngModel)]="moduloSelected"
                                    (ngModelChange)="changedModulo($event)"
                                    required
                                    name="moduloId">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-8 col-md-8">
                                <label>Clase*</label>
                                <ng-select
                                    [multiple]="false"
                                    [options]="clases"
                                    [(ngModel)]="claseSelected"
                                    required
                                    name="claseId">
                                </ng-select>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <label>Tramite*</label>
                                <ng-select
                                    [multiple]="false"
                                    [options]="tramites"
                                    [(ngModel)]="tramiteSelected"
                                    required
                                    name="tramiteId">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-16 col-md-16">
                                <label>SMLDV*</label>
                                <input class="form-control" [(ngModel)]="tramitePrecio.smldv" name="smldv" placeholder="" type="number" required>
                            </div>
                        </div>
                    </form> 
                </div>    
        </div>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                <button (click)="onEnviar()" class="btn btn-outline-primary pull-right" [disabled]="precioForm.invalid" type="button">Enviar</button>
            </div>    
        </div>
    </div>
</div>