<div class="row">
    <div class="col-sm-16">
        <div class="card">
        <div class="card-body">
            <h5 class="m-0">Nuevo precio por tramite</h5>
            <hr> 
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <form  #formNew="ngForm">
                        <div class="form-group row">
                            <div class="col-lg-8 col-md-8">
                                <label>Año*</label>
                                <input class="form-control" [(ngModel)]="tramitePrecio.anio" name="anio" placeholder="" type="number" required>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <label>Valor*</label>
                                <input class="form-control" [(ngModel)]="tramitePrecio.valor" name='valor' placeholder="" type="number">
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-8 col-md-8">
                                <label>Tipo vehículo*</label>
                                <ng-select
                                    [multiple]="false"
                                    [options]="vehiculoTipos"
                                    [(ngModel)]="vehiculoTipoSelected"
                                    required
                                    name="vehiculoTipoId">
                                </ng-select>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <label>Tramite*</label>
                                <ng-select
                                    [multiple]="false"
                                    [options]="tramites"
                                    [(ngModel)]="tramiteSelected"
                                    required
                                    name="tramiteId">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-8 col-md-8">
                                <label>SMLDV*</label>
                                <input class="form-control" [(ngModel)]="tramitePrecio.smldv" name="smldv" placeholder="" type="number" required>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <label>Valor estampillas*</label>
                                <input class="form-control" [(ngModel)]="tramitePrecio.valorEstampilla" name="valorEstampilla" placeholder="" type="number" required>
                            </div>
                        </div>
                    </form> 
                </div>    
        </div>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                <button (click)="onEnviar()" class="btn btn-outline-primary pull-right" [disabled]="precioForm.invalid" type="button">Enviar</button>
            </div>    
        </div>
    </div>
</div>