<div class="row" *ngIf="tramiteFactura.realizado && autorizado">
    <!-- .row -->
    <div class="col-xs-12 col-lg-12">
        <!-- .col -->
        <div class="card">
            <div class="card-header">
                <span class="badge badge-success">Tramite realizado</span>
            </div>
            <div class="card-body text-center">
                <!-- {{ tramiteSolicitud.resumen }} -->
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!tramiteFactura.realizado && autorizado">
   <div class="col-xs-12 col-lg-12">
      <div class="card">
         <div class="card-header">
            <b class="text-primary">Registrar traslado de cuenta</b>
            <br>
            <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
         </div>
         <div class="card-body">
            <form #formNew="ngForm">
               <div class="form-group">
                   <div class="row">
                        <div class="col-xs-12 col-lg-8">
                            <label>Organismo de transito de destino</label>  
                            <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="datos.idOrganismoTransitoNew" name="idOrganismoTransitoNew" required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Fecha salida<strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="datos.fechaSalida" name="fechaSalida" type="date" required />
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Número Guía</label>
                            <input class="form-control" [(ngModel)]="datos.numeroGuia" name="numeroGuia" type="text" required />
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Nombre empresa</label>
                            <input class="form-control" [(ngModel)]="datos.nombreEmpresa" name="nombreEmpresa" type="text" required />
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Número solicitud RUNT</label>
                            <input class="form-control" [(ngModel)]="datos.numeroRunt" name="numeroRunt" type="text" required />
                        </div>
                   </div>
               </div>
            </form>
         </div>
         <div class="card-footer">
            <div class="btn-group">
                <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
            </div>
         </div>
      </div>
   </div>
</div>