<div class="container">
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <b class="text-uppercase">Asignación de impresos a municipio (radio de acción)</b>
            <br>
            <b class="text-danger">TOTAL DISPONIBLES POR SEDE OPERATIVA</b>
            <div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Impresos entregados</th>
                    <th>Impresos disponibles</th>
                    <th>No. acta</th>
                    <th>Municipio</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let municipio of municipios; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ municipio.fecha }}</td>
                  <td>{{ municipio.cantidadRecibida }}</td>
                  <td>{{ municipio.cantidadDisponible }}</td>
                  <td>{{ municipio.numeroActa }}</td>
                  <td>{{ municipio.municipio.nombre }}</td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    
    <app-edit *ngIf='formEdit' [municipio]="municipio" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>