<div class="row">
    <div class="col-xs-12 col-lg-8">
        <div class="card">
        <div class="card-body">
            <h5>Asignación de sustratos e insumos a sedes</h5>
            <hr>
            <form #newForm="ngForm">
                <div class="row">
                    <div class="col-xs-12 col-lg-12"> 
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"> 
                                    <a (click)="onSustrato()" class="nav-link active" data-toggle="tab" href="#sustrato" role="tab">Sustrato</a> 
                                    <!-- <a class="nav-link " data-toggle="tab" href="#realizado"  role="tab">{{tramiteFactura.tramitePrecio.nombre}} <i class="fa fa-dot-circle-o text-success"></i></a>  -->
                                </li>  
                                <li class="nav-item"> 
                                    <a (click)="onInsumo()" class="nav-link" data-toggle="tab" href="#insumo" role="tab">Insumo</a> 
                                    <!-- <a class="nav-link " data-toggle="tab" href="#realizado"  role="tab">{{tramiteFactura.tramitePrecio.nombre}} <i class="fa fa-dot-circle-o text-success"></i></a>  -->
                                </li>  
                            </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="sustrato" role="tabpanel"> 
                                <div class="form-group row">
                                    <div class="col-xs-12 col-lg-12">
                                        <label>Organismo de transito <b class="text-danger">*</b></label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="sedes"
                                            [(ngModel)]="sedeSelected"
                                            (ngModelChange)="changedSedeOperativa($event)"
                                            name="sedeSustratoId">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-6 col-xs-12">
                                        <label>Insumo*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="sustratos"
                                            [(ngModel)]="insumoSelected"
                                            required
                                            [disabled]='frmInsumoSelect'
                                            name="insumoSustratoId">
                                        </ng-select>
                                    </div>

                                    <div class="col-lg-6 col-xs-12">
                                        <label>Fecha*</label>
                                        <input class="form-control" [(ngModel)]="rnaAsignacionInsumos.fecha" name="fecha" placeholder="" type="date" required>
                                    </div>
                                
                                    <div class="col-lg-12 col-md-12">
                                        <br>
                                        <button (click)="onSearchLote()" [disabled]="newForm.invalid" class="btn btn-primary" type="button">Buscar</button>
                                    </div>

                                    <div class="tab-pane active col-lg-12 col-md-12" id="lotes" role="tabpanel" *ngIf='lotes'>
                                        <br>
                                        <br>
                                        <table class="table" id="dataTables-example">
                                          <thead>
                                            <tr>
                                              <th>Detalles</th>
                                              <th>Acciones</th> 
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr class="odd" *ngFor="let lote of lotes; let i = index">
                                              <td >
                                                  <b>Proveedor</b>
                                                  {{lote.empresa.nombre}}
                                                  <br>
                                                  <b>Organismo de transito</b>
                                                  {{lote.sedeOperativa.nombre}}
                                                  <br>
                                                  <b>Tipo</b>
                                                  {{lote.tipoInsumo.nombre}}
                                                   <br> 
                                                  <b>Inicio</b>
                                                  {{lote.rangoInicio}}
                                                <br>
                                                  <b>Fin</b>
                                                  {{lote.rangoFin}}
                                                  <br>
                                                    <b>Cantidad</b>
                                                  {{lote.cantidad}}
                                                <br>
                                                <b>Referencia</b>
                                                {{lote.referencia}}
                                                    <br>
                                                    <b>Fecha</b>
                                                {{lote.fecha}}
                                            </td>
                                              <td>
                                                <button (click)="onAsignarLote(lote)" class="btn btn-success" type="button">Asignar</button> 
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="insumo" role="tabpanel">
                                <div class="form-group row">
                                    <div class="col-xs-12 col-lg-12">
                                        <label>Sede*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="sedes"
                                            [(ngModel)]="sedeSelectedInsumo"
                                            (ngModelChange)="changedSedeOperativaInsumo($event)"
                                            name="sedeInsumoId">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-12 col-lg-4">
                                        <label>Insumo*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="insumos"
                                            [(ngModel)]="insumoSelectedInsumo"
                                            (ngModelChange)="changedInsumoInsumo($event)"
                                            [disabled]='frmInsumoSelectInsumo'
                                            required
                                            name="insumoInsumoId">
                                        </ng-select>
                                    </div>
        
                                    <div class="col-xs-12 col-lg-4">
                                        <label>Cantidad*</label> 
                                        <input class="form-control" [disabled]="true"  [(ngModel)]="numero" name="numeroInsumo" placeholder="" type="text" required>
                                    </div>
        
                                    <div class="col-xs-12 col-lg-4">
                                        <label>Fecha*</label>
                                        <input class="form-control" [(ngModel)]="rnaAsignacionInsumos.fecha" name="fecha" placeholder="" type="date" required>
                                        <br>
                                    </div>
                                    <div class="col-xs-12 col-lg-12">
                                        <button (click)="onAsignarLoteInsumo()" [disabled]="newForm.invalid" class="btn btn-primary" type="button">Asignar</button>
                                    </div>
                                </div>
                            </div>    
                        </div> 
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-xs-12 col-lg-4">
    <div class="card">
        <div class="card-body">
            <h5 class="m-0">Generar acta</h5>
            <br>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                    <th>Tipo</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd" *ngFor="let loteSelecionado of lotesSelecionados; let i = index">
                    <td >{{loteSelecionado.tipo}}</td>
                    <td >{{loteSelecionado.cantidad}}</td>
                    <td>
                        <button (click)="onEliminarLoteSelecionado(loteSelecionado)" class="btn btn-danger" type="button">Eliminar</button> 
                    </td>
                    </tr>
                </tbody> 
            </table>
        </div>  
        <div class="card-footer">
            <div class="btn-group"> 
                <button (click)="onEnviarArray()" [disabled]="newForm.invalid" class="btn btn-primary" type="button">Enviar</button>
    
                <a href="{{ apiUrl }}/pdf/acta/asignacion/{{numeroActa}}" *ngIf='numeroActa' class="btn btn-success" target="_blank">
                    <i class="fa fa-file-pdf-o"></i>
                    Imprimir Acta
                </a>
            </div>
        </div>  
    </div>        
</div> 
</div>