<div class="container">

  <!--<hr>-->
  <div class="row" *ngIf='formSearch'>
    <div class="col-md-12 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h5 class="text-uppercase">Señalización</h5>
          <small></small>
          <hr>
          <form #formSearch="ngForm">
            <div class="form-group row">
              <div class="col-xs-12 col-lg-10">
                <label>Seleccion donde quiera buscar:</label>
                <hr>
                <table style="width: 100%;">
                  <tr>
                   <td>
                    <span *ngFor="let tiposDestinos of tiposDestino; let i = index">
                      <input  type="radio" value="{{tiposDestinos.value}}" ng-model="tipoDestinoSelected" name="tipoDestino" (click)="obtieneDestino(tiposDestinos.value)">
                      {{tiposDestinos.label}}
                      &nbsp;&nbsp;
                    </span>
                   </td>
                   <td>
                    <ng-select [multiple]="false" [options]="destino" [(ngModel)]="destinoSelected" name="destino" style="width:300px">
                      <option value="" ng-if="false">-- Selecionar --</option>
                    </ng-select>
                   </td>
                  </tr>
                </table>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-xs-12 col-lg-4">
                <label>Seleccion el tipo de señal a buscar:</label>
                <hr>
                <span *ngFor="let senales of senal; let i = index">
                  <input  type="radio" value="{{senales.value}}" ng-model="senalSelected" name="senal">
                  {{senales.label}}
                  &nbsp;&nbsp;
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button (click)="search()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
            <i class="fa fa-search"></i>
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--<hr>-->
  <div class="row" id='formInventario' style="display: none;">
    <div class="col-md-12">
      <div class="card">

        <div class="card-body">
          <h5 class="text-uppercase">Inventario</h5>
          <small></small>
          <hr>
          <div class="form-group row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
              <label>Seleccion el tipo de señal a buscar:</label>
              <hr>
                <span *ngFor="let senales of senal; let i = index">
                  <input  type="radio" (click)="searchInventario()" value="senales.value" ng-model="senalSelected" name="senal">
                  {{senales.label}}
                  &nbsp;&nbsp;
                </span>
            </div>
          </div>
        </div>

        <div class="card-body">
          <table class="table " id="dataTables-inventario" style="display: none;">
            <thead>
            <tr style="text-align: center;">
              <th><!--<input type="checkbox" (click)="checkAll($eve)" name="_senalParent_" >--></th>
              <th>Id</th>
              <th># Inventario</th>
              <th>Fecha de Inventario</th>
              <th>Fecha de ingreso</th>
              <th>Fecha</th>
              <th>Unidad</th>
              <th>Color</th>
              <th>Latitud</th>
              <th>Longitud</th>
              <th>Código</th>
              <th>Logo</th>
              <th>Nombre</th>
              <th>Valor</th>
              <th>Estado</th>
              <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd" style="text-align: center;" *ngFor="let senalPorAsignar of senalesPorAsignar?.data; let i = ind">
              <td><input type="checkbox" value="{{senalPorAsignar.id}}" (click)="check($event)" name="_senal_"></td>
              <td>{{senalPorAsignar.id}}</td>
              <td>{{senalPorAsignar.inventario.numero}}</td>
              <td>{{senalPorAsignar.inventario.fecha}}</td>
              <td>{{senalPorAsignar.fecha}}</td>
              <td>{{senalPorAsignar.unidad}}</td>
              <td>
                <div style="background-image: url('assets/img/loader.gif'); background-size: 30px; background-repeat: no-repeat; background-position: center; border:solid 0.5px #ccc; border-radius:0.5px; box-shadow: -0.5px -0.5px 0.5px 0px red, 0.5px -0.5px 0.5px yellow, 0.5px 0.5px 0.5px green, -0.5px 0.5px 0.5px blue;" name="setColor">&nbsp;</div>
                <input type="hidden" name="getColor" value="{{senalPorAsignar.tipoColor.hex}}">
                {{senalPorAsignar.tipoColor.nombre}}
              </td>
              <td>{{senalPorAsignar.latitud}}</td>
              <td>{{senalPorAsignar.longitud}}</td>
              <td>{{senalPorAsignar.codigo}}</td>
              <td>
                <input type="hidden" name="src" value="{{senalPorAsignar.logo}}">
                <img height="30px" src="assets/img/loader.gif" name="logo">
              </td>
              <td>{{senalPorAsignar.nombre}}</td>
              <td>{{senalPorAsignar.valor}}</td>
              <td>{{senalPorAsignar.tipoEstado.nombre}}</td>
              <td>{{senalPorAsignar.cantidad}}</td>
            </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>

  <!--<hr>-->
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Inventario</b>
            <br>
            <div class="btn-group pull-right">
              <button (click)="onAdd()" class="btn btn-success  btn-round " data-target="#themepicker" data-toggle="modal">
                <i class="fa fa-plus"></i>
                <span class="text">Agregar nuevas señales</span>
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Nro. de Inventario</th>
                <th>Fecha de Inventario</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let senal of senales; let i = index">
                <td>{{senal.inventarioSenialId.inventario.numero}}</td>
                <td><a (click)="getInventario()">{{senal.inventarioSenialId.inventario.fecha}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--<hr>-->
  <div class="row" *ngIf='formAdd'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Agregar señales</b>
            <br>
            <div class="col-md-12 col-lg-8 offset-lg-2">
              <div class="card">
                <div class="card-body">
                  <form #formNew="ngForm">
                    <div class="form-group row">
                      <div class="col-xs-12 col-lg-4">
                        <label>Tipo de señal:</label>
                        <ng-select [multiple]="false" [options]="senal" [(ngModel)]="tipoSenalSelected" name="_senal_" style="width:150px">
                        </ng-select>
                      </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                      <div class="col-xs-12 col-lg-10">
                        <label>Lugar de destino:</label>
                        <table style="width: 100%;">
                          <tr>
                            <td>
                              <ng-select
                                      [multiple]="false"
                                      [options]="tiposDestino"
                                      [(ngModel)]="tipoDestinoSelected"
                                      (ngModelChange)="obtieneDestino($event)"
                                      name="_tiposDestino_"
                                      style="width:150px">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [multiple]="false" [options]="destino" [(ngModel)]="destinoSelected" required name="_destino_" style="width:300px">
                              </ng-select>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <span>
                  <input type="file" [(ngModel)]="archivoSelected" (change)="onFileChange($event)"  placeholder="Adjuntar" accept=".pdf,.doc,.docx" value="20000" multiple="false" class="form-control">
                  </span>
                  <hr>
                  <button (click)="onExport()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
                    Exportar
                  </button>
                  <hr>
                  <button (click)="onSend()" (ready)="ready($event)" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                  </button>
                </div>
              </div>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example3">
            <thead>
            <tr style="text-align: center;">
              <th><!--<input type="checkbox" (click)="checkAll($eve)" name="_senalParent_" >--></th>
              <th>Id</th>
              <th># Inventario</th>
              <th>Fecha de Inventario</th>
              <th>Fecha de ingreso</th>
              <th>Fecha</th>
              <th>Unidad</th>
              <th>Color</th>
              <th>Latitud</th>
              <th>Longitud</th>
              <th>Código</th>
              <th>Logo</th>
              <th>Nombre</th>
              <th>Valor</th>
              <th>Estado</th>
              <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd" style="text-align: center;" *ngFor="let senalPorAsignar of senalesPorAsignar?.data; let i = ind">
              <td><input type="checkbox" value="{{senalPorAsignar.id}}" (click)="check($event)" name="_senal_"></td>
              <td>{{senalPorAsignar.id}}</td>
              <td>{{senalPorAsignar.inventario.numero}}</td>
              <td>{{senalPorAsignar.inventario.fecha}}</td>
              <td>{{senalPorAsignar.fecha}}</td>
              <td>{{senalPorAsignar.unidad}}</td>
              <td>
                <div style="background-image: url('assets/img/loader.gif'); background-size: 30px; background-repeat: no-repeat; background-position: center; border:solid 0.5px #ccc; border-radius:0.5px; box-shadow: -0.5px -0.5px 0.5px 0px red, 0.5px -0.5px 0.5px yellow, 0.5px 0.5px 0.5px green, -0.5px 0.5px 0.5px blue;" name="setColor">&nbsp;</div>
                <input type="hidden" name="getColor" value="{{senalPorAsignar.tipoColor.hex}}">
                {{senalPorAsignar.tipoColor.nombre}}
              </td>
              <td>{{senalPorAsignar.latitud}}</td>
              <td>{{senalPorAsignar.longitud}}</td>
              <td>{{senalPorAsignar.codigo}}</td>
              <td>
                <input type="hidden" name="src" value="{{senalPorAsignar.logo}}">
                <img height="30px" src="assets/img/loader.gif" name="logo">
              </td>
              <td>{{senalPorAsignar.nombre}}</td>
              <td>{{senalPorAsignar.valor}}</td>
              <td>{{senalPorAsignar.tipoEstado.nombre}}</td>
              <td>{{senalPorAsignar.cantidad}}</td>
            </tr>
          </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>