<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="m-0">formulario para el ingreso de una nueva carroceria</h5>
                <hr>
                <form #formNew="ngForm">
                    <div class="row justify-content-center">
                        <div class="col-md-10 ">
                            <div class="form-group row">
                            <div class="col-lg-4 col-md-4">
                                <label>Nombre*</label>
                                <input class="form-control" [(ngModel)]="carroceria.nombre" name="nombre" type="text" required>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Código *</label>
                                <input class="form-control" [(ngModel)]="carroceria.codigo" name='codigo' type="text" required>
                            </div> 
                            <div class="col-lg-4 col-md-4">
                                        <label>Clase*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="clases"
                                            [(ngModel)]="claseSelected"
                                            required
                                            name="claseId">
                                        </ng-select>
                                    </div>
                            </div>
                        </div>    
                    </div>
                    <div class="card-footer">
                        <button (click)="onCancelar()" class="btn btn-default">Cancelar</button>
                        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-outline-primary pull-right" type="button">Enviar</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>