<hr>
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Editar asignación de placa para sede</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formEdit="ngForm">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Seleccionar Sede Operativa <strong class="text-danger">*</strong></label>
                            <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="sedeOperativaSelected"  name="sedeOperativa" required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Tipo de vehículo <strong class="text-danger">*</strong></label>
                            <ng-select [multiple]="false" [options]="tiposVehiculos" [(ngModel)]="tipoVehiculoSelected" name="tipoVehiculo" required>
                            </ng-select>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <label>Rango inicio <strong class="text-danger">*</strong></label>
                                <input style="text-transform:uppercase" class="form-control" placeholder="AAA000" type="text" maxlength="6" [(ngModel)]="asignacion.rangoInicial" name="rangoInicial" required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Rango final <strong class="text-danger">*</strong></label>
                                <input style="text-transform:uppercase" class="form-control" placeholder="ZZZ999" type="text" maxlength="6" [(ngModel)]="asignacion.rangoFinal" name="rangoFinal" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formEdit.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>