
<div class="row" *ngIf="funcionario"><!-- .row -->
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Nueva Solicitud de trámite RNA</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Consultar factura <strong class="text-danger">*</strong></label>
                            <div class="input-group">
                                <input class="form-control" [(ngModel)]="numeroFactura" name="numeroFactura" type="text" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchFactura()" class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf='factura'>
                        <div class="col-xs-12 col-lg-12">
                            <span class="badge badge-success" *ngIf="factura.estado == 'PAGADA'">{{ factura.estado }}</span>
                            <span class="badge badge-danger" *ngIf="factura.estado == 'PENDIENTE DOCUMENTACION'">{{ factura.estado }}</span>
                            <span class="badge badge-warning" *ngIf="factura.estado == 'FINALIZADA'">{{ factura.estado }}</span>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <a *ngIf="factura && factura.estado == 'PENDIENTE DOCUMENTACION'" href="{{ apiUrl }}/{{ factura.id }}/pdf/documentacion" class="btn btn-default" target="_blank">
                                <i class="fa fa-file-pdf-o"></i>
                                Imprimir observaciones
                            </a>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="factura && factura.estado != 'FINALIZADA' && factura.estado != 'PENDIENTE DOCUMENTACION'">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Buscar por placa</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-uppercase" [(ngModel)]="placa" name="placa" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchVehiculo()" class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="vehiculo">
                        <div class="col-xs-12 col-lg-12" *ngIf="vehiculo.cancelado">
                            <div class="notes notes-success" role="alert"> 
                                <strong>Atención!</strong> este vehiculo se encuentra con la matricula cancelada solo podrá realizar certificado de tradición y rematricula.
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-lg-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-center">
                                            <b>Resumen de vehiculo</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="vehiculo.placa">
                                        <td>
                                            <b>Placa</b>
                                            {{ vehiculo.placa?.numero }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Motor</b>
                                            {{ vehiculo.motor }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Servicio</b>
                                            {{ vehiculo.servicio.nombre }}
                                        </td>
                                    </tr>
                                    <tr *ngIf="vehiculo.clase">
                                        <td>
                                            <b>Tipo</b>
                                            {{ vehiculo.clase?.nombre }}
                                        </td>
                                    </tr>
                                    <tr *ngIf="vehiculo.organismoTransito">
                                        <td>
                                            <b>Organismo transito</b>
                                            <br>
                                            {{ vehiculo.organismoTransito?.nombre }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group" *ngIf="documentacionPendiente.length > 0">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="btn-group">
                                            <button (click)="onEnviar()" class="btn btn-success" [disabled]="tramitesFactura && (tramitesFactura.length == tramitesRealizados.length)">
                                                <i class="fa fa-save"></i>
                                                Guardar observaciones
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="factura && factura.estado != 'FINALIZADA' && factura.estado != 'PENDIENTE DOCUMENTACION' && tramitesFactura && tramitesRealizados.length == tramitesFactura.length && documentacionPendiente.length == 0">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="form-group">
                                <div class="row" *ngIf="requiereRunt">
                                    <div class="col-xs-12 col-lg-12"> 
                                        <label>Número de solicitud RUNT <b class="text-danger">*</b></label>
                                        <input type="text" class="form-control" placeholder="No. solicitud RUNT" [(ngModel)]="tramiteSolicitud.numeroRunt" name="numeroRunt" required />
                                    </div>
                                </div>

                                <ng-container *ngIf="(requiereSustrato && tramiteSolicitud.insumoEntregado) || !requiereSustrato">
                                    <div class="row" *ngIf="factura && tramiteSolicitud.numeroRunt">
                                        <div class="col-xs-12 col-lg-12">
                                            <button (click)="onEnviar()" class="btn btn-success">
                                                <i class="fa fa-save"></i>
                                                Guardar información
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="factura && factura.estado != 'FINALIZADA' && factura.estado != 'PENDIENTE DOCUMENTACION' && vehiculo">
        <div class="card">
            <div class="card-body">
                <div class="row"  *ngIf="propietarios">
                    <div class="col-xs-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-uppercase text-center">
                                        <b>Propietarios</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let propietario of propietarios; let i = index">
                                    <td *ngIf="propietario.ciudadano">
                                        <strong>Nombre: </strong>
                                        {{ propietario.ciudadano?.primerNombre }} {{ propietario.ciudadano?.primerApellido }}
                                        <br>
                                        <strong>Identificación: </strong>
                                        {{ propietario.ciudadano?.identificacion }}
                                    </td>
                                    <td *ngIf="propietario.empresa">
                                        <strong>Nombre: </strong>
                                        {{ propietario.empresa?.nombre }}
                                        <br>
                                        <strong>Identificación (NIT): </strong>
                                        {{ propietario.empresa?.nit }}
                                    </td>
                                    <td>
                                        <div class="custom-control custom-radio">
                                            <input [disabled]='confirmarSolicitante' [(ngModel)]="tramiteSolicitud.idPropietario" value="{{ propietario.id }}" type="radio" id="radio{{ i }}" name="radio" class="custom-control-input">
                                            <label class="custom-control-label" for="radio{{ i }}">Solicitante</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="!confirmarSolicitante">
                                <tr>
                                    <td colspan="3">
                                        <button *ngIf='!fromApoderado && !apoderado' (click)="onFormApoderado()" class="btn btn-primary">
                                            <i class="fa fa-save"></i>
                                            Agregar apoderado
                                        </button>
                                        <button *ngIf='tramiteSolicitud.idPropietario' (click)="onConfirmarSolicitante()" class="btn btn-success">
                                            <i class="fa fa-save"></i>
                                            Confirmar solicitante
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                        <div *ngIf='fromApoderado && !apoderado' class="col-xs-12 col-lg-12 form-group">
                            <div class="input-group" [class.has-danger]="apoderado">
                                <input type="number" class="form-control" placeholder="Identificacion apoderado" [(ngModel)]="identificacionApoderado" name="identificacionApoderado" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchApoderado()" class="btn" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button (click)="onCloseApoderado()" class="btn btn-danger" type="button">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <!--si existe el apoderado -->
                        <div class="container form-group" *ngIf="apoderado">
                            <h5 class="container">
                                Datos de apoderado
                            </h5>
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Tipo de identificación</b>
                                            <br> {{apoderado.tipoIdentificacion.nombre}}
                                            <br>
                                            <b>Numero de identificación</b>
                                            {{apoderado.identificacion}}
                                        </td>
                                        <td>
                                            <b>Nombres</b>
                                            <br> {{apoderado.primerNombre}} {{apoderado.segundoNombre}}
                                            <br>
                                            <b>Apellidos</b>
                                            {{apoderado.primerApellido}} {{apoderado.segundoApellido}}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button *ngIf="!tramiteSolicitud.idSolicitante" (click)="onAddApoderado()" class="btn btn-primary">
                                                    <i class="fa fa-save"></i>
                                                    Agregar
                                                </button>
                                                <button *ngIf='!confirmarSolicitante' class="btn btn-default" (click)="onCloseApoderado()">
                                                    <i class="fa fa-times"></i>
                                                    Cancelar
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.row -->


                <div class="row" *ngIf="confirmarSolicitante && tramitesFactura && factura && factura.estado != 'FINALIZADA'">
                    <div class="col-xs-12 col-lg-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#tab-tramites" role="tab">
                                    Realizar trámites
                                </a>
                            </li>
                            <li class="nav-item" *ngIf='requiereSustrato'>
                                <a class="nav-link " data-toggle="tab" href="#tab-sustrato" role="tab">
                                    Registrar sustrato
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab-tramites" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12"><!-- .col -->
                                        <b class="text-uppercase">Trámite a realizar</b>
                                        <ng-select (ngModelChange)="onChangedTramiteFactura($event)" [(ngModel)]="idTramiteFactura" [multiple]="false" [options]="tramitesFactura" name="idTramiteFactura" required></ng-select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-lg-12" *ngIf="tramiteFactura">                        
                                        <appRna-matricula-inicial *ngIf="tramiteFactura.precio.tramite.id == 1" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)" ></appRna-matricula-inicial>
                                        
                                        <appRna-traspaso *ngIf="tramiteFactura.precio.tramite.id == 2" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-traspaso>
                                        
                                        <app-new-traslado-cuenta *ngIf="tramiteFactura.precio.tramite.id == 3" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></app-new-traslado-cuenta>
                                    
                                        <appRna-radicado-cuenta *ngIf="tramiteFactura.precio.tramite.id == 4" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-radicado-cuenta>
                                    
                                        <appRna-cambio-color *ngIf="tramiteFactura.precio.tramite.id == 5" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-cambio-color>
                                    
                                        <appRna-cambio-servicio *ngIf="tramiteFactura.precio.tramite.id == 6" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-cambio-servicio>
                                    
                                        <appRna-regrabar-motor *ngIf="tramiteFactura.precio.tramite.id == 7" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-regrabar-motor>
                                        
                                        <appRna-regrabar-chasis *ngIf="tramiteFactura.precio.tramite.id == 8" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-regrabar-chasis>
                                        
                                        <appRna-transformacion *ngIf="tramiteFactura.precio.tramite.id == 9" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-transformacion>
                                        
                                        <appRna-duplicado-licencia *ngIf="tramiteFactura.precio.tramite.id == 10" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" [idPropietario]='tramiteSolicitud.idPropietario' (onReadyTramite)="onReadyTramite($event)"></appRna-duplicado-licencia>
                                    
                                        <appRna-inscripcion-alerta-prenda *ngIf="tramiteFactura.precio.tramite.id == 11" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" [idPropietario]='tramiteSolicitud.idPropietario' (onReadyTramite)="onReadyTramite($event)"></appRna-inscripcion-alerta-prenda>
                                        
                                        <appRna-levantamiento-alerta-prenda *ngIf="tramiteFactura.precio.tramite.id == 12" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-levantamiento-alerta-prenda>
                                        
                                        <appRna-cancelacion-matricula *ngIf="tramiteFactura.precio.tramite.id == 13" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-cancelacion-matricula>
                                            
                                        <appRna-cambio-placa *ngIf="tramiteFactura.precio.tramite.id == 14" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-cambio-placa>
                                        
                                        <appRna-duplicado-placa *ngIf="tramiteFactura.precio.tramite.id == 15" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-duplicado-placa>
                                        
                                        <appRna-blindaje *ngIf="tramiteFactura.precio.tramite.id == 16" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-blindaje>
                                        
                                        <appRna-cambio-motor *ngIf="tramiteFactura.precio.tramite.id == 17" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-cambio-motor>
                                        
                                        <appRna-rematricula *ngIf="tramiteFactura.precio.tramite.id == 18" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-rematricula>
                                        
                                        <appRna-regrabar-serie *ngIf="tramiteFactura.precio.tramite.id == 19" [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-regrabar-serie>
                                        
                                        <!-- tramites sin id -->
                                        <appRna-importacion-temporal *ngIf="tramiteFactura.precio.tramite.id == 22"  [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-importacion-temporal>
                                        
                                        <appRna-prorroga-importacion-temporal *ngIf="tramiteFactura.precio.tramite.id == 23"  [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-prorroga-importacion-temporal>
                                        
                                        <appRna-cambio-acreedor-prendario-propietario *ngIf="tramiteFactura.precio.tramite.id == 24"  [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-cambio-acreedor-prendario-propietario>
                                        
                                        <appRna-cambio-acreedor-prendario *ngIf="tramiteFactura.precio.tramite.id == 25"  [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" [idPropietario]='tramiteSolicitud.idPropietario' (onReadyTramite)="onReadyTramite($event)"></appRna-cambio-acreedor-prendario>
                                        
                                        <appRna-cambio-gas *ngIf="tramiteFactura.precio.tramite.id == 26"  [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-cambio-gas>
                                        
                                        <appRna-regrabar-vin *ngIf="tramiteFactura.precio.tramite.id == 28"  [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-regrabar-vin>
                                        
                                        <appRna-traspaso-indeterminada *ngIf="tramiteFactura.precio.tramite.id == 29"  [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" [idPropietario]='tramiteSolicitud.idPropietario' (onReadyTramite)="onReadyTramite($event)"></appRna-traspaso-indeterminada>
                                    
                                        <appRna-certificado-tradicion *ngIf="tramiteFactura.precio.tramite.id == 30"  [vehiculo]="vehiculo" [tramitesRealizados]="tramitesRealizados" [funcionario]="funcionario" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRna-certificado-tradicion>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-sustrato" role="tabpanel">
                                <appRna-sustrato *ngIf="requiereSustrato" [factura]="factura" [idPropietario]='tramiteSolicitud.idPropietario' (onReadyInsumo)="onReadyInsumo($event)"></appRna-sustrato>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.row -->

<div class="row"  *ngIf="!funcionario">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-body text-center">
                <span class="badge badge-danger text-uppercase">Usted no tiene permisos para realizar trámites</span>
            </div>
        </div>
    </div>
</div>
