<hr>
<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Editar estado de comparendo</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formEdit="ngForm"> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Nombre <strong class="text-danger">*</strong></label>
                                <input class="form-control text-uppercase" [(ngModel)]="estado.nombre" name="nombre" type="numeric" required />
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Sigla <strong class="text-danger">*</strong></label>
                                <input class="form-control text-uppercase" [(ngModel)]="estado.sigla" name="sigla" type="text" required />
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Formato <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="formatos" [(ngModel)]="estado.idFormato" name="idFormato" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Días de espera <strong class="text-danger">*</strong></label>
                                <input class="form-control text-uppercase" [(ngModel)]="estado.dias" name="dias" type="numeric" />
                            </div>
                            <div class="col-xs-12 col-lg-6" style="margin-top: 8%;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="estado.habiles" class="custom-control-input" id="habiles" name="habiles">
                                    <label class="custom-control-label" for="habiles">Habiles</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="estado.simit" class="custom-control-input" id="simit" name="simit">
                                    <label class="custom-control-label" for="simit">Simit</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="estado.actualiza" class="custom-control-input" id="actualiza" name="actualiza" checked="">
                                    <label class="custom-control-label" for="actualiza">Actualiza comparendo</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="estado.finaliza" class="custom-control-input" id="finaliza" name="finaliza">
                                    <label class="custom-control-label" for="finaliza">Finaliza proceso</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="estado.reparto" class="custom-control-input" id="reparto" name="reparto">
                                    <label class="custom-control-label" for="reparto">Realiza reparto</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formEdit.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>