<div class="col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="text-uppercase">Editar Unidad Receptora</h5>
            <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
        </div>
        <div class="card-body">
            <form #formNew="ngForm">
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Nombre <strong class="text-danger">*</strong></label>
                        <input type="text" class="form-control" [(ngModel)]="unidadReceptora.nombre" name="nombre" required />
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Entidad Accidente <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="entidadesAccidentes" [(ngModel)]="entidadAccidenteSelected"
                            required name="entidadAccidente">
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Municipio <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="municipioSelected" required name="municipio">
                        </ng-select>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancel
                </button>
                <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
            </div>
        </div>
    </div>
</div>