<div class="container">
        <div class="col-md-12">
           <div class="card">
              <div class="card-body">
                 <h5 class="m-0">Vehículo</h5>
                 <small>Datos Vehículo</small>
                 <hr>
                 <div class="row justify-content-center">
                    <div class="container">
                       <div class="form-group row">
                          <div class="col-lg-4 col-md-4">
                             <label>Sede Operativa</label> 
                             <input class="form-control" name="sede" [(ngModel)]="sedeOperativa" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Placa</label>
                             <input class="form-control" name="placa" [(ngModel)]="placa" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Estado Vehículo</label>
                             <input class="form-control" name="estado" [(ngModel)]="estado" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Nro. tarjeta de registro vigente</label>
                             <input class="form-control" placeholder="PENDIENTE" name="numeroTarjeta" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Estado tarjeta registro</label>
                             <input class="form-control" placeholder="PENDIENTE" name="estadoTarjeta" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Acta de importación o de remate o adjudicación</label>
                             <input class="form-control" placeholder="PENDIENTE" name="acta" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Número de acta</label>
                             <input class="form-control" placeholder="PENDIENTE" name="numeroActa" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Fecha declaración</label>
                             <input class="form-control" placeholder="PENDIENTE" name="fechaDeclaracion" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Declaración de importación simplificada</label>
                             <input class="form-control" placeholder="PENDIENTE" name="declaracion" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Reposición</label>
                             <input class="form-control" placeholder="PENDIENTE" name="reposicion" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Origen registro</label>
                             <input class="form-control" placeholder="PENDIENTE" name="origenRegistro" type="text" required readonly>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="card">
              <div class="card-body">
                 <h5 class="m-0">Información Vehículo</h5>
                 <hr>
                 <div class="row justify-content-center">
                    <div class="container">
                       <div class="form-group row">
                          <div class="col-lg-4 col-md-4">
                             <label>Clase</label> 
                             <input class="form-control" name="clase" [(ngModel)]="clase" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Marca</label>
                             <input class="form-control" name="marca" [(ngModel)]="marca" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Linea</label>
                             <input class="form-control" name="linea" [(ngModel)]="linea" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Modelo</label>
                             <input class="form-control" name="modelo" [(ngModel)]="modelo" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Color</label>
                             <input class="form-control" name="color" [(ngModel)]="color" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Tipo servicio</label>
                             <input class="form-control" name="tipoServicio" [(ngModel)]="tipoServicio" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Cilindraje</label>
                             <input class="form-control" name="cilindraje" [(ngModel)]="cilindraje" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Número serie</label>
                             <input class="form-control" name="numeroSerie" [(ngModel)]="numeroSerie" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Número de motor</label>
                             <input class="form-control" name="numeroMotor" [(ngModel)]="numeroMotor" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Número de chasis</label>
                             <input class="form-control" name="numeroChasis" [(ngModel)]="numeroChasis" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Regrabación serie</label>
                             <input class="form-control" name="regrabacionSerie" [(ngModel)]="regrabacionSerie" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Regrabación motor</label>
                             <input class="form-control" name="regrabacionMotor" [(ngModel)]="regrabacionMotor" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Regrabación chasis</label>
                             <input class="form-control" name="regrabacionChasis" [(ngModel)]="regrabacionChasis" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4">
                             <label>Combustible</label>
                             <input class="form-control" name="combustible" [(ngModel)]="combustible" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="maquinaria">
                             <label>Peso bruto vehículo</label>
                             <input class="form-control" name="pesoBruto" [(ngModel)]="pesoBruto" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="pesado || maquinaria">
                             <label>Número ejes</label>
                             <input class="form-control" name="numeroEjes" [(ngModel)]="numeroEjes" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="pesado">
                             <label>Nro. fichas tecnicas homologación</label>
                             <input class="form-control" name="numeroFichas" [(ngModel)]="numeroFichas" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Repotenciado</label>
                             <input class="form-control" placeholder="PENDIENTE" name="repotenciado" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Potencia</label>
                             <input class="form-control" placeholder="PENDIENTE" name="potencia" type="text" required readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Tipo de motor</label>
                             <input class="form-control" placeholder="PENDIENTE" name="tipoMotor" type="text" required readonly readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Año fabricación</label>
                             <input class="form-control" placeholder="PENDIENTE" name="anioFabricacion" type="text" required readonly readonly>
                          </div>
                          <div class="col-lg-4 col-md-4" *ngIf="oculto">
                             <label>Migrado</label>
                             <input class="form-control" placeholder="PENDIENTE" name="migrado" type="text" required readonly readonly>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="card-footer">
                 <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
              </div>
           </div>
        </div>
     </div>