<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nuevo proyecto</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm"> 
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-4">
                            <label>Numero <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="proyecto.numero" name="numero" type="number" required autofocus />
                        </div>
                        <div class="col-xs-12 col-lg-8">
                            <label>Nombre <strong class="text-danger">*</strong></label>
                            <input class="form-control text-uppercase" [(ngModel)]="proyecto.nombre" name="nombre" type="text" required  />
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Numero cuenta <strong class="text-danger">*</strong></label>
                            <input class="form-control" [(ngModel)]="proyecto.cuentaNumero" name="cuentaNumero" type="number" required  />
                        </div>
                        <div class="col-xs-12 col-lg-8">
                            <label>Nombre cuenta <strong class="text-danger">*</strong></label>
                            <input class="form-control text-uppercase" [(ngModel)]="proyecto.cuentaNombre" name="cuentaNombre" type="text" required  />
                        </div>
                    </div>
                </form> 
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>