<div class="col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="text-uppercase">Lista Caracterización Empresa</h5>
            <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
        </div>
        <div class="card-body">
            <form #formNew="ngForm">
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6" style="margin-top: 2%">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="NIT Empresa" [(ngModel)]="nit" name="nit"
                                required />
                            <span class="input-group-btn">
                                <button (click)="onBuscarEmpresa()" class="btn btn-default btn-primary" type="button"><i
                                        class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="empresaEncontrada">
                    <table class="table " id="dataTables-example">
                        <br>
                        <thead>
                            <tr>
                                <th>Nit</th>
                                <th>Nombres</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td>{{ empresa.nit }}</td>
                                <td>{{ empresa.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>