<div class="row ">
    <div class="col-xs-12 col-lg-10 ">
        <div class="card">
            <div class="card-body ">
                <h5 class="m-0">Nueva persona jurídica</h5>
                <hr>
                <form  #formNew="ngForm">
                    <div class="row justify-content-center container">
                        <div class="form-group row">
                            <!-- informacion  especifica de la nueva empresa-->
                            <div class="col-xs-12 col-lg-9">
                                <label>Razon social
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" [(ngModel)]="empresa.nombre" name="nombre" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Sigla</label>
                                <input class="form-control" [(ngModel)]="empresa.sigla" name="sigla" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Nro. NIT <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="empresa.nit" name="nit" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>DV <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="empresa.dv" name="dv" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Tipo identificación
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected" required name="tipoIdentificacionId">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Capital pagado</label>
                                <input class="form-control" [(ngModel)]="empresa.capitalPagado" name="capitalPagado" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Patrimonio liquido</label>
                                <input class="form-control" [(ngModel)]="empresa.capitalLiquido" name="capitalLiquido" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-3" style="margin-top:3%">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="empresa.empresaPrestadora" class="custom-control-input"
                                        id="empresaPrestadora" name="empresaPrestadora" checked="">
                                    <label class="custom-control-label" for="empresaPrestadora">Empresa
                                        prestadora</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Certificado existencial</label>
                                <input class="form-control" [(ngModel)]="empresa.certificadoExistencial" name="certificadoExistencial" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Tipo sociedad
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="tiposSociedad" [(ngModel)]="tipoSociedadSelected" required name="idTipoSociedad">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-4">
                                <label>Servicio
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="servicios" [(ngModel)]="servicioSelected" required name="idServicio">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-4">
                                <label>Tipo entidad<span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="tiposEntidad" [(ngModel)]="tipoEntidadSelected" required
                                    name="tipoEntidadSelected">
                                </ng-select>
                            </div>
                            <!-- fin informacion  especifica -->
                            <!-- seleccion ubicacion geografica -->
                            <div class="col-xs-12 col-lg-4">
                                <label>Municipio
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="municipioSelected" required name="idMunicipio">
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Nro. Registro mercantil <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="empresa.nroRegistroMercantil" name="nroRegistroMercantil" type="text" required>
                            </div>
                            <!-- fin ubicacion -->
                            <!-- fecha VENCE -->
                            <div class="col-xs-12 col-lg-4">
                                <label> Vencimiento de registro mercantil
                                </label>
                                <input class="form-control" [(ngModel)]="empresa.fechaVencimientoRegistroMercantil" name="fechaVencimientoRegistroMercantil" type="date" />
                                <br>
                            </div>
                            <!-- fin vence -->
                            <!-- DATOS DE DIRECCION -->
                            <hr>
                            <h5 class="col-xs-12 col-lg-12">Datos dirección </h5>
                            <!-- datos dirección -->
                            <div class="col-xs-12 col-lg-4">
                                <label>Dirección <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="empresa.direccion" name="direccion" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Telefono <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="empresa.telefono" name="telefono" type="number" min="0" required>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Celular <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="empresa.celular" name="celular" type="number" min="0" required>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Fax</label>
                                <input class="form-control" [(ngModel)]="empresa.fax" name="fax" type="email">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Correo electrónico <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="empresa.correo" name="correo" type="email" required>
                            </div> 

                            <div class="col-xs-12 col-lg-4">
                                <label>Tipo empresa
                                    <span class="text-danger">*</span>
                                </label>
                                <ng-select [multiple]="false" [options]="tipoEmpresas" [(ngModel)]="tipoEmpresaSelected" required name="idTipoEmpresa">
                                </ng-select>
                            </div>

                            <br><br><hr>
                            <!-- fin datos direccion -->
                            <!-- DATOS REPRESENTANTE  -->
                            <h5 class="col-xs-16 col-lg-12">Datos representante</h5>
                            
                            <div class="col-xs-16 col-lg-6">
                                <label>Ciudadano<span class="text-danger">*</span></label>
                                <ng-select [multiple]="false" [options]="ciudadanos" [(ngModel)]="ciudadanoSelected" required name="idCiudadano"></ng-select>
                            </div>
                            <div class="col-xs-16 col-lg-6">
                                <label>Fecha de inicio<span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="empresa.fechaInicial" name="fechaInicial" required type="date" />
                            </div>                            
                            <!-- FIN REPRESENTANTE -->
                        </div>
                    </div>
                    <div class="card-footer">
                        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                            <i class="fa fa-floppy-o"></i>
                            Enviar
                        </button>
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>