<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Editar color</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <label>Nombre <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="color.nombre" name="nombre" type="text" required>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="onEnviar()" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>Enviar
                </button>
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>