<div class="container">
  <hr>
  <div class="row" *ngIf='formSearch'>
    <div class="col-md-12 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h5 class="text-uppercase">Señalización</h5>
          <small></small>
          <hr>
          <form #formSearch="ngForm">
            <div class="form-group row">
              <div class="col-xs-12 col-lg-10">
                <label>Seleccion donde quiera buscar:</label>
                <hr>
                <table style="width: 100%;">
                  <tr>
                   <td>
                    <span *ngFor="let tiposDestinos of tiposDestino; let i = index">
                      <input  type="radio" value="tiposDestinos.value" ng-model="tipoDestinoSelected" name="tipoDestino" (click)="obtieneDestino(tiposDestinos.value)">
                      {{tiposDestinos.label}}
                      &nbsp;&nbsp;
                    </span>
                   </td>
                   <td>
                    <ng-select [multiple]="false" [options]="destino" [(ngModel)]="destinoSelected" name="destino" style="width:300px">
                      <option value="" ng-if="false">-- Selecionar --</option>
                    </ng-select>
                   </td>
                  </tr>
                </table>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-xs-12 col-lg-4">
                <label>Seleccion el tipo de señal a buscar:</label>
                <hr>
                <span *ngFor="let senales of senal; let i = index">
                  <input  type="radio" value="senales.value" ng-model="senalSelected" name="senal">
                  {{senales.label}}
                  &nbsp;&nbsp;
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button (click)="search()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
            <i class="fa fa-search"></i>
            Buscar
          </button>
          <!--<button (click)="onNew()" (ready)="ready($event)" class="btn btn-info" type="button">
            <i class="fa fa-plus"></i>
            Nuevo
          </button>-->
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Inventario</b>
            <br>
            <!--<small>Señales</small>-->
            <div class="btn-group pull-right">
              <button (click)="onAdd()" class="btn btn-success  btn-round " data-target="#themepicker" data-toggle="modal">
                <i class="fa fa-plus"></i>
                <span class="text">Agregar nuevas señales</span>
              </button>
            </div>
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Nro. de Inventario</th>
                <th>Fecha de Inventario</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let senal of senales; let i = index">
                <td>{{senal.inventarioSenialId.codigo}}</td>
                <td>{{senal.inventarioSenialId.fecha}}</td>
                <!--
                  <td>
                    <button (click)="editMsvTalonario(msvTalonario)" class="btn btn-xs btn-info" type="button">Editar
                      <i class="fa fa-edit"></i>
                    </button>
                    <button (click)="deleteMsvTalonario(msvTalonario.id)" class="btn btn-xs btn-danger" type="button">Eliminar
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                -->
              </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf='formAdd'>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <b class="text-uppercase">Agregar señales</b>
            <br>
            <!--<small>Señales</small>-->
            <div class="col-md-12 col-lg-8 offset-lg-2">
              <div class="card">
                <div class="card-body">
                  <!--<h5 class="text-uppercase">Señalización</h5>
                  <small></small>
                  <hr>-->
                  <form #formNew="ngForm">
                    <div class="form-group row">
                      <div class="col-xs-12 col-lg-10">
                        <table>
                          <tr>
                          <td>
                            <label>Fecha:</label>
                          </td>
                            <td>
                        <span>
                        <input type="date" [(ngModel)]="fechaSelected" class="form-control" name="fecha">
                        </span>
                          </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Unidad:</label>
                            </td>
                            <td>
                        <span>
                        <input type="text" [(ngModel)]="unidadSelected" class="form-control" name="unidad">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Color:</label>
                            </td>
                            <td>
                        <span>
                        <input type="color" [(ngModel)]="colorSelected" class="form-control" name="color">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Latitud:</label>
                            </td>
                            <td>
                        <span>
                        <input type="text" [(ngModel)]="latitudSelected" class="form-control" name="latitud">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Longitud:</label>
                            </td>
                            <td>
                        <span>
                        <input type="text" [(ngModel)]="longitudSelected" class="form-control" name="longitud">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Código:</label>
                            </td>
                            <td>
                        <span>
                        <input type="text" [(ngModel)]="codigoSelected" class="form-control" name="codigo">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Logo:</label>
                            </td>
                            <td>
                        <span>
                        <input type="file" [(ngModel)]="archivoSelected" (change)="onFileChange($event)"  placeholder="Adjuntar" accept=".jpeg,.jpg" value="20000" multiple="false" class="form-control">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Nombre:</label>
                            </td>
                            <td>
                        <span>
                        <input type="text" [(ngModel)]="nombreSelected" class="form-control" name="nombre">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Valor:</label>
                            </td>
                            <td>
                        <span>
                        <input type="text" [(ngModel)]="estadoSelected" class="form-control" name="valor">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Estado:</label>
                            </td>
                            <td>
                        <span>
                        <input type="text" [(ngModel)]="estadoSelected" class="form-control" name="estado">
                        </span>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Cantidad:</label>
                            </td>
                            <td>
                        <span>
                        <input type="number" [(ngModel)]="cantidadSelected" class="form-control" name="cantidad">
                        </span>
                            </td>
                          </tr>
                          </table>
                      </div>
                    </div>

                  </form>
                </div>

                <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk3sbqJFg6zDsnVlJ4p1VR8b6PQwcQobU&language=es&libraries=places"></script>
                <div class="form-group row">
                  <div class="col-xs-12 col-lg-10">


                    <div class="form-group">
                      <label for="address" class="col-md-3 control-label">Dirección</label>
                      <div class="col-md-9">
                        <input id="address" class="form-control" type="textbox" value="New York, NY">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn btn-primary" onclick="codeAddress()">Obtener Coordenadas GPS</button>
                      </div>
                    </div>



                    <h4>GD (grados decimales)*</h4>
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="latitude">Latitud</label>
                      <div class="col-md-9">
                        <input id="latitude" class="form-control" type="textbox">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 control-label" for="longitude">Longitud</label>
                      <div class="col-md-9">
                        <input id="longitude" class="form-control" type="textbox">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn btn-primary" onclick="codeLatLng(1)">Obtener Dirección</button>
                      </div>
                    </div>




                    <h4>GMS (grados, minutos, segundos)*</h4>
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="latitude">Latitud</label>
                      <div class="col-md-9">
                        <label class="radio-inline">
                          <input type="radio" name="latnordsud" value="nord" id="nord" checked/>
                          N
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="latnordsud" value="sud" id="sud" />
                          S
                        </label>

                        <input class="form-control sexagesimal" id="latitude_degres" type="textbox">
                        <label for="latitude_degres">&deg;</label>
                        <input class="form-control sexagesimal" id="latitude_minutes" type="textbox">
                        <label for="latitude_minutes">'</label>
                        <input class="form-control sexagesimalsec" id="latitude_secondes" type="textbox">
                        <label for="latitude_secondes">''</label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 control-label" for="longitude">Longitud</label>
                      <div class="col-md-9">
                        <label class="radio-inline">
                          <input type="radio" name="lngestouest" value="est" id="est" checked/>
                          E
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="lngestouest" value="ouest" id="ouest" />
                          O
                        </label>

                        <input class="form-control sexagesimal" id="longitude_degres" type="textbox">
                        <label for="longitude_degres">&deg;</label>


                        <input class="form-control sexagesimal" id="longitude_minutes" type="textbox">
                        <label for="longitude_minutes">'</label>
                        <input class="form-control sexagesimalsec" id="longitude_secondes" type="textbox">
                        <label for="longitude_secondes">''</label>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn btn-primary" onclick="dmsversdd()">Obtener Dirección</button>
                      </div>
                    </div>

                  <span class="help-block"><small>* Sistema Geodésico Mundial 1984 (WGS 84)</small></span>

                </div>
                <div class="col-md-8">
                  <div id="map_canvas"><p id="statusinfo" class="bg-orange"><img src="/images/ripple.gif"/>Allow or deny location access to proceed</p></div>
                  </div>
                </div>-->



                  <!-- This stylesheet contains specific styles for displaying
                       the map on this page. Replace it with your own styles as
                       described in the documentation:
                       https://developers.google.com/maps/documentation/javascript/tutorial
                  -->xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <script src="http://maps.googleapis.com/maps/api/js"></script>
                <!--<div #gmap style="width:100%;height:400px"></div>-->
                <div id="map"></div>


















                <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->

                <div class="card-footer">
                  <!--<span>
                  <input type="file" [(ngModel)]="archivoSelected" (change)="onFileChange($event)"  placeholder="Adjuntar" accept=".pdf,.doc,.docx" value="20000" multiple="false" class="form-control">
                  </span>
                  <hr>-->
                  <button (click)="onExport()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
                    Exportar
                  </button>
                  <hr>
                  <!--<button (click)="onNew()" (ready)="ready($event)" class="btn btn-info" type="button">
                    Guardar
                  </button>-->
                  <button (click)="onSend()" (ready)="ready($event)" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                  </button>
                  <!--<button (click)="onAttach()" class="btn btn-success" data-target="#themepicker" data-toggle="modal">
                      <span class="text">Adjuntar</span>
                  </button>-->
                </div>
              </div>
            </div>
            <!--<div class="btn-group pull-right">
              <button (click)="onNew()" class="btn btn-success  btn-round " data-target="#themepicker" data-toggle="modal">
                <i class="fa fa-plus"></i>
                <span class="text">Nuevo</span>
              </button>
            </div>-->
          </h5>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example2">
            <thead>
            <tr>
              <th><!--<input type="checkbox" (click)="checkAll($event)" name="_senalParent_" >--></th>
              <th>Id</th>
              <!--<th>Fecha</th>
              <th>Unidad</th>
              <th>Color</th>
              <th>Latitud</th>
              <th>Longitud</th>
              <th>Código</th>
              <th>Logo</th>
              <th>Nombre</th>
              <th>Valor</th>
              <th>Estado</th>
              <th>Cantidad</th>-->
            </tr>
            </thead>
            <tbody>
            <tr class="odd" *ngFor="let senalPorAsignar of senalesPorAsignar?.data; let i = ind">
              <td><!--<input type="checkbox" value="{{senalPorAsignar.id}}" (click)="check($event)" name="_senal_">--></td>
              <td>{{senalPorAsignar.id}}fff</td>
              <!--<td>{{senalPorAsignar.fecha}}</td>
              <td>{{senalPorAsignar.unidad}}</td>
              <td>{{senalPorAsignar.color}}</td>
              <td>{{senalPorAsignar.latitud}}</td>
              <td>{{senalPorAsignar.longitud}}</td>
              <td>{{senalPorAsignar.codigo}}</td>
              <td>{{senalPorAsignar.logo}}</td>
              <td>{{senalPorAsignar.nombre}}</td>
              <td>{{senalPorAsignar.valor}}</td>
              <td>{{senalPorAsignar.estado}}</td>
              <td>{{senalPorAsignar.cantidad}}</td>-->
              <!--
                <td>
                  <button (click)="editMsvTalonario(msvTalonario)" class="btn btn-xs btn-info" type="button">Editar
                    <i class="fa fa-edit"></i>
                  </button>
                  <button (click)="deleteMsvTalonario(msvTalonario.id)" class="btn btn-xs btn-danger" type="button">Eliminar
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              -->
            </tr>
            </tbody>
          </table>
          <!-- /.table-responsive -->
        </div>
      </div>
    </div>
  </div>
  <!--<app-edit *ngIf='formEdit' [talonario]="msvInventarioSenial" (ready)="ready($event)"></app-edit>
  <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>-->
</div>