<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Editar Genero</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #editForm="ngForm">
                    <div class="form-group row">                  
                        <div class="col-xs-12 col-lg-12">
                            <label>Nombre <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="genero.nombre" name="nombre" placeholder="Nombre" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Sigla <b class="text-danger">*</b></label>
                            <input class="form-control" [(ngModel)]="genero.sigla" name="sigla" placeholder="Sigla" type="text" required>
                        </div>
                    </div>
                </form>
                <div class="card-footer">
                    <button (click)="onEnviar()" [disabled]="editForm.invalid" class="btn btn-primary" type="button">Enviar</button>
                    <button (click)="onCancelar()" class="btn btn-default">Cancelar</button>
                </div>    
            </div>
        </div>
    </div>
</div>