<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Form</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Form control Bootstrap</h6>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleSelect1">Example select</label>
                <select class="form-control" id="exampleSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleTextarea">Example textarea</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> </div>
              <fieldset class="form-group">
                <legend>Radio buttons</legend>
                <div class="form-check">
                  <label class="form-check-label radio" for="optionsRadios1">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    <i class="fa fa-circle"></i> </label>
                  Option one is this and that&mdash;be sure to include why it's great </div>
                <div class="form-check">
                  <label class="form-check-label radio">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    <i class="fa fa-circle"></i> </label>
                  Option two can be something else and selecting it will deselect option one </div>
                <div class="form-check disabled ">
                  <label class="form-check-label radio" for="optionsRadios3">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                    <i class="fa fa-circle"></i> </label>
                  Option three is disabled </div>
              </fieldset>
              <div class=" form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  <i class="fa fa-check"></i></label>
                Checkout me</div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Pattern/Type input Bootstrap</h6>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label for="example-text-input" class="col-4 col-form-label">Text</label>
              <div class="col-12">
                <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-4 col-form-label">Search</label>
              <div class="col-12">
                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-email-input" class="col-4 col-form-label">Email</label>
              <div class="col-12">
                <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-url-input" class="col-4 col-form-label">URL</label>
              <div class="col-12">
                <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-tel-input" class="col-4 col-form-label">Telephone</label>
              <div class="col-12">
                <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-password-input" class="col-4 col-form-label">Password</label>
              <div class="col-12">
                <input class="form-control" type="password" value="hunter2" id="example-password-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-number-input" class="col-4 col-form-label">Number</label>
              <div class="col-12">
                <input class="form-control" type="number" value="42" id="example-number-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-datetime-local-input" class="col-4 col-form-label">Date and time</label>
              <div class="col-12">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-date-input" class="col-4 col-form-label">Date</label>
              <div class="col-12">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-month-input" class="col-4 col-form-label">Month</label>
              <div class="col-12">
                <input class="form-control" type="month" value="2011-08" id="example-month-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-week-input" class="col-4 col-form-label">Week</label>
              <div class="col-12">
                <input class="form-control" type="week" value="2011-W33" id="example-week-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-time-input" class="col-4 col-form-label">Time</label>
              <div class="col-12">
                <input class="form-control" type="time" value="13:45:00" id="example-time-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-color-input" class="col-4 col-form-label">Color</label>
              <div class="col-12">
                <input class="form-control" type="color" value="#563d7c" id="example-color-input">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Inline form Bootstrap</h6>
          </div>
          <div class="card-body">
            <form class="form-inline">
              <label class="sr-only" for="inlineFormInputGroup">Username</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">@</div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
              </div>
              <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox">
                  <i class="fa fa-check"></i> </label>
                Remember me </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <br>
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only">Email</label>
                <p class="form-control-static">email@example.com</p>
              </div>
              <div class="form-group mx-sm-3">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Confirm identity</button>
            </form>
            <br>
            <br>
            <form class="form-inline">
              <div class="form-group">
                <label for="inputPassword4">Password</label>
                <input type="password" id="inputPassword4" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                <small id="passwordHelpInline" class="text-muted"> Must be 8-20 characters long. </small> </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Disabled  Bootstrap</h6>
          </div>
          <div class="card-body">
            <form>
              <fieldset disabled>
                <div class="form-group">
                  <label for="disabledTextInput">Disabled input</label>
                  <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
                <div class="form-group">
                  <label for="disabledSelect">Disabled select menu</label>
                  <select id="disabledSelect" class="form-control">
                    <option>Disabled select</option>
                  </select>
                </div>
                <div class="form-check">
                  <label class="form-check-label active">
                    <input type="checkbox" class="form-check-input" checked>
                    <i class="fa fa-check"></i> </label>
                  Can't uncheck this </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Validation with controls Bootstrap</h6>
          </div>
          <div class="card-body">
            <div class="form-group has-success">
              <label class="form-control-label" for="inputSuccess1">Input with success</label>
              <input type="text" class="form-control form-control-success" id="inputSuccess1">
              <div class="form-control-feedback">Success! You've done it.</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small> </div>
            <div class="form-group has-warning">
              <label class="form-control-label" for="inputWarning1">Input with warning</label>
              <input type="text" class="form-control form-control-warning" id="inputWarning1">
              <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small> </div>
            <div class="form-group has-danger">
              <label class="form-control-label" for="inputDanger1">Input with danger</label>
              <input type="text" class="form-control form-control-danger" id="inputDanger1">
              <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Validation with controls Bootstrap</h6>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group row has-success">
                <label for="inputHorizontalSuccess" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control form-control-success" id="inputHorizontalSuccess" placeholder="name@example.com">
                  <div class="form-control-feedback">Success! You've done it.</div>
                  <small class="form-text text-muted">Example help text that remains unchanged.</small> </div>
              </div>
              <div class="form-group row has-warning">
                <label for="inputHorizontalWarning" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control form-control-warning" id="inputHorizontalWarning" placeholder="name@example.com">
                  <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
                  <small class="form-text text-muted">Example help text that remains unchanged.</small> </div>
              </div>
              <div class="form-group row has-danger">
                <label for="inputHorizontalDnger" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control form-control-danger" id="inputHorizontalDnger" placeholder="name@example.com">
                  <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                  <small class="form-text text-muted">Example help text that remains unchanged.</small> </div>
              </div>
              <div class="form-group row has-primary">
                <label for="inputHorizontalDnger2" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control form-control-danger" id="inputHorizontalDnger2" placeholder="name@example.com">
                  <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Custom form controls Bootstrap</h6>
          </div>
          <div class="card-body">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span> <span class="custom-control-description">Check this custom checkbox</span> </label>
            <br>
            <br>
            <label class="custom-control custom-radio">
              <input id="radio1" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span> <span class="custom-control-description">Toggle this custom radio</span> </label>
            <label class="custom-control custom-radio">
              <input id="radio2" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span> <span class="custom-control-description">Or toggle this other custom radio</span> </label>
            <br>
            <br>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" disabled>
              <span class="custom-control-indicator"></span> <span class="custom-control-description">Check this custom checkbox</span> </label>
            <label class="custom-control custom-radio">
              <input id="radio3" name="radioDisabled" type="radio" class="custom-control-input" disabled>
              <span class="custom-control-indicator"></span> <span class="custom-control-description">Toggle this custom radio</span> </label>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Custom form controls Bootstrap</h6>
          </div>
          <div class="card-body">
            <div class="form-group has-success">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span> <span class="custom-control-description">Check this custom checkbox</span> </label>
            </div>
            <div class="form-group has-warning">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span> <span class="custom-control-description">Check this custom checkbox</span> </label>
            </div>
            <div class="form-group has-danger mb-0">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span> <span class="custom-control-description">Check this custom checkbox</span> </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Custom form controls Bootstrap</h6>
          </div>
          <div class="card-body">
            <select class="custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Custom form controls Bootstrap</h6>
          </div>
          <div class="card-body">
            <label class="custom-file">
              <input type="file" id="file" class="custom-file-input">
              <span class="custom-file-control"></span> </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Buttons Bootstrap</h6>
          </div>
          <div class="card-body"> 
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary">Primary</button>
            
            <!-- Secondary, outline button -->
            <button type="button" class="btn btn-secondary">Secondary</button>
            
            <!-- Indicates a successful or positive action -->
            <button type="button" class="btn btn-success">Success</button>
            
            <!-- Contextual button for informational alert messages -->
            <button type="button" class="btn btn-info">Info</button>
            
            <!-- Indicates caution should be taken with this action -->
            <button type="button" class="btn btn-warning">Warning</button>
            
            <!-- Indicates a dangerous or potentially negative action -->
            <button type="button" class="btn btn-danger">Danger</button>
            
            <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
            <button type="button" class="btn btn-link">Link</button>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Buttons outlines Bootstrap</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
          </div>
        </div>
      </div>
    </div>
  </div>