<div class="col-xs-12 col-lg-12">
    <form #formActividad="ngForm">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Crear Actividad</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Número <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="actividad.numero" name="numero" type="text" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-8">
                        <label>Nombre <b class="text-danger">*</b></label>
                        <input class="form-control text-uppercase" [(ngModel)]="actividad.nombre" name="nombre" type="text" required>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-xs-12 col-lg-12">
                    <button (click)="onEnviar()" [disabled]="formActividad.invalid" class="btn btn-primary"
                        type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>