<div class="row">
    <div class="col-xs-12 col-lg-8">
        <form #formNew="ngForm">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Nuevo vehiculo RNMA <span *ngIf="funcionario">({{ funcionario.organismoTransito.nombre }})</span></b>
                    <br>
                    <small>Los campos con <b class="text-danger"> <b class="text-danger">*</b></b> son obligatorios</small>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de registro <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposMatricula" [(ngModel)]="maquinaria.tipoMatricula" required name="tipoMatricula">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <label>Fecha Factura<b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.fechaFactura" name="fechaFactura" type="date">
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>No Factura de compra<b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroFactura" name="numeroFactura" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3" *ngIf="maquinaria.tipoMatricula != 'MATRICULA'">
                                <label>No. de Registro <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.placa" name="placa" type="text" required>
                            </div>
                            <div class="col-lg-6">
                                <label>Valor</label>
                                <input class="form-control" [(ngModel)]="maquinaria.valor" type="number" name="valor" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. serie <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.serie" name="serie" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. VIN <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.vin" name="vin" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. chasis <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.chasis" name="chasis" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. motor <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.motor" name="motor" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Condición de ingreso <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="condicionesIngreso" [(ngModel)]="maquinaria.idCondicionIngreso" name="condicion" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Fecha de ingreso <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.fechaIngreso" name="fechaIngreso" type="date" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Color <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="colores" [(ngModel)]="maquinaria.idColor" required name="color">
                                </ng-select>
                            </div>
                        
                            <div class="col-xs-12 col-lg-3">
                                <label>Tipo maquinaria <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposMaquinaria" (ngModelChange)="onChangedTipoMaquinaria($event)" [(ngModel)]="maquinaria.idTipoMaquinaria" required
                                    name="tipoMaquinaria">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <label>Clase de maquinaria <b class="text-danger">*</b></label>
                                <ng-select *ngIf="clasesMaquinaria" [multiple]="false" [options]="clasesMaquinaria" (ngModelChange)="onChangedClase($event)" [(ngModel)]="maquinaria.idClaseMaquinaria" required name="claseMaquinaria">
                                </ng-select>
                            </div>
                        
                            <div class="col-xs-12 col-lg-3">
                                <label>Marca <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="marcas" (ngModelChange)="onChangedMarca($event)" [(ngModel)]="maquinaria.idMarca" required
                                    name="marca">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <label>Linea <b class="text-danger">*</b></label>
                                <ng-select *ngIf="lineas" [multiple]="false" [options]="lineas" [(ngModel)]="maquinaria.idLinea" required name="linea">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Modelo <small>(Año)</small> <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.modelo" name="modelo" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <label>Carrocería <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="carrocerias" [(ngModel)]="maquinaria.idCarroceria" required name="carroceria">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Peso <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.peso" name="peso" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Carga útil maxima <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.cargaUtilMaxima" name="cargaUtilMaxima" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Rodaje <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposRodaje" [(ngModel)]="maquinaria.idTipoRodaje" required name="tipoRodaje">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Nro. ejes <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroEjes" name="numeroEjes" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Nro. llantas <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroLlantas" name="numeroLlantas" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Tipo cabina <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposCabina" [(ngModel)]="maquinaria.idTipoCabina" required name="tipoCabina">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Alto <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.alto" name="alto" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Largo <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.largo" name="largo" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Ancho <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.ancho" name="ancho" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <label>Combustible <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="combustibles" [(ngModel)]="maquinaria.idCombustible" required name="combustible">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Origen vehiculo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="origenesRegistro" [(ngModel)]="maquinaria.idOrigenRegistro" required name="origenRegistro">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Subpartida arancelaria <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="subpartidasArancelarias" [(ngModel)]="maquinaria.idSubpartidaArancelaria" required name="subpartidaArancelaria">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Empresa activacion de GPS <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="empresasGps" [(ngModel)]="maquinaria.idEmpresaGps" required name="empresaGps">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Numero de activacion Gps <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroActivacionGps" name="numeroActivacionGps" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Tipo de dispositivo <small>(provedor nacional)</small> <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.tipoDispositivo" name="tipoDispositivo" type="number" min="1" max="2" required>
                            </div>
                            
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Numero de importacion <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroImportacion" name="numeroImportacion" type="text" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <button (click)="onEnviar()" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                    </div>
                </div>    
            </div>
        </form>
    </div>
</div>