<!-- <div class="row"> -->
    <div class="col-xs-12 col-lg-12">
        <form #formNew="ngForm">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Nuevo vehiculo RNMA <span *ngIf="funcionario">({{ funcionario.organismoTransito.nombre }})</span></b>
                    <br>
                    <small>Los campos con <b class="text-danger"> <b class="text-danger">*</b></b> son obligatorios</small>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de registro <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposMatricula" [(ngModel)]="maquinaria.tipoMatricula" required name="tipoMatricula">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <label>Fecha Factura<b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.fechaFactura" name="fechaFactura" type="date" required>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>No Factura de compra<b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroFactura" name="numeroFactura" type="text" required>
                            </div>
                            <!-- <div class="col-xs-12 col-lg-3 col-md-3" *ngIf="maquinaria.tipoMatricula != 'MATRICULA'"> -->
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. de Registro <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.placa" name="placa" type="text" required>
                            </div>
                            <div class="col-lg-6">
                                <label>Valor</label>
                                <input class="form-control" [(ngModel)]="maquinaria.valor" type="number" name="valor">
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. serie <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.serie" name="serie" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. VIN <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.vin" name="vin" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. chasis <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.chasis" name="chasis" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>No. motor <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.motor" name="motor" type="text" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Condición de ingreso <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="condicionesIngreso" [(ngModel)]="maquinaria.idCondicionIngreso" name="condicion" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Fecha de ingreso <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.fechaIngreso" name="fechaIngreso" type="date" required>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Color <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="colores" [(ngModel)]="maquinaria.idColor" required name="color">
                                </ng-select>
                            </div>
                        
                            <div class="col-xs-12 col-lg-3">
                                <label>Tipo maquinaria <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposMaquinaria" (ngModelChange)="onChangedTipoMaquinaria($event)" [(ngModel)]="maquinaria.idTipoMaquinaria" required
                                    name="tipoMaquinaria">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <label>Clase de maquinaria <b class="text-danger">*</b></label>
                                <ng-select *ngIf="clasesMaquinaria" [multiple]="false" [options]="clasesMaquinaria" (ngModelChange)="onChangedClase($event)" [(ngModel)]="maquinaria.idClaseMaquinaria" required name="claseMaquinaria">
                                </ng-select>
                            </div>
                        
                            <div class="col-xs-12 col-lg-3">
                                <label>Marca <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="marcas" (ngModelChange)="onChangedMarca($event)" [(ngModel)]="maquinaria.idMarca" required
                                    name="marca">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <label>Linea <b class="text-danger">*</b></label>
                                <ng-select *ngIf="lineas" [multiple]="false" [options]="lineas" [(ngModel)]="maquinaria.idLinea" required name="linea">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Modelo <small>(Año)</small> <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.modelo" name="modelo" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <label>Carrocería <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="carrocerias" [(ngModel)]="maquinaria.idCarroceria" required name="carroceria">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Peso <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.peso" name="peso" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Carga útil maxima <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.cargaUtilMaxima" name="cargaUtilMaxima" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Rodaje <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposRodaje" [(ngModel)]="maquinaria.idTipoRodaje" required name="tipoRodaje">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Nro. ejes <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroEjes" name="numeroEjes" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Nro. llantas <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroLlantas" name="numeroLlantas" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Tipo cabina <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposCabina" [(ngModel)]="maquinaria.idTipoCabina" required name="tipoCabina">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Alto <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.alto" name="alto" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Largo <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.largo" name="largo" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Ancho <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.ancho" name="ancho" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <label>Combustible <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="combustibles" [(ngModel)]="maquinaria.idCombustible" required name="combustible">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Origen vehiculo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="origenesRegistro" [(ngModel)]="maquinaria.idOrigenRegistro" required name="origenRegistro">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Subpartida arancelaria <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="subpartidasArancelarias" [(ngModel)]="maquinaria.idSubpartidaArancelaria" required name="subpartidaArancelaria">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Empresa activacion de GPS <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="empresasGps" [(ngModel)]="maquinaria.idEmpresaGps" required name="empresaGps">
                                </ng-select>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Numero de activacion Gps <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroActivacionGps" name="numeroActivacionGps" type="text" required>
                            </div>

                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Tipo de dispositivo <small>(provedor nacional)</small> <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.tipoDispositivo" name="tipoDispositivo" type="number" min="1" max="2" required>
                            </div>
                            
                            <div class="col-xs-12 col-lg-3 col-md-3">
                                <label>Numero de importacion <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="maquinaria.numeroImportacion" name="numeroImportacion" type="text" required>
                            </div>
                        </div>

                        <div class="row" *ngIf="maquinaria.tipoMatricula == 'RADICADO'">
                            <div class="col-xs-12 col-lg-12">
                                <label>Organismo de transito de que proviene <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="organismosTransitoNacional" [(ngModel)]="radicado.idOrganismoTransito"
                                    name="idOrganismoTransitoProviene" required>
                                </ng-select>
                            </div>
                        
                            <div class="col-xs-12 col-lg-6">
                                <label>No. licencia transito llegada</label>
                                <input class="form-control" type="text" type="text" [(ngModel)]="datos.numeroLicencia" name="numeroLicencia">
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <label>Fecha de ingreso <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="radicado.fechaIngreso" name="fechaIngreso" type="date" required />
                            </div>
                        
                            <div class="col-xs-12 col-lg-6">
                                <label>Nro. guiá de llegada <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="radicado.guiaLlegada" name="guiaLlegada" type="text" required />
                            </div>
                        
                            <div class="col-xs-12 col-lg-6">
                                <label>Empresa de envió <b class="text-danger">*</b></label>
                                <input class="form-control text-uppercase" [(ngModel)]="radicado.empresaEnvio" name="empresaEnvio" type="text"
                                    required />
                            </div>
                        </div>

                        <div class="row" *ngIf="maquinaria.tipoMatricula == 'RADICADO' || maquinaria.tipoMatricula == 'IMPORTACION'">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de propiedad
                                    <span class="text-danger">
                                        <b class="text-danger">*</b>
                                    </span>
                                </label>
                                <ng-select [multiple]="false" [options]="tiposPropiedad" [(ngModel)]="datos.tipoPropiedad" name="tipoPropiedad"
                                    required>
                                </ng-select>
                            </div>
                        </div>

                        <div class="row" *ngIf="datos.tipoPropiedad && (maquinaria.tipoMatricula == 'RADICADO' || maquinaria.tipoMatricula == 'IMPORTACION')">
                            <!--Cuando es de tipo propio -->
                            <div class="col-xs-12 col-lg-12">
                                <br>
                                <div class="custom-control custom-checkbox">
                                    <input [(ngModel)]="datos.solidario" name="solidario" type="checkbox" class="custom-control-input"
                                        id="solidario" checked="">
                                    <label class="custom-control-label" for="solidario">¿Tiene permisos para hacer
                                        tramites?</label>
                                </div>
                            </div>
                        
                            <div class="col-xs-8 col-lg-6">
                                <label>Tipo de identificación <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected"
                                    name="idTipoIdentificacion" required>
                                </ng-select>
                            </div>
                        
                            <!--tipo identificacion ciudadano -->
                            <div class="col-xs-8 col-lg-6" *ngIf="tipoIdentificacionSelected != 4">
                                <label>Identificación</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Identificacion" [(ngModel)]="identificacion"
                                        name="identificacion" required />
                                    <span class="input-group-btn">
                                        <button (click)="onSearchCiudadano()" class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        
                            <!--tipo identificacion nit -->
                            <div class="col-xs-8 col-lg-6" *ngIf="tipoIdentificacionSelected == 4">
                                <label>NIT</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="NIT" [(ngModel)]="nit" name="nit" required />
                                    <span class="input-group-btn">
                                        <button (click)="onSearchEmpresa()" class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        
                            <div class="col-xs-12 col-lg-12" *ngIf="ciudadano">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="custom-control custom-checkbox">
                                            <input [(ngModel)]="datos.solidario" name="solidario" type="checkbox" class="custom-control-input"
                                                id="solidario" checked="">
                                            <label class="custom-control-label" for="solidario">¿Tiene permisos para hacer
                                                tramites?</label>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-striped" id="dataTables-example">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <b>Tipo de identificación: </b>
                                                    <br> {{ ciudadano.tipoIdentificacion.nombre }}
                                                    <br>
                                                    <b>Numero de identificación: </b>
                                                    <br> {{ ciudadano.identificacion }}
                                                </td>
                                                <td>
                                                    <b>Nombres y apellidos: </b>
                                                    <br> {{ ciudadano.primerNombre }} {{ ciudadano.segundoNombre }}
                                                    {{ ciudadano.primerApellido }} {{ ciudadano.segundoApellido
                                                                            }}
                                                </td>
                                                <td>
                                                    <div class="btn-group btn-group-justified">
                                                        <div class="btn-group">
                                                            <button (click)="onAddCiudadano()" class="btn btn-primary">
                                                                <i class="fa fa-plus"></i>
                                                                Agregar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                            <div class="col-xs-12 col-lg-12" *ngIf="empresa">
                                <!-- Empresa -->
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="custom-control custom-checkbox">
                                            <input [(ngModel)]="datos.solidario" name="solidario" type="checkbox" class="custom-control-input"
                                                id="solidario" checked="">
                                            <label class="custom-control-label" for="solidario">¿Tiene permisos para hacer
                                                tramites?</label>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-striped" id="dataTables-example">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <b>NIT: </b>
                                                    <br> {{ empresa.nit }}
                                                    <br>
                                                    <b>Nombre: </b>
                                                    <br> {{ empresa.nombre }}
                                                    <br>
                                                    <b>Representante legal: </b>
                                                    <br> {{ empresa.ciudadano.primerNombre }}
                                                    {{ empresa.ciudadano.primerApellido }}
                                                </td>
                                                <td>
                                                    <b>Tipo empresa: </b>
                                                    <br> {{ empresa.nombre }}
                                                    <br>
                                                    <b>Municipio: </b>
                                                    <br> {{ empresa.municipio.nombre }}
                                                    <b>Dirección: </b>
                                                    <br> {{ empresa.direccion }}
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button (click)="onAddEmpresa()" class="btn btn-primary">
                                                            <i class="fa fa-plus"></i>
                                                            Agregar
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                            <div class="col-xs-12 col-lg-12" *ngIf="datos.propietarios && datos.propietarios.length > 0">
                                <table class="table table-bordered table-striped" id="dataTables-example">
                                    <br>
                                    <thead>
                                        <tr>
                                            <th colspan="3" class="text-center">
                                                <b class="text-uppercase">Propietarios a registrar</b>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let propietario of datos.propietarios; let i = index">
                                            <td>
                                                <b>Solicitante: </b>
                                                <br> {{ propietario.identificacion }}
                                                <br> {{ propietario.nombre }}
                                                <br>
                                                <span *ngIf="propietario.permiso" class="text-success">
                                                    <b>Autorizado</b> para realizar trámites.
                                                </span>
                                                <span *ngIf="!propietario.permiso" class="text-danger">
                                                    <b>No autorizado</b> para realizar trámites.
                                                </span>
                                            </td>
                                            <td>
                                                <button (click)="onDeletePropietario(propietario)"
                                                    class="btn btn-xs btn-danger">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                    </div>
                </div>    
            </div>
        </form>
    </div>
<!-- </div> -->