<div class="container-fluid">
        <hr>
        <div class="row" *ngIf='formIndex'>
            <div class="col-xs-12 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-uppercase">Buscar</h5>
                        <hr>
                        <form #formIndex="ngForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <label>Tipo identificación</label>
                                        <ng-select [multiple]="false" [options]="tiposIdentificacion"
                                            [(ngModel)]="tipoIdentificacionSelected" name="tiposIdentificacion" required>
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-12 col-lg-12">
                                        <label>Identificación</label>
                                        <input class="form-control" [(ngModel)]="identificacion" name="identificacion"
                                            type="number" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <button (click)="onSearchCiudadano()" [disabled]="formIndex.invalid" class="btn btn-primary"
                                type="button">
                                <i class="fa fa-search"></i>
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-xs-12 col-lg-9" *ngIf='ciudadano'>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">
                                    <b class="text-uppercase">Ciudadano</b>
                                    <small>Registrados</small>
                                </h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr class="odd">
                                            <td>
                                                <b>Tipo de identificación</b>
                                                <br> {{ ciudadano.tipoIdentificacion.nombre }}
                                            </td>
                                            <td>
                                                <b>Numero de identificación</b>
                                                <br> {{ ciudadano.identificacion }}
                                            </td>
                                            <td>
                                                <b>Ciudadano</b>
                                                <br> {{ ciudadano.primerNombre }} {{ ciudadano.segundoNombre }} {{ ciudadano.primerApellido
                                                }} {{ ciudadano.segundoApellido }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>