<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Popover</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Popover</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-lg btn-primary" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Popover with Directions</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."> Popover on top </button>
            <button type="button" class="btn btn-warning" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."> Popover on right </button>
            <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                                sagittis lacus vel augue laoreet rutrum faucibus."> Popover on bottom </button>
            <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."> Popover on left </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">ngx-bootstrap Popover with Directions</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-default btn-secondary"
			        popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
			        popoverTitle="Popover on top"
			        placement="top">
			  Popover on top
			</button>
			 
			<button type="button" class="btn btn-default btn-secondary"
			        popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
			        popoverTitle="Popover on right"
			        placement="right">
			  Popover on right
			</button>
			 
			<button type="button" class="btn btn-default btn-secondary"
			        popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
			        popoverTitle="Popover auto"
			        placement="auto">
			  Popover auto
			</button>
			 
			<button type="button" class="btn btn-default btn-secondary"
			        popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
			        popoverTitle="Popover on left"
			        placement="left">
			  Popover on left
			</button>
			 
			<button type="button" class="btn btn-default btn-secondary"
			        popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
			        popoverTitle="Popover on bottom"
			        placement="bottom">
			  Popover on bottom
			</button>
          </div>
        </div>
      </div>
    </div>
  </div>