<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-4" *ngIf='formSearch'>
      <div class="card">
        <div class="card-header">
          <b class="text-uppercase">Buscar maquinaria amarilla</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-lg-12">
              <div class="form-group">
                <label>Parametro de búsqueda<br> <small>(No. registro, No VIN, No. Serie, No. motor, No. Motor, No. Chasis)</small></label>
                <input class="form-control text-uppercase" [(ngModel)]="filtro" name="filtro" type="text" required />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-xs-12 col-lg-12">
              <div class="form-group">
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <button (click)="onSearch()" class="btn btn-default btn-primary" [disabled]="!filtro" type="button">
                      <i class="fa fa-search"></i>
                      Buscar
                    </button>
                    <button (click)="onNew()" class="btn btn-default">
                      <i class="fa fa-plus"></i>
                      Nuevo
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf='formIndex'>
      <div class="card">
        <div class="card-header">
          <b class="text-uppercase">Maquinaria registrada</b>
        </div>
        <div class="card-body">
          <table class="table " id="dataTables-example">
            <thead>
              <tr>
                <th>Acciones</th>
                <th>No. de registro</th>
                <th>Motor</th>
                <th>Clase</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Línea</th> 
                <th>Valor</th>
                <th>Chasis</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd">
                <td>
                  <div class="btn-group">
                    <button (click)="onEdit(maquinaria)" class="btn btn-xs btn-primary" type="button">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button (click)="onDelete(maquinaria.id)" class="btn btn-xs btn-danger" type="button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
                <td>
                  <span *ngIf="maquinaria.vehiculo.placa">
                    {{ maquinaria.vehiculo.placa.numero }}
                  </span>
                  <span *ngIf="!maquinaria.vehiculo.placa">
                    Sin Asignar
                  </span>
                </td>
                <td>{{ maquinaria.vehiculo.motor }}</td>
                <td>{{ maquinaria.vehiculo.clase?.nombre }}</td>
                <td>{{ maquinaria.vehiculo.modelo }}</td>
                <td>
                  <span *ngIf="maquinaria.vehiculo.linea">
                      {{maquinaria.vehiculo.linea?.marca.nombre}}
                  </span>
                </td>
                <td>
                  <span *ngIf="maquinaria.vehiculo.linea">
                      {{maquinaria.vehiculo.linea?.nombre}}
                  </span>
                </td>
                <td>{{maquinaria.vehiculo.valor}}</td> 
                <td>{{maquinaria.vehiculo.chasis}}</td> 
              </tr>
            </tbody>
          </table> 
          <!-- /.table-responsive --> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-8">
      <app-edit-rnmapreregistro *ngIf='formEdit' [maquinaria]="vehiculo" (ready)="ready($event)"></app-edit-rnmapreregistro>
      <app-new-rnmapreregistro *ngIf='formNew' (ready)="ready($event)"></app-new-rnmapreregistro>
    </div>
  </div>
</div>