<div class="row">
        <div class="col-xs-12 col-lg-8">
            <form #formPrint="ngForm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-uppercase">Reparto de documento</h5>
                        <small>Los campos con <b>*</b> son obligatorios</small>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-12">
                                <label>No. de Oficio <b>{{ documento.numeroOficio }}</b></label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Sede operativa <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="datos.idOrganismoTransito" name="idOrganismoTransito"
                                    required>
                                </ng-select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Observaciones</label>
                                <textarea class="form-control" [(ngModel)]="datos.observaciones" name="observaciones" rows="6"></textarea>
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-6">
                                <label>Medio Correspondencia <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="mediosCorrespondencia" [(ngModel)]="datos.idMedioCorrespondenciaEnvio" name="idMedioCorrespondenciaEnvio"
                                    required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Fecha envio <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="datos.fechaEnvio" name="fechaEnvio" type="date" required>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Detalle de envio
                                    <b class="text-danger">*</b>
                                </label>
                                <textarea class="form-control" [(ngModel)]="datos.detalleEnvio" name="detalleEnvio" required rows="4"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-lg-6">
                                <p class="text-center">
                                    <a href="{{ docsUrl }}{{ documento.url }}" target="_blank" class="btn btn-primary">
                                        <i class="fa fa-file"></i>
                                        Documento radicado
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-12 col-lg-6" *ngIf="trazabilidades">
                                <p class="text-center" *ngFor="let trazabilidad of trazabilidades; let i = index">
                                    <a href="{{ docsUrl }}{{ trazabilidad.url }}" target="_blank" class="btn btn-primary">
                                        <i class="fa fa-file"></i>
                                        Respuesta de funcionario {{ trazabilidad.responsable.ciudadano.usuario.primerNombre }} {{ trazabilidad.responsable.ciudadano.usuario.segundoApellido }}
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-12 col-lg-6" *ngIf="!trazabilidades">
                                <div class="alert alert-danger">
                                    <h4 class="text-uppercase text-center">
                                        <i class="fa fa-exclamation-triangle fa-2x"></i>
                                        <br>
                                        <strong>No se ha adjuntado ninguna respuesta.</strong>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div  class="col-xs-12 col-lg-12">
                        <button (click)="onCancelar()" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                        <button (click)="onEnviar()" [disabled]="formPrint.invalid" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    