<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="col-xs-12 col-lg-4">
                    <label>Seleccionar tipo reporte</label>
                    <ng-select [multiple]="false" [options]="tiposRecaudo" [(ngModel)]="tipoRecaudoSelected" required
                        name="idTipoRecaudo">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Periodo de informe</h5>
            </div>
            <div class="card-body">
                <div class="col-lg-6 col-md-6">
                    <label>Desde<strong class="text-danger">*</strong></label>
                    <input class="form-control" type="date" [(ngModel)]="froReporteIngreso.fechaDesde" name="fechaDesde" required>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label>Hasta<strong class="text-danger">*</strong></label>
                    <input class="form-control" type="date" [(ngModel)]="froReporteIngreso.fechaHasta" name="fechaHasta" required>
                </div>
            </div>
        </div>
        
    </div>
</div>