<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="col-xs-12 col-lg-4">
                    <label>Seleccionar tipo reporte</label>
                    <ng-select [multiple]="false" [options]="tiposRecaudo" [(ngModel)]="tipoRecaudoSelected" required
                        name="idTipoRecaudo">
                    </ng-select>
                </div>
                <div class="col-xs-12 col-lg-4" *ngIf="tipoRecaudoSelected == 1">
                    <label>Seleccionar sede operativa</label>
                    <ng-select [multiple]="false" [options]="sedes" [(ngModel)]="sedeOperativaSelected" required
                        name="idSedeOperativa">
                    </ng-select>
                </div>
                <div class="col-lg-6 col-md-4">
                    <label>Desde<strong class="text-danger">*</strong></label>
                    <input class="form-control" type="date" [(ngModel)]="fechaDesde" name="fechaDesde" required>
                </div>
                <div class="col-lg-6 col-md-4">
                    <label>Hasta<strong class="text-danger">*</strong></label>
                    <input class="form-control" type="date" [(ngModel)]="fechaHasta" name="fechaHasta" required>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <button (click)="onEnviar()" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Informe Tramites</h5>
            </div>
            <div class="card-body">
                <table class="table " id="dataTables-example">
                    <br>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Concepto</th>
                            <th>Cantidad</th>
                            <th>Valor</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let tramite of tramites; let i = index">
                            <td>{{ tramite.id }}</td>
                            <td>{{ tramite.cedula }}</td>
                            <td>{{ tramite.nombres }}</td>
                            <td>{{ tramite.apellidos }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>