<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-uppercase">
                        <strong>Trazabilidad de documento No.
                            <a href="{{ docsUrl }}{{ documento.url }}" target="_blank">
                                {{ documento.numeroRadicado }}
                            </a>
                        </strong>
                    </h5>
                </div>
                <div class="card-body container">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-3">
                            <label>No. de folios
                                <b>{{ documento.folios }}</b>
                            </label>
                        </div>
                        <div class="col-xs-12 col-lg-3" *ngIf="documento.fechaLLegada">
                            <label>Fecha de radicado
                                <b>{{ (documento.fechaLLegada.timestamp * 1000) | date: 'dd/MM/yyyy'  }}</b>
                            </label>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Fecha vencimiento
                                <b>{{ documento.fechaVencimiento }}</b>
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-4" *ngIf="documento.peticionarioNombres">
                            <label>Peticionario:
                                <b>{{ documento.peticionarioNombres }} {{ documento.peticionarioApellidos }}</b>
                            </label>
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="documento.identificacion">
                            <label>Identificación:
                                <b>{{ documento.identificacion }}</b>
                            </label>
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="documento.entidadNombre">
                            <label>Entidad:
                                <b>{{ documento.entidadNombre }}</b>
                            </label>
                        </div>
                    </div>

                    <table class="table" id="dataTables-example" *ngIf="trazabilidades">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Estado</th>
                                <th>Fechas</th>
                                <th>Responsable</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let trazabilidad of trazabilidades; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td class="text-danger" *ngIf="trazabilidad.estado == 'PENDIENTE' || trazabilidad.estado == 'RECHAZADO'">{{ trazabilidad.estado }}</td>
                                <td class="text-primary" *ngIf="trazabilidad.estado == 'ASIGNADO'">{{ trazabilidad.estado }}</td>
                                <td class="text-warning" *ngIf="trazabilidad.estado == 'EN TRAMITE' || trazabilidad.estado == 'RESPUESTA REALIZADA'">{{ trazabilidad.estado }}</td>
                                <td class="text-success" *ngIf="trazabilidad.estado == 'FINALIZADO'">{{ trazabilidad.estado }}</td>
                                <td>
                                    <b>F. asignación:</b>{{ trazabilidad.fechaAsignacion }}
                                    <span *ngIf="trazabilidad.fechaRespuesta">
                                        <br>
                                        <b>F. tramite:</b>{{ trazabilidad.fechaRespuesta }}
                                    </span>
                                </td>
                                <td>
                                    {{ trazabilidad.responsable?.ciudadano.primerNombre }} {{ trazabilidad.responsable?.ciudadano.primerApellido
                                    }}
                                    <br> {{ trazabilidad.responsable?.cargo.nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <button (click)="onCancelar()" class="btn btn-default">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>