<div class="row" *ngIf="tramiteFactura.realizado && autorizado"><!-- .row -->
    <div class="col-xs-12 col-lg-12"><!-- .col -->
        <div class="card">
            <div class="card-header">
                <span class="badge badge-success">Tramite realizado</span>
            </div>
            <div class="card-body text-center">
                <!-- {{ tramiteSolicitud.resumen }} -->
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!tramiteFactura.realizado && autorizado">
    <!-- .row -->
    <div class="col-xs-12 col-lg-12">
        <!-- .col -->
        <form #newForm="ngForm">
            <div class="card">
                <div class="card-body">
                    <b class="text-uppercase">Registrar Prórroga de Importación Temporal</b>
                    <br>
                    <small>Todos los campos con <b class="text-danger">*</b> son obligatorios</small>
                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <label>Fecha Solicitud Prórroga <b class="text-danger">*</b></label>
                                <input type="date" class="form-control" [(ngModel)]="datos.fechaSolicitudProrroga" name="fechaSolicitudProrroga" disabled required />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Nro. Cuotas (Meses) <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="datos.numeroCuotas" name="numeroCoutas" type="number"
                                    required />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Número Licencia Transito<b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="datos.licenciaTransito" name="licenciaTransito" type="number" required />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Número solicitud RUNT <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="datos.numeroRunt" name="numeroRunt" type="number" required />
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-footer">
            <button (click)="onEnviar()" class="btn btn-primary">
                <i class="fa fa-save"></i>
                Enviar
            </button>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->