<div class="container" >
  <hr>
  <div class="row" *ngIf='formSearch'>
    <!-- .row -->
    <div class="col-xs-12 col-lg-3">
      <!-- .col -->
      <div class="card">
        <div class="card-header">
            <b class="text-uppercase">Solicitudes de Trámites RNC</b>
            <small>Buscar</small>
        </div>
        <div class="card-body">
          <!-- .card-body -->
          <form #formSearch="ngForm">
            <div class="form-group">
              <div class="row">
                <!-- .row -->
                <div class="col-xs-12 col-lg-12">
                  <label>Tipo de filtro</label>
                  <ng-select [multiple]="false" [options]="tiposFiltro" [(ngModel)]="search.tipoFiltro" name="tipoFiltro" required></ng-select>
                </div>
                <div class="col-xs-12 col-lg-12">
                  <label>Filtro</label>
                  <input class="form-control text-uppercase" [(ngModel)]="search.filtro" name="filtro" type="text" required>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="btn-group">
            <button (click)="onSearch()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
              Buscar
            </button>
            <button (click)="onNew()" class="btn btn-default" *ngIf="!tramitesSolicitud">
              <i class="fa fa-plus"></i>
              <span class="text">Nuevo</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
    
    <div class="col-xs-12 col-lg-9" *ngIf='formIndex'>
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">
                <b>Módulo RNC</b>
                <small>Solicitudes de tramite</small>
                <div class="btn-group pull-right">
                  <button (click)="onNew()" class="btn btn-xs btn-default">
                    <i class="fa fa-plus"></i>
                    <span class="text">Nuevo</span>
                  </button>
                </div>
              </h5>
            </div>
            <div class="card-body">
              <table class="table " id="dataTables-example">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Factura</th>
                    <th>Tramite</th>
                    <th>Detalles</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" *ngFor="let tramiteSolicitud of tramitesSolicitud; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ tramiteSolicitud.tramiteFactura.factura.numero }}</td>
                    <td>{{ tramiteSolicitud.tramiteFactura.tramitePrecio.nombre }}</td>
                    <td>
                      {{ tramiteSolicitud.datos }}
                    </td>
                    <td>
                      <div class="btn-group">
                        <button (click)="onEdit(tramiteSolicitud)" class="btn btn-primary" type="button">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button (click)="onDelete(tramiteSolicitud.id)" class="btn btn-danger" type="button">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-lg-12" *ngIf="!solicitante">
      <app-new-rnc-ciudadano [identificacion]="identificacion" (ready)="ready($event)"></app-new-rnc-ciudadano>
    </div>
    
    <app-edit *ngIf='formEdit' [tramiteSolicitud]="tramiteSolicitud" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' [solicitante]="solicitante" (ready)="ready($event)"></app-new>
  </div>

    <div class="row" *ngIf="formSearchSolicitante"><!-- .row -->
      <div class="col-xs-12 col-lg-4">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">Buscar solicitante</h5>
              </div>
              <div class="card-body">
                  <div class="col-xs-12 col-lg-12" >
                      <form #formSearch="ngForm"> 
                          <div class="form-group row">
                              <div class="col-xs-12 col-lg-12">
                                <label>Tipo documento <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionSelected" name="tiposIdentificacion" required>
                                </ng-select>
                              </div>
                              <div class="col-xs-12 col-lg-12">
                                <label>Identificación <strong class="text-danger">*</strong></label>
                                <input class="form-control" [(ngModel)]="identificacion" name="identificacion" type="text" required />
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="card-footer">
                  <button class="btn btn-primary" [disabled]="formSearch.invalid" (click)="onSearchSolicitante()" [disabled]="isTramites">
                      <i class="fa fa-search"></i>
                      Buscar
                  </button>
              </div> 
          </div>
      </div>
    </div><!-- .row -->
</div>