<div class="container row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Generación de archivos planos para carga a SIMIT (comparendos, recaudos y resoluciones).</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formFiltros="ngForm">
                    <div class="col-xs-12 col-lg-12">
                        <label>Seleccionar tipo reporte <b class="text-danger">*</b></label>
                        <ng-select [multiple]="false" [options]="tiposReporte" [(ngModel)]="datos.tipoReporte"
                            name="tipoReporte" required>
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-12" *ngIf="datos.tipoReporte">
                        <label>Seleccionar organismo tránsito <b class="text-danger">*</b></label>
                        <ng-select [multiple]="false" [options]="organismosTransito"
                            [(ngModel)]="datos.idOrganismoTransito" name="idOrganismoTransito" required>
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-12" *ngIf="datos.idOrganismoTransito">
            <label>Fecha inicial <b class=" text-danger">*</b></label>
                        <input class="form-control" type="date" [(ngModel)]="datos.fechaInicial" name="fechaInicial"
                            required>
                    </div>
                    <div class="col-xs-12 col-lg-12" *ngIf="datos.idOrganismoTransito">
                        <label>Fecha final <b class=" text-danger">*</b></label>
                        <input class="form-control" type="date" [(ngModel)]="datos.fechaFinal" name="fechaFinal"
                            required>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formFiltros.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-cogs"></i>
                        Generar
                    </button>
                    <a *ngIf="archivo" href="{{ docsUrl }}{{ archivo }}" download="{{ archivo }}"
                        class="btn btn-success" target="_blank">
                        <i class="fa fa-file-pdf-o"></i>Descargar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="container">
    <hr>
    <div class="row" *ngIf='formIndex'>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <small>SISTEMA INTEGRADO DE INFORMACIÓN SOBRE MULTAS Y SANCIONES POR INFRACCIONES DE TRANSITO</small>
                    </h5>
                </div>
                <div class="card-body" style="overflow-x: auto">
                    <table class="table" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>No. Comparendo</th>
                                <th>Fecha Comparendo</th>
                                <th>Hora Comparendo</th>
                                <th>Dirección</th>
                                <th>Divipo Municipio</th>
                                <th>Localidad/ Municipio</th>
                                <th>Placa</th>
                                <th>Divipo matriculado</th>
                                <th>Cod. Clase</th>
                                <th>Cod. Servicio</th>
                                <th>Cod. Radio Acción</th>
                                <th>Cod. Mod. transporte</th>
                                <th>Cod. Transporte Pasajeros</th>
                                <th>NIP Identificación infractor</th>
                                <th>Cod. Tipo documento infractor</th>
                                <th>Nombres infractor</th>
                                <th>Apellidos infractor</th>
                                <th>Edad infractor</th>
                                <th>Dirección infractor</th>
                                <th>Email infractor</th>
                                <th>Teléfono infractor</th>
                                <th>Cod. Ciudad residencia infractor</th>
                                <th>No. Licencia conducción infractor</th>
                                <th>Categoria licencia conducción infractor</th>
                                <th>Divipo Organismo expedición licencia conducción infractor</th>
                                <th>Fecha vencimiento licencia conducción infractor</th>
                                <th>Código tipo infractor</th>
                                <th>No. Licencia transito</th>
                                <th>Divipo licencia transito</th>
                                <th>Indentificación propietario</th>
                                <th>Cod. tipo documento propietario</th>
                                <th>nombres y apellidos propietario</th>
                                <th>nombre empresa</th>
                                <th>nit empresa</th>
                                <th>tarjeta operación</th>
                                <th>No. placa agente</th>
                                <th>Observaciones comparendo</th>
                                <th>Fuga</th>
                                <th>Accidente</th>
                                <th>Inmovilizacón</th>
                                <th>Patio inmovilización</th>
                                <th>dirección patio inmovilización</th>
                                <th>identificación testigo</th>
                                <th>nombres y apellidos testigo</th>
                                <th>direción residencia testigo</th>
                                <th>telefono testigo</th>
                                <th>valor comparendo</th>
                                <th>valores adicionales</th>
                                <th>Cod. organismo reporta</th>
                                <th>estado comparendo</th>
                                <th>comparendo polca</th>
                                <th>cod. infracción</th>
                                <th>valor infracción</th>
                                <th>comparendo electrónico</th>
                                <th>fecha fotomulta</th>
                                <th>grado alcoholemia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let comparendo of comparendos; let i = index">
                                <td>{{ i + 1 }}</td>    
                                <td>{{ comparendo.consecutivo.numero }}</td>    
                                <td>
                                    <ng-container *ngIf="comparendo.fecha">
                                        {{ (comparendo.fecha.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                    </ng-container>
                                </td>    
                                <td>
                                    <ng-container *ngIf="comparendo.hora">
                                        {{ (comparendo.hora.timestamp * 1000) | date: 'HH:mm' }}
                                    </ng-container>
                                </td>
                                <td>{{ comparendo.direccion }}</td>
                                <td>{{ comparendo.municipio?.codigoDane }}</td>
                                <td>{{ comparendo.localidad }}</td>
                                <td>{{ comparendo.placa }}</td>
                                <td>{{ comparendo.organismoTransitoMatriculado?.divipo }}</td>
                                <td>{{ comparendo.clase?.codigo }}</td>
                                <td>{{ comparendo.servicio?.codigo }}</td>
                                <td>{{ comparendo.radioAccion?.id }}</td>
                                <td>{{ comparendo.modalidadTransporte?.id }}</td>
                                <td>{{ comparendo.transportePasajero?.id }}</td>
                                <td>{{ comparendo.infractorIdentificacion }}</td>
                                <td>{{ comparendo.infractorTipoIdentificacion?.codigo }}</td>
                                <td>{{ comparendo.infractorNombres }}</td>
                                <td>{{ comparendo.infractorApellidos }}</td>
                                <td>
                                    <ng-container *ngIf="comparendo.infractorFechaNacimiento">
                                        {{ (comparendo.infractorFechaNacimiento.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                    </ng-container>
                                </td>
                                <td>{{ comparendo.infractorDireccion }}</td>
                                <td>{{ comparendo.infractorEmail }}</td>
                                <td>{{ comparendo.infractorTelefono }}</td>
                                <td>{{ comparendo.infractorMunicipioResidencia }}</td>
                                <td>{{ comparendo.infractorNumeroLicenciaConduccion }}</td>
                                <td>{{ comparendo.categoria }}</td>
                                <td>{{ comparendo.organismoTransitoMatriculado?.divipo }}</td>
                                <td>
                                    <ng-container *ngIf="comparendo.fechaVencimiento">
                                        {{ (comparendo.fechaVencimiento.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                    </ng-container>
                                </td>
                                <td>{{ comparendo.tipoInfractor?.id }}</td>
                                <td>{{ comparendo.numeroLicenciaTransito }}</td>
                                <td>{{ comparendo.organismoTransitoMatriculado?.divipo }}</td>
                                <td>{{ comparendo.propietarioIdentificacion }}</td>
                                <td>{{ comparendo.propietarioTipoIdentificacion?.codigo }}</td>
                                <td>{{ comparendo.propietarioNombres }}{{ comparendo.propietarioApellidos }}</td>
                                <td>{{ comparendo.empresaNombre }}</td>
                                <td>{{ comparendo.empresaNit }}</td>
                                <td>{{ comparendo.tarjetaOperacion }}</td>
                                <td>{{ comparendo.agenteTransito?.numeroPlaca }}</td>
                                <td>{{ comparendo.observacionesAgente }}</td>
                                <td>{{ comparendo.fuga }}</td>
                                <td>{{ comparendo.accidente }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ comparendo.ciudadanoTestigoIdentificacion }}</td>
                                <td>{{ comparendo.ciudadanoTestigoNombres }}{{ comparendo.ciudadanoTestigoApellidos }}</td>
                                <td>{{ comparendo.ciudadanoTestigoDireccion }}</td>
                                <td>{{ comparendo.ciudadanoTestigoTelefono }}</td>
                                <td>{{ comparendo.valorPagar }}</td>
                                <td>{{ comparendo.valorAdicional }}</td>
                                <td>{{ comparendo.organismoTransito?.divipo }}</td>
                                <td>{{ comparendo.estado.codigo }}</td>
                                <td>{{ comparendo.polca }}</td>
                                <td>{{ comparendo.infraccion?.id }}</td>
                                <td>{{ comparendo.valorInfraccion }}</td>
                                <td>N</td>
                                <td></td>
                                <td>{{ comparendo.gradoAlcoholemia }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->