<hr>
<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Nueva modalidad de transporte</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm"> 
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Nombre <b class="text-danger">*</b></label>
                            <input type="text" class="form-control" [(ngModel)]="modalidadTransporte.nombre" name="nombre" required />
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-12 col-lg-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="modalidadTransporte.gestionable" class="custom-control-input" id="gestionable" name="gestionable">
                            <label class="custom-control-label" for="gestionable">Gestionable</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>