<div class="container" >
  <div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Sustrato<small>Búsqueda</small></h5>
          </div>
          <div class="card-body">
            <div class="col-lg-12">
                <label>Tipo insumo*</label>
                <ng-select
                    [multiple]="false"
                    [options]="tiposInsumos"
                    [(ngModel)]="tipoInsumoSelected"
                    required
                    name="idTipoInsumo">
                </ng-select>
            </div>
            
            <div class="col-lg-12">
                <label>Organismo transito*</label>
                <ng-select
                    [multiple]="false"
                    [options]="organismosTransito"
                    [(ngModel)]="organismoTransitoSelected"
                    (ngModelChange)="onChangedSede($event)"
                    required
                    name="idOrganismoTransito">
                </ng-select>
            </div>
          <br>
          <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>No.Acta</th>
                  <th>Empresa</th>
                  <th>Sede</th>
                  <th>Insumo</th>
                  <th>Rango Inicio</th>
                  <th>Rango Fin</th>
                  <th>Cantidad</th>
                  <th>Referencia</th>
                  <th>Fecha</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let loteInsumo of loteInsumos; let i = index">
                  <td >{{loteInsumo.numeroActa}}</td>
                  <td >{{loteInsumo.empresa.nombre}}</td>
                  <td >{{loteInsumo.sedeOperativa.nombre}}</td>
                  <td >{{loteInsumo.tipoInsumo.nombre}}</td>
                  <td >{{loteInsumo.rangoInicio}}</td>
                  <td >{{loteInsumo.rangoFin}}</td>
                  <td >{{loteInsumo.cantidad}}</td>
                  <td >{{loteInsumo.referencia}}</td>
                  <td >{{loteInsumo.fecha}}</td>
                  <td>
                    <button (click)="showLoteInsumoSustrato(loteInsumo)" class="btn btn-outline-info" type="button">Ver</button> 
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-show *ngIf='formShow' [insumos]="insumos" [loteInsumo]="loteInsumo" (ready)="ready($event)"></app-show>
</div>