<hr>
<div class="container-fluid" >
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              Marcas <small>Registradas</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-success btn-round">
                  <span class="text">Nuevo</span>
                  <i class="ti-save ml-2"></i>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>Id</th>
                  <th class="filter">Nombre</th>
                  <th class="filter">Código Mt</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let marca of marcas; let i = index">
                  <td >{{marca.id}}</td>
                  <td >{{marca.nombre}}</td>
                  <td >{{marca.codigo}}</td>
                  <td><button (click)="editMarca(marca)" class="btn btn-info" type="button">Editar</button> 
                    <button (click)="deleteMarca(marca.id)"  class="btn btn-danger" type="button">Eliminar  </button> </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>

    <app-edit-vhlocfgmarca *ngIf='formEdit' [marca]="marca" (ready)="ready($event)"></app-edit-vhlocfgmarca>
    
    <app-new-vhlocfgmarca *ngIf='formNew' (ready)="ready($event)"></app-new-vhlocfgmarca>
</div>