<div class="container" >
  <div class="row" *ngIf="formIndex">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5>
              <b class="text-uppercase">Registros de compromiso</b>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table" id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Detalles</th>
                    <th>Proyecto</th>
                    <th>Cuenta</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let registro of registros; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <b>No. Solicitud:</b>
                    <br>{{ registro.solicitudNumero }}<br>
                    <b>No. registro de compromiso:</b>
                    <br>{{ registro.numero }}<br>
                    <b>Valor solicitado:</b>
                    <br>$ {{ registro.valor | currency: 'COP' }}<br>
                    <ng-container *ngIf="registro.valorApropiado">
                      <b>Valor apropiado:</b>
                      <br>$ {{ registro.valorApropiado | currency: 'COP' }}<br>
                    </ng-container>
                    <b>Saldo actual:</b>
                    <br>$ {{ registro.saldo | currency: 'COP' }}<br>
                  </td>
                  <td>
                    <b>Nombre</b><br>
                    {{ registro.cdp.actividad.cuenta.proyecto.nombre }}
                    <br><b>Costo total</b><br>
                    $ {{ registro.cdp.actividad.cuenta.proyecto.costoTotal | currency: 'COP' }}
                    <br><b>Saldo total</b><br>
                    $ {{ registro.cdp.actividad.cuenta.proyecto.saldoTotal | currency: 'COP' }}
                  </td>
                  <td>
                    <b>Número</b><br>
                    {{ registro.cdp.actividad.cuenta.numero }}
                    <br><b>Nombre</b><br>
                    {{ registro.cdp.actividad.cuenta.nombre }}
                    <br><b>Costo total</b><br>
                    $ {{ registro.cdp.actividad.cuenta.costoTotal | currency: 'COP' }}
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
  </div>

  <app-new-registrocompromiso *ngIf='formNew'></app-new-registrocompromiso>
</div>