<div class="container" >
  <div class="row" *ngIf="formIndex">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5>
              <b class="text-uppercase">Registros de compromiso</b>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table" id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Solicitud</th>
                    <th>Número</th>
                    <th>Proyecto</th>
                    <th>Cuenta</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let registro of registros; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ registro.solicitudNumero }}</td>
                  <td>{{ registro.numero }}</td>
                  <td>
                    <b>Nombre</b><br>
                    {{ registro.cdp.actividad.cuenta.proyecto.nombre }}
                    <br><b>Costo total</b><br>
                    {{ registro.cdp.actividad.cuenta.proyecto.costoTotal }}
                    <br><b>Saldo total</b><br>
                    {{ registro.cdp.actividad.cuenta.proyecto.saldoTotal }}
                  </td>
                  <td>
                    <b>Número</b><br>
                    {{ registro.cdp.actividad.cuenta.numero }}
                    <br><b>Nombre</b><br>
                    {{ registro.cdp.actividad.cuenta.nombre }}
                    <br><b>Costo total</b><br>
                    {{ registro.cdp.actividad.cuenta.costoTotal }}
                  </td>
                  <td>
                    <div class="btn-group">
                      <!--
                        <button (click)="onEdit(registro)" class="btn btn-xs btn-primary" type="button">
                          <i class="fa fa-pencil"></i>
                        </button> 
                        <button (click)="onDelete(registro.id)"  class="btn btn-xs btn-danger" type="button">
                          <i class="fa fa-trash"></i>
                        </button> 
                      -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
  </div>

  <app-new-registrocompromiso *ngIf='formNew'></app-new-registrocompromiso>
</div>