
<div class="col-xs-12 col-lg-12" *ngIf="formNewDocumento">
    <form #formNew="ngForm">
        <div class="card">
            <div class="card-body">
                <h5 class="text-uppercase"><strong>Registro de documento</strong></h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>No. de Radicado</label>
                        <input class="form-control" [(ngModel)]="documento.numeroRadicado" name="numeroRadicado" type="text" placeholder="(Generado por el sistema)" readonly>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <label>No. de folios <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="documento.folios" name="folios" type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <label>Fecha y Hora</label>
                        <input class="form-control" value="{{ date|date:('dd/MM/yyyy HH:mm:ss a') }}" readonly type="text">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Tipo Identificacion peticionario</label>
                        <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="documento.idTipoIdentificacion" name="tipoIdentificacion">
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Identificación peticionario</label>
                        <input class="form-control" [(ngModel)]="documento.identificacion" name="identificacion" type="text">
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Nombres</label>
                        <input class="form-control text-uppercase" [(ngModel)]="documento.peticionarioNombres" name="nombres" type="text">
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Apellidos</label>
                        <input class="form-control text-uppercase" [(ngModel)]="documento.peticionarioApellidos" name="apellidos" type="text">
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Entidad</label>
                        <input class="form-control text-uppercase" [(ngModel)]="documento.entidad" name="entidad" type="text">
                    </div>
                </div>                
            </div>
        </div>

        <div class="form-group row">
            <div  class="col-xs-12 col-lg-12">
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
                <button (click)="onRegister()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>