
<div class="col-xs-12 col-lg-12" *ngIf="formNewDocumento">
    <form #formNew="ngForm">
        <div class="card">
            <div class="card-body">
                <h5 class="text-uppercase"><strong>Registro de documento</strong></h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>No. de Radicado</label>
                        <input class="form-control" [(ngModel)]="documento.numeroRadicado" name="numeroRadicado" type="text" placeholder="(Generado por el sistema)" readonly>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <label>No. de folios <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="documento.folios" name="folios" type="text">
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <label>Fecha y Hora</label>
                        <input class="form-control" value="{{ date|date:('dd/MM/yyyy HH:mm:ss a') }}" readonly type="text">
                    </div>
                </div> 

                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Tipo Identificacion remitente<b class="text-danger">*</b></label>
                        <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="remitente.idTipoIdentificacion"  name="tipoIdentificacionRemitente" required>
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Identificación remitente<b class="text-danger">*</b></label>
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="remitente.identificacion" name="identificacionRemitente" type="text">
                            <span class="input-group-btn">
                                <button (click)="onSearchRemitente()" class="btn btn-default btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <p *ngIf="remitente.id">
                        <strong>Remitente:</strong>
                        <small>{{ remitente.primerNombre }} {{ remitente.primerApellido }}</small>
                    </p>
                </div>

                <div class="form-group row" *ngIf="formNewRemitente">
                    <div class="col-xs-12 col-lg-12">
                        <h6 class="text-uppercase text-center gradient">
                            <b>Datos de remitente</b>
                        </h6>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Primer Nombre <b class="text-danger">*</b></label>
                        <input [disabled]='newRemitente' class="form-control" [(ngModel)]="remitente.primerNombre" name="primerNombreRemitente" type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Segundo Nombre</label>
                        <input [disabled]='newRemitente' class="form-control" [(ngModel)]="remitente.segundoNombre" name="segundoNombreRemitente" type="text">
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Primer Apellido <b class="text-danger">*</b></label>
                        <input [disabled]='newRemitente' class="form-control" [(ngModel)]="remitente.primerApellido" name="primerApellidoRemitente" type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Segundo Apellido</label>
                        <input [disabled]='newRemitente' class="form-control" [(ngModel)]="remitente.segundoApellido" name="segundoApellidoRemitente" type="text">
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Dirección <b class="text-danger">*</b></label>
                        <input [disabled]='newRemitente' class="form-control" [(ngModel)]="remitente.direccion" name="direccionRemitente" type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <label>Telefono <b class="text-danger">*</b></label>
                        <input [disabled]='newRemitente' class="form-control" [(ngModel)]="remitente.telefono" name="telefonoRemitente" type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <label>Correo</label>
                        <input [disabled]='newRemitente' class="form-control" [(ngModel)]="remitente.correoElectronico" name="correoElectronicoRemitente" type="text">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Tipo Identificacion peticionario<b class="text-danger">*</b></label>
                        <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="tipoIdentificacionCiudadanoSelected" name="tipoIdentificacionCiudadano" required>
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Identificación peticionario<b class="text-danger">*</b></label>
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="peticionario.identificacion" name="identificacion" type="text">
                            <span class="input-group-btn">
                                <button (click)="onSearchCiudadano()" class="btn btn-default btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <p *ngIf="ciudadano">
                        <strong>Ciudadano:</strong>
                        <small>{{ ciudadano.primerNombre }} {{ ciudadano.primerApellido }}</small>
                    </p>
                </div>

                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Entidad</label>
                        <input class="form-control" [(ngModel)]="documento.entidadNombre" name="entidadNombre" type="text">
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Cargo</label>
                        <input class="form-control" [(ngModel)]="documento.entidadCargo" name="entidadCargo" type="text">
                    </div>
                </div>                

                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Tipo Correspondencia <b class="text-danger">*</b></label>
                        <ng-select [multiple]="false" (ngModelChange)="onChangedTipoCorrespondencia($event)" [options]="tiposCorrespondencia" [(ngModel)]="documento.idTipoCorrespondencia" name="tipoCorrespondencia" required>
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-2" *ngIf='editable'>
                        <label>Vigencia (Días) <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="documento.vigencia" name="vigencia" type="text" required>
                    </div>
                    <div  class="col-xs-12 col-lg-2">
                        <label>No. Oficio <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="documento.numeroOficio" name="medidaCautelarNumeroOficio" type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Asunto y Concepto <b class="text-danger">*</b></label>
                        <textarea class="form-control" [(ngModel)]="documento.descripcion" name="descripcion" rows="6" required></textarea>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Adjuntar documento <b class="text-danger">*</b></label>
                        <input class="form-control" type="file" (change)="onFileChange($event)" required>
                    </div>
                </div>

                <hr>

                <h5>Medio de llegada</h5>
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Medio Correspondencia <b class="text-danger">*</b></label>
                        <ng-select [multiple]="false" [options]="mediosCorrespondencia" [(ngModel)]="documento.idMedioCorrespondenciaLlegada" name="medioCorrespondenciaLlegada" required>
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <label>Fecha llegada <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="documento.fechaLlegada" name="fechaLlegada" type="date" required>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Detalle de llegada <b class="text-danger">*</b></label>
                        <textarea class="form-control" [(ngModel)]="documento.detalleLlegada" name="nombreTransportadoraLlegada" required rows="4"  id="summernote"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario medida cautelar -->
        <div class="row" *ngIf='prohibicion'>
            <div class="col-xs-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-uppercase">Medida Cautelar</h5>
                        <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
                        <hr>
                        <div class="form-group row">
                            <div  class="col-xs-12 col-lg-6">
                                <label>No. Oficio <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="medidaCautelar.numeroOficio" name="medidaCautelarnumeroOficio" type="text" required>
                            </div>
                            <div  class="col-xs-12 col-lg-6">
                                <label>Quien Ordena <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="medidaCautelar.quienOrdena" name="quienOrdena" type="text" required>
                            </div>
                            <div  class="col-xs-12 col-lg-6">
                                <label>Fecha Inicio <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="medidaCautelar.fechaInicio" name="fechaInicio" type="date" required>
                            </div>
                            <div  class="col-xs-12 col-lg-6">
                                <label>Fecha Fin <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="medidaCautelar.fechaFin" name="fechaFin" type="date" required>
                            </div>
                            <div  class="col-xs-12 col-lg-6">
                                <label>Identificación Implicado <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="medidaCautelar.identificacionImplicado" name="identificacionImplicado" type="text" required>
                            </div>
                            <div  class="col-xs-12 col-lg-6">
                                <label>Delito <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="medidaCautelar.delito" name="delito" type="text" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button (click)="onCrearProhibicion()" class="btn btn-primary pull-right" type="button">
                        <i class="fa fa-save"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Formulario medida cautelar -->
                
        <!-- Formulario vehiculo -->
        <div class="row" *ngIf='datosRegistro.medidaCautelar'>
            <div class="col-xs-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-uppercase">Vehiculo</h5>
                        <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
                        <hr>
                        <div class="form-group row">
                            <div  class="col-xs-12 col-lg-3">
                                <label>Lugar <b class="text-danger">*</b></label>
                                <input class="form-control" [(ngModel)]="vehiculo.lugar" name="lugar" type="text">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Clase Vehiculo <b class="text-danger">*</b></label>
                                <ng-select [multiple]="false" [options]="clases" [(ngModel)]="claseSelected" name="claseId">
                                </ng-select>
                            </div>
                            <div  class="col-xs-12 col-lg-3">
                                <label>Placa</label>
                                <input class="form-control text-uppercase" [(ngModel)]="vehiculo.placa" name="placa" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button (click)="onCrearVehiculo()" class="btn btn-primary pull-right" type="button">
                        <i class="fa fa-save"></i>
                        </button>
                    </div>
                    <div class="form-group row" *ngIf='datosRegistro.vehiculo'>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Lugar</th>
                                    <th>Clase</th>
                                    <th>placa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd" *ngFor="let vehiculo of datosRegistro.vehiculo; let i = index">
                                    <td >{{vehiculo.lugar}}</td>
                                    <td >{{vehiculo.claseId}}</td>
                                    <td >{{vehiculo.placa}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Formulario medida cautelar -->  
        <div class="form-group row">
            <div  class="col-xs-12 col-lg-12">
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
                <button (click)="onRegister()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>

<app-new-ciudadano *ngIf="formNewCiudadano" [tipoIdentificacion]="tipoIdentificacionPeticionarioSelected" [identificacion]="peticionario.identificacion" (onReadyCiudadano)="onReadyCiudadano($event)"></app-new-ciudadano>