<div class="card">
    <div class="card-header">
        <h5>
            <strong class="text-uppercase">Inventario {{ inventario.fecha }}</strong> 
            <small *ngIf="!inventario.municipo">Bodega</small>
            <small *ngIf="inventario.municipo">{{ inventario.municipo.nombre }}</small>
        </h5>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="seniales"><!-- .row -->
            <div class="col-xs-12 col-lg-12"><!-- .col -->
                <table class="table " id="dataTables-inventario">
                    <thead>
                        <tr style="text-align: center;">
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Tipo de señal</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th>Georeferenciación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" style="text-align: center;" *ngFor="let senial of seniales; let i = ind">
                            <td>{{ i + 1}}</td>
                            <td>{{ senial.fecha }}</td>
                            <td>{{ senial.codigo }}</td>
                            <td>{{ senial.nombre }}</td>
                            <td>
                                <div style="background-image: url('assets/img/loader.gif'); background-size: 30px; background-repeat: no-repeat; background-position: center; border:solid 0.5px #ccc; border-radius:0.5px; box-shadow: -0.5px -0.5px 0.5px 0px red, 0.5px -0.5px 0.5px yellow, 0.5px 0.5px 0.5px green, -0.5px 0.5px 0.5px blue;"
                                    name="setColor">&nbsp;</div>
                                <input type="hidden" name="getColor" value="{{senial.HEX}}"> {{senial.COLOR}}
                            </td>

                            <td>
                                <input type="hidden" name="src" value="{{senial.LOGO}}">
                                <img height="30px" src="assets/img/loader.gif" name="logo">
                            </td>
                            <td>{{ senial.cantidad }}</td>
                            <td>{{senial.estado }}</td>
                            <td>
                                <input type="hidden" name="loc" value="{{senial.ARCHIVO}}">
                                <a name="archivo">
                                    <img height="30px" src="assets/img/loader.gif">
                                </a>
                            </td>
                            <td>
                                <button (click)='onGeo(senial.DIRECCION)' (ready)="ready($event)" class="btn btn-primary" type="button">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div>