<hr>
<div class="container" >
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              Lineas <small>Registradas</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-success btn-round">
                  <span class="text">Nuevo</span>
                  <i class="ti-save ml-2"></i>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>marca</th>
                    <th>Código Mt</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let linea of lineas; let i = index">
                  <td >{{linea.id}}</td>
                  <td >{{linea.nombre}}</td>
                  <td >{{linea.marca.nombre}}</td>
                  <td >{{linea.codigo}}</td>
                  <td><button (click)="editLinea(linea)" class="btn btn-info" type="button">Editar</button> 
                    <button (click)="delete(linea.id)"  class="btn btn-danger" type="button">Eliminar  </button> </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [linea]="linea" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>