<div class="col-xs-12 col-lg-4">
    <div class="card">
        <div class="card-header">
            <h5 class="text-uppercase">Editar Objeto Fijo</h5>
            <small>Los campos con
                <b class="text-danger">*</b> son obligatorios</small>
        </div>
        <div class="card-body">
            <form #formEdit="ngForm">
                <div class="form-group">
                    <div class="col-xs-12 col-lg-12">
                        <label>Clase Choque <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="clasesChoque" [(ngModel)]="claseChoqueSelected"
                            name="idClaseChoque" required>
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Nombre
                            <strong class="text-danger">*</strong>
                        </label>
                        <input style="text-transform:uppercase" class="form-control" [(ngModel)]="objetoFijo.nombre"
                            name="nombre" type="text" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <button (click)="onEnviar()" [disabled]="formEdit.invalid" class="btn btn-primary" type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>