
<div class="row"><!-- .row -->
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Nueva Solicitud de trámite RNC</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Consultar factura <strong class="text-danger">*</strong></label>
                            <div class="input-group">
                                <input class="form-control" [(ngModel)]="numeroFactura" name="numeroFactura" type="text" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchFactura()" class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf='factura'>
                        <div class="col-xs-12 col-lg-12">
                            <span class="badge badge-success" *ngIf="factura.estado == 'PAGADA'">{{ factura.estado }}</span>
                            <span class="badge badge-danger" *ngIf="factura.estado == 'PENDIENTE DOCUMENTACION'">{{ factura.estado }}</span>
                            <span class="badge badge-warning" *ngIf="factura.estado == 'FINALIZADA'">{{ factura.estado }}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="factura && factura.estado != 'FINALIZADA'">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Buscar solicitante <strong class="text-danger">*</strong></label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Número de identificación" [(ngModel)]="identificacion" name="identificacion" required
                                />
                                <span class="input-group-btn">
                                    <button (click)="onSearchCiudadano()" class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf='solicitante'>
                        <div class="col-xs-12 col-lg-12">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Ciudadano</b>
                                            <br>
                                            {{ solicitante.primerNombre }} {{ solicitante.segundoNombre }} {{ solicitante.primerApellido }} {{ solicitante.segundoApellido }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Tipo de identificación</b>
                                            <br>
                                            {{ solicitante.tipoIdentificacion.nombre }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Numero de identificación</b>
                                            <br>
                                            {{ solicitante.identificacion }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group" *ngIf="documentacionPendiente.length > 0">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="btn-group">
                                            <button (click)="onEnviar()" class="btn btn-success" [disabled]="tramitesFactura && (tramitesFactura.length == tramitesRealizados.length)">
                                                <i class="fa fa-save"></i>
                                                Guardar observaciones
                                            </button>
                                            <a *ngIf="factura && factura.estado == 'PENDIENTE DOCUMENTACION'" href="{{ apiUrl }}/{{ factura.id }}/pdf/documentacion" class="btn btn-default" target="_blank">
                                                <i class="fa fa-file-pdf-o"></i>
                                                Imprimir observaciones
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="factura && factura.estado != 'FINALIZADA' && tramitesFactura && tramitesRealizados.length == tramitesFactura.length && documentacionPendiente.length == 0">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="form-group">
                                <div class="row" *ngIf="requiereRunt">
                                    <div class="col-xs-12 col-lg-12"> 
                                        <label>Número de solicitud RUNT <b class="text-danger">*</b></label>
                                        <input type="text" class="form-control" placeholder="No. solicitud RUNT" [(ngModel)]="tramiteSolicitud.numeroRunt" name="numeroRunt" required />
                                    </div>
                                </div>

                                <div class="row" *ngIf="factura && tramiteSolicitud.numeroRunt">
                                    <div class="col-xs-12 col-lg-12">
                                        <button (click)="onEnviar()" class="btn btn-success">
                                            <i class="fa fa-save"></i>
                                            Guardar información
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="factura && factura.estado != 'FINALIZADA' && solicitante">
        <div class="card">
            <div class="card-body">
                <div class="row" *ngIf="tramitesFactura">
                    <div class="col-xs-12 col-lg-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#tab-tramites" role="tab">
                                    Realizar trámites
                                </a>
                            </li>
                            <li class="nav-item" *ngIf='requiereSustrato'>
                                <a class="nav-link " data-toggle="tab" href="#tab-sustrato" role="tab">
                                    Registrar sustrato
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab-tramites" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12"><!-- .col -->
                                        <b class="text-uppercase">Trámite a realizar</b>
                                        <ng-select (ngModelChange)="onChangedTramiteFactura($event)" [(ngModel)]="tramiteFacturaSelected" [multiple]="false" [options]="tramitesFactura" name="idTramiteFactura" required></ng-select>
                                    </div><!-- /.col -->
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-lg-12" *ngIf="tramiteFactura">                        
                                        <appRnc-expedicion-licencia *ngIf="tramiteFactura.precio.tramite.id == 31" [tramitesRealizados]="tramitesRealizados" [solicitante]="solicitante" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRnc-expedicion-licencia>
                                        
                                        <appRnc-duplicado-licencia *ngIf="tramiteFactura.precio.tramite.id == 32" [tramitesRealizados]="tramitesRealizados" [solicitante]="solicitante" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRnc-duplicado-licencia>
                                        
                                        <appRnc-expedicion-licencia-cambio-documento *ngIf="tramiteFactura.precio.tramite.id == 33" [tramitesRealizados]="tramitesRealizados" [solicitante]="solicitante" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRnc-expedicion-licencia-cambio-documento>
                                    
                                        <appRnc-recategorizacion-licencia-arriba *ngIf="tramiteFactura.precio.tramite.id == 34" [tramitesRealizados]="tramitesRealizados" [solicitante]="solicitante" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRnc-recategorizacion-licencia-arriba>
                                
                                        <appRnc-recategorizacion-licencia-abajo *ngIf="tramiteFactura.precio.tramite.id == 35" [tramitesRealizados]="tramitesRealizados" [solicitante]="solicitante" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRnc-recategorizacion-licencia-abajo>
                                    
                                        <appRnc-refrendacion-licencia *ngIf="tramiteFactura.precio.tramite.id == 36" [tramitesRealizados]="tramitesRealizados" [solicitante]="solicitante" [tramiteFactura]="tramiteFactura" (onReadyTramite)="onReadyTramite($event)"></appRnc-refrendacion-licencia>
                                    </div>
                                </div>
    
                            </div>
                            <div class="tab-pane" id="tab-sustrato" role="tabpanel">
                                <appRnc-sustrato [factura]="factura" [solicitante]="solicitante" (onReadyTramite)="onReadyTramite($event)"></appRnc-sustrato>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.row -->
