<hr>
<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">Nuevo role</h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm"> 
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Nombre <strong class="text-danger">*</strong></label>
                            <input class="form-control text-uppercase" [(ngModel)]="role.nombre" name="nombre" type="text" required autofocus />
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-8">
                        <label>Menus</label>
                        <ul class="nav flex-column in">
                            <li class="nav-item" *ngFor="let menu of menus">
                                <a class="nav-link" *ngIf="!menu.childrens">
                                    <h4>
                                        <i class="fa fa-angle-right"></i>
                                        {{ menu.title }}
                                        <input type="checkbox" [value]="menu.id" [name]="menu.id" (change)="onChanged(menu.id, $event)">
                                    </h4>
                                </a>
                                <a class="nav-link" href="javascript:void(0)" *ngIf="menu.childrens" data-toggle="collapse" [href]="'#' + menu.id" role="button"
                                    aria-expanded="false">
                                    <h4>
                                        <i class="fa fa-angle-down"></i>
                                        {{ menu.title }}
                                    </h4>
                                </a>
                                <ul class="nav flex-column nav-second-level collapse multi-collapse m-l-15" *ngIf="menu.childrens" style="padding-left: 15px;">
                                    <li class="nav-item" *ngFor="let menuSecond of menu.childrens">
                                        <a class="nav-link" href="javascript:void(0)" *ngIf="!menuSecond.childrens">
                                            <h5>
                                                <i class="fa fa-angle-right"></i>
                                                {{ menuSecond.title }}
                                                <input type="checkbox" [value]="menuSecond.id" [name]="menuSecond.id" (change)="onChanged(menuSecond.id, $event)">
                                            </h5>
                                        </a>
                                        <a class="nav-link" href="javascript:void(0)" *ngIf="menuSecond.childrens" data-toggle="collapse" [href]="'#' + menuSecond.id"
                                            role="button" aria-expanded="false">
                                            <h5 class="text-primary">
                                                <i class="fa fa-angle-down"></i>
                                                {{ menuSecond.title }}
                                            </h5>
                                        </a>
                                        <ul class="nav flex-column nav-third-level collapse multi-collapse" *ngIf="menuSecond.childrens" style="padding-left: 15px;">
                                            <li class="nav-item" *ngFor="let menuThird of menuSecond.childrens">
                                                <a class="nav-link" href="javascript:void(0)">
                                                    <h6 class="text-info">
                                                        <b>
                                                            <i class="fa fa-angle-right"></i>
                                                            {{ menuThird.title }}
                                                        </b>
                                                        <input type="checkbox" [value]="menuThird.id" [name]="menuThird.id" (change)="onChanged(menuThird.id, $event)">
                                                    </h6>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>