<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <strong class="text-uppercase">Módulo de Configuración</strong> 
              <small>Historial de precios para tramites</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-success btn-round" data-target="#themepicker" data-toggle="modal">
                  <span class="text">Nuevo</span> 
                  <i class="fa fa-save"></i>
                </button>
                <button (click)="onNewSmlmv()" class="btn btn-info btn-round" data-target="#themepicker" data-toggle="modal">
                  <span class="text">Conceptos</span> 
                  <i class="fa fa-th-list"></i>
                </button>
                <button (click)="onNewCalculo()" class="btn btn-primary btn-round" data-target="#themepicker" data-toggle="modal">
                  <span class="text">Calcular</span> 
                  <i class="fa fa-calculator"></i>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha inicio</th>
                    <th>Nombre</th>
                    <th>Tramite</th>
                    <th>Modulo</th>
                    <th>Valor</th>
                    <th>Valor total</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let tramitePrecio of tramitePrecios; let i = index">
                  <td >{{ tramitePrecio.id }}</td>
                  <td >{{ tramitePrecio.fechaInicio }}</td>
                  <td >{{ tramitePrecio.nombre }}</td>
                  <td placement="top" ngbTooltip="Tooltip on top" data-toggle="ngbTooltip"   title="holaMundo" data-html="true">{{tramitePrecio.tramite.nombre}}
                    <!-- <button type="button" class="btn btn-default" data-toggle="tooltip" title="holaMundo" data-placement="right"  data-original-title="Tooltip on right">Right</button> -->
                  </td>
                  <td >{{ tramitePrecio.modulo.abreviatura }}</td>
                  <td >{{ tramitePrecio.valor | currency: 'COP' }}</td>
                  <td >{{ tramitePrecio.valorTotal | currency: 'COP' }}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="editTramitePrecio(tramitePrecio)" class="btn btn-info" type="button">
                        <i class="fas fa-pencil-alt"></i>
                      </button> 
                      <button (click)="deleteTramitePrecio(tramitePrecio.id)"  class="btn btn-danger" type="button">
                        <i class="fa fa-trash"></i>
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>


    <div class="row" *ngIf='formIndex'>
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Próximos conceptos a habilitarse <small> valor</small></h5>
            </div>
            <div class="card-body">
              <table class="table " id="dataTables-example">
                <thead>
                  <tr>
                      
                      <th>Nombre</th>
                      <th>Fecha de inicio</th>
                      <th>Tramite</th>
                      <th>Modulo</th>
                      
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" *ngFor="let tramitePrecioProximo of tramiteProximo; let i = index">
                   
                    <td >{{tramitePrecioProximo.nombre}}</td>
                    <td >{{tramitePrecioProximo.fechaInicio}}</td>
                    <td >{{tramitePrecioProximo.tramite.nombre}}</td>
                    <td >{{tramitePrecioProximo.modulo.nombre}}</td>
                    
                </tbody>
              </table>
              <!-- /.table-responsive --> 
            </div>
          </div>
        </div>
      </div>





    <app-edit *ngIf='formEdit' [tramitePrecio]="tramitePrecio" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
    <app-new-smlmv *ngIf='formSmlmv' [tramitePrecios]="tramitePrecios" (ready)="ready($event)"></app-new-smlmv>
    <app-new-calculo *ngIf='formCalculo' [tramitePrecios]="tramitePrecios" (ready)="ready($event)"></app-new-calculo>
</div>