<div class="container" >
  <div  class="row align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Módulo de Configuración</h3>
      <p>Historial de precios para tramites</p> 
    </div>
    <div class="col text-right ">
      <div class="btn-group pull-right">
        <button (click)="onNew()" class="btn btn-outline-success  btn-round " style="margin-right: 10px;" data-target="#themepicker" data-toggle="modal"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
        <button (click)="onNewSmlmv()" class="btn btn-outline-success  btn-round " style="margin-right: 10px;" data-target="#themepicker" data-toggle="modal"><span class="text">Conceptos</span> <i class="ti-save ml-2"></i></button>
        <button (click)="onNewCalculo()" class="btn btn-outline-success  btn-round " style="margin-right: 10px;" data-target="#themepicker" data-toggle="modal"><span class="text">Calcular</span> <i class="ti-save ml-2"></i></button>
      </div>
    </div>
    
  </div>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Precios <small>Registrados</small></h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha inicio</th>
                    <th>Nombre</th>
                    <th>Tramite</th>
                    <th>Modulo</th>
                    <th>Valor</th>
                    <th>Valor total</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let tramitePrecio of tramitePrecios; let i = index">
                  <td >{{tramitePrecio.id}}</td>
                  <td >{{tramitePrecio.fechaInicio}}</td>
                  <td >{{tramitePrecio.nombre}}</td>
                  <td >{{tramitePrecio.tramite.nombre}}</td>
                  <td >{{tramitePrecio.modulo.nombre}}</td>
                  <td >{{tramitePrecio.valor}}</td>
                  <td >{{tramitePrecio.valorTotal}}</td>
                  <td><button (click)="editTramitePrecio(tramitePrecio)" class="btn btn-outline-info" type="button">Editar</button> 
                    <button (click)="deleteTramitePrecio(tramitePrecio.id)"  class="btn btn-outline-danger" type="button">Eliminar  </button> </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>


    <div class="row" *ngIf='formIndex'>
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Próximos conceptos a habilitarse <small> valor</small></h5>
            </div>
            <div class="card-body">
              <table class="table " id="dataTables-example">
                <thead>
                  <tr>
                      
                      <th>Nombre</th>
                      <th>Fecha de inicio</th>
                      <th>Tramite</th>
                      <th>Modulo</th>
                      
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" *ngFor="let tramitePrecioProximo of tramiteProximo; let i = index">
                   
                    <td >{{tramitePrecioProximo.nombre}}</td>
                    <td >{{tramitePrecioProximo.fechaInicio}}</td>
                    <td >{{tramitePrecioProximo.tramite.nombre}}</td>
                    <td >{{tramitePrecioProximo.modulo.nombre}}</td>
                    
                </tbody>
              </table>
              <!-- /.table-responsive --> 
            </div>
          </div>
        </div>
      </div>





    <app-edit *ngIf='formEdit' [tramitePrecio]="tramitePrecio" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
    <app-new-smlmv *ngIf='formSmlmv' [tramitePrecios]="tramitePrecios" (ready)="ready($event)"></app-new-smlmv>
    <app-new-calculo *ngIf='formCalculo' [tramitePrecios]="tramitePrecios" (ready)="ready($event)"></app-new-calculo>
</div>