<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Pricing</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg my-1 col-xs-16 text-center">
        <div class="card">
          <div class="card-body">
            <p class="text-primary">Basic</p>
            <h1 class="display-3 mt-1 mb-1 text-primary"><strong>$125</strong></h1>
            <h3 class="mb-4">per month</h3>
            <hr>
            <p class="lead">100+ Features</p>
            <p class="lead">100+ Components</p>
            <p class="lead">10+ Themes color</p>
            <br>
            <a href="#" class="btn btn-lg btn-primary">Buy now!</a><br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-lg my-1 col-xs-16 text-center">
        <div class="card">
          <div class="card-body">
            <p class="text-primary">Enterprice</p>
            <h1 class="display-3 mt-1 mb-1 text-primary"><strong>$225</strong></h1>
            <h3 class="mb-4">per month</h3>
            <hr>
            <p class="lead">100+ Features</p>
            <p class="lead">100+ Components</p>
            <p class="lead">10+ Themes color</p>
            <br>
            <a href="#" class="btn btn-lg btn-success">Buy now!</a><br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-lg my-1 col-xs-16 text-center">
        <div class="card">
          <div class="card-body">
            <label class="ribbon top-left primary"><span class="fa fa-star"></span></label>
            <p class="text-primary">Pro</p>
            <h1 class="display-3 mt-1 mb-1 text-primary"><strong>$325</strong></h1>
            <h3 class="mb-4">per month</h3>
            <hr>
            <p class="lead">100+ Features</p>
            <p class="lead">100+ Components</p>
            <p class="lead">10+ Themes color</p>
            <br>
            <a href="#" class="btn btn-lg btn-primary">Buy now!</a><br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg my-1 col-xs-16 text-center">
        <div class="card bg-primary">
          <div class="card-body text-white">
            <p class="text-white">Basic</p>
            <h1 class="display-3 mt-1 mb-1 text-white"><strong>$125</strong></h1>
            <h3 class="mb-4">per month</h3>
            <hr>
            <p class="lead">100+ Features</p>
            <p class="lead">100+ Components</p>
            <p class="lead">10+ Themes color</p>
            <br>
            <a href="#" class="btn btn-lg btn-outline-white">Buy now!</a><br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-lg my-1 col-xs-16 text-center">
        <div class="card bg-info">
          <div class="card-body text-white">
            <label class="ribbon top-left danger"><span class="fa fa-star"></span></label>
            <p class="text-white">Enterprice</p>
            <h1 class="display-3 mt-1 mb-1 text-white"><strong>$225</strong></h1>
            <h3 class="mb-4">per month</h3>
            <hr>
            <p class="lead">100+ Features</p>
            <p class="lead">100+ Components</p>
            <p class="lead">10+ Themes color</p>
            <br>
            <a href="#" class="btn btn-lg btn-outline-white">Buy now!</a><br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-lg my-1 col-xs-16 text-center">
        <div class="card bg-success">
          <div class="card-body text-white">
            <p class="text-white">Pro</p>
            <h1 class="display-3 mt-1 mb-1 text-white"><strong>$325</strong></h1>
            <h3 class="mb-4">per month</h3>
            <hr>
            <p class="lead">100+ Features</p>
            <p class="lead">100+ Components</p>
            <p class="lead">10+ Themes color</p>
            <br>
            <a href="#" class="btn btn-lg btn-outline-white">Buy now!</a><br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>