
<div class="card">
    <div class="card-header">
        <h5>
            <b class="text-uppercase">Nueva señal</b>
            <small>bodega principal</small>
        </h5>
        <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
    </div>
    <div class="card-body">
        <form #formNew="ngForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <label>Fecha <strong class="text-danger">*</strong></label>
                        <input type="date" class="form-control" [(ngModel)]="senialBodega.fecha" name="fecha" required />
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <label>Hora <strong class="text-danger">*</strong></label>
                        <input type="time" class="form-control" [(ngModel)]="senialBodega.hora" name="time" required />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <label>Señal <strong class="text-danger">*</strong></label>
                        <ng-select (ngModelChange)="onChangedSenial($event)" [multiple]="false" [options]="seniales" [(ngModel)]="senialBodega.idSenial" name="senial" required>
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Estado <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="estados" [(ngModel)]="senialBodega.idEstado" required name="estado">
                        </ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Proveedor <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="proveedores" [(ngModel)]="senialBodega.idProveedor" required name="proveedor">
                        </ng-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <label>Cantidad <span *ngIf="senial && senial.tipoSenial.id == 1">(galones)</span> <strong class="text-danger">*</strong></label>
                        <input type="text" class="form-control" [(ngModel)]="senialBodega.cantidad" name="cantidad" required />
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Valor Unitario <strong class="text-danger">*</strong></label>
                        <input type="text" (blur)="onCalcularTotal()" class="form-control" [(ngModel)]="senialBodega.valor" name="valor" required />
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <label>Valor Total</label>
                        <input type="text" class="form-control" [(ngModel)]="senialBodega.valorTotal" name="valorTotal" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <label>Adjunto </label>
                        <input type="file"  class="form-control" (change)="onFileChange($event)" placeholder="Adjuntar" accept=".pdf,.doc,.docx" value="20000" multiple="false" name="file">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <button (click)="onCancelar()" class="btn btn-default">
                <i class="fa fa-times"></i>
                Cancelar
            </button>
            <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                <i class="fa fa-save"></i>
                Enviar
            </button>
        </div>
    </div>
</div>
