<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">reasignacion de insumos</b>
            </div>
            <div class="card-body">
                <form #newForm="ngForm">
                    <div class="row justify-content-center">
                        <div class="card-body col-md-12"> 
                        <div class="form-group row">    
                            <div class="col-lg-4 col-md-4">
                                <label>Sede origen <b class="text-danger">*</b></label>
                                <ng-select
                                    [multiple]="false"
                                    [options]="sedes"
                                    [(ngModel)]="sedeOrigenSelected"
                                    (ngModelChange)="changedSedeOperativa($event)"
                                    required
                                    name="sedeOrigenId">
                                </ng-select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Sede destino <b class="text-danger">*</b></label>
                                <ng-select
                                    [multiple]="false"
                                    [options]="sedes"
                                    [(ngModel)]="sedeDestinoSelected"
                                    (ngModelChange)="changedSedeOperativa($event)"
                                    required
                                    name="sedeDestinoId">
                                </ng-select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label>Sustrato <b class="text-danger">*</b></label>
                                <ng-select
                                    [multiple]="false"
                                    [options]="sustratos"
                                    [(ngModel)]="insumoSelected"
                                    required
                                    name="insumoSustratoId">
                                </ng-select>
                            </div>
    
                            <!-- <div class="col-lg-4 col-md-4"> 
                                <label>Cantidad*</label>
                                <input class="form-control" (blur)="isExistencia()" [(ngModel)]="datosAsignacion.cantidad" name="cantidad" placeholder="" type="text" required>
                            </div>  -->
                        </div> 
                        </div>    
                    </div>
                    <div class="card-footer">
                        <button (click)="onCancelar()" class="btn btn-default">
                            Cancelar
                        </button>
                        <!-- <button (click)="onEnviar()" [disabled]="isCantidad" class="btn btn-primary pull-right" type="button">Enviar</button> -->
                        <button (click)="onSearchLote()" [disabled]="newForm.invalid" class="btn btn-primary" type="button">
                            Buscar
                        </button>
                    </div>    
                </form>
            </div>
        </div>

        <div class="card" *ngIf='lotes'>
            <div class="card-body">
                <div class="tab-pane active col-lg-12 col-md-12" id="lotes" role="tabpanel" >
                    <br>
                    <br>
                    <table class="table" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Detalles</th>
                            <th>Acciones</th> 
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd" *ngFor="let lote of lotes; let i = index">
                            <td >
                                <b>Proveedor</b>
                                {{lote.empresa.nombre}}
                                <br>
                                <b>Organismo de transito</b>
                                {{lote.sedeOperativa.nombre}}
                                <br>
                                <b>Tipo</b>
                                {{lote.tipoInsumo.nombre}}
                                <br> 
                                <b>Inicio</b>
                                {{lote.rangoInicio}} 
                                <b>Fin</b>
                                {{lote.rangoFin}}
                                <br>
                                <b>Cantidad</b>
                                {{lote.cantidad}}
                                <br>
                                <b>Referencia</b>
                                {{lote.referencia}}
                                <br>
                                <b>Fecha</b>
                                {{ (lote.fecha.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                            </td>
                            <td>
                                <button (click)="onAsignarLote(lote)" class="btn btn-success" type="button">
                                    <i class="fa fa-check"></i>
                                    Asignar
                                </button> 
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>       
    </div>
</div> 