<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Cookie</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Cookie Examples</h6>
          </div>
          <div class="card-body">
              <p>You can use classes with below alert styles <code>top</code>, <code>bottom</code> on alert container for fixed positioning on the browser view. This is for css styles and views. Actual cookie storage not implemented with this example</p>
            
              
            <div class="alert alert-primary alert-dismissible fade show text-white" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                This website uses cookies to give you an incredible experience. By using this website you agree to the <a class="text-white" href="#">Terms and Conditions</a>
                <button class="btn btn-primary btn-sm ml-2">I agree</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="alert" aria-label="Close">cancel</button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                This website uses cookies to give you an incredible experience. By using this website you agree to the <a href="#">Terms and Conditions</a><br><br>
                <button class="btn btn-primary btn-sm">I agree</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="alert" aria-label="Close">cancel</button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                This website uses cookies to give you an incredible experience. By using this website you agree to the <a href="#">Terms and Conditions</a><br><br>
                <button class="btn btn-primary btn-sm">I agree</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="alert" aria-label="Close">cancel</button>
            </div>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                This website uses cookies to give you an incredible experience. By using this website you agree to the <a href="#">Terms and Conditions</a><br><br>
                <button class="btn btn-primary btn-sm">I agree</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="alert" aria-label="Close">cancel</button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                This website uses cookies to give you an incredible experience. By using this website you agree to the <a  href="#">Terms and Conditions</a><br><br>
                <button class="btn btn-primary btn-sm">I agree</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="alert" aria-label="Close">cancel</button>
            </div>
            
              
          </div>
        </div>
      </div>
    </div>
  </div>