<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>
              <b class="text-uppercase">Organismos de transito</b>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>DIVIPO</th>
                    <th>Jurisdicción</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let organismo of organismos; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ organismo.nombre }}</td>
                  <td>{{ organismo.divipo }}</td>
                  <td>{{ organismo.jurisdiccion }}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="onEdit(organismo)" class="btn btn-xs btn-primary" type="button" tooltip="Editar" [tooltipDisabled]="false" [tooltipAnimation]="true"
                        tooltipPlacement="top">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button (click)="onDelete(organismo.id)" class="btn btn-xs btn-danger" type="button" tooltip="Eliminar" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    
    <app-edit *ngIf='formEdit' [organismo]="organismo" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>