<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>User lists</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-16">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">People</h5>
          </div>
          <div class="card-body">
            <div class="list-unstyled member-list row">
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rahul Akshay </h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                  <div class="overlay align-items-center">
                    <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger btn-round "><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                  <div class="overlay align-items-center">
                    <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger btn-round "><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-16">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">People with Action</h5>
          </div>
          <div class="card-body">
            <div class="list-unstyled member-list row">
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                    <button class="btn btn-info btn-round">Invite</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rahul Akshay </h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                    <button class="btn btn-outline-success btn-round">Connect</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                    <button class="btn btn-outline-primary btn-round">+ Add</button>
                    <button class="btn btn-outline-success btn-round ml-2">View more</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                    <button class="btn btn-outline-primary btn-round">Follow</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-16">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">People with Action + Background</h5>
          </div>
          <div class="card-body">
            <div class="list-unstyled member-list row">
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column ">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK<br>
                    <br>
                    <button class="btn btn-info btn-round">Invite</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column ">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rahul Akshay </h6>
                    New Jersey, UK<br>
                    <br>
                    <button class="btn btn-outline-success btn-round">Connect</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column ">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                    New Jersey, UK<br>
                    <br>
                    <button class="btn btn-outline-primary btn-round">+ Add</button>
                    <button class="btn btn-outline-success btn-round ml-2">View more</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column ">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK<br>
                    <br>
                    <button class="btn btn-outline-primary btn-round">Follow</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-16">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">People with Action + Background + Followers</h5>
          </div>
          <div class="card-body">
            <div class="list-unstyled member-list row">
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column ">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col">
                        <h4>5.6 k <br>
                          <small>Tweets</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column ">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rahul Akshay </h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col">
                        <h4>5.6 k <br>
                          <small>Tweets</small></h4>
                      </div>
                      <div class="col">
                        <h4>10 mil <br>
                          <small>Views</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col text-success">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col text-warning">
                        <h4>5.6 k <br>
                          <small>Tweets</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col">
                        <h4>5.6 k <br>
                          <small>Tweets</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-16 col-lg-16 col-xl-8">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">People with Action + Background + Followers</h5>
          </div>
          <div class="card-body">
            <div class="list-unstyled member-list row">
              <div class="col-lg-8 col-sm-8 col-xs-16 ">
                <div class="media flex-column bg-success">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col">
                        <h4>5.6 k <br>
                          <small>Tweets</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8 col-xs-16 ">
                <div class="media flex-column bg-warning">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rahul Akshay </h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col">
                        <h4>10 mil <br>
                          <small>Views</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8 col-xs-16 ">
                <div class="media flex-column bg-danger"> <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col ">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col ">
                        <h4>5.6 k <br>
                          <small>Tweets</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8 col-xs-16 ">
                <div class="media flex-column bg-info">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col">
                        <h4>5.6 k <br>
                          <small>Tweets</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8 col-xs-16 ">
                <div class="media flex-column bg-primary">
                  <figure class="background"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"></figure>
                  <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rahul Akshay </h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col">
                        <h4>10 mil <br>
                          <small>Views</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8 col-xs-16 ">
                <div class="media flex-column"> <span class="message_userpic large"><img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                    New Jersey, UK<br>
                    <br>
                    <div class="row text-white followers">
                      <div class="col ">
                        <h4>2.8 k <br>
                          <small>Followers</small></h4>
                      </div>
                      <div class="col ">
                        <h4>5.6 k <br>
                          <small>Tweets</small></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-16 col-lg-16 col-xl-8">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">People List</h5>
            <ul class="nav nav-pills card-header-pills pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round"><i class="fa fa-refresh"></i></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Setting</a> <a class="dropdown-item" href="#">Edit</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Close this</a> </div>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="list-unstyled media-list bordered" >
              <div class="media align-items-center"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">John Smith - Project Manager</h6>
                  New Jersey, UK</div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media align-items-center"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">John Smith - Project Manager</h6>
                  Ahemedabad, IN</div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media align-items-center"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Marc Stuart - PHP developer</h6>
                  Ahemedabad, IN</div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media align-items-center"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">MK Harshvardhan - PHP developer</h6>
                  Ahemedabad, IN</div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media align-items-center"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rajeshvari - PHP developer</h6>
                  Ahemedabad, IN</div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media align-items-center"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Ramakrishnan - PHP developer</h6>
                  Ahemedabad, IN</div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media align-items-center"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rajeshvari - PHP developer</h6>
                  Ahemedabad, IN</div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media align-items-center"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Ramakrishnan - PHP developer</h6>
                  Ahemedabad, IN</div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rajeshvari - PHP developer</h6>
                  Ahemedabad, IN
                  <p class="description">This is awesome product and, I am very happy</p>
                </div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Ramakrishnan - PHP developer</h6>
                  Ahemedabad, IN
                  <p class="description">This is awesome product and, I am very happy</p>
                </div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rajeshvari - PHP developer</h6>
                  Ahemedabad, IN
                  <p class="description">This is awesome product and, I am very happy</p>
                </div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Ramakrishnan - PHP developer</h6>
                  Ahemedabad, IN
                  <p class="description">This is awesome product and, I am very happy</p>
                </div>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>