/* You can add global styles to this file, and also import other style files */
.navbar {
    border: none !important;
}

/*.form-control.ng-touched.ng-invalid{border:2px solid red;}*/

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border: 2px solid #a94442; /* red */
}

.card .card-header .btn{
    margin: 0 !important;
}