<div class="col-xs-12 col-lg-6">
    <form #formInsumo="ngForm">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Crear Insumo</b></div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-xs-12 col-lg-12">
                        <label>Tipo insumo <b class="text-danger">*</b></label>
                        <ng-select [multiple]="false" [options]="tiposInsumo" [(ngModel)]="insumo.idTipoInsumo"
                            name="tipoInsumo"></ng-select>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Nombre <b class="text-danger">*</b></label>
                        <input class="form-control text-uppercase" [(ngModel)]="insumo.nombre" name="nombre"
                            type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Und. de medida <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="insumo.unidadMedida" name="unidadMedida"
                            type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Cantidad <b class="text-danger">*</b></label>
                        <input class="form-control" (blur)="onCalcularTotal()" [(ngModel)]="insumo.cantidad"
                            name="cantidad" type="numeric" required>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Valor Unitario <b class="text-danger">*</b></label>
                        <input class="form-control" (blur)="onCalcularTotal()"
                            [(ngModel)]="insumo.valorUnitario" name="valorUnitario" type="text" required>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <label>Valor total <b class="text-danger">*</b></label>
                        <input class="form-control" [(ngModel)]="insumo.valorTotal" name="valorTotal" type="text"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12 col-lg-12">
                <button (click)="onEnviar()" [disabled]="formInsumo.invalid" class="btn btn-primary"
                    type="button">
                    <i class="fa fa-save"></i>
                    Enviar
                </button>
                <button (click)="onCancelar()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </form>
</div>