<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase"><strong>Ordenes de comparendo</strong> <small>búsquedas</small></h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formSearch="ngForm"> 
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Tipo de filtro</label>
                            <ng-select [multiple]="false" [options]="tiposFiltro" [(ngModel)]="search.tipoFiltro" name="tipoFiltro" required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Filtro</label>
                            <input class="form-control text-uppercase" [(ngModel)]="search.filtro" name="filtro" type="text" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onSearch()" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-9" *ngIf='comparendos'>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h6 class="text-uppercase text-center">
                        <b>Comparendos encontrados</b>
                    </h6>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Consecutivo</th>
                                        <th>Placa</th>
                                        <th>Fecha</th>
                                        <th>Infractor</th>
                                        <th>NIP</th>
                                        <th>Estado</th>
                                        <th>Infracción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd" *ngFor="let comparendo of comparendos; let i = index">
                                        <td>{{ i }}</td>
                                        <td>
                                            <a (click)="onRecord(comparendo)" class="text-primary">
                                                <b>{{ comparendo.consecutivo.consecutivo }}</b>
                                            </a>
                                        </td>
                                        <td>{{ comparendo.placa }}</td>
                                        <td>{{ comparendo.fecha }}</td>
                                        <td>{{ comparendo.infractorNombres }} {{ comparendo.infractorApellidos }}</td>
                                        <td>{{ comparendo.infractorIdentificacion }}</td>
                                        <td>{{ comparendo.estado?.nombre }}</td>
                                        <td>{{ comparendo.infraccion.codigo }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-9" *ngIf='formRecord'>
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">
                    <strong>Trazabilidad de comparendo No. {{ comparendo.consecutivo.consecutivo }}
                    </strong>
                    <button (click)="onTrazabilidad()" class="btn btn-xs btn-primary pull-right" type="button">
                        <i class="fa fa-plus"></i>
                        Crear trazabilidad
                    </button>
                </h5>
            </div>
            <div class="card-body container">
                <table class="table" id="dataTables-example" *ngIf="trazabilidades">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Estado</th>
                            <th>Activo</th>
                            <th>Acto Administrativo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let trazabilidad of trazabilidades; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>
                                {{ trazabilidad.estado.nombre }}
                                <span *ngIf="trazabilidad.estado.id == 4 && acuerdoPago">
                                    <br>
                                    <b>No.
                                        <button (click)="onAcuerdoPago()" class="btn btn-xs btn-default">
                                            {{ acuerdoPago.numero }}
                                        </button>
                                    </b>
                                </span>
                                <br>
                                {{ trazabilidad.fecha }}
                            </td>
                            <td>
                                <i class="fa fa-check text-success" *ngIf="trazabilidad.activo"></i>
                                <i class="fa fa-ban text-danger" *ngIf="!trazabilidad.activo"></i>
                            </td>
                            <td>
                                <span *ngIf="trazabilidad.actoAdministrativo">
                                    <a href="{{ apiUrl }}/cfgadmactoadministrativo/{{ trazabilidad.id }}/pdf" class="btn btn-success" target="_blank">
                                        <i class="fa fa-file-pdf-o"></i>
                                        {{ trazabilidad.actoAdministrativo.numero }}
                                    </a>
                                    <br>
                                     {{ trazabilidad.actoAdministrativo.fecha }}
                                </span>
                                <button *ngIf="!trazabilidad.actoAdministrativo" (click)="onDocument(trazabilidad)" class="btn btn-xs btn-default" type="button">
                                    <i class="fa fa-file-text"></i>
                                    Crear Acto Administrativo
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-9" *ngIf='formDocument'>
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">
                    <b>Crear acto administrativo</b>
                </h5>
                <small>Los campos con
                    <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm">
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-6">
                            <label>Número
                                <strong class="text-danger">*</strong>
                            </label>
                            <input class="form-control" [(ngModel)]="datos.numero" name="numero" type="text" required readonly />
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Formato</label>
                            <ng-select (ngModelChange)="onChangedFormato($event)" [multiple]="false" [options]="formatos" [(ngModel)]="datos.idFormato"
                                name="idFormato" required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Cuerpo
                                <strong class="text-danger">*</strong>
                            </label>
                            <textarea class="form-control" [(ngModel)]="datos.cuerpo" name="cuerpo" id="summernote"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onSearch()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-9" *ngIf='formTrazabilidad'>
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase">
                    <b>Crear nueva trazabilidad</b>
                </h5>
                <small>Los campos con
                    <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNewTrazabilidad="ngForm">
                    <div class="form-group">
                        <div class="row"><!-- .row -->
                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha <strong class="text-danger">*</strong></label>
                                <input type="date" class="form-control text-uppercase" [(ngModel)]="datosTrazabilidad.fecha" name="fecha" required />
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Hora <strong class="text-danger">*</strong></label>
                                <input type="time" class="form-control text-uppercase" [(ngModel)]="datosTrazabilidad.hora" name="hora" required />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Estado <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [options]="estados" [(ngModel)]="datosTrazabilidad.idComparendoEstado" name="idComparendoEstado" required>
                                </ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Observaciones </label>
                                <textarea  class="form-control" [(ngModel)]="datosTrazabilidad.observaciones" name="observaciones" rows="4"></textarea>
                            </div>
                        </div><!-- /.row -->

                        <div class="row" *ngIf="datosTrazabilidad.idComparendoEstado == 14">
                            <div class="col-xs-12 col-lg-4">
                                <label>Fecha <strong class="text-danger">*</strong></label>
                                <input type="date" class="form-control text-uppercase" [(ngModel)]="audiencia.fecha" name="fecha" required />
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Hora <strong class="text-danger">*</strong></label>
                                <input type="time" class="form-control text-uppercase" [(ngModel)]="audiencia.hora" name="hora" required />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onSearch()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                    <button (click)="onEnviarTrazabilidad()" [disabled]="formNewTrazabilidad.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-9" *ngIf='formAcuerdoPago'>
        <div class="card">
            <div class="card-header">
                <h5>
                    <b class="text-uppercase">Acuerdo pago No. {{ acuerdoPago.numero }}</b>
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr class="odd">
                            <td>
                                <b>Capital total</b>
                                <br> {{ acuerdoPago.valorNeto | currency: 'COP' }}
                            </td>
        
                            <td>
                                <b>Fecha</b>
                                <br> {{ acuerdoPago.fecha }}
                            </td>
                            <td>
                                <b>Cuotas</b>
                                <br> {{ acuerdoPago.cuotas }}
                            </td>
                        </tr>
                    </tbody>
                </table>
        
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No. Cuota</th>
                            <th>Valor Cuota</th>
                            <th>Fecha Limite</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" *ngFor="let amortizacion of amortizaciones; let i = index">
                            <td>{{ amortizacion.numeroCuota }}</td>
                            <td>{{ amortizacion.valorNeto | currency: 'COP' }}</td>
                            <td>{{ amortizacion.fechaLimite }}</td>
                            <td>
                                <span *ngIf="amortizacion.pagada" class="text-success"><b>Pagada</b></span>
                                <span *ngIf="!amortizacion.pagada" class="text-danger"><b>No pagada</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
