<div class="container-fluid">
    <div class="row">
        <!-- .row -->
        <div class="col-xs-12 col-lg-4" *ngIf='formSearch'>
            <!-- .col -->
            <div class="card">
                <div class="card-header">
                    <h5 class="text-uppercase">
                        <strong>Placas por sede operativa</strong>
                        <small>Buscar</small>
                    </h5>
                </div>
                <div class="card-body">
                    <!-- .card-body -->
                    <form #formSearch="ngForm">
                        <div class="form-group">
                            <div class="row">
                                <!-- .row -->
                                <div class="col-xs-12 col-lg-12">
                                    <label>Sede operativa</label>
                                    <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="search.idOrganismoTransito" (ngModelChange)="onChangedOrganismoTransito($event)" name="idOrganismoTransito" required></ng-select>
                                </div>
                                <div class="col-xs-12 col-lg-12">
                                    <label>Módulo</label>
                                    <ng-select [multiple]="false" [options]="modulos" [(ngModel)]="search.idModulo" name="idModulo" required>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </form>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="btn-group">
                        <button (click)="onSearch()" (ready)="ready($event)" [disabled]="formSearch.invalid" class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>
                        <button (click)="onRequest()" class="btn btn-info" *ngIf="organismoTransito">
                            <i class="fa fa-list"></i>
                            <span class="text">Solicitudes</span>
                        </button>
                        <button (click)="onNew()" class="btn btn-default" *ngIf="organismoTransito">
                            <i class="fa fa-plus"></i>
                            <span class="text">Nuevo</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->

        <div class="col-xs-12 col-lg-8" *ngIf='formIndex && organismoTransito'><!-- .col -->
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Asignar placas a {{ organismoTransito.nombre }}</b>
                    <div class="btn-group pull-right">
                        <button (click)="onNew()" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            <span class="text">Nuevo</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table " id="dataTables-asignacion">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sede Operativa</th>
                                <th>Tipo vehiculo</th>
                                <th>Servicio</th>
                                <th>Rango</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let asignacion of asignaciones; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ asignacion.organismoTransito.nombre }}</td>
                                <td>{{ asignacion.tipoVehiculo.nombre }}</td>
                                <td>{{ asignacion.servicio.nombre }}</td>
                                <td>
                                    <b>Rango inicial: </b>
                                    {{ asignacion.rangoInicial }}
                                    <br>
                                    <b>Rango final: </b>
                                    {{ asignacion.rangoFinal }}
                                    <br>
                                    <b>Fecha asignación: </b>
                                    {{ (asignacion.createdAt.timestamp * 1000) | date: 'dd/MM/yyyy' }}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button (click)="onList(asignacion.id)" class="btn btn-xs btn-primary" type="button">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        <button (click)="onDelete(asignacion.id)" class="btn btn-xs btn-danger" type="button">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div><!-- .col -->

        <div class="col-xs-12 col-lg-8" *ngIf='formList && placas'>
            <!-- .col -->
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Placas disponibles</b>
                    <div class="btn-group pull-right">
                        <button (click)="onNew()" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            <span class="text">Nuevo</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table" id="dataTables-placas">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Placa</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let placa of placas; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ placa.numero }}</td>
                                <td>{{ placa.estado }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button (click)="onCancel(placa.id)" class="btn btn-xs btn-danger" type="button">
                                            <i class="fa fa-ban"></i>
                                            Cancelar
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div><!-- .col -->

        <div class="col-xs-12 col-lg-8" *ngIf='formNew && organismoTransito'>
            <app-new-vhloplacasede [organismoTransito]="organismoTransito" (ready)="ready($event)"></app-new-vhloplacasede>
        </div>

        <div class="col-xs-12 col-lg-8" *ngIf='formEdit'>
            <app-edit-vhloplacasede [asignacion]="asignacion" (ready)="ready($event)"></app-edit-vhloplacasede>
        </div>

        <div class="col-xs-12 col-lg-8" *ngIf='formRequest'>
            <app-request-vhloplacasede [organismoTransito]="organismoTransito" (ready)="ready($event)"></app-request-vhloplacasede>
        </div>
    </div>
</div>
