<div class="container" >
  <div  class="row align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Módulo de Configuración</h3>
      <p>Tramites por Factura</p> 
    </div>
    <div class="col text-right ">
      <div class="btn-group pull-right">
        <button (click)="onNew()" class="btn btn-outline-success btn-round " data-target="#themepicker" data-toggle="modal">
          <span class="text">Nuevo</span> <i class="ti-save ml-2"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf='formIndex'>
    <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Listados de registros encontrados <small></small></h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Tramite</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let tramiteFactura of tramitesFactura; let i = index">
                  <td >{{tramiteFactura.id}}</td>
                  <td >{{tramiteFactura.tramite.nombre}}</td>
                  <td>
                    <button (click)="editTramiteFactura(tramiteFactura)" class="btn btn-outline-info" type="button">
                      <i class="fa fa-pencil"></i>
                      Editar
                    </button> 
                    <button (click)="deleteTramiteFactura(tramiteFactura.id)"  class="btn btn-outline-danger" type="button">
                      <i class="fa fa-trash"></i>
                      Eliminar
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [tramiteFactura]="tramiteFactura" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>