<div class="row" *ngIf="realizado">
    <!-- .row -->
    <div class="col-xs-12 col-lg-12">
        <!-- .col -->
        <div class="card">
            <div class="card-header">
                <span class="badge badge-success">Insumo asignado</span>
            </div>
            <div class="card-body text-center">
                <!-- {{ tramiteSolicitud.resumen }} -->
            </div> 
        </div>
    </div>
</div>

<div class="row" *ngIf="!realizado"><!-- .row -->
    <div class="col-xs-12 col-lg-12"><!-- .col -->
        <div class="card">
            <div class="card-header">
                <b class="text-primary">
                    Asignar Sustrato
                </b>
            </div>
            <div class="card-body">
                <form #formInsumo="ngForm"> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <label>Buscar sustrato</label>
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" placeholder="Numero" [(ngModel)]="numero" name="numero" required />
                                    <span class="input-group-btn">
                                        <button (click)="onSearchSustrato()" type="button" class="btn btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>  

                    <div class="row" *ngIf="insumo">
                        <!-- digitar la nueva licencia de transito  -->
                        <div class="col-xs-12 col-lg-6">
                            <label *ngIf="idModulo == 1">No. de Licencia de conducción</label>
                            <label *ngIf="idModulo != 1">No. de Licencia de tránsito</label>
                            <input class="form-control"  type="text" [(ngModel)]="datos.licenciaTransito" name="licenciaTransito" placeholder="Digite No. licencia de transito" required>
                        </div>

                        <div class="col-xs-12 col-lg-12">
                            <label>Observaciones </label>
                            <textarea class="form-control" [(ngModel)]="datos.descripcion" name="descripcion" rows="4"></textarea>
                        </div>

                        <hr>

                        <!-- Aquien se entrega documento -->
                        <div class="col-xs-12 col-lg-12" >
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="datos.entregada" class="custom-control-input" id="check-entregada" name="entregada">
                                <label class="custom-control-label" for="check-entregada">Entregada</label>
                            </div>
                        </div>

                        <!--tipo identificacion ciudadano -->
                        <div class="col-xs-12 col-lg-6" *ngIf="datos.entregada">
                            <label>Identificación</label>
                            <div  class="input-group">
                                <input type="number" class="form-control" placeholder="Digite identificación" [(ngModel)]="identificacion" name="identificacion" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchCiudadano()" class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div> 
                    </div>

                    <!--si existe un ciudadano -->
                    <div class="row" *ngIf="ciudadano && datos.entregada && insumo">
                        <b class="text-uppercase">
                            Detalles de ciudadano
                        </b>
                        <hr>
                        <table class="table table-bordered table-striped" id="dataTables-example">
                            <tbody>
                                <tr class="odd">
                                    <td>
                                        <b>Tipo de identificación:</b>
                                        {{ ciudadano.tipoIdentificacion.nombre }}
                                        <br>
                                        <b>Numero de identificación</b>
                                        {{ ciudadano.identificacion }}
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td>
                                        <b>Nombres y apellidos:</b>
                                        <br>
                                        {{ ciudadano.primerNombre }} {{ ciudadano.segundoNombre }} {{ ciudadano.primerApellido }} {{ ciudadano.segundoApellido }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()"  [disabled]="formInsumo.invalid && insumo && ciudadano" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->