<div class="container" >
    <div class="row" *ngIf='formIndex'>
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">
                <strong class="text-uppercase">Contravencional</strong>
                <small>Módulo</small>
                <div class="btn-group pull-right">
                  <button (click)="onNew()" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    <span class="text">Nuevo</span>
                  </button>
                </div>
              </h5>
            </div>
            <div class="card-body">
              <table class="table " id="dataTables-example">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" *ngFor="let modulo of modulos; let i = index">
                    <td >{{ i + 1 }}</td>
                    <td >{{ modulo.nombre }}</td>
                    <td>
                      <div class="btn-group">
                        <button (click)="onEdit(modulo)" class="btn btn-xs btn-primary" type="button">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button (click)="onState(modulo)" class="btn btn-xs btn-info" type="button">
                          <i class="fa fa-check"></i>
                        </button>
                        <button (click)="onDelete(modulo.id)"  class="btn btn-xs btn-danger" type="button">
                          <i class="fa fa-trash"></i>
                        </button> 
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- /.table-responsive --> 
            </div>
          </div>
        </div>
      </div>
      
      <app-edit-cvcfgmodulo *ngIf='formEdit' [modulo]="modulo" (ready)="ready($event)"></app-edit-cvcfgmodulo>
      <app-new-cvcfgmodulo *ngIf='formNew' (ready)="ready($event)"></app-new-cvcfgmodulo>
      <app-states-cvcfgmodulo *ngIf='formStates' [modulo]="modulo" (ready)="ready($event)"></app-states-cvcfgmodulo>
  </div>