<footer class="footer-content ">
    <div class="container ">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-16 col-lg-8 col-xl-8">Secretaría de Transito y Transporte de Nariño <a href="http://www.narino.gov.co" target="_blank" class="">www.narino.gov.co</a></div>
        <div class="col-md-16 col-lg-8 col-xl-8 text-right"><a href="#" target="_blank" class="">Politica de Privacidad</a> | <a href="#" target="_blank" class="">Terminos de Uso</a> </div>
      </div>
    </div>
  </footer>