<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>
              <b class="text-uppercase">Seguridad Vial</b>
              <small>Configuración de señales</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let senial of seniales; let i = index">
                  <td >{{ i + 1 }}</td>
                  <td >{{ senial.codigo }}</td>
                  <td >{{ senial.nombre }}</td>
                  <td >{{ senial.tipoSenial?.nombre }}</td>
                  <td>
                    <div class="btn-group">
                      <button (click)="onEdit(senial)" class="btn btn-xs btn-primary" type="button">
                        <i class="fa fa-pencil"></i>
                      </button> 
                      <button (click)="onDelete(senial.id)"  class="btn btn-xs btn-danger" type="button">
                        <i class="fa fa-trash"></i>
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit-svcfgsenial *ngIf='formEdit' [senial]="senial" (ready)="ready($event)"></app-edit-svcfgsenial>
    <app-new-svcfgsenial *ngIf='formNew' (ready)="ready($event)"></app-new-svcfgsenial>
</div>