<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-body">
            <h5 class="m-0">formulario para el ingreso de insumos</h5>
            <hr>
            <form #newForm="ngForm">
                <div class="row justify-content-center">


                    <div class="card-body col-md-12"> 
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"> 
                                    <a class="nav-link active" data-toggle="tab" href="#sustrato" role="tab">Sustrato</a> 
                                    <!-- <a class="nav-link " data-toggle="tab" href="#realizado"  role="tab">{{tramiteFactura.tramitePrecio.nombre}} <i class="fa fa-dot-circle-o text-success"></i></a>  -->
                                </li>  
                                <li class="nav-item"> 
                                    <a class="nav-link" data-toggle="tab" href="#insumo" role="tab">Insumo</a> 
                                    <!-- <a class="nav-link " data-toggle="tab" href="#realizado"  role="tab">{{tramiteFactura.tramitePrecio.nombre}} <i class="fa fa-dot-circle-o text-success"></i></a>  -->
                                </li>  
                            </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="sustrato" role="tabpanel"> 
                                <div class="form-group row">
                                    <div class="col-lg-4 col-md-4">
                                        <label>No.Acta*</label>
                                        <input class="form-control" [(ngModel)]="rnaRegistroInsumos.numeroActa" name="numeroActa" placeholder="" type="text" required>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Empresa*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="empresas"
                                            [(ngModel)]="empresaSelected"
                                            required
                                            name="empresaId">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Sede*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="sedes"
                                            [(ngModel)]="sedeSelected"
                                            name="sedeId">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Insumo*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="insumos"
                                            [(ngModel)]="insumoSelected"
                                            required
                                            name="insumoId">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Rango Inicio*</label>
                                        <input class="form-control" [(ngModel)]="rnaRegistroInsumos.rangoInicio" name="rangoInicio" placeholder="" type="text">
                                    </div>
        
                                    <div class="col-lg-4 col-md-4">
                                        <label>Rango Fin*</label>
                                        <input class="form-control" (blur)="isFin()" [(ngModel)]="rnaRegistroInsumos.rangoFin" name="rangoFin" placeholder="" type="text">
                                    </div>
        
                                    <div class="col-lg-4 col-md-4">
                                        <label>Cantidad*</label>
                                        <input class="form-control" [disabled]="true" [(ngModel)]="rnaRegistroInsumos.cantidad" name="cantidad" placeholder="" type="text" required>
                                    </div>
        
                                    <div class="col-lg-4 col-md-4">
                                        <label>No.caja*</label>
                                        <input class="form-control" [(ngModel)]="rnaRegistroInsumos.referencia" name="referencia" placeholder="" type="text" required>
                                    </div>
        
                                    <div class="col-lg-4 col-md-4">
                                        <label>Fecha*</label>
                                        <input class="form-control" [disabled]="true" [(ngModel)]="rnaRegistroInsumos.fecha" name="fecha" placeholder="" type="date" required>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="insumo" role="tabpanel">
                                <div class="form-group row">
                                    <div class="col-lg-4 col-md-4">
                                        <label>No.Acta*</label>
                                        <input class="form-control" [(ngModel)]="rnaRegistroInsumos.numeroActa" name="numeroActa" placeholder="" type="text" required>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Empresa*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="empresas"
                                            [(ngModel)]="empresaSelected"
                                            required
                                            name="empresaId">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Insumo*</label>
                                        <ng-select
                                            [multiple]="false"
                                            [options]="insumos"
                                            [(ngModel)]="insumoSelected"
                                            required
                                            name="insumoId">
                                        </ng-select>
                                    </div>
        
                                    <div class="col-lg-4 col-md-4">
                                        <label>Cantidad*</label>
                                        <input class="form-control" [(ngModel)]="rnaRegistroInsumos.cantidad" name="cantidad" placeholder="" type="text" required>
                                    </div>
        
                                    <div class="col-lg-4 col-md-4">
                                        <label>No.caja*</label>
                                        <input class="form-control" [(ngModel)]="rnaRegistroInsumos.referencia" name="referencia" placeholder="" type="text" required>
                                    </div>
        
                                    <div class="col-lg-4 col-md-4">
                                        <label>Fecha*</label>
                                        <input class="form-control" [disabled]="true" [(ngModel)]="rnaRegistroInsumos.fecha" name="fecha" placeholder="" type="date" required>
                                    </div>
                                </div>
                            </div>    
                        </div> 
                    </div>    

                </div>
            </form>
            <div class="card-footer">
                <button (click)="onCancelar()" class="btn btn-secondary">Cancel</button>
                <button (click)="onEnviar()" [disabled]="newForm.invalid" class="btn btn-outline-primary pull-right" type="button">Enviar</button>
            </div>    
        </div>
    </div>
</div>