<div class="row">
  <div class="col-xs-12 col-lg-12">
    <div class="card">
      <div class="card-header">
          <b class="text-uppercase">{{ loteInsumo.tipoInsumo.nombre }} {{ loteInsumo.sedeOperativa.nombre }}</b>
      </div>
      <div class="card-body">
        <table class="table" id="dataTables-example-sustratos">
          <thead>
            <tr>
              <th class="filter">Estado</th>
              <th>Insumo</th>
              <th class="filter">Numero</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd" *ngFor="let insumo of insumos; let i = index">
              <td >{{ insumo.estado }}</td>
              <td >{{ insumo.tipo.nombre }}</td>
              <td >{{ insumo.numero }}</td>
              <td >{{ (insumo.fecha.timestamp * 1000) | date: 'dd/MM/yyyy' }}</td>
              <td>
                <div class="btn-group">
                  <button *ngIf="insumo.estado != 'ANULADO'" (click)="onDelete(insumo.id)"  class="btn btn-danger" type="button">
                    <i class="fa fa-ban"></i>
                    Anular
                  </button>
                  <a href="{{ apiUrl }}/{{insumo.actaEntrega}}/{{insumo.organismoTransito.id}}/pdf/acta/asignacion" class="btn btn-success" target="_blank">
                    <i class="fa fa-file-pdf-o"></i>
                    Acta
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>