<div class="row">
    <div class="col-xs-12 col-lg-10">
        <div class="card">
            <div class="card-body">
                <h5 class="m-0">Formulario para la edicion de maquinaria</h5>
                <hr>
                    <form #editForm="ngForm">
                        <div  class="row justify-content-center">
                            <div class="container">
                                <div class="form-group row">
                                <div class="col-lg-3 col-md-3">
                                    <label>Placa*</label> 
                                    <input class="form-control" [(ngModel)]="registroMaquinaria.vehiculo.placa.numero" name="placa" placeholder="" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Nro. serie*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.vehiculo.serie" name="serie" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Nro. VIN*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.vehiculo.vin" name="vin" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Nro. chasis*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.vehiculo.chasis" name="chasis" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Nro. motor*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.vehiculo.motor" name="motor" type="text" required>
                                </div>
                                <div class=" col-md-3">
                                    <label>Condición de ingreso*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="condiciones"
                                        [(ngModel)]="registroMaquinaria.condicionIngreso"
                                        required
                                        name="condicion">
                                    </ng-select>
                                </div>
                                <div class=" col-md-3">
                                    <label>Fecha de ingreso*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.fechaIngreso" name="fechaIngreso" type="date" required>
                                </div>
                                <div class=" col-md-3">
                                    <label>Color*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="colores"
                                        [(ngModel)]="colorSelected"
                                        required
                                        name="colorId">
                                    </ng-select>
                                </div>
                                <div class="col-md-3">
                                    <label>Tipo maquinaria*</label>
                                    <ng-select
                                    [multiple]="false"
                                    [options]="tiposVehiculo"
                                    [(ngModel)]="tipoVehiculoSelected"
                                    
                                    required
                                    name="tipoVehiculoId">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Clase de maquinaria*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="clases"
                                        [(ngModel)]="claseSelected"
                                        
                                        required
                                        name="claseId">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Marca*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="marcas"
                                        [(ngModel)]="marcaSelected"
                                        
                                        required
                                        name="marcaId">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3">
                                    <label>linea de vehiculo*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="lineas"
                                        [(ngModel)]="lineaSelected"
                                        
                                        required
                                        name="lineaId">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Año de modelo*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.vehiculo.modelo" name="modelo" type="text" required>
                                </div>
                                <div class="col-lg-3">
                                    <label>Carrocería*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="carrocerias"
                                        [(ngModel)]="carroceriaSelected"
                                        
                                        required
                                        name="carroceriaId">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Peso bruto vehiculo*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.pesoBrutoVehicular" name="pesoBruto" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Carga util maxima*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.cargarUtilMaxima" name="cargaUtilMaxima" type="text" required>
                                </div>
                                <div class=" col-md-3">
                                    <label>Rodaje*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="rodajes"
                                        [(ngModel)]="registroMaquinaria.rodaje"
                                        required
                                        name="rodaje">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Nro. ejes*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.numeroEjes" name="numeroEjes" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Nro. llantas*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.numeroLlantas" name="numeroLlantas" type="text" required>
                                </div>
    
                                <div class=" col-md-3">
                                    <label>Tipo cabina*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="tiposCabina"
                                        [(ngModel)]="registroMaquinaria.tipoCabina"
                                        required
                                        name="tipoCabina">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Alto total*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.altoTotal" name="altoTotal" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Largo total*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.largoTotal" name="LargoTotal" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Ancho total*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.anchoTotal" name="anchoTotal" type="text" required>
                                </div>
                                <div class="col-lg-3">
                                    <label>Combustible*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="combustibles"
                                        [(ngModel)]="combustibleSelected"
                                        
                                        required
                                        name="combustibleId">
                                    </ng-select>
                                </div>
                                <div class=" col-md-3">
                                    <label>Origen vehiculo*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="cfgOrigenRegistros"
                                        [(ngModel)]="cfgOrigenRegistroSelected"
                                        
                                        required
                                        name="CfgOrigenRegistroId">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Subpartida arancelaria*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.subpartidaArancelaria" name="subpartidaArancelaria" type="text" required>
                                </div>

                                <br><hr> 
                                <h5 class="col-md-12">Gps</h5>
                                <div class=" col-md-3">
                                    <label>Empresa activacion de GPS*</label>
                                    <ng-select
                                        [multiple]="false"
                                        [options]="cfgOrigenRegistros"
                                        [(ngModel)]="cfgOrigenRegistroSelected"
                                        
                                        required
                                        name="CfgOrigenRegistroId">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Numero de activacion Gps*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.numeroActivacion" name="numeroActivacion" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Tipo de dispositivo de provedor nacional*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.tipoDispositivo" name="tipoDispositivo" type="text" required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Numero de importacion*</label>
                                    <input class="form-control" placeholder="" [(ngModel)]="registroMaquinaria.numeroImportacion" name="numeroImportacion" type="text" required>
                                </div>

                                </div> 
                            </div>
                        </div>
                    </form>
                <div class="card-footer">
                    <button (click)="onCancelar()" class="btn btn-default"><i class="fa fa-times"></i>Cancelar</button>
                    <button (click)="onEnviar()" [disabled]="editForm.invalid" class="btn btn-primary" type="button"><i class="fa fa-floppy-o"></i>Enviar</button>
                </div>    
            </div>
        </div>
    </div>
</div>