<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Nueva marca</b>
            </div>
            <div class="card-body">
                <form #newForm="ngForm">

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label>Nombre*</label>
                            <input class="form-control" [(ngModel)]="marca.nombre" name="nombre" type="text" required>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label>Codigo Mt*</label>
                            <input class="form-control" [(ngModel)]="marca.codigo" name='codigo' type="text" requerid>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button (click)="onEnviar()" [disabled]="newForm.invalid" class="btn btn-primary" type="button">Enviar</button>
                <button (click)="onCancelar()" class="btn btn-default"><i class="fa fa-times"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>