<div class="col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="text-uppercase">Registro de cupo</h5>
            <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
        </div>
        <div class="card-body">
            <form #formNew="ngForm">
                <div class="form-group row">
                    <div class="col-xs-16 col-lg-6">
                        <label>Placa <strong class="text-danger">*</strong></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="placa" required name="placa" />
                            <span class="input-group-btn">
                                <button (click)="onSearchVehiculo()" class="btn btn-default btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-16 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12" *ngIf='vehiculo'>
                                <strong class="text-uppercase">Datos del vehículo</strong>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th><b>Marca</b></th>
                                        <th><b>Linea</b></th>
                                        <td><b>Clase</b></td>
                                    </tr>
                                    <tr>
                                        <td>{{ vehiculo.linea.nombre }}</td>
                                        <td>{{ vehiculo.linea.marca.nombre }}</td>
                                        <td>{{ vehiculo.clase.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Nro. chasis</b></td>
                                        <td><b>Tipo carroceria</b></td>
                                        <td><b>Nro. motor</b></td>
                                    </tr>
                                    <tr>
                                        <td>{{ vehiculo.chasis }}</td>
                                        <td>{{ vehiculo.carroceria.nombre }}</td>
                                        <td>{{ vehiculo.motor }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Modelo</b></td>
                                        <td><b>Cap. carga</b></td>
                                        <td><b>Nro. pasajeros</b></td>
                                    </tr>
                                    <tr>
                                        <td>{{ vehiculo.modelo }}</td>
                                        <td>{{ vehiculo.capacidadCarga }}</td>
                                        <td><b style="color:blue">{{ vehiculo.numeroPasajeros }}</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6" *ngIf='vehiculo' style="margin-top: -25%;">
                        <div class="row">
                            <strong class="text-uppercase">Datos de propietario(s)</strong>
                            <table class="table" id="dataTables-propietario">
                                <thead>
                                    <tr>
                                        <th><b>Tipo Identificación</b></th>
                                        <th><b>Identificación</b></th>
                                        <th><b>Nombres</b></th>
                                        <th><b>Apellidos</b></th>
                                        <th><b>Dirección</b></th>
                                        <th><b>Teléfono</b></th>
                                        <th><b>Ciudad</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd" *ngFor="let propietario of propietarios; let i = index">
                                        <td>
                                            <span *ngIf="propietario.ciudadano">{{ propietario.ciudadano.tipoIdentificacion.sigla }}</span>
                                            <span *ngIf="propietario.empresa">{{ propietario.empresa.tipoIdentificacion.sigla }}</span>
                                        </td>
                                        <td>
                                            <span *ngIf="propietario.ciudadano">{{ propietario.ciudadano.identificacion }}</span>
                                            <span *ngIf="propietario.empresa">{{ propietario.empresa.nit }}</span>
                                        </td>
                                        <td>
                                            <span *ngIf="propietario.ciudadano">{{ propietario.ciudadano.primerNombre }}
                                                {{ propietario.ciudadano?.segundoNombre }}</span>
                                            <span *ngIf="propietario.empresa">{{ propietario.empresa.nombre }}</span>
                                        </td>
                                        <td>
                                            <span *ngIf="propietario.ciudadano">{{ propietario.ciudadano.primerApellido }}
                                                {{ propietario.ciudadano?.segundoApellido }}</span>
                                            <span *ngIf="propietario.empresa"></span>
                                        </td>
                                        <td>
                                            <span *ngIf="propietario.ciudadano">{{ propietario.ciudadano.direccionPersonal }}</span>
                                            <span *ngIf="propietario.empresa">{{ propietario.empresa.direccion }}</span>
                                        </td>
                                        <td>
                                            <span *ngIf="propietario.ciudadano">{{ propietario.ciudadano.municipioResidencia.codigoDane }}</span>
                                            <span *ngIf="propietario.empresa">{{ propietario.empresa.municipio.codigoDane }}</span>
                                        </td>
                                        <td>
                                            <span *ngIf="propietario.ciudadano">{{ propietario.ciudadano.telefonoCelular }}</span>
                                            <span *ngIf="propietario.empresa">{{ propietario.empresa.telefono }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-6" *ngIf="vehiculo" style="margin-top: 4%;"> 
                        <label>Cupos Disponibles <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="cupos" [(ngModel)]="asignacion.idCupo" required name="idCupo">
                        </ng-select>
                    </div>
                    <div class="col-xs-6 col-lg-6" *ngIf="vehiculo" style="margin-top: -6.3%;">
                        <label>Nivel Servicio <strong class="text-danger">*</strong></label>
                        <ng-select [multiple]="false" [options]="nivelesServicio" [(ngModel)]="asignacion.idNivelServicio" required name="idNivelServicio">
                        </ng-select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
            <i class="fa fa-floppy-o"></i>
            Enviar
        </button>
        <button (click)="onCancelar()" class="btn btn-default">
            <i class="fa fa-times"></i>
            Cancelar
        </button>
    </div>
</div>