<div class="container" >
  <div  class="row align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Personas Naturales</h3>
      <p>aquí podrás visualizar los  ciudadanos inscritos e inscribir nuevos</p> 
    </div>
    <div class="col text-right ">
      <div class="btn-group pull-right">
        <button (click)="onNew()" class="btn btn-outline-success  btn-round " data-target="#themepicker" data-toggle="modal"><span class="text">Nuevo</span> <i class="ti-save ml-2"></i></button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf='formIndex'>
    <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Personas Naturales <small></small></h5>
          </div>
          <div class="card-body responsive">
          	<div class="table-responsive">
            <table class="table" id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Municipio Nacimiento</th>
                    <th>Municipio Residencia</th>
                    <th>Tipo Identificacion</th>
                    <th>Identificacion</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let ciudadano of ciudadanos; let i = index">
                  <td >{{ciudadano.id}}</td>
                  <td >{{ciudadano.municipioNacimiento.nombre}}</td>
                  <td >{{ciudadano.municipioResidencia.nombre}}</td>
                  <td >{{ciudadano.tipoIdentificacion.nombre}}</td>
                  <td >{{ciudadano.numeroIdentificacion}}</td>
                  <td >{{ciudadano.primerNombre}}</td>
                  <td >{{ciudadano.segundoNombre}}</td>
                  <td >{{ciudadano.primerApellido}}</td>
                  <td >{{ciudadano.segundoApellido}}</td>
                  <td >{{ciudadano.telefono}}</td>
                  <td><button (click)="editCiudadano(ciudadano)" class="btn btn-outline-info btn-xs" type="button">Editar</button> 
                    <button (click)="deleteCiudadano(ciudadano.id)"  class="btn btn-outline-danger btn-xs" type="button">Eliminar  </button> </td>
                </tr>
              </tbody>
            </table>
            </div>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf='formEdit' [ciudadano]="ciudadano" (ready)="ready($event)"></app-edit>
    <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>