<div class="container-fluid">
    <div class="col-xs-12 col-lg-4" *ngIf="formSearch">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Buscar</b>
            </div>
            <div class="card-body">
                <form #formIndex="ngForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de filtro</label>
                                <ng-select [multiple]="false" [options]="tiposFiltro" [(ngModel)]="search.tipoFiltro" name="tipoFiltro" required></ng-select>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <label>Filtro</label>
                                <input class="form-control text-uppercase" [(ngModel)]="search.filtro" name="filtro" type="text" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onSearch()" [disabled]="formIndex.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" *ngIf='formIndex'>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b class="text-uppercase">Inmovilizaciones</b>
                    <div class="btn-group pull-right">
                        <button (click)="onCancelar()" class="btn btn-xs btn-default">
                            <i class="fa fa-times"></i>
                            <span class="text">Cancelar</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Placa</th>
                                <th>No. Comparendo</th>
                                <th>Fecha ingreso</th>
                                <th>Estado</th>
                                <th>Salida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let inmovilizacion of inmovilizaciones; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ inmovilizacion.placa }}</td>
                            <td>{{ inmovilizacion.numeroComparendo }}</td>
                            <td>{{ (inmovilizacion.fechaIngreso.timestamp * 1000) | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                {{ inmovilizacion.estado }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button *ngIf="inmovilizacion.estado == 'INMOVILIZADO'" (click)="onExit(inmovilizacion)" class="btn btn-xs btn-success" type="button">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    <a *ngIf="inmovilizacion.estado == 'AUTORIZADO'" href="{{ apiUrlInmovilizacion }}/{{ inmovilizacion.id }}/exit/pdf" class="btn btn-primary" target="_blank">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive --> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-4" *ngIf="formExit">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Autorizar salida</b>
            </div>
            <div class="card-body">
                <form #formNew="ngForm">
                    <div class="form-group">
                        <div class="row" *ngIf="comparendo">
                            <div class="col-xs-12 col-lg-12">
                                <a href="{{ apiUrlComparendo }}/{{ comparendo.id }}/pdf" class="btn btn-primary" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                    Visualizar comparendo
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Observaciones
                                    <strong class="text-danger">*</strong>
                                </label>
                                <textarea class="form-control" [(ngModel)]="datos.observaciones" name="observaciones" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default" type="button">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>