<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text-uppercase"><b>Nueva asignación de placas {{ organismoTransito.nombre }}</b></h5>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <form #formNew="ngForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <label>Tipo de vehículo <strong class="text-danger">*</strong></label>
                                <ng-select [multiple]="false" [options]="tiposVehiculo" [(ngModel)]="asignacion.idTipoVehiculo" (ngModelChange)="onChangedTipoVehiculo($event)" required name="idTipoVehiculo">
                                </ng-select>
                            </div>
                        </div>
                        <div *ngIf="tipoVehiculo?.nombre !='MOTOCICLETA' && tipoVehiculo?.nombre !='MOTOCARRO' && tipoVehiculo?.nombre !='REMOLQUE Y SEMIREMOLQUE'" class="row">
                            <div class="col-xs-12 col-lg-4">
                                <label>Letras Placa<strong class="text-danger">*</strong></label>
                                <input style="text-transform:uppercase" class="form-control" placeholder="AAA" type="text" maxlength="3" [(ngModel)]="asignacion.letrasPlaca" required name="letrasPlaca">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Números Inicio <strong class="text-danger">*</strong></label>
                                <input class="form-control" placeholder="000" type="text" maxlength="3" [(ngModel)]="asignacion.numeroInicial" required name="numeroInicial">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Números Final <strong class="text-danger">*</strong></label>
                                <input class="form-control" placeholder="000" type="text" maxlength="3" [(ngModel)]="asignacion.numeroFinal" required name="numeroFinal">
                            </div>
                        </div>
                        <div *ngIf="tipoVehiculo?.nombre == 'MOTOCICLETA' && tipoVehiculo?.modulo != '5'" class="row">
                            <div class="col-xs-12 col-lg-3">
                                <label>Letras Placa <strong class="text-danger">*</strong></label>
                                <input style="text-transform:uppercase" class="form-control" placeholder="AAA" type="text" maxlength="3" [(ngModel)]="asignacion.letrasPlaca" required name="letrasPlaca">
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Número Inicial<strong class="text-danger">*</strong></label>
                                <input class="form-control" placeholder="00" type="text" maxlength="2" [(ngModel)]="asignacion.numeroInicial" required name="numeroInicial">
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Número Final<strong class="text-danger">*</strong></label>
                                <input class="form-control" placeholder="00" type="text" maxlength="2" [(ngModel)]="asignacion.numeroFinal" required name="numeroFinal">
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <label>Letra Final <strong class="text-danger">*</strong></label>
                                <input style="text-transform:uppercase" class="form-control" placeholder="A" type="text" maxlength="1" [(ngModel)]="asignacion.letraFinal" required name="letraFinal">
                            </div>
                        </div>
                        <div *ngIf="tipoVehiculo?.nombre == 'MOTOCARRO'" class="row">
                            <div class="col-xs-12 col-lg-4">
                                <label>Números Inicio<strong class="text-danger">*</strong></label>
                                <input class="form-control" placeholder="000" type="text" maxlength="3" [(ngModel)]="asignacion.numeroInicial" required name="numeroInicial">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Números Final <strong class="text-danger">*</strong></label>
                                <input class="form-control" placeholder="000" type="text" maxlength="3" [(ngModel)]="asignacion.numeroFinal" required name="numeroFinal">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                            <label>Letras Placa <strong class="text-danger">*</strong></label>
                                <input style="text-transform:uppercase" class="form-control" placeholder="AAA" style="text-transform:uppercase" type="text" maxlength="3" [(ngModel)]="asignacion.letrasPlaca" required name="letrasPlaca">
                            </div>
                        </div>
                        <div *ngIf="tipoVehiculo?.nombre == 'REMOLQUE Y SEMIREMOLQUE'" class="row">
                            <div class="col-xs-12 col-lg-4">
                                <label>Letras Placa <strong class="text-danger">*</strong></label>
                                <input style="text-transform:uppercase" class="form-control" placeholder="R ó S" style="text-transform:uppercase" type="text"
                                    maxlength="1" [(ngModel)]="asignacion.letrasPlaca" required name="letrasPlaca">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Números Inicio<strong class="text-danger">*</strong></label>
                                <input class="form-control" placeholder="00000" type="text" maxlength="5" [(ngModel)]="asignacion.numeroInicial" required name="numeroInicial">
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <label>Números Final <strong class="text-danger">*</strong></label>
                                <input class="form-control" placeholder="00000" type="text" maxlength="5" [(ngModel)]="asignacion.numeroFinal" required name="numeroFinal">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                    <button (click)="onCancelar()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>