<hr>
<div class="row">
    <div class="col-xs-12 col-lg-3"><!-- .col -->
        <div class="card"><!-- .card -->
            <div class="card-header"><!-- .card-header -->
                <h5 class="card-title"><!-- .card-title -->
                    <b class="text-uppercase">Registrar comparendo</b> 
                    <small class="pull-right">Los campos con <b class="text-danger">*</b> son obligatorios</small>
                </h5><!-- /.card-title -->
            </div><!-- /.card-header -->
            <div class="card-body"><!-- .card-body -->
                <div class="row">
                    <form #comparendoForm="ngForm">
                            <div class="form-group">   
                                <div class="row"><!-- .row -->
                                    <div class="col-xs-12 col-lg-12">
                                        <label>Agente de transito <b class="text-danger">*</b></label>
                                        <ng-select [multiple]="false" [options]="agentesTransito" [(ngModel)]="agenteTransitoSelected" name="idFuncionario" required>
                                            </ng-select>
                                    </div>
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="btn-group">
                                            <button (click)="onChangedFuncionario()" class="btn btn-primary">
                                                Diligenciar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" *ngIf='consecutivo'>
                                        <table class="table table-bordered table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>Organismo de Transito: </strong>
                                                        <br>{{ funcionario.organismoTransito.nombre }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Nro. consecutivo: </strong>
                                                        <br>{{ consecutivo?.numero }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Estado: </strong>
                                                        <br>{{ consecutivo?.estado }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- /.row -->                
                            </div>
                    </form>     
                </div>
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div><!-- /.col -->


    <div class="col-xs-12 col-lg-9" *ngIf='consecutivo'>
        <div class="card"><!-- .card -->
            <div class="card-header"><!-- .card-header -->
                <h5 class="card-title"><!-- .card-title -->
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <small>
                                <b class="text-uppercase">Agente de transito:</b> 
                                {{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.primerApellido }}
                            </small>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <small>
                                <b class="text-uppercase">Sede operativa:</b>
                                {{ funcionario.organismoTransito.nombre }}
                            </small>
                        </div>
                    </div>
                </h5><!-- /.card-title -->
            </div><!-- /.card-header -->
            <div class="card-body"><!-- .card-body -->
                <form #formNew="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-lg-5">
                            <h6 class="text-uppercase text-center gradient">
                                <b>1. fecha y hora</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <label>Fecha:</label>
                                    <input class="form-control" [(ngModel)]="comparendo.fecha" name="fecha" type="date" required>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <label>Hora:</label>
                                    <select class="form-control" name="hora" [(ngModel)]="comparendo.hora" required>
                                        <option *ngFor="let hora of horas" [value]="hora"> {{ hora }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <label>Minutos:</label>
                                    <select class="form-control" name="minutos" [(ngModel)]="comparendo.minutos" required>
                                        <option *ngFor="let minuto of minutos" [value]="minuto"> {{ minuto }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-7">
                            <h6 class="text-uppercase text-center gradient">
                                <b>2. lugar de la infracción</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <label>Dirección
                                        <b class="text-danger">*</b>
                                    </label>
                                    <input class="form-control" [(ngModel)]="comparendo.direccion" name="direccion" type="text" required>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <label>Municipio
                                        <b class="text-danger">*</b>
                                    </label>
                                    <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="comparendo.idMunicipioLugar" name="municipioLugar" required>
                                    </ng-select>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <label>Localidad
                                        <b class="text-danger">*</b>
                                    </label>
                                    <input class="form-control" [(ngModel)]="comparendo.localidad" name="localidad" type="text" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-2">
                            <h6 class="text-uppercase text-center gradient">
                                <b>3. Placa</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">
                                    <label>Número <b class="text-danger">*</b></label>
                                    <div class="input-group">
                                        <input class="form-control text-uppercase" type="text" [(ngModel)]="comparendo.vehiculoPlaca" name="placa" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-5">
                            <h6 class="text-uppercase text-center gradient">
                                <b>4. Matriculado en</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">
                                    <label>Organismo de transito</label>
                                    <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="comparendo.idOrganismoTransitoMatriculado" name="organismoTransitoMatriculado"
                                        required>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-5">
                            <h6 class="text-uppercase text-center gradient">
                                <b>5. Código de infracción</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">
                                    <label>Código <b class="text-danger">*</b></label>
                                    <ng-select (ngModelChange)="onChangedInfraccion($event)" [multiple]="false" [options]="infracciones" [(ngModel)]="comparendo.idInfraccion"
                                        name="infraccion" required></ng-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <h6 class="text-uppercase text-center gradient">
                                <b>6. Clase Servicio</b>
                            </h6>
                            <div class="col-xs-12 col-lg-12">
                                <ng-select [multiple]="false" [options]="servicios" [(ngModel)]="comparendo.vehiculoServicio" name="servicio" required></ng-select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <h6 class="text-uppercase text-center gradient">
                                <b>7. Tipo Vehículo</b>
                            </h6>
                            <div class="col-xs-12 col-lg-12">
                                <ng-select [multiple]="false" [options]="tiposVehiculo" [(ngModel)]="comparendo.vehiculoClase" name="clase" required></ng-select>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-lg-4" *ngIf="comparendo.vehiculoServicio == 2">
                            <h6 class="text-uppercase text-center gradient">
                                <b>8. Radio Acción</b>
                            </h6>
                            <div class="col-xs-12 col-lg-12">
                                <ng-select [multiple]="false" [options]="radiosAccion" [(ngModel)]="comparendo.vehiculoRadioAccion" name="radioAccion" required></ng-select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <h6 class="text-uppercase text-center gradient">
                                <b>9. Modalidad Transporte</b>
                            </h6>
                            <div class="col-xs-12 col-lg-12" *ngIf="comparendo.vehiculoServicio == 2">
                                <ng-select [multiple]="false" [options]="modalidadesTransporte" [(ngModel)]="comparendo.vehiculoModalidadTransporte" name="modalidadTransporte" required></ng-select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-4" *ngIf="comparendo.vehiculoModalidadTransporte == 1">
                            <h6 class="text-uppercase text-center gradient">
                                <b>9.1. Transporte Pasajeros</b>
                            </h6>
                            <div class="col-xs-12 col-lg-12">
                                <ng-select [multiple]="false" [options]="transportesPasajero" [(ngModel)]="comparendo.vehiculoTransportePasajero" name="transportePasajero" required></ng-select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-4" *ngIf="comparendo.vehiculoTransportePasajero == 4">
                            <h6 class="text-uppercase text-center gradient">
                                <b>9.2. Transporte Especial</b>
                            </h6>
                            <div class="col-xs-12 col-lg-12">
                                <ng-select [multiple]="false" [options]="transportesEspecial" [(ngModel)]="comparendo.vehiculoTransporteEspecial" name="transporteEspecial"></ng-select>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>10. Datos de infractor</b>
                            </h6>
                        </div>                        
                        <div class="col-xs-12 col-lg-3">
                            <label>No. Licencia conducción</label>
                            <input class="form-control" [(ngModel)]="infractor.licenciaConduccion" name="infractorLicenciaConduccion" type="text" required>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Categoria
                                <b class="text-danger">*</b>
                            </label>
                            <ng-select [multiple]="false" [options]="categorias" [(ngModel)]="infractor.idCategoriaLicenciaConduccion" name="infractorCategoria"></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>EXP</label>
                            <input class="form-control" [(ngModel)]="infractor.fechaExpedicion" name="fechaExpedicion" type="date">
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>VEN</label>
                            <input class="form-control" [(ngModel)]="infractor.fechaVencimiento" name="fechaVencimiento" type="date">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <label>Tipo Identificación</label>
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="infractor.idTipoIdentificacion" name="infractorTipoIdentificacion"
                                required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Número documento identidad</label>
                            <input class="form-control" (blur)='onSearchInfractor()' [(ngModel)]="infractor.identificacion" name="infractorIdentificacion" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Nombres y apellidos completos</label>
                            <input class="form-control" [(ngModel)]="infractor.nombres" name="infractorNombres" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Dirección</label>
                            <input class="form-control" [(ngModel)]="infractor.direccion" name="infractorDireccion" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <label>Edad</label>
                            <input class="form-control" [(ngModel)]="infractor.edad" name="infractorEdad" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Telefono fijo/celular</label>
                            <input class="form-control" [(ngModel)]="infractor.telefono" name="infractorTelefono" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Municipio</label>
                            <ng-select [multiple]="false" [options]="municipios" [(ngModel)]="infractor.idMunicipio" name="infractorMunicipio"
                                required>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Correo</label>
                            <input class="form-control" [(ngModel)]="infractor.correo" name="infractorCorreo" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <h6 class="text-uppercase text-center gradient">
                                <b>11. Tipo de infractor</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">
                                    <label>Tipo
                                        <b class="text-danger">*</b>
                                    </label>
                                    <ng-select [multiple]="false" [options]="infractorTipos" [(ngModel)]="infractor.idTipoInfractor" name="tipoInfractor" required></ng-select>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-xs-12 col-lg-8">
                            <h6 class="text-uppercase text-center gradient">
                                <b>12. Licencia de tránsito</b>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <label>Org.de T.</label>
                                    <ng-select [multiple]="false" [options]="organismosTransito" [(ngModel)]="comparendo.idOrganismoTransitoLicencia" name="organismoTransitoLicencia"
                                        required></ng-select>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <label>No. del documento</label>
                                    <input class="form-control" [(ngModel)]="comparendo.licenciaTransitoNumero" name="licenciaTransitoNumero" type="text" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>13. Datos del propietario</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Tipo Identificación</label>
                            <ng-select [multiple]="false" [options]="tiposIdentificacion" [(ngModel)]="propietario.idTipoIdentificacion" name="propietarioTipoIdentificacion"
                                required></ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Número documento identidad</label>
                            <input class="form-control" (blur)='onSearchPropietario()' [(ngModel)]="propietario.identificacion" name="propietarioIdentificacion" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-5">
                            <label>Nombres y apellidos completos</label>
                            <input class="form-control" [(ngModel)]="propietario.nombres" name="propietarioNombres" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>14. Datos de la empresa</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="comparendo.vehiculoServicio == 2">
                            <label>NIT</label>
                            <input class="form-control" (blur)='onSearchEmpresa()' [(ngModel)]="empresa.nit" name="empresaNit" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="comparendo.vehiculoServicio == 2">
                            <label>Nombre</label>
                            <input class="form-control" [(ngModel)]="empresa.nombre" name="empresaNombre" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="comparendo.vehiculoServicio == 2">
                            <label>Tarjeta de operación</label>
                            <input class="form-control" [(ngModel)]="empresa.tarjeta" name="empresaTarjeta" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>15. Datos del agente de tránsito</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Apellidos y Nombres completos</label>
                            <input class="form-control" type="text" name="funcionarioNombres" value="{{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.primerApellido }}" readonly>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Placa</label>
                            <input type="text" class="form-control" [(ngModel)]="funcionario.numeroPlaca" name="funcionarioNumeroPlaca" readonly>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Entidad</label>
                            <input type="text" class="form-control" [(ngModel)]="funcionario.organismoTransito.nombre" name="funcionarioEntidad" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>16. Datos de la inmovilización</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <label>Patio</label>
                            <ng-select *ngIf="!inmovilizacionOld" [multiple]="false" [options]="patios" [(ngModel)]="inmovilizacion.idPatio" name="patio" required></ng-select>
                            <span *ngIf="inmovilizacionOld">{{ inmovilizacionOld.patio.nombre }}</span>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="form-group">
                                <label>Grúa</label>
                                <ng-select *ngIf="!inmovilizacionOld" [multiple]="false" [options]="gruas" [(ngModel)]="inmovilizacion.idGrua" name="grua" required></ng-select>
                                <span *ngIf="inmovilizacionOld">{{ inmovilizacionOld.grua.codigo }} - {{ inmovilizacionOld.grua.placa }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>17. Observaciones del agente de tránsito</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <textarea class="form-control" [(ngModel)]="comparendo.observacionesAgente" name="observacionesAgente" type="textArea" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h6 class="text-uppercase text-center gradient">
                                <b>18. Datos del testigo</b>
                            </h6>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <label>Nombres y apellidos completos</label>
                            <input class="form-control" [(ngModel)]="testigo.nombres" name="testigoNombres" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>CC. No.</label>
                            <input class="form-control" [(ngModel)]="testigo.identificacion" name="testigoIdentificacion" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <label>Dirección</label>
                            <input class="form-control" [(ngModel)]="testigo.direccion" name="testigoDireccion" type="text">
                        </div>
                        <div class="col-xs-12 col-lg-2">
                            <label>Teléfono</label>
                            <input class="form-control" [(ngModel)]="testigo.telefono" name="testigoTelefono" type="text">
                        </div>
                    </div>                    

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <h6 class="text-uppercase text-center gradient">
                                    <b>19. Otros datos</b>
                                </h6>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="comparendo.accidente" class="custom-control-input" id="accidente" name="accidente">
                                    <label class="custom-control-label" for="accidente">Accidente</label>
                                </div>
                            </div>
                    
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="comparendo.fuga" class="custom-control-input" id="fuga" name="fuga">
                                    <label class="custom-control-label" for="fuga">Fuga</label>
                                </div>
                            </div>
                    
                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="comparendo.retencionLicencia" class="custom-control-input" id="retencionLicencia" name="retencionLicencia">
                                    <label class="custom-control-label" for="retencionLicencia">Retención de licencia</label>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="comparendo.anulado" class="custom-control-input" id="anulado" name="anulado">
                                    <label class="custom-control-label" for="anulado">Anulado</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <h6 class="text-uppercase text-center gradient">
                                    <b>20. Observaciones del digitador</b>
                                </h6>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <textarea class="form-control" [(ngModel)]="comparendo.observacionesDigitador" name="observacionesDigitador" type="textArea"
                                    rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="card-footer col-lg-12">
                            <div class="btn-group">
                                <button (click)="onEnviar()" [disabled]="formNew.invalid" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div>
</div>