<div class="container" >
  <hr>
  <div class="row" *ngIf='formIndex'>
      <div class="col-md-12 col-lg-12">
          <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <b class="text-uppercase">Modulo Personal</b>
                        <br>
                        <small>Gestión de talonarios</small>
                        <div class="btn-group pull-right">
                        <button (click)="onNew()" class="btn btn-success  btn-round " data-target="#themepicker" data-toggle="modal">
                            <i class="fa fa-plus"></i>
                            <span class="text">Nuevo</span>
                        </button>
                        </div>
                    </h5>
                </div>
                <div class="card-body">
                <table class="table " id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Sede operativa</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Rangos</th>
                        <th>No. Resolucion / No. ticket</th>
                        <!-- <th>Acciones</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd" *ngFor="let talonario of talonarios; let i = index">
                        <td >{{ talonario.id }}</td>
                        <td >{{ talonario.sedeOperativa.nombre }}</td>
                        <td >{{ talonario.desde }}</td>
                        <td >{{ talonario.hasta }}</td>
                        <td >{{ talonario.rangos }}</td>
                        <td >{{ talonario.numeroResolucion }}</td>
                        <!--
                            <td>
                                <button (click)="edit(talonario)" class="btn btn-xs btn-info" type="button">
                                    <i class="fa fa-edit"></i>
                                    Editar
                                </button> 
                                <button (click)="delete(talonario.id)"  class="btn btn-xs btn-danger" type="button">
                                    <i class="fa fa-trash"></i>
                                    Eliminar
                                </button> 
                            </td>
                        -->
                    </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive --> 
                </div>
          </div>
      </div>
  </div>
  <app-edit *ngIf='formEdit' [talonario]="talonario" (ready)="ready($event)"></app-edit>
  <app-new *ngIf='formNew' (ready)="ready($event)"></app-new>
</div>