<div class="col-xs-12 col-lg-4">
    <div class="card">
        <div class="card-header">
            <h5 class="text-uppercase">Registrar nivel servicio</h5>
            <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
        </div>
        <div class="card-body">
            <form #formNew="ngForm">
                <div class="form-group">
                    <div class="col-xs-12 col-lg-12">
                        <label>Nombre <strong class="text-danger">*</strong></label>
                        <input class="form-control" [(ngModel)]="nivelServicio.nombre" name="nombre" type="text"
                            required>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button (click)="onEnviar()" class="btn btn-primary" type="button">
                <i class="fa fa-floppy-o"></i>
                Enviar
            </button>
            <button (click)="onCancelar()" class="btn btn-default">
                <i class="fa fa-times"></i>
                Cancelar
            </button>
        </div>
    </div>
</div>