<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Registrar certificado de disponibilidad presupuestal</b>
                <br>
                <small>Los campos con <b class="text-danger">*</b> son obligatorios</small>
            </div>
            <div class="card-body">
                <div class="row" *ngIf="formSearch">
                    <div class="col-xs-12 col-lg-12">
                        <form #formSearch="ngForm">
                            <label>Buscar solicitud de disponibilidad presupuestal</label>
                            <div class="input-group">
                                <input type="numeric" class="form-control" placeholder="Número"
                                    [(ngModel)]="numeroSolicitud" name="numeroSolicitud" required />
                                <span class="input-group-btn">
                                    <button (click)="onSearchSolicitud()" [disabled]="formSearch.invalid"
                                        class="btn btn-default btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="row" *ngIf="solicitud">
                    <div class="col-xs-12 col-lg-12">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Número: </b>
                                        {{ solicitud.actividad.cuenta.proyecto.numero }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Nombre: </b>
                                        {{ solicitud.actividad.cuenta.proyecto.nombre }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Fecha: </b>
                                        {{ solicitud.actividad.cuenta.proyecto.fecha }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Costo total: </b>
                                        {{ solicitud.actividad.cuenta.proyecto.costoTotal | currency: 'COP' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8" *ngIf="solicitud">
        <div class="card">
            <div class="card-header">
                <b class="text-uppercase">Registrar CDP</b>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="text-justify">
                            <td colspan="2">
                                <b>Concepto:</b> {{ solicitud.concepto }}
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td><b class="text-uppercase">Cuenta</b></td>
                            <td><b class="text-uppercase">Actividad</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Número</b><br>
                                {{ solicitud.actividad.cuenta.numero }}
                                <br>
                                <b>Nombre</b><br>
                                {{ solicitud.actividad.cuenta.nombre }}
                            </td>
                            <td>
                                <b>Número</b><br>
                                {{ solicitud.actividad.numero }}
                                <br><b>Nombre</b><br>
                                {{ solicitud.actividad.nombre }}
                            </td>
                        </tr>
                    </tbody>
                </table>
        
                <form #formNew="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <label>Fecha expedición</label>
                            <input class="form-control" [(ngModel)]="cdp.fechaExpedicion" name="fechaExpedicion" type="date" required>
                        </div>

                        <div class="col-xs-12 col-lg-8">
                            <label>Número</label>
                            <input class="form-control text-uppercase" [(ngModel)]="cdp.numero" name="numero" type="text" required>
                        </div>                    
        
                        <div class="col-xs-12 col-lg-12">
                            <label>Observaciones</label>
                            <textarea class="form-control" [(ngModel)]="cdp.observaciones" rows='4' name="observaciones"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button (click)="onEnviar()" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>