<div class="card">
    <div class="card-header">
        <h5>
            <b class="text-uppercase">Detalles</b>
            <small *ngIf="municipio">
                {{ municipio.nombre }}
            </small>
        </h5>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="inventarios && formRecord">
            <!-- .row -->
            <div class="col-xs-12 col-lg-12">
                <!-- .col -->
                <table class="table" id="dataTables-example">
                    <thead>
                        <tr style="text-align: center;">
                            <th>#</th>
                            <th>Registro</th>
                            <th>Señal</th>
                            <th>Detalles</th>
                            <th>Georeferenciación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" style="text-align: center;" *ngFor="let inventario of inventarios; let i = index">
                            <td>{{ i + 1}}</td>
                            <td>
                                <b>
                                    <i class="fa fa-calendar"></i>
                                </b> {{ inventario.fecha }}
                                <br>
                                <b>
                                    <i class="fa fa-clock-o"></i>
                                </b> {{ inventario.hora }}
                                <span *ngIf="inventario.proveedor">
                                    <br>
                                    <b>{{ inventario.proveedor.nombre }}</b>
                                </span>
                            </td>
                            <td>
                                {{ inventario.senial.codigo }} - {{ inventario.senial.nombre }}
                                <br> {{ inventario.senial.tipoSenial.nombre }}
                                <span *ngIf="inventario.senial.logo">
                                    <br>
                                    <img height="30px" src="{{ uploadUrl }}seniales/logos/{{ inventario.senial.logo }}" name="logo">
                                </span>
                                <span *ngIf="inventario.proveedor">
                                    <br>
                                    <b>{{ inventario.proveedor.nombre }}</b>
                                </span>
                            </td>
                            <td>
                                <b>Disponibles:</b> {{ inventario.senial.cantidad }}
                                <br>
                                <span *ngIf="municipio">
                                    <b>Instalados:</b> {{ inventario.cantidad }}</span>
                                <span *ngIf="!municipio">
                                    <b>Entregado por proveedor:</b> {{ inventario.cantidadEntregada }}</span>
                                <br>
                                <b>Estado:</b> {{ inventario.estado.nombre }}
                            </td>
                            <td>
                                <button *ngIf="inventario.geolocalizacion" (click)='onLocation(inventario)' (ready)="ready($event)" class="btn btn-primary" type="button">
                                    <i class="fa fa-map-marker"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row" *ngIf="formGeo && markers.length > 0">
                <!-- .row -->
                <div class="col-md-12 col-sm-12">
                    <label>Georeferenciación</label>
            
                    <div align="center">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [usePanning]="true">
            
                            <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]="false">
                            </agm-marker>
            
                        </agm-map>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>