<div class="container-fluid" >
  <hr>
  <div class="row" *ngIf='formIndex'>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <strong class="text-uppercase">Parametrización</strong>
              <small>Transporte de pasajeros</small>
              <div class="btn-group pull-right">
                <button (click)="onNew()" class="btn btn-default">
                  <i class="fa fa-plus"></i>
                  <span class="text">Nuevo</span>
                </button>
              </div>
            </h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let transportePasajero of transportesPasajero; let i = index">
                  <td >{{ transportePasajero.id }}</td>
                  <td >{{ transportePasajero.nombre }}</td>
                  <td>
                    <div class="btn-group" *ngIf="transportePasajero.gestionable">
                      <button (click)="onEdit(transportePasajero)" class="btn btn-xs btn-primary" type="button">
                        <i class="fa fa-pencil"></i>
                      </button> 
                      <button (click)="onDelete(transportePasajero.id)"  class="btn btn-xs btn-danger" type="button">
                        <i class="fa fa-trash"></i>
                      </button> 
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>

    <app-edit-vhlocfgtransportepasajero *ngIf='formEdit' [transportePasajero]="transportePasajero" (ready)="ready($event)"></app-edit-vhlocfgtransportepasajero>
    
    <app-new-vhlocfgtransportepasajero *ngIf='formNew' (ready)="ready($event)"></app-new-vhlocfgtransportepasajero>
</div>